body > .page-wrapper > #zoo-main-content > .container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.bundle-options-wrapper {
    width: 100% !important;
}
.product-info-main {
    margin-bottom: 0;
}
.product-lower-primary-column{
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-bottom: 2px solid #00738c;
    border-top: 2px solid #00738c;
    margin-left: 3vw;
    width: 94% !important;
    display: block;
}
.product-view-bg:before{
    background: white !important;
}
@media screen and (max-width: 1199px) {
    .product-primary-column > .product-info-main {
        width: auto !important;
    }
}
@media screen and (max-width: 700px) {
    .product-primary-column > .product-info-main > .box-tocart{
        float: none !important;
    }
}
.nav-title-cart{
    display: none;
}
.zoo-breadcrumbs{
    display: none;
}
.modal-popup .modal-inner-wrap{
    margin-top: 3em !important;
}
@media screen and (max-width:600px){
    #popup-mpdal > .subscription-title {
        width:100%;
        float: none;
    }
    #popup-mpdal > .subscription-radio{
        width:100%;
        float:none;
    }
    #popup-mpdal > .subscription-image {
        float: none !important;
        margin: auto !important;
        text-align: center !important;
    }
    #popup-mpdal > .btn-group {
        float: none;
        width: 100%;
    }
}
@media screen and (max-width:650px){
    #popup-mpdal > .btn-group {
        float: none !important;
        width: 100% !important;
    }
    #popup-mpdal > .btn-group > .actions > .cancel{
        float: none !important;
        width: 85% !important;
    }
    #popup-mpdal > .btn-group > .actions > #continue{
        float: none !important;
        width: 85% !important;
        margin-top: 0px;
        margin: 20px;
        margin-bottom: 0px;
    }
}
.product-info-price > .price-box.price-final_price {
    display: none !important;
}
.product-info-price > .product-info-stock-sku > .stock {
    float: right;
}
.product-info-price > .product-info-stock-sku > .type {
    float: left;
    line-height: 28px;
}
.product-info-price > .product-info-stock-sku > .value {
    float: left;
}
@media screen and (max-width: 639px) {
    .product-info-price > .product-info-stock-sku > .stock {
        padding-right: 3vw;
    }
}
.fotorama__nav-wrap.fotorama__nav-wrap--vertical {
    top: 185px;
}
@media screen and (max-width: 992px) {
    .fotorama__nav-wrap.fotorama__nav-wrap--vertical {
        left: 4%;
        top: 78% !important;
    }
    .product_media > .just-release-icon {
        left: 2% !important;
    }
    .product_media > .pre-order-icon {
        left: 2% !important;
    }
}
@media screen and (max-width: 760px) {
    .fotorama__nav-wrap.fotorama__nav-wrap--vertical {
        left: 4%;
        top: 40% !important;
    }
    .product_media > .just-release-icon {
        left: 4% !important;
        height: 6% !important;
    }
    .product_media > .pre-order-icon {
        height: 6% !important;
    }
}
.just-release-icon.catalog-gallary-block {
    min-height: 11%;
    position: absolute;
    display: block;
    left: 6%;
    min-width: 11%;
}
.just-release-icon.catalog-gallary-block > span {
    position: absolute;
    top: 100%;
    left: -37%;
    font-size: 10px;
    color: #097991;
    min-width: 150%;
}
.pre-order-icon.catalog-gallary-block {
    background-size: contain;
    max-width: 11%;
    max-height: 10%;
    top: 25%;
    position: absolute;
}
.pre-order-icon.catalog-gallary-block > span {
    position: absolute;
    top: 100%;
    left: -22%;
    font-size: 9px;
    color: #ff8001;
    min-width: 150%;
}
.latest-edition {
    background: #00738c;
    width: 66%;
    color: white;
    margin-top: 4% !important;
    position: relative !important;
}
.related > .content > .products-grid > ol > .owl-stage-outer > .owl-stage > .owl-item > .product-item > .product-item-info { 
    width: 231px !important;
}
.related > .content > .products-grid > ol > .owl-stage-outer > .owl-stage > .owl-item {
    width: 207.75px !important;
}
.related > .content > .products-grid{
    margin-top: 3vw !important;
}
.product-item-info > div > .zoo-product-image > a > img{
    height: 265px !important;
}
.enable_border_boxshadow.products-grid.grid .product-item-info, .enable_border_boxshadow.widget-product-grid .product-item-info{
    box-shadow: none !important;
}
.zoo-single-line-name .product-item-name{
    white-space: unset;
}
.products-grid.grid .product-item-info a.product-item-link, .widget-product-grid .product-item-info a.product-item-link {
    font-family : Montserrat;
    font-size : 11px;
    color : #00738C;
    color : rgb(0, 115, 140);
    text-outline : #00738C;
    font-weight: bold;
}
@media screen and (max-width: 1199px) {
    li > .product-item-info > .zoo-inner-product-item-info > .zoo-product-image > a {
        margin: 0 0.6em 0 1.6em !important;
    }
}
@media screen and (max-width: 767px) {
    .arrow-tabs {
        top: 2.3vw !important;
        right: 7vw !important;
    }
}
@media screen and (min-width: 992px) {
	.actions > #continue {
		width: 20vw !important;
	}
}
.product-attribute-row > .product-attribute-row-label > h4 {
    height: 0;
}
.zoo-main-content-area>.product-view.product-columns-wrapper>.product-view-bg>.product-lower-primary-column > .value > p {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.bundle-tab-content{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.product-attribute-row-value {
    padding-top: 1.3vw;
    font-family : Montserrat;
    font-size : 14px;
    color : #808080;
}
.product-attribute-row-label {
    font-family : Montserrat;
    font-size : 16px;
    color : #00738C;
}
.product-view-bg>.product-primary-column>.product-info-main>.product-info-price {
	border-bottom: none;
}