<?php
/**
 * Edit customer address template
 *
 * @var $block Endeavor\MultipleShipping\Block\BulkOrder
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>
<?php $customerModel = $customerSession->getCustomer(); ?>
<?php if ($customerModel->getIsSpecialMultiShippingFlow() == 1) : ?>
    <h3><?php echo __('Bulk Order by (csv file)'); ?></h3>
    <form id="bulk-order-form" method="POST" enctype="multipart/form-data" action="<?php echo $this->getUrl('bulkorder/shipping/removecartitems'); ?>" data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'> 
        <fieldset class="fieldset">
            <div class="field name">
                <label class="label" for="name"><span><?php echo __('load (csv file)') ?></span></label>
                <div class="control" style="width: 50%">
                    <input name="import_file" id="import_file" value="" class="input-text" type="file" data-validate="{required:true}"/>
                    <div class="mage-error letters-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                        <span class="file-errors">This is a required field.</span>
                    </div>
                </div>
                <div class="sample">
                    <a href="<?php echo $this->getUrl('bulkorder/shipping/dataformat'); ?>"><span><?php echo __('Download Sample (csv file)') ?></span></a>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" title="<?php echo __('Import') ?>" class="action submit primary">
                        <span><?php echo __('Import') ?></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="bulk-order-hint">
        <h5>
            <?php echo __('Hints: '); ?>
        </h5>
        <ul>
            <li>
                <?php echo __('Maximum allowed shipment addresses per (csv file) is 30.') ?>
            </li>
            <li> <?php echo __('Please use one of the available shipping methods below with your (csv file):'); ?>
               <!-- <ul>
                    <li>
                        <?php //echo __('Standard'); ?>
                    </li>
					<li>
                        <?php //echo __('UPS'); ?>
                    </li>
                    <li>
                        <?php //echo __('Next 2-Day'); ?>
                    </li>
                    <li>
                        <?php //echo __('Next Day'); ?>
                    </li> 

                </ul> -->

            <table style = "width: 400px;">
                  <tr>
                    <th>Value</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td>UPS</td>
                    <td>UPS Ground (Standard)</td>
                  </tr>
                  <tr>
                    <td>Next 2-Day</td>
                    <td>UPS Next Two Business Days</td>
                  </tr>
                  <tr>
                    <td>Next Day</td>
                    <td>UPS Next Business Day</td>
                  </tr>
            </table>

            </li>
            <li>
                <?php echo __('Please use the state code instead of the name with your (csv file): '); ?>
                <ul>
                    <li>
                        <?php echo __('for example use <b>NY</b> not <b>New York</b>'); ?>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="popup-modal" style="display:none; padding-left: 10px;">
        <div class="terms-content">
            <?php echo __('Please note using bulk Orders CSV file we will remove the existing cart items.') ?>
        </div>
    </div>
<?php else: ?>
    <div>
        <h5>
            <?php echo __('This feature is unavailable for your account.'); ?>
        </h5>
    </div>
<?php endif; ?>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true
            };
            
            
            var popup = modal(options, $('#popup-modal'));
            $('.actions-toolbar > .primary > button').click(function(e){
               e.preventDefault();
               var file = $('#bulk-order-form > .fieldset > .name > .control > input').val();
               if (!file) {
                   $('.letters-error').show();
                   
               } else {
                    $("#popup-modal").modal("openModal"); 
                        $('.modal-inner-wrap > .modal-footer > button').click(function(){
                        $("#bulk-order-form").submit();
                        $("#popup-modal").modal("closeModal");
                   });
                   
               }
               
            });
            
        }
    );
</script>