<?php
/**
 * Edit customer address template
 *
 * @var $block Endeavor\MultipleShipping\Block\EdCenter
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>
<h3><?php echo __('Buy Using (csv) file'); ?></h3>
<form method="POST" enctype="multipart/form-data" action="<?php echo $this->getUrl('edcenter/shipping/savebulk'); ?>" data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'> 
    <fieldset class="fieldset">
        <div class="field name">
            <label class="label" for="name"><span><?php echo __('Buy using (csv file)') ?></span></label>
            <div class="control" style="width: 50%">
                <input name="import_file" id="import_file" value="" class="input-text" type="file" data-validate="{required:true}"/>
            </div>
            <div class="sample">
                <a href="<?php echo $this->getUrl('edcenter/shipping/dataformat'); ?>"><span><?php echo __('Download Sample (csv file)') ?></span></label>
            </div>
        </div>
        
        <div class="field name required">
            <div class="control">
                <input name="customerId" id="customerId" title="customerId" class="input-text" value="<?php echo $customerSession->getCustomer()->getId(); ?>" type="hidden" data-validate="{required:false}"/>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" title="<?php echo __('Import') ?>" class="action submit primary">
                    <span><?php echo __('Import') ?></span>
                </button>
            </div>
    	</div>
    </fieldset>
    <h5>
        <?php echo __('hints: Avaliable Shipping Methods are:'); ?>
    </h5>
    <ul>
        <li>
            <?php echo __('Standard'); ?>
        </li>
        <li>
            <?php echo __('Next 2-Day'); ?>
        </li>
        <li>
            <?php echo __('Next Day'); ?>
        </li>
    </ul>
</form>