<?php
$urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\UrlInterface');
$urlInterface->getCurrentUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$authorsCollection = $objectManager->create('Endeavor\Author\Model\Author');
$product = $block->getProduct();
$authors = $product->getData('author_name');
$authorsIds = null;
$aboutAuthors = [];

if (!empty($authors)) {
    $authorsIds = explode(',',$authors);
}

for ($i=0; $i < count($authorsIds) ; $i++) {
    $aboutAuthor = $authorsCollection->load($authorsIds[$i])->getAboutAuthor();
    $authorName = $authorsCollection->load($authorsIds[$i])->getName();
    if (!empty($aboutAuthor)) {
        $aboutAuthors[] = ['name' => $authorName, 'about' => $aboutAuthor];
    }
}
    
?>
<style>
.arrow-tabs {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 0.7vw;
    position: absolute;
    top: 1vw;
    right: 3vw;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.bundle-tab-title {
    text-align: center;
    background-color: #00738c;
    margin-bottom: 1vw;
    padding: 0.5vw;
    font-size : 25px;
    color : #FFFFFF;
    text-outline : #FFFFFF;
    display: block;
    color: white;
}
.bundle-tab-title-content {
    color: white;
}
.bundle-tab-content {
    display: none;
    text-align: justify;
    margin-bottom: 1vw;
    border: 1px solid #227fbb;
    padding: 1.5vw;
}
.bundle-tab-content-active{
    display: block;
}
</style>
<div class="container-fluid5">
    <div class="bundle_tab_wrap">
        <div class="row">
            <?php if(!empty($product->getDescription())):?>
                <?php if(!empty($aboutAuthors)):?><div class="bundle-tab col-lg-4"><?php else: ?><div class="bundle-tab col-lg-6"> <?php endif;?>
                    <a href="#" class="bundle-tab-title">
                        <div class="bundle-tab-title-content">
                            <?php echo __("PRODUCT DESCRIPTION"); ?>
                        </div>
                        <i class="right arrow-tabs"></i>
                    </a>
                    <div class="bundle-tab-content">
                        <div class="description">
                            <?php echo $product->getDescription();?>
                        </div> 
                    </div>
                </div>
            <?php endif;?>

            <?php if(!empty($aboutAuthors)):?>
                <div class="bundle-tab col-lg-4">
                    <a href="#" class="bundle-tab-title">
                        <div class="bundle-tab-title-content">						 
                          <!-- start changes by vishal to change the button text -->    

                            <?php if(count($authorsIds) == 1):?>
                                <?php echo __('ABOUT THE AUTHOR');?>
                            <?php else: ?>
                                <?php echo __('ABOUT THE AUTHORS');?>
                            <?php endif;?>

                            <!-- end changes by vishal to change the button text -->
                        </div>
                        <i class="right arrow-tabs"></i>
                    </a>
                    <div class="bundle-tab-content">
					     <div class="description">
                        <?php for ($i=0; $i < count($aboutAuthors) ; $i++):?>
                        <h4><?php echo $aboutAuthors[$i]['name']; ?></h4>
                               <?php echo $aboutAuthors[$i]['about'];?>
                        <?php endfor;?>
						 </div>
                    </div>
                </div>
            <?php endif;?>
            <?php if(!empty($product->getData('table_content'))):?>
                 <?php if(!empty($aboutAuthors)):?><div class="bundle-tab col-lg-4"><?php else: ?><div class="bundle-tab col-lg-6"> <?php endif;?>
                    <a href="#" class="bundle-tab-title">
                        <div class="bundle-tab-title-content">
                            <?php echo __("TABLE OF CONTENTS"); ?>
                        </div>
                        <i class="right arrow-tabs"></i>
                    </a>
                    <div class="bundle-tab-content">
					     <div class="description">
                        <?php echo $product->getData('table_content');?>
						</div>
                    </div>
                </div>
            <?php endif;?> 
       <!--Starts Process For Customer Review Part -->

       <?php if(!empty($product->getData('book_reviews'))):?>
                 <?php if(!empty($product->getDescription()) && !empty($aboutAuthors) && !empty($product->getData('table_content'))):?><div class="bundle-tab col-lg-12"><?php elseif(!empty($aboutAuthors) && !empty($product->getDescription())): ?><div class="bundle-tab col-lg-4"><?php else: ?><div class="bundle-tab col-lg-6"> <?php endif;?>
                    <a href="#" class="bundle-tab-title">
                        <div class="bundle-tab-title-content">
                            <?php echo __("PRODUCT REVIEW"); ?>
                        </div>
                        <i class="right arrow-tabs"></i>
                    </a>
                    <div class="bundle-tab-content">
                         <div class="description">
                        <?php echo $product->getData('book_reviews');?>
                        </div>
                    </div>
                </div>
            <?php endif;?>  
        <!--Finish Process For Customer Review Part -->

        </div>
    </div>
</div>
<?php if(!empty($this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('block_product_tab2')->toHtml())):?>
<div  style="word-wrap: break-word; padding: 20px; margin-bottom: 30px; border-top-right-radius: 25px; border-bottom-left-radius: 25px;">
    <h2 style="text-align: left; color: #227fbb">Reviews Copies</h2>
    <hr style="border-top: 3px solid #227fbb;">
    <div class="copies-review" style="text-align: left;">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('block_product_tab2')->toHtml();?>
    </div>
    </div>
<?php endif;?>
<script>
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
        'use strict';
        $('.bundle-tab > .bundle-tab-title').on('click', function (event) {
            event.preventDefault();
            $(this).children('i').toggleClass("down");
            $(this).parent().children('.bundle-tab-content').toggleClass("bundle-tab-content-active");
            if($(this).parent().next().next().hasClass( "col-lg-offset-1" )) {
                $(this).parent().next().next().toggleClass('col-lg-offset-0');
            }
        });
    });
</script>