<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
$product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$authorsCollection = $objectManager->create('Endeavor\Author\Model\Author');
$authors = $product->getData('author_name');
$date = $objectManager->create('\Magento\Framework\Stdlib\DateTime\DateTime');
$authorsIds = null;
if (!empty($authors)) {
    $authorsIds = explode(',', $authors);
}
?>
<div class="book-information">
    <?php if (!empty($authorsIds)): ?>
        <?php if (count($authorsIds) == 1): ?>
            <?php echo __('<span style="font-weight: 700;">Author: </span>'); ?>
        <?php else: ?>
            <?php echo __('<span style="font-weight: 700;">Authors: </span>'); ?>
        <?php endif; ?>   
        <?php for ($i = 0; $i < count($authorsIds); $i++): ?>
            <?php if ($i == count($authorsIds) - 1): ?>
                <span style='color: #1979c3'><?php echo $authorsCollection->load($authorsIds[$i])->getName(); ?></span>
            <?php else: ?>
                <span style='color: #1979c3'><?php echo $authorsCollection->load($authorsIds[$i])->getName(); ?>,</span>
            <?php endif; ?>
        <?php endfor; ?>
    <?php endif; ?>
    <?php if (!($product->getData('isbn') == 0)): ?>
        <div style="margin-top: 10px;"><span style="font-weight: 700;">ISBN:</span> <span style='color: #1979c3'><?php echo $product->getData('isbn'); ?></span></div>
    <?php endif; ?>
    <?php if (!($product->getData('publisher_name') == '')): ?>
        <div style="margin-top: 10px;"><span style="font-weight: 700;">Publisher Name:</span> <span style='color: #1979c3'><?php echo $product->getData('publisher_name'); ?></span></div>
        <?php endif; ?>
</div>
