 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@font-face { font-family: 'Marion'; src: url('../fonts/Marion.eot'); src: url('../fonts/Marion.woff2') format('woff2'), url('../fonts/Marion.woff') format('woff'), url('../fonts/Marion.ttf') format('truetype'), url('../fonts/Marion.svg#Marion') format('svg'), url('fonts/Marion.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
/*
	font-family: 'Marion', 'Playfair';
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important; */
body { font-size: 16px; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body > .page-wrapper > #zoo-main-content > .container { margin-left: auto; margin-right: auto; width: 1250px }
body p, body li { font-size: 18px; line-height: 1.5 }
.box-tocart .action.tocart { background-color: #3371B3!important; }
.box-tocart .action.tocart:hover { background-color: #5292d6!important; }
.category-block .img-container .center-box { width: auto!important; left: 50%!important; top: 50%!important; bottom: auto!important; transform: translate(-50%, -50%); height: auto!important; text-align: center }
.page-wrapper .page-footer .best-view { font-size: 12px!important; line-height: 1!important; color: #fff; text-align: center; float: left; width: 100%; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
.page-wrapper .page-footer .container { width: 100%!important }
.page-wrapper .page-footer, .page-wrapper .page-footer .copyright { background: #33384b!important; }
.page-wrapper .page-footer .copyright { font-size: 12px!important; line-height: 1!important; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; color: rgba(255, 255, 255, 0.5); border-top: solid 1px rgba(255, 255, 255, 0.25); }
.page-wrapper .page-footer .col-foot-left h2.footer-logo { border-right: none!important; margin: 25px 0px!important; }
.page-wrapper .page-footer .col-foot-middle ul{border-left:1px solid rgba(255, 255, 255, 0.25); margin:30px 0px!important; padding: 20px 10px 20px 20px!important;}

#statesvg { margin-top: 100px; width: 100%; height: 600px; }
#statesvg[attr="viewBox"] { value: 0 0 980 650 }
.enable_border_boxshadow .product-item-info .product-item-details .container { width: 100%!important }
.enable_border_boxshadow.products-grid .product-item-info .product-item-details .container .row .view-product-details, .enable_border_boxshadow.products-grid .product-item-info .product-item-details .container .row .col-11 { width: 100%!important; padding: 0!important; }
.enable_border_boxshadow.products-list .product-item-info .product-item-details .container .row .view-product-details, .enable_border_boxshadow.products-list .product-item-info .product-item-details .container .row .col-11 { width: auto!important; padding: 0!important; clear: both }
.is-sticky .logo-sticky { width: 110px!important }
#product_addtocart_form { margin: 0px!important }
button, button:focus, button:active, .button{border:none!important}
#zoo-sticky-header-sticky-wrapper .minicart-wrapper{text-align:left}
.product-info-main .box-tocart { float: left!important; width: 100% }
.product-info-main .box-tocart .fieldset .field.qty { margin: 0 0 0 116px; }
.product-info-main .fieldset .actions .action.tocart { margin: -5px 0 0 0!important; height: 50px!important; }
.product_media .latest-edition { padding: 10px 0; background-color: #3371B3!important }
.product-info-main .product-social-links, .product-info-main .product-addto-links { padding-left: 35px; }
.product-info-main .page-title-wrapper.product h1.page-title{margin-bottom:10px;}
.product-info-main .product-info-price { padding:0px; margin: 20px 0 15px 75px; display:none!important}
.wishlist-index-configure .product-info-main .product-info-price{margin-left:0px; display:block!important}
.product-info-main .product-info-price .price-box.price-final_price{ padding:5px 0px 5px 15px; border: dashed 1px #c8d0dc; margin-right:20px; display:inline-block!important; background:#f5faff}
.product-info-main .product-info-price .price-box.price-final_price p{display:inline-block; padding-right:20px; margin: 0px;}
.product-info-main .product-info-price .price-box.price-final_price .price-container .price-label{font-weight: normal; font-size:18px; color: #999;}
.product-info-main .product-info-price .price-box.price-final_price .price-container .price{color:#3371B3!important; font-size:24px}
.product-info-main .product-info-stock-sku{ display:inline-block; text-align:left;}
.product-info-main .product-info-stock-sku p{line-height: 1; margin: 18px 0 0;}
.product-info-main .product-info-stock-sku .type, .product-info-main .product-info-stock-sku .value{display:none}
.product-info-main .wk-msg-box{display:inline-block;}
.wk-info.wk-msg-box{background:#8e99a5!important; font-weight:normal!important; margin-left: 225px!important;}
.wishlist-index-configure #bundle-slide{background-color: #3371B3!important; border:none!important; font-size:18px; padding: 10px 15px;}
.wishlist-index-configure #bundle-slide:hover{background-color: #3e87d4!important;}
.wishlist-index-configure .product-view-bg, .catalog-product-view .product-view-bg{padding-top:0px!important; background:#fff!important}
.wishlist-index-configure .product-view-bg .product-img-column, .wishlist-index-configure .product-view-bg .product-primary-column, .catalog-product-view .product-view-bg .product-img-column, .catalog-product-view .product-view-bg .product-primary-column{padding-top:50px}
.wishlist-index-configure .zoo-breadcrumbs{display:none!important}
.catalog-product-view .modal-popup.product-page-share{height:250px; overflow: initial;}
#v-cookielaw.v-box.v-bottom-left { bottom: 30px }
#v-cookielaw.v-box { -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2); max-width: 320px; padding: 20px; }
#v-cookielaw.v-box h3 { margin: 0px 0 6px; font-size: 20px; }
#v-cookielaw.v-box p { padding: 0; margin: 0; font-size: 13px; line-height: 1.4; }
#v-cookielaw.v-box .v-actions { margin: 8px 0px 0; }
#v-cookielaw.v-box .v-actions .btn { padding: 6px 20px; border-radius: 0px!important; background: #3371B3!important; }
#v-cookielaw.v-box .v-actions .btn:hover { background: #3e87d4!important; }
.bundle-tab-title { padding: 15px 0!important; font-size: 20px!important; line-height: 28px; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; background-color: #3371B3!important; margin-bottom: 0!important }
.bundle-tab { margin-bottom: 30px }
.bundle-tab-title .arrow-tabs { top: 21px!important; right: 25px!important; padding: 7px; }
.bundle-tab-content { margin: 0px!important; padding: 0px!important; }
.bundle-tab-content .description { max-height: 200px; overflow-y: scroll; padding: 20px 10px 20px 20px; font-size: 16px; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; line-height: 1.4 }
.bundle-tab-content .description p { font-size: 16px; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; line-height: 1.4 }
.product-info-price > .product-info-stock-sku > .stock { float: left; text-align: left; display: block; width: 100%; }
.aboutus-index-index .shop-main { width: 100% }
.about-us-static { width: 100%; padding: 0 15px }
.about-us-static .menu { padding: 0px!important }
.about-us-static .about-us-content, .about-us-static .section1 { font-size: 17px; }
.itemgrid .product-item { padding-left: 1.25%!important; padding-right: 1.25%!important; margin-bottom: 40px!important; }
#zoo-product-listing.products-grid .product-item .product-item-info { border: solid 1px #e9e9e9; padding-top:8px }
#zoo-product-listing.products-grid .product-item:hover .product-item-info { border: solid 1px #b5d9ea }
.product-item-details .view-product-details a { background-color: #3371B3!important; font-size: 14px; padding:8px!important }
.product-item-details .view-product-preorder { padding: 8px 2px }
.products-grid.grid .product-item-info a.product-item-link, .widget-product-grid .product-item-info a.product-item-link, .product-item-details .price-box .price-container .price { color: #3371B3!important; font-size: 14px!important; line-height: 1.4!important; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
.zoo-single-line-name .product-item-name { overflow: unset!important; white-space: unset!important; text-overflow: unset!important; }
.product-info-main .page-title-wrapper.product { margin-bottom: 10px!important }
.product-info-main .page-title-wrapper.product h1.page-title { font-family: 'Marion', 'Playfair', Arial, sans-serif !important; font-size: 24px!important; font-weight:normal!important}
.product-info-main .page-title-wrapper.product .container { width: 100%!important }
.bundle-options-container, .book-information { width: 100%; float: left }
.product-info-main { float: left }
.product-info-main .page-title-wrapper.product .container h4 { font-size: 14px; line-height: 1.3; margin: 0px; padding: 5px 0; text-align: right; display: block; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; font-weight: normal; color: #3371B3!important; text-transform:uppercase }
.product-info-main .page-title-wrapper.product .container h5, .product-info-main .page-title-wrapper.product .container h6 { font-size: 16px; line-height: 1.3; margin: 0px; padding: 4px 0; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; font-weight: normal; color: #333!important }
.product-lower-primary-column { font-size: 16px; line-height: 24px; color: #666666; float: left; width: 100%!important; border-top:solid 2px #3371B3; border-bottom:solid 2px #3371B3; margin: 0 0 50px 0!important; padding: 10px 15px!important }
.container-fluid5 { float: left; width: 100%; }
.zoo-main-content-area>.product-view.product-columns-wrapper>.product-view-bg>.product-lower-primary-column > .value > p:last-child { margin-bottom: 0px }
.bundle_tab_wrap { float: left; width: 100%; padding: 0 15px }
.wishlist-index-index .products-grid .product-item {padding:0.5%; width:24%; margin-left:1%}
.wishlist-index-index .products-grid .product-item .product-item-name a{color: #3371b3!important; padding:0 5px; display:block; min-height:70px; line-height:1.3;}
.wishlist-index-index .products-grid.wishlist .product-item .price-box {padding:0 5px}
.wishlist-index-index .products-grid.wishlist .product-item  .product-item-tooltip{display:none}
.wishlist-index-index .products-grid.wishlist .product-items .product-item-info .product-item-inner{padding:0 8px!important}
.wishlist-index-index .products-grid.wishlist .product-item-actions{margin:0px!important}
.wishlist-index-index .products-grid.wishlist .product-item-actions a{font-size:14px; color:#3371B3!important}
.wishlist-index-index .products-grid.wishlist .product-item-actions a:nth-child(2){color:#f33!important; float:right}
.wishlist-index-index .products-grid.wishlist .product-item-actions a:hover{text-decoration:underline}
.wishlist-index-index .products-grid .product-item{-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.10);  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.10); padding-bottom:10px}
.wishlist-index-index .products-grid .product-item:hover{-webkit-box-shadow: 0px 0px 2px 1px rgba(51, 113, 179, 0.5); -moz-box-shadow: 0px 0px 2px 1px rgba(51, 113, 179, 0.5);  box-shadow: 0px 0px 2px 1px rgba(51, 113, 179, 0.5); }
.wishlist-index-index .form-wishlist-items .actions-toolbar{margin:15px 0 0!important}
.wishlist-index-index .form-wishlist-items .actions-toolbar button.action{background:#3371B3!important; font-size:16px; border:none!important;}
.wishlist-index-index .form-wishlist-items .actions-toolbar button.action:hover{background:#3e87d4!important;}
.catalog-product-view .zoo-breadcrumbs{display:none}
#product_addtocart_form .bundle-options-wrapper {float:left; width:100%}
#product_addtocart_form .bundle-options-wrapper .options-list .options-list2 { border-left: dashed 1px #ccc }
#product_addtocart_form .bundle-options-wrapper label, #product-options-wrapper .options-list .field label { padding: 0!important; width: 100% }
#product_addtocart_form .bundle-options-wrapper .fieldset>.field { border-top: solid 2px #3371B3; border-bottom: solid 2px #3371B3; width: 100%; float: left; margin: 0 0 30px 0; padding: 15px 0 0 }
#product_addtocart_form .bundle-options-wrapper .fieldset>.field .option-price , #product-options-wrapper .options-list .field .option-price { color: #3371B3; font-size: 20px; font-weight: normal; padding: 10px 0; text-align: center }
#product-options-wrapper .control.container { padding: 0px!important }
#product-options-wrapper .options-list .bundle-items-grid { margin-bottom: 15px; max-height: 95px; height: 95px!important; }
#product-options-wrapper .options-list .field { padding: 10px; border: dashed 1px #c8d0dc; position:relative }
#product-options-wrapper .options-list .field:hover { background: #f2f4f7; }
.fieldset>.field [class^="media-type-"], .fieldset>.field [class*=" media-type-"]{height: 48px; margin-left: 0px; max-width: 100px; background-repeat:no-repeat; background-size: contain; background-position: 15px center;}
.bundle-options-wrapper .fieldset>.field [class^="media-type-"] input, .bundle-options-wrapper .fieldset>.field[class*=" media-type-"] input{float: unset; outline: none;}
.fieldset>.field .media-type-BE, .fieldset>.field .media-type-BC, .fieldset>.field .media-type-B, .fieldset>.field .media-type-S, .fieldset>.field .media-type-EP, .fieldset>.field .media-type-SE, .fieldset>.field .media-type-EP, .fieldset>.field .media-type-EM{max-width: 150px!important;}
.fieldset>.field .media-type-BE .inputradio .radio{margin-left:60px!important;}
.fieldset>.field .media-type-B .inputradio .radio, .fieldset>.field .media-type-S .inputradio .radio{margin-left:15px!important;}
.fieldset>.field .media-type-BAE  {background-image:url(../images/BAE.png); max-width: 160px;}
.fieldset>.field .media-type-BAE .inputradio .radio{margin-left:60px!important;}
.fieldset>.field .media-type-AE  {max-width: 150px; background-image:url(../images/AE.png);}
.fieldset>.field .media-type-AE .inputradio .radio{margin-left:18px!important;}
.fieldset>.field .media-type-BLE{max-width: 160px; background-image:url(../images/BLE.png); }
.fieldset>.field .media-type-BLE .inputradio .radio{margin-left:68px!important;}
.fieldset>.field .media-type-BL{max-width: 150px;  background-image:url(../images/BL.png);}
.fieldset>.field .media-type-BL .inputradio .radio{margin-left: 50px!important;}
.fieldset>.field .media-type-BC .inputradio .radio{margin-left: 54px!important;}
.fieldset>.field .media-type-BCE{max-width: 160px; background-image:url(../images/BCE.png);}
.fieldset>.field .media-type-BCE .inputradio .radio{margin-left: 66px!important;}
.fieldset>.field .media-type-M{max-width: 150px;  background-image:url(../images/M.png);}
.fieldset>.field .media-type-M .inputradio .radio{margin-left: 15px!important;}
.fieldset>.field .media-type-ME{max-width: 150px; background-image:url(../images/ME.png);}
.fieldset>.field .media-type-ME .inputradio .radio{margin-left:60px!important;}
.fieldset>.field .media-type-BAL{max-width: 150px; background-image:url(../images/BAL.png);}
.fieldset>.field .media-type-BAL .inputradio .radio{margin-left: 52px!important;}
.fieldset>.field .media-type-BALE{max-width: 150px; background-image:url(../images/BALE.png);}
.fieldset>.field .media-type-BALE .inputradio .radio{margin-left: 58px!important;}
.fieldset>.field .sku, .fieldset>.field .isbn { font-size: 11px; color: #3371B3; font-weight:normal }
.fieldset>.field .sku span, .fieldset>.field .isbn span { font-size: 11px!important; color: #999!important; display: block }
.fieldset>.field .inputradio { text-align: left; padding-top: 60px; width: 100%; display: block; margin-left: 10px; }
.fieldset .field.qty .control{position:relative; width:75px!important;  margin-right:33px;}
.fieldset .field.qty .control .custom-qty {position:absolute; top:0px; right:0px}
.media-type-validation-message{max-width:100%!important; height:auto}
.media-type-validation-message .message{padding:10px;}
.minicart-wrapper .minicart-items .product-item-details{position: relative;}
.minicart-wrapper .minicart-items .product-item-details .option-product.text-right{position: absolute; right: -20px; top: -5px;}
.minicart-wrapper .minicart-items .product-item-pricing .control{position:relative; width:72px;}
.minicart-wrapper .minicart-items .product-item-name{margin:0px 0px 5px!important}
.minicart-wrapper .minicart-items .product-item-name a{line-height:1.3; color: #3371B3!important; display:block}
.minicart-wrapper .minicart-items .product .toggle {display: inline-block;  text-decoration: none; cursor: pointer; position: relative; border: solid 1px #ccc; padding: 2px 11px; color: #666;  font-size: 14px; font-weight: normal;}
.minicart-wrapper .minicart-detail .minicart-items-wrapper{padding-right:24px!important}
#product-page-share{margin-left:12px}
#product_addtocart_form .qty-holder { display: none }
.cms-home .category-block .container .row .img-container .col-lg-6 { width: 44%!important; max-height: 280px; margin: 3%!important; overflow: hidden; padding: 0; }
.cms-home .category-block .container .row .img-container .col-lg-6 .center-box +img { width: 100%; height: auto }
.category-block .img-container .my-account .center-box .center-box-content, .category-block .img-container .my-account .center-box .center-box-icon, .category-block .img-container .coming-soon .center-box .center-box-content, .category-block .img-container .coming-soon .center-box .center-box-icon { display: inline-block; float: unset }
#block-related-heading { color: #3371B3!important; font-size: 26px; font-weight: normal; display: block; border-bottom: solid 1px #b9c7d6;}
.cms-home > .page-wrapper #zoo-main-content > .container { width: 100%!important; padding: 0!important }
.cms-home .block-static-block #container.homebanner { width: 100%; height: 480px; position: relative; background-repeat: no-repeat; background-position: center top; background-size: cover; }
.cms-home .block-static-block #container .container { position: relative; height: 100% }
.cms-home .block-static-block #container .homebanner_cont { position: absolute; top: 35%; left: 5%; z-index: 2; text-align: left; color: #fff }
.cms-home .block-static-block #container .homebanner_cont .title1 { font-family: 'Marion', 'Playfair'; font-size: 58px; line-height: 1.25; font-weight: bold; text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
.cms-home .block-static-block #container .homebanner_cont .title2 { font-family: 'Marion', 'Playfair', Arial, sans-serif !important; font-size: 24px; line-height: 1.3; width: 60%; text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
.category-block .img-container .my-account .center-box .center-box-icon img { height: auto; width: 46px; margin: 5px 10px 0 0 }
.category-block .img-container .coming-soon .center-box .center-box-icon img { height: auto; width: 46px; margin: 15px 0 0 3px }
.product-info-main .page-title-wrapper.product .container span { font-size: 16px; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; color: #222!important }
.printTodigitalIMG { text-align: center; width: 100%; float: left; }
.printTodigitalIMG img { width: auto; height: auto; margin: 0 auto; }
.fingertips { float: left; width: 100%; background: #3371B3; text-align: center; font-size: 20px; color: #fff }
.fingertips img { margin: 10px; width: 100px; height: auto }
.zoo-main-content-area { padding-left: 0!important; padding-right: 0!important; }
.catalog-category-view .products-grid.grid, .zoo-product-collection01 .products-grid.grid, .clevershopby-index-index .products-grid.grid { margin: 15px -15px!important; padding-top: 5px!important; }
.toolbar-top .toolbar.toolbar-products { border: 1px solid #d0ddea!important; padding: 10px 15px 6px!important; margin-bottom: 0px!important; background: #eff7ff!important; }
.toolbar-top .toolbar.toolbar-products .toolbar-amount { color: #728aa2; font-size: 14px; display: inline-block; text-align: center; margin: -4px  auto 0; float:none }
.toolbar-products .toolbar-sorter .sorter-label, .toolbar-top .layered-nav-toggle { font-weight: 400!important }
.toolbar-products .toolbar-sorter .sorter-options#sorter { padding: 5px; border: solid 1px #dde6ef }
.toolbar-top { margin-bottom: 25px }
.toolbar-top .sorter {float: none; line-height: 26px; position: absolute;right: 0; top:6px}
#widget-159f70474e543a2e82dedf681fd580b8{left:0%!important; right:0%!important;}
.aboutus-post-newsletter #zoo-main-content > .container > .page-title-wrapper { visibility: visible!important }
.aboutus-post-newsletter #zoo-main-content > .container > .page-title-wrapper .page-title { margin-top: 10px; }
.message-customers-login { font-weight: bold; font-size: 17px!important; color: #3371B3; max-width: 350px; margin: 0 auto 20px!important; text-align: left }
.block-customer-login #remember-me-box { display: inline-block; width: 50% }
.block-customer-login #remember-me-box input.checkbox { display: inline-block; width: auto; height: auto }
.block-customer-login #remember-me-box label { display: inline-block; width: auto; font-size: 16px; color: #333 }
.login-container { font-family: 'Marion', 'Playfair', Arial, sans-serif !important; font-size: 16px; width: 960px; margin: 0 auto;}
.modal-content .login-container{width:100%}
.checkout-index-index .opc-wrapper .form-discount button{border-radius:0px!important; background:#3371B3!important; margin:0!important; padding:10px 20px!important}
.login-container button[type="submit"], .login-container .register-area { margin: 0!important; background-color: #3371B3!important; height: 50px; font-size: 20px; text-transform: capitalize; }
.login-container button[type="submit"]:hover, .login-container .register-area:hover { background-color: #3e87d4!important }
.login-container .register-area { margin: 15px 0!important }
.login-container .new-customer h5 { font-size: 16px; font-weight: bold; color: #3371B3; }
.login-container .new-customer ul { margin: 0; padding: 0 }
.login-container .new-customer ul li { list-style: none }
.login-container .forgot-pass, .login-container #remember-me-box label { font-size: 15px }
.or { left: 0; margin: -20px 0 0 -20px; background: #3371B3; top: 50% }
.new-customer {border-left: solid 3px #000;}
.login-container button[type="submit"], #zoo-login-form button[type="submit"], .password.forget button[type="submit"], .form-create-account button[type="submit"] { border-radius: 0px; background: #3371B3!important }
.login-container button[type="submit"]:hover, #zoo-login-form button[type="submit"]:hover, .password.forget button[type="submit"]:hover, .form-create-account button[type="submit"]:hover { background: #3e87d4!important }
.modal-content .login-container .forgot-pass { text-decoration: none; margin-bottom: 15px }
.modal-content .login-container .forgot-pass:hover { color: #3371B3 }
.modal-content .new-customer { font-size: 16px }
.modal-content .new-customer .register-area { margin: 10px 0!important; background-color: #3371B3!important; height: 50px; font-size: 20px; text-transform: capitalize; }
.modal-content .new-customer .register-area:hover { background-color: #3e87d4!important; }
.modal-content .new-customer ul { margin: 0; padding: 0 }
.modal-content .new-customer ul li { list-style: none }
.minicart-wrapper .actions #top-cart-btn-checkout, .minicart-wrapper .actions > a:hover { background-color: #3371B3!important; }
#zoo-sticky-header-sticky-wrapper .top-menu .container { height: 50px; margin: 0!important }
 .cms-home #zoo-main-content > .container, /*.cms-page-view #zoo-main-content > .container */ {
width: 100%!important; padding-left: 0!important; padding-right: 0!important}
.cms-home .category-block .container .row { margin: 40px auto; width: 100%; }
.page-wrapper .page-footer .col-foot-left h2.footer-logo img { margin: 30px 20px 30px 0; height: auto }
.minicart-wrapper .minicart-detail .block-title { background-color: #3371B3!important; }
.page-wrapper .page-footer .footer-top-col-group h4.zoo-widget-title-sm { padding: 25px 0 0; font-size: 15px; line-height: 1; margin: 0; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
.page-wrapper .page-footer .footer-top-col-group a { display: block; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
.page-wrapper .page-footer .footer-top-col-group a:hover img { opacity: 1 }
.page-wrapper .page-footer .footer-top-col-group img.social-icon { width: 3rem; margin: 0 .4rem 0 0;
opacity: 0.8; -webkit-transition: all .40s ease; -moz-transition: all .40s ease; -ms-transition: all .40s ease; -o-transition: all .40s ease; transition: all .40s ease; }
#zoo-product-listing.products-list .itemgrid .product-item .product-item-info { padding: 25px; height: auto!important }
#zoo-product-listing.products-list .itemgrid .product-item { border-bottom: solid 1px #ccc; padding: 0 }
#zoo-product-listing.products-list.list .product-item .product-item-details .product-item-name a { font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
#zoo-product-listing.products-list.list .itemgrid .product-item .product-item-details .product-item-name a { color: #333 }
.header-wishlist span.counter-number, .header-compare span.counter-number, .page-wrapper .block-search .action.search { background-color: #3371B3!important; }
.page-wrapper .minicart-wrapper .action.showcart .counter.qty .counter-number { background-color: #ff9900!important; }
.header-wishlist span.counter-number, .header-compare span.counter-number, .minicart-wrapper span.counter-number { width: 20px!important; height: 20px!important; font-size: 10px!important }
#scroll-to-top { background-color: #2c5c8e!important; }
.upperhome-col-lg-3 .img-container .upper-img img, .blue-background .info-block .info-content-block .info-content-logo img { height: auto!important }
.top-container { width: 100%; max-width: 100%; padding: 0px; margin: 0px }
.inner_banner { width: 100%; height: 280px; background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative; }
.inner_banner .container { position: relative; height: 100% }
.inner_banner .inner_banner_cont { position: absolute; top: 30%; left: 2%; z-index: 2; text-align: left; color: #fff; }
.inner_banner .inner_banner_cont .title1 { font-family: 'Marion', 'Playfair', Arial, sans-serif !important; font-size: 32px; line-height: 1.3; width: 100%; text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); margin-top: 15px }
.blue_360_page_tab_wrap { margin:40px 0; float: left; width: 100% }
.blue_360_page_tab_wrap .selectTab { display: none; height: 40px }
.blue_360_page_tab_wrap .widget-tabs { width: 25%; float: left; padding: 30px 30px 30px 0; list-style: none; margin: 0 }
.blue_360_page_tab_wrap .widget-tabs li { display: block; text-align: right }
.blue_360_page_tab_wrap .widget-tabs li a { font-size: 16px; line-height: 1; padding: 5px 0 0; margin-bottom: 5px; color: #3371B3; text-transform: capitalize }
.blue_360_page_tab_wrap .widget-tabs li.active a { border-bottom: solid 1px #3371B3 }
.blue_360_page_tab_wrap .widget-tabs li.active a sup { text-decoration: none!important }
.blue_360_page_tab_wrap .content { width: 75%; min-height: 250px; float: left; padding: 30px 30px 30px 60px; border-left: solid 1px #999; font-size: 16px; line-height: 1.4 }
.blue_360_page_tab_wrap .content .tabContent { display: none }
.blue_360_page_tab_wrap .content .tabContent:first-child { display: block }
.blue_360_page_tab_wrap .content .tabContent a { color: #3371B3!important }
.blue_360_page_tab_wrap .content .tabContent p[align="right"] { text-decoration: underline }
.blue_360_page_tab_wrap .content .tabContent a.btn { background-color: #3371B3!important; padding: 10px 0; color: #fff!important }
.blue_360_page_tab_wrap .content .tabContent a.btn:hover { background-color: #4a90da!important; }
.blue_360_page_tab_wrap .content .tabContent h6, h6.text-label { background: #3371B3; padding: 10px 15px; display: inline-block; color: #fff; font-size: 18px; font-family: 'Marion', 'Playfair'; margin-top: 25px }
.blue_360_page_tab_wrap .content .tabContent h6:first-child { margin-top: 0px }
.mt25 { margin-top: 25px }
.catalog-category-view { float: left; width: 100% }
.register-container legend { color: #3371B3; font-size: 22px; }
.register-container label { color: #333; font-size: 16px }
.register-container #remember-me-box input[type="checkbox"] { width: auto; height: auto; display: inline-block; }
.register-container #remember-me-box .label { width: auto; display: inline-block; }
.register-container a.action.create, .password.forget a.action.create { line-height: 50px; color: #3371B3 }
.login-container input, #zoo-login-form input, .password.forget input, .form-create-account input, .password.forget input { border-color: #ccc }
.product-view .block.related { float: left; width: 100%!important; margin-left: 0!important; margin-right: 0!important; }
.next-edition-release { margin: 10px 0 20px; text-align: left!important; }
.next-edition-release a { padding:8px 15px!important; width: auto!important; text-transform:uppercase;  border-radius:4px; background:#ff8000; color:#fff!important}
.contact-index-index .zoo-main-content-area > .contact { width: 900px; margin: 0 auto }
.contact-index-index .zoo-main-content-area > .contact h2 { margin: 0 0 10px; line-height: 1.25 }
.contact-index-index .contact h3 { background: #3371B3; padding: 10px 15px; margin: 15px 0; display: block; color: #fff; font-size: 22px; font-family: 'Marion', 'Playfair'; text-align: left; text-transform: capitalize; }
.contact-index-index .contact fieldset, .contact-index-index .contact .contact-address-block { width: 80%; margin: 0px 0 20px }
.contact-index-index .contact .form.contact .actions-toolbar{margin-left:0px!important}
.contact-index-index .contact .form button { font-size: 18px; padding: 10px 20px; background-color: #3371B3; border: solid 1px #3371B3!important; }
.contact-index-index .contact .form button:hover { background-color: #3e87d4; border: solid 1px #3e87d4!important }
.contact-index-index .contact .contact-address-block .contact-address h4 { margin: 30px 0 2px; padding: 0px; font-size: 22px; font-family: 'Marion', 'Playfair'; }
.contact-index-index .contact .contact-address-block .contact-address p { line-height: 1.5; font-size: 16px }
.contact-index-index .contact .contact-address-block .contact-address p a { color: #3371B3 }
.contact-index-index .contact .fieldset>.field:not(.choice)>.label, .contact-index-index .contact .fieldset>.field:not(.choice)>.control { width: 100%; text-align: left }
.page-footer .col-foot-right { text-align: right }
.page-footer .col-foot-right .footer-top-col-group { width: 115px; text-align: left; display: inline-block; }
#zoo-sticky-header-sticky-wrapper .clever-horizontal-menu ul.clever-mega-menu li > a.menu-link { color: #fff; font-weight: 500; font-size: 16px; padding: 10px 12px 10px 0; margin: 0px 12px 0px 0px; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
#zoo-sticky-header-sticky-wrapper.is-sticky .clever-horizontal-menu ul.clever-mega-menu li > a.menu-link { color: #3371B3 }
#zoo-sticky-header-sticky-wrapper.is-sticky .header-wishlist i, #zoo-sticky-header-sticky-wrapper.is-sticky .minicart-wrapper .action.showcart .counter.qty.empty:before, #zoo-sticky-header-sticky-wrapper.is-sticky .zoo-header-user .clever-icon-user-6, #zoo-sticky-header-sticky-wrapper.is-sticky .zoo-header-user .authorization-link a { color: #3371B3 }
.is-sticky #zoo-sticky-header .clever-menu .clever-mega-menu { text-align: left!important; margin-left: 25px!important; }
.product-info-main .box-tocart .actions .pre-order-icon { width: 50px; height: 32px; margin: 10px 0 0 5px; }
.popup-authentication .block-authentication .col-sm-6.login-form { padding: 20px 30px 10px 0px; }
.popup-authentication .block-authentication .col-sm-6.new-customer { padding: 20px 0px 10px 30px; }
.positioning-right { right: 80px!important; bottom: 80px!important; padding: 0!important; }
.positioning-right .upperhome-right-header { padding: 10px 0!important; font-size: 26px!important; background: #3371B3!important; font-family: 'Marion', 'Playfair' }
.positioning-right .upperhome-right-content { padding: 15px 20px 15px!important; font-size: 18px!important; text-align: center }
.customer-account-forgotpassword .password.forget .submit { width: 100%; margin-top: 15px }
.customer-address-form .fieldset >.legend, .customer-account-edit .fieldset>.legend, .form-newsletter-manage legend, .customer-account-index .block-title a.action span { color: #3371B3!important }
.customer-address-form button.action, .customer-account-edit button.action, .form-newsletter-manage button.action, .order-inoice button.action { background: #3371B3!important }
.customer-address-form button.action:hover, .customer-account-edit button.action:hover, .form-newsletter-manage button.action:hover, .order-inoice button.action:hover { background: #3e87d4!important }
.home_thumbbox { width: 100%; height: 300px; position: relative; background-repeat: no-repeat; background-position: center center; background-size: cover }
.home_thumbbox .thumb_content { position: absolute; width: 100%; text-align: center; top: 50%; left: 0%; -webkit-transform: translate(0%, -50%); transform: translate(0%, -50%); }
.home_thumbbox .thumb_content a { color: #fff; text-decoration: none; font-size: 34px; line-height: 1; background: rgba(0,0,0,0.5); display: inline-block; padding: 10px 16px; display: inline-block; font-family: 'Marion', 'Playfair' }
.home_thumbbox .thumb_content a span { display: inline-block; position: relative; top: -4px; margin-right: 5px; }
.coming-soon .home_thumbbox .thumb_content a { color: #73f3ff }
.cms-index-index #zoo-main-content { margin-bottom: 0; }
.customer-account-forgotpassword .note { font-size: 20px; padding-top: 40px }
.customer-account-forgotpassword .captcha .captcha-reload { border: none; background: #3371B3; }
.customer-account-forgotpassword .captcha .captcha-reload:hover { background: #3e87d4!important; }
.login-container label, #zoo-login-form label, .password.forget label, .form-create-account label { font-size: 16px }
.products-grid.grid .product-item-info .product_shop_loop .product-item-name, .widget-product-grid .product-item-info .product_shop_loop .product-item-name { min-height: 50px }
.product-items .product-item-info .product-item-details .price-final_price { min-height: 25px }
.product-items.owl-carousel .product-item-info .zoo-product-image a.product-item-view { background: #3371B3; color: white; padding: 10px; margin: 0 3px 0 4px; position: relative; top: 0; cursor: pointer; }
.product-items.owl-carousel .product-item-info .product-item-details .product-item-name { min-height: 50px }
.enable_border_boxshadow.products-grid.grid .owl-carousel .product-item-info .product-item-details { padding: 12px 5px }
.enable_border_boxshadow.products-grid.grid .owl-carousel .product-item-info, .enable_border_boxshadow.widget-product-grid .owl-carousel .product-item-info { border: solid 1px #e9e9e9; box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1)!important; padding-top:5px }
.enable_border_boxshadow.products-grid.grid .owl-carousel .product-item-info:hover, .enable_border_boxshadow.widget-product-grid .owl-carousel .product-item-info:hover { border: solid 1px #b5d9ea; }
.search.results .page-products .products-grid.grid { padding-top: 5px }
.search.results .products-grid.grid .product-item-info .product_shop_loop .product-item-name, .search.results .widget-product-grid .product-item-info .product_shop_loop .product-item-name { }
.zoo-sidebar-main .block-content h4 { color: #3371B3 }
.modal-popup .modal-inner-wrap .modal-content { padding: 0 25px 25px; font-size: 18px }
.modal-popup .modal-inner-wrap .modal-content #popup-mpdal{padding:0!important; float:left; width:100%}

.modal-popup .modal-inner-wrap .modal-content .subscription-image{width:22%; float:left; max-height:180px; margin:0 3% 15px 0}
.modal-popup .modal-inner-wrap .modal-content .subscription-image img{width:80%; height:auto}
.modal-popup .modal-inner-wrap .modal-content .subscription-option{float:left; width:75%}
.modal-popup .modal-inner-wrap .modal-content .subscription-option .subscription-title{float:left; width:100%; border-bottom:solid 1px #add4ff; margin-bottom:15px; padding-bottom:10px}
.modal-popup .modal-inner-wrap .modal-content .subscription-option .subscription-title h3 { margin: 0px; color: #3371B3 }
.modal-popup .modal-inner-wrap .modal-content .radio.subscription-radio { font-size:18px; margin:1px 0px!important; float:left; width:100% }
.modal-popup .modal-inner-wrap .modal-content .radio.subscription-radio input[type="radio"] { margin-top: 8px }
.modal-popup .modal-inner-wrap .modal-content .popup-term-container {width: 75%; float:left;}
.modal-popup .modal-inner-wrap .modal-content .print-terms{float:left; width:40%; clear:left; text-align:left; padding-top: 15px; margin: 0;}
.modal-popup .modal-inner-wrap .modal-content .btn-group{float:right; width:60%; text-align:right}

.modal-popup .modal-inner-wrap .modal-content .popup-term-container .terms-and-conditions{display:none; width:100%; float:left; font-size: 15px; font-weight: normal; color: #3b4754; float: left; background: #e8f3ff; padding: 20px; margin: 10px 0 20px; }
.modal-popup .modal-inner-wrap .modal-content .popup-term-container .terms-and-conditions label{display:block; font-size:20px; color:#3371B3; margin:0 0 10px; font-weight:normal; text-decoration: underline;}
.modal-popup .modal-inner-wrap .modal-content .popup-term-container > label { font-size: 20px; border-bottom: solid 1px #ccc }
.modal-popup .modal-inner-wrap .modal-content .btn-group .btn-primary { background-color: #3371B3!important; display: inline-block; padding: 8px 15px; font-size: 20px; border: none }
.modal-popup .modal-inner-wrap .modal-content .btn-group .btn-primary:hover { background-color: #3e87d4!important; }
.modal-popup .modal-inner-wrap .modal-content .btn-group .btn-primary#continue { width: auto!important }
.modal-popup .modal-inner-wrap .modal-content .btn-group .btn-primary.cancel { background-color: #e40000!important }
.modal-popup .modal-inner-wrap .modal-content .btn-group .btn-primary.cancel:hover { background-color: #f33!important }
.page-wrapper .page-footer .col-foot-middle ul li a { font-size: 16px!important; line-height: 1.25!important; padding: 6px 0!important }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table .product-item-details .product-item-name a { font-size: 16px }
.checkout-cart-index .cart.table-wrapper .product-item-details .option-price { font-size: 20px; text-align: center; color: #3371B3; background: #f5f5f5; margin: 5px 0; padding:2px 0; border: dashed 1px #c8d0dc; }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table>.item { border-color: #b8cbe0!important }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table thead tr th, .cart.table-wrapper #shopping-cart-table thead tr th.col.price span { font-size: 18px; color: #3371B3; border-color: #3371B3; background: #eef5fd; font-weight:normal }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td { text-align: left }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td.item { padding: 30px 0px!important }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td:not(.item) { padding-top: 90px }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td .input-text { height: 30px; border-color: #c8d0dc }
.checkout-cart-index .cart.table-wrapper .subscription-edit-container{margin-top: 15px; text-align:left!important}
.checkout-cart-index .cart.table-wrapper #shopping-cart-table .edit-subscription { background-color: #3371B3!important; padding: 7px 14px; font-family: 'Marion', 'Playfair'!important  }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table .edit-subscription:hover { background-color: #3e87d4!important }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td .product-item-name a { color: #3371B3; font-size: 16px }
.checkout-cart-index .zoo-main-content-area .cart-container .checkout-methods-items .primary.checkout{background:#188151!important; font-size:16px; font-weight:normal; width:90%}
.cart-container .cart-summary .block>.title #block-shipping-heading, .checkout-cart-index .cart-container .cart-summary .cart-totals .mark{ font-size: 16px; font-weight:normal }
.checkout-cart-index .zoo-main-content-area .cart-container .cart-discount .block>.title h2,  .checkout-cart-index .zoo-main-content-area .cart-container .cart-summary .summary.title { font-size: 18px; font-weight:normal; color:#3371B3}
.checkout-cart-index .zoo-main-content-area .cart-container .cart-discount .block>.title{background:#eef5fd; border-bottom: solid 1px #d0d9e4; margin-bottom: 20px;}
.checkout-cart-index .zoo-main-content-area .cart-container .cart-summary .summary.title{background:#eef5fd;}

.checkout-cart-index .zoo-main-content-area .cart-container .form-cart .cart.actions.main { text-align: right!important }
.checkout-cart-index .zoo-main-content-area .cart-container .cart-discount .actions-toolbar .action.primary, .checkout-cart-index .left_checkout_cart .form-cart .action.update { background: #3371B3!important; border: none!important; font-size:16px; font-weight:normal }
.checkout-cart-index .zoo-main-content-area .cart-container .cart-discount .actions-toolbar .action.primary:hover, checkout-cart-index .left_checkout_cart .form-cart .action.update:hover { background: #3e87d4!important }
.checkout-cart-index .zoo-main-content-area .cart-container .cart-summary .cart-totals tbody tr.grand.totals strong, .checkout-cart-index .zoo-main-content-area .cart-container .cart-summary .cart-totals tbody tr.grand.totals .price { font-size: 18px!important; font-weight: bold; color: #000!important }
.account .shop-main .box .box-title{background-color: #f6faff!important; color:#3371B3!important; border-color:#d0d9e4!important }
.account .shop-main .box .box-content, .checkout-cart-index .zoo-main-content-area .cart-container .cart-summary .cart-discount, .checkout-cart-index .zoo-main-content-area .cart-container .cart-summary .cart-summary-wrap{ border-color:#d0d9e4!important }
.checkout-cart-index .zoo-main-content-area .cart-container .cart-discount .block>.title h2, .checkout-cart-index .zoo-main-content-area .cart-container .cart-summary .summary.title, {color:#3371B3!important; font-size: 18px; font-weight: normal;}
.account .shop-main .box .box-title span{ color:#3371B3!important; font-size: 16px; font-weight: normal; }
.checkout-index-index .opc-sidebar .opc-block-summary>.title{color:#fff; background:#3371B3;  font-weight:normal; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; padding:10px 15px!important; text-transform:uppercase; font-size:18px}
.checkout-index-index .opc-sidebar .modal-header{display:none}

.checkout-index-index .opc-wrapper .opc>li .checkout-shipping-method .step-title, #checkout .checkout-payment-method .payment-option-title{background:#3371B3; color:#fff; padding: 10px 15px; text-transform: uppercase; font-weight:normal; text-align:left; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
.checkout-shipping-method .actions-toolbar .action.primary{background:#3371B3!important}
.checkout-index-index .opc-sidebar .opc-block-summary .items-in-cart>.title span{font-weight:normal; font-size:18px}
.checkout-index-index .opc-sidebar .opc-block-summary .items-in-cart .minicart-items .product-item .product-item-name{color:#3371B3!important}
.checkout-index-index a.checkout-shipping-addresses-list{background:#3371B3; color:#fff; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; display:block; padding:10px 15px}
.checkout-index-index .shipping-address-items{display:block; padding:0px!important}
.btn.primary, .action.primary{font-weight:normal!important}
.opc-wrapper .shipping-address-item.selected-item .action-select-shipping-item{display:none}
.checkout-index-index .shipping-address-items{border:solid 2px #3371B3;}
.opc-wrapper .action-select-shipping-item{margin:0!important}
.checkout-index-index  .opc-wrapper .shipping-address-item{ font-size:18px; border-left:none!important; border-top:none!important; border-right:none!important; border-bottom:solid 1px #ccc!important; line-height: 1.5!important; margin: 0!important; padding: 20px!important;}
.checkout-index-index .opc-wrapper .shipping-address-item .shipping-address-item-data a.address-name{display: block; cursor: pointer;}
.checkout-index-index  .opc-wrapper .shipping-address-item.selected-item{background:#f3fffa}
.checkout-index-index  .opc-wrapper .shipping-address-item.selected-item:after{background: #2ebd7c!important;  right: 10px!important; top: 25px!important;}
.checkout-index-index .action-show-popup{background:#3371B3!important; font-size:16px}
.checkout-index-index .action-show-popup:hover{background:#3e87d4!important}
#checkout-step-shipping_method{border:solid 2px #3371B3!important; margin-top:-2px; padding:20px}
#checkout .checkout-payment-method .opc-payment-additional.discount-code .payment-option-content{width: 100%; border: 1px solid  #3371B3; padding: 10px 20px;}
#checkout .checkout-payment-method .opc-payment-additional.discount-code .payment-option-content .form-discount .actions-toolbar-discount .action-apply{background:#3371B3!important}
.checkout-index-index .opc-wrapper .step-title{background: #3371B3; color: #fff; padding: 10px 15px; text-transform: uppercase; font-weight: normal; text-align: left; font-family: 'Marion', 'Playfair', Arial, sans-serif !important;  font-size:18px}
.checkout-payment-method .payment-option-title .action-toggle{color: #fff; text-transform: uppercase; font-weight: normal; text-align: left; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; cursor:pointer; font-size:18px}
.checkout-index-index  .payment-method-data{width: 100%; border: 1px solid  #3371B3!important; padding: 10px 20px; margin-top:-1px}
.checkout-index-index .checkout-payment-method .checkout-billing-address {margin: 0 0 0 40px!important;}
.checkout-index-index .modal-inner-wrap{margin-top:0px!important}
.checkout-index-index .opc-block-summary{margin-bottom:0px!important}
.checkout-index-index .opc-block-shipping-information{background:#f6fbff; padding:25px; border:solid 1px #dde6ec; border-top:none; font-size:16px}
.checkout-index-index .opc-sidebar .opc-block-shipping-information .shipping-information-title{border-color:#a9c8e8!important; font-size:18px!important; font-weight:normal!important; color: #3371B3;}
.checkout-index-index .opc-sidebar .opc-block-shipping-information .shipping-information-title button:before{color:#7aa4bf!important}
.checkout-index-index .opc-sidebar .opc-block-summary .table-totals{background:#f6fbff; border-color:#dde6ec!important; font-size:16px!important; font-weight:normal!important; }
.checkout-index-index .opc-sidebar .opc-block-summary .table-totals th{font-weight:normal!important; }
.checkout-index-index .opc-sidebar .opc-block-summary .items-in-cart>.title{color:#3371B3!important}
.checkout-index-index .opc-sidebar .opc-block-summary .table-totals th span:first-child{color:#3371B3; font-weight:normal; font-size:18px}
.checkout-payment-method .payment-method-title{padding:10px 0px 12px!important}
.checkout-payment-method .payment-method:first-child .payment-method-title{border-color:#fff!important}
#checkout .checkout-payment-method .payment-method-title input{margin: 8px 15px 0 10px!important;}
.payment-method-data .payment-method .payment-method-content .actions-toolbar .primary .checkout{background:#3371B3!important}
.checkout-onepage-success a.btn-raised, .customer-paymentinfo-index .actions-toolbar  .primary.action{background:#3371B3!important; text-transform:uppercase!important; font-size:16px!important}
.checkout-onepage-success a.btn-raised:hover, .customer-paymentinfo-index .actions-toolbar  .primary.action:hover{background:#3e87d4!important}
.customer-paymentinfo-index .actions-toolbar  .secondary .action{background:#d00505!important;text-transform:uppercase!important; font-size:16px!important; margin:0px!important; padding: 8px 15px; color: #fff;}
.customer-paymentinfo-index .actions-toolbar  .secondary .action:hover{background:#ff0101!important}
.customer-paymentinfo-index .manage-payment-method .block-title h2{background:#3371B3; color:#fff; font-size:16px; font-weight:normal; text-align:left; padding: 12px 15px; text-transform: uppercase; }
.customer-paymentinfo-index .manage-payment-method .fieldset .legend{color:#3371B3}
#my-downloadable-products-table thead th, .sales-order-history #my-orders-table thead th, .customer-account-index #my-orders-table thead th{background:#3371B3; color:#fff; font-weight:normal; font-size:16px; border-right: solid 1px #fff; padding: 5px 10px!important;}
#my-downloadable-products-table td .product-name{font-weight:normal; color: #3371B3;}
.customer-address-index .box-address-shipping .box-actions{background: #fff; border: none;  padding-top: 20px!important;}
.customer-address-index .box-address-shipping .box-actions .action.primary, .customer-address-index .actions-toolbar .action.primary{background:#3371B3!important; font-size:16px }
.customer-address-index .box-address-shipping .box-actions .action.primary:hover, .customer-address-index .actions-toolbar .action.primary:hover{background:#3e87d4!important;}
.customer-address-index .block-addresses-default .block-title strong{color:#3371B3; font-size: 22px; font-weight: normal;}
.sales-order-history #my-orders-table .history-button, .customer-account-index #my-orders-table .recent-button{padding: 2px 10px 4px; font-size: 12px;    background: #3371B3!important;; }
.sales-order-history #my-orders-table .history-button:hover, .customer-account-index #my-orders-table .recent-button:hover{background: #3e87d4!important; }
.checkout-index-index .modal-popup .action.secondary {background:#e40000!important; border:none!important}
.checkout-index-index .modal-popup .action.secondary:hover {background:#f33!important}
body.category-all-categories #zoo-main-content > .container > .page-title-wrapper, body.cms-page-view #zoo-main-content > .container > .page-title-wrapper{display:none!important}
.page-wrapper > .zoo-breadcrumbs{display:none!important}
.minicart-wrapper .subtotal{padding:20px!important}
.pre-order-icon.catalog-gallary-block{top: 150px!important; height:30px!important}
.just-release-icon.catalog-gallary-block{height:40px!important}
.just-release-icon.catalog-gallary-block > span{color:#3371B3!important}
body.category-national-titles-officer-series #zoo-main-content > .container > .page-title-wrapper{display:none!important}


@media screen and (min-width:1500px) {
#zoo-sticky-header-sticky-wrapper .top-menu .container, .page-header .header-content.container, .page-footer .footer.container, .inner_banner .container, .homebanner .container, .cms-home .category-block .container, body > .page-wrapper > #zoo-main-content > .container { width: 1460px!important; margin: 0 auto!important; }
body.catalog-category-view > .page-wrapper > #zoo-main-content > .container { width: 1300px!important; }
body > .page-wrapper > #zoo-main-content > .container {padding-left:30px; padding-right:30px}
.inner_banner .inner_banner_cont, .inner_banner .inner_banner_cont { left: 2% }
.bundle_tab_wrap { padding: 0px }
.inner_banner{height: 340px;}
}
 @media screen and (max-width:1260px) {
#zoo-sticky-header .zoo-header-user { width: 35%; }
.home_thumbbox .thumb_content a{font-size:30px}
.product-view .block.related{padding:0 15px}
}
 @media screen and (min-width:992px) {
.page-header { position: relative }
.page-header .header-content.container .mr-auto.zoo-header-content-block { width: 150px; flex-grow: unset; }
.page-header .header-content.container .mr-search.zoo-header-content-block { width: 300px; position: absolute; right: 25px; }
#zoo-sticky-header-sticky-wrapper .clever-menu.clever-horizontal-menu { float: left; width: 70%; display: block }
#zoo-sticky-header-sticky-wrapper .zoo-header-user { float: right; width: 30%; display: block; text-align:right }
#zoo-sticky-header-sticky-wrapper.is-sticky .clever-menu.clever-horizontal-menu { width: 64%; }
#zoo-sticky-header-sticky-wrapper.is-sticky .zoo-header-user { width: 26%; }
.full-sc-search .block-search .form.minisearch { border: 1px solid #3371B3; }
#zoo-sticky-header-sticky-wrapper .top-menu .container, .page-header .header-content.container, .page-footer .footer.container, .block-static-block .container { padding-left: 30px!important; padding-right: 30px!important; }
.catalog-category-view.page-layout-1column .columns, .clevershopby-index-index.page-layout-1column .columns { float: left; width: 100% }
.blue-background .info-block .info-content-block .info-content span { font-size: 24px!important; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; }
.customer-account-login .login-container { padding: 30px 0 50px; }
.page-header .header-content { padding-bottom: 10px!important; width: 100%!important }
.page-header .full-sc-search .block-search { top: 8px!important; }
.page-wrapper header.page-header .sticky-wrapper { height: 50px!important; }
.zoo-breadcrumbs .items { padding: 15px 0!important; }
#zoo-sticky-header-sticky-wrapper.is-sticky .clever-horizontal-menu ul.clever-mega-menu li > a.menu-link { font-size: 15px; padding: 10px 8px; margin: 0px 6px 0px 0px; }
#zoo-sticky-header-sticky-wrapper .clever-horizontal-menu ul.clever-mega-menu li li > a.menu-link { padding: 4px 12px!important; display: block; margin: 0!important; color: #3371B3 }
#zoo-sticky-header-sticky-wrapper .clever-horizontal-menu ul.clever-mega-menu li li > a.menu-link:hover { background: rgba(51, 113, 179, 0.1) }
#zoo-sticky-header-sticky-wrapper .clever-horizontal-menu ul.clever-mega-menu li li.icon-arrow-right:after { color: #3371B3 }
#zoo-sticky-header-sticky-wrapper.is-sticky #zoo-sticky-header { background: #fff!important; box-shadow: 0 0px 15px 1px rgba(0,0,0,0.3); border-top-color: #fff!important; z-index: 999!important }
.header-wishlist i, .header-compare i, .minicart-wrapper i, .page-wrapper .minicart-wrapper .action.showcart .counter.qty:before, .zoo-header-user .clever-icon-user-6 { font-size: 16px!important; color: #fff }
#zoo-sticky-header-sticky-wrapper .minicart-wrapper{margin-left:8px !important;}

#zoo-sticky-header .header-wishlist.wishlist { margin: 14px 0 0!important }
#zoo-sticky-header-sticky-wrapper #zoo-sticky-header .zoo-header-user .customer-name { color: #fff!important; font-size: 12px!important; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; margin-right: 15px!important; font-weight: normal!important;}
#zoo-sticky-header-sticky-wrapper.is-sticky #zoo-sticky-header .zoo-header-user .customer-name, #zoo-sticky-header-sticky-wrapper.is-sticky .action.showcart .counter.qty:before { color: #3371B3!important; }
#zoo-sticky-header .zoo-header-user .authorization-link a { font-family: 'Marion', 'Playfair', Arial, sans-serif !important; font-size: 13px; color: #fff; font-weight: 400!important }
.page-wrapper .page-header #zoo-sticky-header-sticky-wrapper .top-menu { border-color: #3371B3!important; background: #3371B3; }
#zoo-sticky-header .zoo-header-user .user_area { padding-right: 0 }
.block-search .form.minisearch .control { padding: 0 10px }
.page-wrapper .block-search .action.search { right: 0px!important; background: #3371B3!important }
.page-wrapper .block-search .action.search:hover { background: #3e87d4!important }
.page-wrapper .block-search .action.search:before { color: #fff!important }
.clever-menu .clever-mega-menu-item .clever-mega-menu-sub { top: 104%!important; width: 320px; }
.clever-menu .clever-mega-menu-item .clever-mega-menu-sub li.parent:hover > .clever-mega-menu-sub { top: -70%!important; box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.15); -webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.15); }
.clever-horizontal-menu li.clever-mega-menu-item>.clever-mega-menu-sub { padding: 0; box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.15); -webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.15); }
.clever-menu .clever-mega-menu-sub>li.clever-mega-menu-item.clever-mega-menu-item, .clever-menu .cat-tree li.clever-mega-menu-item, .clever-menu .clever-mega-menu-sub>li.clever-mega-menu-item.item, .clever-menu .cat-tree li.item { padding: 0px!important; }
.catalog-product-view .main-block-product-cms-content { font-size: 24px; line-height: 60px; }
.account-nav .item a { -webkit-transition: all .40s ease; -moz-transition: all .40s ease; -ms-transition: all .40s ease; -o-transition: all .40s ease; transition: all .40s ease; }
.account-nav .item a:hover { padding: 10px; background: rgba(137, 147, 158, 0.08) }
.account-nav .item.current strong{color:#3371B3; font-weight:normal; font-size:20px}
.customer-account-index .shop-main, .account .shop-main { border-left: solid 1px #ccc; position: relative; left: -1px; }
.customer-account-index .sidebar, .account .sidebar { border-right: solid 1px #ccc }
.actions-toolbar .secondary a.action { margin-top: 18px!important; }
.blue_360_page_tab_wrap{padding-left:50px; padding-right:50px}
.bundle-tab:first-child{padding-left:0px!important}
.bundle-tab:last-child{padding-right:0px!important}
}
 @media screen and (max-width: 991px) {
.page-wrapper .page-header .full-sc-search .block-search .block-content .minisearch .field.search .control .input-text{font-size: 18px!important;}
.cms-home .block-static-block #container.homebanner { height: 350px }
.cms-home .block-static-block #container .homebanner_cont { top: 30% }
.cms-home .block-static-block #container .homebanner_cont .title1 { font-size: 56px; }
.cms-home .block-static-block #container .homebanner_cont .title2 { font-size: 30px; width: 80% }
.home_thumbbox .thumb_content a { font-size: 22px; }
.justify-content-end.header-content.container { -webkit-box-shadow: 0 0px 5px 1px rgba(0,0,0,0.25); -moz-box-shadow: 0 0px 5px 1px rgba(0,0,0,0.25); -o-box-shadow: 0 0px 5px 1px rgba(0,0,0,0.25); -ms-box-shadow: 0 0px 5px 1px rgba(0,0,0,0.25); box-shadow: 0 0px 5px 1px rgba(0,0,0,0.25) }
.page-main .container { width: 100%!important }
.cms-home .category-block .container .row { margin: 20px auto; }
.nav-sections { width: 80%; }
.nav-open .page-wrapper .nav-sections { padding: 15px }
.sections.nav-sections .clever-horizontal-menu ul.clever-mega-menu li.level0 a.menu-link { font-size: 16px; padding: 5px 5px 8px; font-family: 'Marion', 'Playfair', Arial, sans-serif !important; color: #3371B3!important }
.catalog-category-view .products-grid.grid, .zoo-product-collection01 .products-grid.grid, .clevershopby-index-index .products-grid.grid { margin: 16px -5px!important; }
.nav-open .page-wrapper .nav-sections .header.links li > a { padding: 0; color: #3371B3; font-family: 'Marion', 'Playfair'!important; }
.nav-open .page-wrapper .nav-sections .header.links::after { font-size: 20px; top: 0px }
.page-wrapper .page-footer ul.zoo-footer-social-links.style-2 { padding: 0!important }
.catalog-category-view.page-layout-1column .columns, .clevershopby-index-index.page-layout-1column .columns { float: left; width: 100% }
.page-header .header-content.container .mr-auto.zoo-header-content-block .visible-xs.visible-sm:not(.header-minimal-search) { z-index:2 }
.login-container {width:100%}
.toolbar-top .toolbar.toolbar-products .toolbar-amount{margin:-4px 0 0}
.checkout-index-index .opc-block-summary{padding:0px!important}
.checkout-index-index .modal-custom .action-close{margin:10px!important}
.checkout-index-index .modal-custom .action-close:before{font-size:50px!important; color:#fff!important}
.checkout-index-index .modal-inner-wrap .modal-content{padding-left:0px!important}

}
 @media screen and (max-width: 991px) and (min-width: 768px) {
.page-wrapper .page-footer .container .col-foot-right { padding-left: 15px; }
#zoo-product-listing .itemgrid.zoo-itemgrid-adaptive .product-item { width: 33.333333%; }
#zoo-product-listing .itemgrid.zoo-itemgrid-adaptive .product-item .product-item-info { width: 100%; }
.or { display: block; }
.login-container .col-sm-6 { padding: 0 5% }
}
 @media screen and (max-width: 767px) {
.cms-home .block-static-block #container.homebanner { height: 230px }
.cms-home .block-static-block #container .homebanner_cont { top: 25% }
.cms-home .block-static-block #container .homebanner_cont .title1 { font-size: 48px; }
.cms-home .block-static-block #container .homebanner_cont .title2 { font-size: 24px; width: 95% }
.home_thumbbox .thumb_content a { font-size: 18px; }
.inner_banner .inner_banner_cont .title1 { font-size: 24px }
.contact-index-index .zoo-main-content-area > .contact { width: 80% }
.contact-index-index .contact fieldset, .contact-index-index .contact .contact-address-block { width: 100% }
.catalog-product-view .page-main { width: 100%; float: left }
.catalog-product-view #product_addtocart_form .bundle-options-wrapper #product-options-wrapper { padding-right: 0!important }
.product-lower-primary-column { width: 100%!important; }
.container-fluid5 { padding: 0 15px; }
.page-footer .col-foot-right { text-align: left; margin-bottom: 25px }
.page-footer .col-foot-right .footer-top-col-group { width: auto }
.page-wrapper .page-footer .col-foot-left h2.footer-logo img { margin-bottom: 0px }
.page-wrapper .page-footer .footer-top-col-group h4.zoo-widget-title-sm { padding-top: 0px }
.or { display: block; top:42px; left: 50%; }
.new-customer { border-left: unset; }
.login-container .col-sm-6 { padding: 0 5% }
.new-customer .message-customers-login { border-top: solid 3px #000; padding-top: 40px; margin-top: 40px!important; }
#product_addtocart_form .bundle-options-wrapper .options-list .options-list2 { border-top: dashed 1px #ccc; border-left: unset; padding-top: 15px }
#product_addtocart_form .bundle-options-wrapper .fieldset>.field .media-type-EP { margin-left: 5px }
.fingertips { font-size: 16px; }
.fingertips img { width: 80px }
.control.captcha-image .captcha-img { display: inline-block!important; margin-right: 15px }
.blue_360_page_tab_wrap .selectTab { display: block }
.blue_360_page_tab_wrap .widget-tabs { display: none }
.blue_360_page_tab_wrap .content { width: 100%; padding: 20px 10px; border-left: none }
.blue_360_page_tab_wrap .content .tabContent a.btn { white-space: unset; height: auto; line-height: 1.35; font-size: 16px }
.page-wrapper .page-footer .col-foot-left h2.footer-logo { height: 125px }
.modal-popup .modal-inner-wrap .modal-content .btn-group .btn-primary { display: block; margin: 15px auto!important; }
.bundle_tab_wrap { padding: 0px }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table thead tr th, .cart.table-wrapper #shopping-cart-table thead tr th.col.price span { background: none }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td:not(.item) { padding-top: 0px }
.cart.table-wrapper #shopping-cart-table .product-item-details { margin-left: 110px; text-align: left }
.cart.table-wrapper #shopping-cart-table .product-item-details .container .col-xs-12 { width: 50%!important; }
.cart.table-wrapper #shopping-cart-table .product-item-details .container .row > .col-xs-12 { background: #f5f5f5; border: dashed 1px #c8d0dc; padding: 15px; margin: 0 1.5% 2.5%; width: 48.5%!important }
.cart.table-wrapper #shopping-cart-table .product-item-details .container .row > .col-xs-12:nth-child(2n+1) { margin-left: 0px; }
.cart.table-wrapper #shopping-cart-table .product-item-details .container .row > .col-xs-12:nth-child(2n+2) { margin-right: 0px; }
.checkout-cart-index .cart.table-wrapper .product-item-details .option-price { background: none; margin: 0; border: none; font-size: 18px; }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td { text-align: center }
.checkout-cart-index .cart.table-wrapper #shopping-cart-table tr td .input-text { margin: 0 auto }
.toolbar-top .sorter{top:0px; right:5px}

.modal-popup .modal-inner-wrap .modal-content .subscription-image{width:25%; text-align: center;
    margin: 20px auto; float: none; max-height: 150px;}
.modal-popup .modal-inner-wrap .modal-content .subscription-option, .modal-popup .modal-inner-wrap .modal-content .popup-term-container{width:100%}
#popup-mpdal .btn-group .btn-primary{font-size:16px; display:inline-block}
.wk-info.wk-msg-box{margin-left: 190px!important;}
	
}
 @media screen and (max-width: 767px) and (min-width: 481px) {
.cms-home .category-block .container .row .img-container .col-lg-6 { width: 50%; margin: 2.5% 0%; }
.page-wrapper .page-footer .col-foot-left h2.footer-logo img { height: 4.5rem }
.page-wrapper .page-footer ul { padding-top: 25px }
.page-header .full-sc-search .block-search { max-width: 400px!important }
#zoo-product-listing .itemgrid.zoo-itemgrid-adaptive .product-item { width: 50%; }
#zoo-product-listing .itemgrid.zoo-itemgrid-adaptive .product-item .product-item-info { width: 100%; }
.positioning-right { right: 40px!important; bottom: 40px!important; }
.positioning-right .upperhome-right-header { font-size: 20px!important; }
.positioning-right .upperhome-right-content { font-size: 16px!important; }
.product-info-main .box-tocart .fieldset .field.qty { margin: 0 0 0 80px; }
}
 @media screen and (max-width:699px) {
.cms-home .block-static-block #container .homebanner_cont .title1 { font-size: 42px; }
.cms-home .block-static-block #container .homebanner_cont .title2 { font-size: 22px; }
.home_thumbbox .thumb_content a { font-size: 26px; }
.toolbar-products .toolbar-sorter .action.sorter-action, #toolbar-amount { display: none }
.toolbar-products .toolbar-sorter { width: 70%; text-align: right; float: right; margin-left: 5px }
.toolbar-products .action-for-medium-up { float: left; width: 30%; text-align: left; margin-right: 5px }
.cms-home .category-block .container .row .img-container .col-lg-6 { width: 97%!important; margin: 3% 1.5%!important; max-height: 250px; }
.inner_banner { height: 180px }
.inner_banner .inner_banner_cont { top: 20% }
.modal-popup .modal-inner-wrap .modal-content .print-terms, .modal-popup .modal-inner-wrap .modal-content .btn-group{width:100%}	

}
 @media screen and (max-width: 480px) and (min-width: 320px) {
.home_thumbbox { height: 220px }
.home_thumbbox .thumb_content a { font-size: 22px; }
.inner_banner .inner_banner_cont .title1 { font-size: 20px }
.cms-home .block-static-block #container .homebanner_cont .title1 { font-size: 38px; }
.cms-home .block-static-block #container .homebanner_cont .title2 { font-size: 18px; }
.category-block .img-container .center-box { width: 80%!important; left: 10%!important; transform: translate(0%, -50%); }
#v-cookielaw.v-box { padding: 10px!important }
.positioning-right { right: 3%!important; bottom: 10px!important; width: 94% }
.positioning-right .upperhome-right-header { font-size: 18px!important; }
.positioning-right .upperhome-right-content { font-size: 13px!important; padding: 10px 8px!important; }
.page-wrapper .page-footer .col-foot-left h2.footer-logo img { width: 80px; height: auto }
.page-wrapper .page-footer ul { padding: 35px 0 0 0; }
.blue-background .info-block { width: 80%; left: 10%; }
.page-wrapper .page-footer .footer-top-col-group h4.zoo-widget-title-sm { padding-left: 5px }
.page-header .full-sc-search .block-search { max-width: 100%!important }
#zoo-product-listing .itemgrid.zoo-itemgrid-adaptive .product-item { width: 99%; }
#zoo-product-listing .itemgrid.zoo-itemgrid-adaptive .product-item .product-item-info { width: 100%; }
.product-info-main .box-tocart .fieldset .field.qty { margin: 0 0 0 12px; }
.fingertips { font-size: 12px; }
.fingertips img { width: 60px }
.cart.table-wrapper #shopping-cart-table tr td.item .product-item-photo { position: relative; margin: 0 auto 38px; max-width: 100%; }
.cart.table-wrapper #shopping-cart-table tr td.item .product-item-photo img { max-width: 100% }
.cart.table-wrapper #shopping-cart-table .product-item-details { margin-left: 0px; width: 110% }
div.col-foot-left{max-width: 100px;}
.page-wrapper .page-footer .col-foot-middle ul li a{font-size: 14px!important;}
body.catalog-product-view .fieldset>.field [class^="media-type-"], body.catalog-product-view  .fieldset>.field [class*=" media-type-"]{max-width:135px!important; min-width:135px!important}
.wk-info.wk-msg-box{margin-left: 100px!important;}
.fieldset .actions .action.tocart{min-width: 135px;}
#zoo-main-content > .container > .page-title-wrapper{display:none}
.page-wrapper .page-footer .col-foot-middle ul{padding: 10px 10px 10px 20px!important; margin: 20px 0px!important;}
}