<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php $_product = $block->getProduct() ?>
<?php if ($_product->isSaleable() && $block->hasOptions()):?>
        <button id="bundle-slide"
                class=""
                type="button">
            <span><?php /* @escapeNotVerified */ echo __('Customize and Add to Cart'); ?></span>
        </button>
<?php endif;?>
