<?php
/**
 * Copyright © 2017 Endeavorpal, Inc. All rights reserved.
 * By: Mohammad Hamadneh
 */
/**
 * @var \Endeavor\Sales\Block\Adminhtml\Order\View\Info $block
 */
?>
<?php $order = $block->getSFOrder(); ?>
<?php if ($order->getSfOrderId() != ''): ?>
    <div class="admin__page-section-item-title-sf">
        <h2 style="font-size: 1.8rem;font-weight: 600;">Sales Force Order # <?php echo $order->getSfOrderId(); ?></h2>
    </div>
<?php endif; ?>