<?php
  
?>
<?php
/**
 * Product related jobs template
 *
 * @var $block \Endeavor\Career\Block\Catalog\Product\RelatedJobs
 */
?>

<?php if ($block->displayJobs()) { ?>
    <?php $_jobCollection = $block->getJobCollection(); ?>
    <?php if ($_jobCollection->count()) { ?>
    <div class="block related">
        <div class="block-title title">
            <strong id="block-relatedjobs-heading" role="heading" aria-level="2">
                <?php echo __('Related jobs') ?>
            </strong>
        </div>
        <ol class="block-content">
            <?php foreach ($_jobCollection as $_job) { ?>
                <li class="item">
                    <a class="job-item-link"
                       href="<?php echo $_job->getJobUrl() ?>">
                        <?php echo $block->escapeHtml($_job->getTitle()); ?>
                    </a>
                </li>
            <?php } ?>
        </ol>
    </div>
    <?php } ?>
<?php } ?>