.promotion-message{
    margin: 0 0 10px;
    padding: 10px 20px;
    display: block;
    line-height: 1.2em;
    font-size: 1.3rem;
    background: #e5efe5;
    color: #006400;
    padding-left: 40px;
    position: relative;
}
.promotion-message:before{
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: 28px;
    color: #006400;
    content: '\e610';
    font-family: 'icons-blank-theme';
    margin: -14px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 18px;
    width: 40px;
    position: absolute;
    text-align: center;
}