<?php
/**
 * Copyright © 2013-2017 Endeavor Technology, Inc. All rights reserved.
 * 
 * @author: Murad Dweikat
 */

// @codingStandardsIgnoreFile

?>
<?php $_order = $block->getOrder() ?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_customer = null;

if ($_order) {
    $_customer = $objectManager->create('Magento\Customer\Model\Customer')->load($_order->getCustomerId());
}
?>
<?php if ($_customer):?>
    <?php if (!$_customer->getPasswordHash()): ?>
        <strong>Your log-in will be:</strong>
        <tr class="account-details">
            <td>
                <strong>Email: </strong><a href="<?php echo 'mailto:'.$_customer->getEmail() ?>"><?php echo $_customer->getEmail() ?></a><br>
                <strong>Password: </strong><br>
            </td>
        </tr>
        <tr>
            <td>
                <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td align="center">
                                        <a href="<?php echo $block->getUrl('customer/account/createPassword/',["id" => $_customer->getId(),"token" => $_customer->getRpToken()]) ?>" target="_blank">Set a New Password</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    <?php else: ?>
        <strong>Your log-in will be:</strong>
        <tr class="account-details">
            <td>
                <strong>Email: </strong><a href="<?php echo 'mailto:'.$_customer->getEmail() ?>"><?php echo $_customer->getEmail() ?></a><br>
            </td>
        </tr>
        <br/>
    <?php endif; ?>
<?php endif; ?>
