
    .state{
        fill: none;
        stroke: #a9a9a9;
        stroke-width: 1;
    }
    .state:hover{
        fill-opacity:0.5;
    }
    .state:hover #tooltip {
        visibility: visible;
    }
    #tooltip {   
        position: fixed;           
        text-align: center;
        padding: 20px;             
        margin: 10px;
        font: 12px sans-serif;        
        background: lightsteelblue;   
        border: 1px;      
        border-radius: 2px;
        display: block !important;
        background:rgba(0,0,0,0.9);
        border:1px solid grey;
        border-radius:5px;
        font-size:12px;
        width:200px;
        padding:4px;
        color:white;
        opacity:0;
    }
    #tooltip h4{
        margin:0;
        font-size:14px;
        font-weight: bold;
    }
    #tooltip table{
        table-layout:fixed;
    }
    #tooltip tr :hover{
        color:#137FC7!important;
    }
    #tooltip tr td{
        padding:0;
        margin:0;
    }
        
    #tooltip tr td:nth-child(1) {
        width:50px;
    }
    #tooltip tr td:nth-child(2) {
        text-align:center;
    }
    .wisconsin {
        max-width: 100%; 
        padding: 0 5%;
    }
    button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    }

    button.accordion.active, button.accordion:hover {
        background-color: #1979c3; 
    }

    div.panel {
        padding: 0 18px;
        display: none;
        background-color: white;
    }
    @media screen and (max-width: 770px) {
        .states-menu{
            display: inline;
        }
        .wisconsin{
            display:none;
        }
        .loader-container{
            position: fixed !important;
            height: 176% !important;
        }
    }
    @media screen and (min-width: 771px) {
        .states-menu{
            display: none;
        }
        .wisconsin{
            display:block;
        }
    }
