<?php
 
?>
<?php
/**
 * AboutUs post list template
 *
 * @var $block \Endeavor\AboutUs\Block\Post\PostList
 */
?>
<div class="about-us-static">
<?php
echo $block->getContent();
?>
</div>



<div class="about-us-static">
<br>
<hr>
<h1><b><?php echo $block->getAboutUsTitle(); ?></b></h1>
</div>

