<?php
  
?>
<?php
/**
 * Career job info template
 *
 * @var $block \Endeavor\Career\Block\Job\Info
 */
?>

<?php $_job = $block->getJob() ?>

<div class="job-info clear">
    <div class="item job-posed-date">
        <span class="label"><?php echo __('Added:') ?></span>
        <span class="value"><?php echo $_job->getPublishDate('F d, Y') ?></span>
    </div>
    <?php if ($_categoriesCount = $_job->getCategoriesCount()) { ?>
    <div class="dash">|</div>
    <div class="item job-categories">
        <span class="label"><?php echo __('Categories:') ?></span>
        <?php $n = 0; foreach($_job->getParentCategories() as $ct) { $n++; ?>
            <a title="<?php echo $block->escapeHtml($ct->getTitle()) ?>" href="<?php echo $ct->getCategoryUrl() ?>">
                <?php echo $block->escapeHtml($ct->getTitle()) ?>
            </a>
            <?php if ($n != $_categoriesCount) { ?>, <?php } ?>
        <?php } ?>
    </div>
    <?php } ?>
    <?php if ($_tagsCount = $_job->getTagsCount()) { ?>
    <div class="dash">|</div>
    <div class="item job-categories">
        <span class="label"><?php echo __('Tags:') ?></span>
        <?php $n = 0; foreach($_job->getRelatedTags() as $tag) { $n++; ?>
            <a title="<?php echo $block->escapeHtml($tag->getTitle()) ?>" href="<?php echo $tag->getTagUrl() ?>">
                <?php echo $block->escapeHtml($tag->getTitle()) ?>
            </a>
            <?php if ($n != $_tagsCount) { ?>, <?php } ?>
        <?php } ?>
    </div>
    <?php } ?>
    <?php if ($block->authorEnabled()) { ?>
        <?php if ($_author = $_job->getAuthor()) { ?>
        <div class="dash">|</div>
        <div class="item job-author">
            <span class="label"><?php echo __('Author:') ?></span>
            <span class="value">
                <?php if ($authorPageEnabled = $block->authorPageEnabled()) { ?>
                <a title="<?php echo $block->escapeHtml($_author->getTitle()) ?>" href="<?php echo $_author->getAuthorUrl() ?>">
                <?php } ?>
                    <?php echo $block->escapeHtml($_author->getTitle()) ?>
                <?php if ($authorPageEnabled) { ?>
                </a>
                <?php } ?>
            </span>
        </div>
        <?php } ?>
    <?php } ?>
</div>