<?php
  
?>
<?php
/**
 * Career job list template
 *
 * @var $block \Endeavor\Career\Block\Job\JobList
 */
?>
<?php
echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('career-top-block')->toHtml();
echo '<br/>';
$_jobCollection = $block->getJobCollection();
?>
<?php if (!$_jobCollection->count()): ?>
    <div class="message info empty" style="display: none !important;"><div><?php echo __('We can\'t find jobs matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getAdditionalHtml() ?>
    <div class="job-list-wrapper">
        <?php $iterator = 1; ?>
        <ol class="job-list" style="margin-left: -40px;">
            <?php foreach ($_jobCollection as $_job): ?>
                <?php echo $block->getJobHtml($_job) ?>
            <?php endforeach; ?>
            <li class="hidden">
                <script type="text/javascript">
                    if (window.addthis) {
                        addthis.toolbox('.addthis_toolbox');
                    }
                </script>
            </li>
        </ol>
    </div>

    <?php echo $block->getToolbarHtml() ?>
    <?php echo $this->getChildHtml('addthisJs'); ?>
<?php endif; ?>
