<?php
  
?>
<?php
/**
 * Career job view template
 *
 * @var $block \Endeavor\Career\Block\Job\View
 */
?>
<?php
    $_job = $this->getJob();
    $_jobUrl = $_job->getJobUrl();
    $_jobName = $block->escapeHtml($_job->getTitle(), null, true);
?>
<div class="job-view">
    <div class="job-holder job-holder-<?php echo $_job->getId() ?>">
        <div class="job-header clearfix">
            <div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $_jobUrl ?>">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_compact"></a>
            </div>
            <?php echo $this->getInfoHtml() ?>
        </div>

        <div class="job-content">
            <div class="job-description clearfix">
                <?php if ($featuredImage = $_job->getFeaturedImage()) { ?>
                <div class="job-ftimg-hld">
                    <img src="<?php echo $featuredImage ?>" alt="<?php echo $_jobName ?>" />
                </div>
                <?php } ?>
                <div class="job-text-hld">
                    <?php echo $block->getContent() ?>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="job-bottom">
            <?php echo $this->getChildHtml('career.job.bottom') ?>
        </div>
    </div>
</div>