<!--@subject {{trans "Order Confirmation from %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var customer.email":"Customer Email",
"var order.increment_id":"Order Id",
"var customer_name":"Customer Name",
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%shipping_name," shipping_name=$shipping_name()}}</p>
            <p>
                {{trans "%customer_name has ordered for you from %store_name." store_name=$store.getFrontendName() customer_name=$order.getCustomerName()}}
                {{trans "Your order is being processed.You will receive a confirmation when your order ships." |raw}}
            <br><br>
                {{trans 'If your order contains an eBook, please visit <a href="https://www.blue360media.com/">https://www.blue360media.com</a>. and click My eBooks from the My Account tab to access your eBook now.' |raw}}
                {{trans 'For more information on using or downloading an eBook, <a href="%account_url">click here.</a>' account_url=$this.getUrl($store,'ebook-instructions',[_nosid:1]) |raw}}
            </p>
        </td>
    </tr>
    
    {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend'
            template='Endeavor_MultipleShipping::email/orders/newpassword.phtml' email=$email}}
            
    <tr class="email-summary">
        <td>
            <h3>{{trans 'Your Order #<span class="no-link">%increment_id</span>' increment_id=$order.increment_id |raw}}</h3>
            <p>{{trans 'Placed on <span class="no-link">%created_at</span> ET' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-details">
                <tr>
                    {{depend isNotVirtual}}
                    <td class="address-details">
                        <h3>{{trans "Shipping Info"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                    
                    {{depend isNotVirtual}}
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{var shippingDescription}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                </tr>
            </table>
            {{layout handle="multishipping_email_order_items_noprice" order=$order area="frontend"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}