<!--@subject {{trans "Order Confirmation from  %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var customer.email":"Customer Email",
"var order.increment_id":"Order Id",
"var customer_name":"Customer Name",
"var shipping_msg":"Shipping message"
} @-->
    
{{template config_path="design/email/header_template"}}

{{layout handle="multishipping_email_order_items" orders=$orders ViewOrdersNumber="true" area="frontend"}}

<br><br>

<table border="0">
     <tr class="email-intro">
        <td>
            <p class="greeting">{{trans 'Hello %customer_name,' customer_name=$customer_name |raw}}</p>
            <p>
                {{trans "Thank you for your ordering from %store_name." store_name=$store.getFrontendName()}}
                {{trans "Your order is being processed. You will receive a confirmation when your order ships."|raw}}
            <br><br>
                {{trans "Once you receive your shipping confirmation, your eBook will be available on the My Account tab located at <a href='https://www.blue360media.com/'>https://www.blue360media.com</a>. "|raw}}
                {{trans 'Simply click the My eBooks link to access your eBook. For more information on eBooks, <a href="%ebookInstructions">click here.</a>' ebookInstructions=$this.getUrl($store,'ebookInstructions',[_nosid:1]) |raw}}
            </p>
        </td>
    </tr>

    <tr class="order-summary">
        <td>
            <h1>{{trans 'Your Order Details'}}</h1>
        </td>
    </tr>
    
    {{layout handle="multishipping_email_order_items" orders=$orders area="frontend"}}
    
</table>

<br>
{{template config_path="design/email/footer_template"}}