<?php
$blockObj = $block->getLayout()->createBlock('Endeavor\Account\Block\BundleProduct');
$bundleCollection = $blockObj->getProductBundle();
$bundleCollectionSelectOption = '';
$array = array();
foreach ($bundleCollection as $product) {
    $bundleCollectionSelectOption .= "\"" . $product->getData('name') . "\"" . ",";
    $array[$product->getData('name')] = $product->getData('publication_number');
}
?> 
<form class="form account"
      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
      id="account-form"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field organization-name required">
            <label class="label" for="organization-name"><span><?php /* @escapeNotVerified */ echo __('Organization Name') ?></span></label>
            <div class="control">
                <input name="organization-name" id="organization-name" title="<?php /* @escapeNotVerified */ echo __('Organization Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('organization-name') ?: $this->helper('Endeavor\Account\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Primary Contact Name') ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('name') ?: $this->helper('Endeavor\Account\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}" style="display: none !important;"/>
                <fieldset id="name-fieldset">
                    <legend></legend>
                    <div>First Name</div>   <input class="input-text" type="text" name="first-name" id="first-name" data-validate="{required:true}"><br>
                    <div class="items-margin">Last Name</div>   <input class="input-text" type="text" name="last-name" id="last-name" data-validate="{required:true}" >
                </fieldset>    
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Primary Contact Email') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Primary Contact Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('email') ?: $this->helper('Endeavor\Account\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone required">
            <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Primary Contact Phone') ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Primary Contact Phone') ?>" value="" class="input-text" type="number" data-validate="{required:true}" />
            </div>
        </div>
        <div class="field shipping required">
            <label class="label" for="shipping"><span><?php /* @escapeNotVerified */ echo __('Shipping Address') ?></span></label>
            <div class="control">
                <input name="shipping" id="shipping" title="<?php /* @escapeNotVerified */ echo __('Shipping') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('shipping')) ?>" class="input-text" type="text" data-validate="{required:true}" style="display: none !important;"/>
                <fieldset id="shipping-fieldset">
                    <legend></legend>
                    <div>Street Address</div>  <input class="input-text" type="text" name="shipping-street1" id="shipping-street1" data-validate="{required:true}"><br>
                    <input class="input-text" type="text" name="shipping-street2" id="shipping-street2" ><br>
                    <div class="items-margin">City</div> <input class="input-text" type="text" name="shipping-city" id="shipping-city" data-validate="{required:true}"><br>
                    <div class="items-margin">State</div>  
                    <select name="shipping-state" id="shipping-state" data-validate="{required:true}">
                        <option value="">Please select a state</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select><br>
                    <div class="items-margin">Zip/Postal Code</div> <input class="input-text" type="text" name="shipping-zip" id="shipping-zip" data-validate="{required:true}">
                </fieldset>
            </div>
        </div>
        <div class="field billing required">
            <label class="label" for="billing"><span><?php /* @escapeNotVerified */ echo __('Billing Address') ?></span></label>
            <div class="control">
                <input name="billing" id="billing" title="<?php /* @escapeNotVerified */ echo __('Billing') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('billing')) ?>" class="input-text" type="text" data-validate="{required:true}" style="display: none !important;"/>
                <fieldset  id="billing-fieldset">
                    <input id="checkbox-id" type="checkbox"> My billing and shipping address are the same<br>
                    <div class="items-margin">Street Address</div><input class="input-text" type="text" name="billing-street1" id="billing-street1" data-validate="{required:true}"><br>
                    <input class="input-text" type="text" name="billing-street2" id="billing-street2" ><br>
                    <div class="items-margin">City</div> <input class="input-text" type="text" name="billing-city" id="billing-city" data-validate="{required:true}"><br>
                    <div class="items-margin">State</div>
                    <select name="billing-state" id="billing-state" data-validate="{required:true}">
                        <option value="">Please select a state</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select><br>	
                    <div class="items-margin">Zip/Postal Code</div><input class="input-text" type="text" name="billing-zip" id="billing-zip" data-validate="{required:true}">
                </fieldset>
            </div>
        </div>
        <div class="field account required">
            <label class="label" for="account"><span><?php /* @escapeNotVerified */ echo __('Account Number') ?></span></label>
            <div class="control">
                <input name="account" id="account" title="<?php /* @escapeNotVerified */ echo __('Account Number') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('account')) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field publication1 required">
            <label class="label" for="publication1"><span><?php /* @escapeNotVerified */ echo __('Publication Name 1') ?></span></label>
            <div class="control">
                <input name="publication1" id="publication1" title="<?php /* @escapeNotVerified */ echo __('Publication Name 1') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('publication1')) ?>" class="input-text" type="text"  data-validate="{required:true}" onblure="formatPublicationData(this);"/>
                <input name="publication-number-1" id="publication-number-1" title="<?php /* @escapeNotVerified */ echo __('publication-number-1') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('publication-number-1')) ?>" class="input-text" type="text" style="display: none !important;"  />
            </div>
        </div>

        <div class="field publication2 ">
            <label class="label" for="publication2"><span><?php /* @escapeNotVerified */ echo __('Publication Name 2') ?></span></label>
            <div class="control">
                <input name="publication2" id="publication2" title="<?php /* @escapeNotVerified */ echo __('Publication Name 2') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('publication2')) ?>" class="input-text" type="text" />
                <input name="publication-number-2" id="publication-number-2" title="<?php /* @escapeNotVerified */ echo __('publication-number-2') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('publication-number-3')) ?>" class="input-text" type="text" style="display: none !important;"  />
            </div>
        </div>
        <div class="field publication3">
            <label class="label" for="publication3"><span><?php /* @escapeNotVerified */ echo __('Publication Name 3') ?></span></label>
            <div class="control">
                <input name="publication3" id="publication3" title="<?php /* @escapeNotVerified */ echo __('Publication Name 3') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('publication3')) ?>" class="input-text" type="text" />
                <input name="publication-number-3" id="publication-number-3" title="<?php /* @escapeNotVerified */ echo __('publication-number-3') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('publication-number-3')) ?>" class="input-text" type="text" style="display: none !important;"  />
            </div>
        </div>
        <div class="field people">
            <label class="label" for="people"><span><?php /* @escapeNotVerified */ echo __('Number of people in your organization') ?></span></label>
            <div class="control">
                <input name="people" id="people" title="<?php /* @escapeNotVerified */ echo __('Number of people in your organization') ?>" value="<?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('people')) ?>" class="input-text" type="number" data-validate="{'validate-number':true}" />
            </div>
        </div>
        <div class="field permission required">
            <label class="label" for="permission"><span><?php /* @escapeNotVerified */ echo __('Do we have permission to send you electronic invoices?') ?></span></label>
            <div class="control">
                <select name="permission" data-validate="{required:true}">
                    <option value=''>Please choose</option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                </select> 
            </div>
        </div>

        <div class="field subscribing required">
            <label class="label" for="subscribing"><span><?php /* @escapeNotVerified */ echo __('Do you want to continue receiving your publications with every update?') ?></span></label>
            <div class="control">
                <select name="subscribing" data-validate="{required:true}">
                    <option value=''>Please choose</option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                </select>            
            </div>
            <i data-html="true" id="tip" data-toggle="tooltip" title="Notify me when I need to update in future (no Automatic Shipments). <br>
               Keep my subscription up to date (Automatic Shipments). <br>
               By selecting automatic shipment, you will receive and be billed for future updates without any action on your part. <br>
               To learn about the number of updates in the prior year, or those expected in the upcoming year, please call Blue360&#x00B0; Media at  <b>1-844-599-2887</b>." 
               class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div class="field subscribing2 required">
            <label class="label" for="subscribing2"><span><?php /* @escapeNotVerified */ echo __('Do you want to continue receiving notifications on the publications with every update?') ?></span></label>
            <div class="control">
                <select name="subscribing2" data-validate="{required:true}">
                    <option value=''>Please choose</option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                </select>            
            </div>
            <i data-html="true" id="tip" data-toggle="tooltip" title="Notify me when I need to update in future (no Automatic Shipments). <br> 
               Keep my subscription up to date (Automatic Shipments). <br>
               By selecting automatic shipment, you will receive and be billed for future updates without any action on your part. <br>
               To learn about the number of updates in the prior year, or those expected in the upcoming year, please call Blue360&#x00B0; Media at  <b>1-844-599-2887</b>." 
               class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div class="field help ">
            <label class="label" for="help"><span><?php /* @escapeNotVerified */ echo __('Anything else we can help you with?') ?></span></label>
            <div class="control">
                <textarea name="help" id="help" title="<?php /* @escapeNotVerified */ echo __('Anything else we can help you with?') ?>" class="input-text" cols="5" rows="3"><?php echo $block->escapeHtml($this->helper('Endeavor\Account\Helper\Data')->getPostValue('help')) ?></textarea>
            </div>
        </div>
        <?php echo $block->getChildHtml('form.additional.info'); ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button onclick="formatAccountData()" type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
        </div>
    </div>
    <div class="loader"></div>
    <div class='footer-msg'>
        *Special offer does not apply to bookstores or other third party distributors. To qualify for a 50% discount, the purchase must be for a publication you have not ordered in the past. Applies to orders placed by May 15, 2017.
    </div>
</form>

<script>
    $(function () {
        $(document).tooltip({
            content: function () {
                var element = $(this);
                if (element.is("i[title]")) {
                    return element.attr("title");
                }

            },
            position: {my: "left bottom-3", at: "center top"},
//            open: function (event, ui) {
//                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
//                    ui.tooltip.css("max-width", "90%");
//                } else {
//                    ui.tooltip.css("max-width", "40%");
//                }
//            }

        });
    });
    $(document).ready(function () {
        $('button').click(function(){
            $('.loader').show();
        });
        $('#checkbox-id').click(function () {
            // access properties using this keyword
            if (this.checked) {
                // if checked ...
                $('#billing-street1').val($('#shipping-street1').val());
                $('#billing-street2').val($('#shipping-street2').val());
                $('#billing-city').val($('#shipping-city').val());
                $('#billing-state').val($('#shipping-state').val());
                $('#billing-zip').val($('#shipping-zip').val());

            }
        });
    });

    var publicationIds = [];
<?php
foreach ($array as $name => $id) {
    echo 'publicationIds["' . $name . '"] = "' . $id . '";';
}
?>

    function formatAccountData() {
        var publicationName1 = $('#publication1').val();
        if (publicationIds[publicationName1]) {
            $('#publication-number-1').val(publicationIds[publicationName1]);
        }
        var publicationName2 = $('#publication2').val();
        if (publicationIds[publicationName2]) {
            $('#publication-number-2').val(publicationIds[publicationName2]);
        }
        var publicationName3 = $('#publication3').val();
        if (publicationIds[publicationName3]) {
            $('#publication-number-3').val(publicationIds[publicationName3]);
        }
        var nameContact = $('#first-name').val() + ' ' + $('#last-name').val();
        $('#name').val(nameContact);
        var street2 = $('#shipping-street2').val().trim();
        var spacer = '';
        if (street2.length > 1) {
            spacer = ' ';
        }
        var textShipping = $('#shipping-street1').val() + spacer + street2 + ', ' +
                $('#shipping-city').val() + ', ' + $('#shipping-state option:selected').text() + ', ' +
                $('#shipping-zip').val();


        street2 = $('#billing-street2').val().trim();
        spacer = '';
        if (street2.length > 1) {
            spacer = ' ';
        }
        var textBilling = $('#billing-street1').val() + spacer + street2 + ', ' +
                $('#billing-city').val() + ', ' + $('#billing-state option:selected').text() + ', ' +
                $('#billing-zip').val();

        $('#billing').val(textBilling);
        $('#shipping').val(textShipping);
    }

    $(function () {
        var availableBundles = [
<?php echo $bundleCollectionSelectOption ?>
        ];
        $("#publication1").autocomplete({
            source: availableBundles,
            minLength: 0,
            scroll: true
        }).focus(function () {
            $(this).autocomplete("search", "");
        });
        $("#publication2").autocomplete({
            source: availableBundles,
            minLength: 0,
            scroll: true
        }).focus(function () {
            $(this).autocomplete("search", "");
        });
        $("#publication3").autocomplete({
            source: availableBundles,
            minLength: 0,
            scroll: true
        }).focus(function () {
            $(this).autocomplete("search", "");
        });
    });
</script>