<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store,'downloadable/customer/products/')":"Downloadable Products Page URL",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var customer.email":"Customer Email",
"var order.increment_id":"Order Id",
"var order.sf_order_id":"Salesforce Order Id",
"var customer_name":"Customer Name",
"var shipping_msg":"Shipping message"
} @-->
    
{{template config_path="design/email/header_template"}}
 
<table  border="0">
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans '%customer_name,' customer_name=$customer_name |raw}}</p>
            <p>
                {{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}
                <br>
        </td>
    </tr>
    
    {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' 
            template='Endeavor_Sales::email/shipment/newpassword.phtml' order=$order}}

    <tr>
        <td>
            <p>
                {{trans 'You can check the status of your order by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'downloadable/customer/products/',[_nosid:1]) |raw}}
            </p>
            <p>
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                    {{trans 'We are available <span class="no-link">%store_hours</span> hours per day.' store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr>
    <tr class="order-summary">
        <td>
            <h1>{{trans 'Your Order Details'}}</h1>
        </td>
    </tr>
    <tr class="order-summary">
        <td>
            <h3>{{trans 'Your Order Number: <span class="no-link">%increment_id</span> / <span class="no-link">%sf_order_id</span>' increment_id=$order.increment_id sf_order_id=$order.sf_order_id |raw}}</h3>
            <p>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-details">
                <tr>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{var order.getShippingDescription()}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                </tr>
            </table>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
        </td>
    </tr>
</table>

<br>
{{template config_path="design/email/footer_template"}}