<!--@subject {{trans "Your subscription is about to ship: %publication_title, (formerly a LexisNexis publication)" publication_title=$publication_title}} @-->
<!--@vars {
"var this.getUrl($store,'downloadable/customer/products/')":"Downloadable Products Page URL",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var customer.email":"Customer Email",
"var order.increment_id":"Order Id",
"var order.sf_order_id":"Salesforce Order Id",
"var customer_name":"Customer Name",
"var publication_title":"Publication Title",
"var shipping_msg":"Shipping message"
} @-->
 
{{template config_path="design/email/header_template"}}
<table>
    <tr class="auto-ship-intro">
        <td>    
            <p class="greeting">{{trans '%customer_name,' customer_name=$customer_name |raw}}</p>
            <p>
                {{trans 'We are excited to inform you that <a href="%base_url">%store_name</a> has acquired more than 150 Law Enforcement publications,' store_name=$store.getFrontendName() base_url=$this.getUrl($store,'/') |raw}}
                {{trans 'including %publication_title, from LexisNexis.' publication_title=$publication_title}}
                {{trans ' Our records indicate that you receive this publication automatically with each release, and your new edition is on the way and will be shipped within the next 2 weeks.' |raw}}
            </p> 
        </td>
    </tr>

    <tr class="auto-ship-intro">
        <td>
            <br>
            <p>
                {{if is_contains_ebooks}}
                    {{trans 'Your eBook will be available for download at <a href="%base_url">www.blue360media.com</a>.' base_url=$this.getUrl($store,'/') |raw}}
                {{/if}}
                {{trans 'You can check the status of your order by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'downloadable/customer/products/',[_nosid:1]) |raw}}
            </p> 
        </td>
    </tr>

    {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' 
        template='Endeavor_Sales::email/shipment/newpassword.phtml' order=$order}}
        
    {{if is_contains_ebooks}}
        <tr>
            <td>
                <center>
                <p>
                    {{trans "Note: Your eBook will display as “pending” until the latest version of the eBook has been released."}}
                    {{trans "For more information on using or downloading an eBook,"}}
                    <a href="{{var this.getUrl($store,'ebook-instructions'}}">click here.</a>
                    <br>
                </p>
                </center>
            </td>
        </tr>
    {{/if}}
    <br>
    <tr class="order-summary">
        <td>
            <h1>{{trans 'Your Order Details'}}</h1>
        </td>
    </tr>
    <tr class="order-summary">
        <td>
            <h3>{{trans 'Your Order Number: <span class="no-link">%increment_id</span> / <span class="no-link">%sf_order_id</span>' increment_id=$order.increment_id sf_order_id=$order.sf_order_id |raw}}</h3>
            <p>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    {{layout handle="sales_email_order_items" order=$order area="frontend"}}
    <br>
    <tr>
        <td>
            <p>
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
            </p>
        </td>
    </tr>

</table>

<br>
{{template config_path="design/email/footer_template"}}