<!--@subject {{trans "Your Pre-Order Publication Information %publicationNumber" publicationNumber=$publicationNumber}} @-->
 
{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td>
            <p class="greeting">{{trans ' You Publication Number: %publicationNumber:%releaseNumber' publicationNumber=$publicationNumber releaseNumber=$releaseNumber |raw}}</p>
        </td>
    </tr>
    <tr class="preOrder-intro">
        <td>    
            <p>
                {{trans "The following order number fail:<br> %fail" fail=$fail |raw}}
            </p> 
        </td>
    </tr>
    <tr class="preOrder-intro">
        <td>    
            <p>
                {{trans "The following order number Success:<br> %success" success=$success |raw}}
            </p> 
        </td>
    </tr>
    <tr class="preOrder-intro">
        <td>    
            <p>
                {{trans "The following Updated Purchase Links SQL Result:<br> %updatedPurchaseResult" updatedPurchaseResult=$updatedPurchaseResult |raw}}
            </p> 
        </td>
    </tr>

</table>

<br>
{{template config_path="design/email/footer_template"}}