.form-payment #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.fieldset>.credit-card-information>.field.required>.label:after, .fieldset>.credit-card-information>.fields>.field.required>.label:after, .fieldset>.credit-card-information>.field._required>.label:after, .fieldset>.credit-card-information>.fields>.field._required>.label:after{
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
.fieldset>.billing-information>.field.required>.label:after, .fieldset>.billing-information>.fields>.field.required>.label:after, .fieldset>.billing-information>.field._required>.label:after, .fieldset>.billing-information>.fields>.field._required>.label:after{
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
.fieldset>.credit-card-information>.field.exparation-date:after{
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
@media(max-width: 650px) {
    .form-payment #credit_cards {
        width: 100%;
    }
    .form-payment #credit_cards {
        text-align: left;
    }
}
@media screen and (max-width :790px) and (min-width :620px)  {
    .credit-card-information{
        width: 100% !important;
        float: none !important;
    }
    .billing-information{
        width: 100% !important;
        float: none !important;
    }
    .primary{
        float: none !important;
    }
}
@media screen and (max-width :619px)  {
    .container-fluid{
        width: 100% !important;
        float: none !important;
    }
    .payment-details{
        width: 100% !important;
        float: none !important;
    }
    .credit-card-information{
        width: 100% !important;
        float: none !important;
    }
    .billing-information{
        width: 100% !important;
        float: none !important;
    }
    .primary{
        float: none !important;
    }
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.billing-information>.popup:before{
    color: #333333;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: inherit;
    color: #bbbbbb;
    content: '\e623';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.billing-information>.popup:hover:before {
    color: #333333;
}
@media screen and (min-width: 619px) and (max-width: 991px) {
    .payment-details-invoice>.minicart-items>.minicart-items-wrapper>.minicart-items>.product-item>.product>.product-image-container{
        width: 70%;
        float: none;
    }
    .payment-details-invoice>.minicart-items>.minicart-items-wrapper>.minicart-items>.product-item>.product>.product-item-details{
        float: none;
        padding-left: 0px;
    }
}
@media screen and (min-width:1199px) {
    .payment-details-invoice>.minicart-items>.minicart-items-wrapper>.minicart-items>.product-item>.product>.product-item-details{
        padding-left: 40%;
    }
}