<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
	<div class="shipping-address-item-data">
		<a class="address-name" data-bind="click: toggleAddressByName()">
			<span>
				<!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko --> <!-- ko text: address().middlename --><!-- /ko --><!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko -->
			</span>
		</a>
		<div class="address-data" data-bind="visible: showAddressData">
			<!-- ko text: _.values(address().street).join(", ") --><!-- /ko --><br/>
			<!-- ko text: address().city --><!-- /ko -->, <span data-bind="html: address().region"></span> <!-- ko text: address().postcode --><!-- /ko --><br/>
			<!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/>
			<!-- ko if: (address().telephone) -->
			<a data-bind="text: address().telephone, attr: {'href': 'tel:' + address().telephone}"></a>
			<!-- /ko --><br/>
			<!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
				<!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
					<!-- ko if: (typeof element[attribute] === "object") -->
						<!-- ko text: element[attribute].value --><!-- /ko -->
					<!-- /ko -->
					<!-- ko if: (typeof element[attribute] === "string") -->
						<!-- ko text: element[attribute] --><!-- /ko -->
					<!-- /ko --><br/>
				<!-- /ko -->
			<!-- /ko -->
		</div>
	</div>
	<div class="address-ship-here">
		<button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item primary">
			<span data-bind="i18n: 'SHIP HERE'"></span>
		</button>
	</div>
</div>
