<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>
<div class="page-title-wrapper">
    <h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper">Contact Us</span>    </h1>
    </div>
<div class="page messages"><div data-placeholder="messages"></div>
<div data-bind="scope: 'messages'">
    <!-- ko if: cookieMessages && cookieMessages.length > 0 --><!-- /ko -->
    <!-- ko if: messages().messages && messages().messages.length > 0 --><!-- /ko -->
</div>

</div><div class="columns"><div class="column main"><input name="form_key" type="hidden" value="22ltjBqv8Hpa5Bxq"><div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;">
    <script>
        window.authenticationPopup = {"autocomplete":"off","customerRegisterUrl":"http:\/\/18.219.227.98\/customer\/account\/create\/","customerForgotPasswordUrl":"http:\/\/18.219.227.98\/customer\/account\/forgotpassword\/","baseUrl":"http:\/\/18.219.227.98\/"};
    </script>
    <!-- ko template: getTemplate() -->


<!-- /ko -->
    
</div>




<form class="form contact" action="http://127.0.0.1/magento222/restapi/contactus/" id="contact-form" method="post" data-hasrequired="* Required Fields" novalidate="novalidate">
    <fieldset class="fieldset">
        <legend class="legend"><span>Write Us</span></legend><br>
        <div class="field note no-label">Jot us a note and we’ll get back to you as quickly as possible.</div>
        <div class="field name required">
            <label class="label" for="name"><span>Name</span></label>
            <div class="control">
                <input name="name" id="name" title="Name" value="" class="input-text" type="text" data-validate="{required:true}" aria-required="true">
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span>Email</span></label>
            <div class="control">
                <input name="email" id="email" title="Email" value="" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
            </div>
        </div>
        <div class="field telephone">
            <label class="label" for="telephone"><span>Phone Number</span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="Phone Number" value="" class="input-text" type="text">
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="comment"><span>What’s on your mind?</span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="What’s on your mind?" class="input-text" cols="5" rows="3" data-validate="{required:true}" aria-required="true"></textarea>
            </div>
        </div>
            </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="">
            <button type="submit" title="Submit" class="action submit primary">
                <span>Submit</span>
            </button>
        </div>
    </div>
</form>
</div></div></main>