<?php
  
?>
<?php
/**
 * Career recent jobs widget
 *
 * @var $block \Endeavor\Career\Block\Widget\Recent
 */
?>

<?php
    $_jobCollection = $block->getJobCollection();
?>
<?php if ($_jobCollection->count()) { ?>
<div class="job-list-wrapper career-widget-recent">
    <h3 class="title"><?php echo $block->escapeHtml($block->getTitle()) ?></h3>
    <ul class="job-list clearfix">
        <?php foreach ($_jobCollection as $_job) { ?>
            <?php
                $_jobUrl = $_job->getJobUrl();
                $_jobName = $block->escapeHtml($_job->getTitle(), null, true);
            ?>
            <li class="job-holder job-holder-<?php echo $_job->getId() ?>">
                <div class="job-header">

                    <div class="job-title-holder clearfix">
                        <div class="job-title">
                            <a class="job-item-link"
                               href="<?php echo $_jobUrl ?>">
                                <?php echo $_jobName; ?>
                            </a>
                        </div>
                    </div>

                    <div class="job-info clear">
                        <div class="item job-posed-date">
                            <span class="label"><?php echo __('Added Date:') ?></span>
                            <span class="value"><?php echo $_job->getPublishDate('F d, Y') ?></span>
                        </div>
                        <?php if ($_categoriesCount = $_job->getCategoriesCount()) { ?>
                        <div class="dash">|</div>
                        <div class="item job-categories">
                            <span class="label"><?php echo __('Categories:') ?></span>
                            <?php $n = 0; foreach($_job->getParentCategories() as $ct) { $n++; ?>
                                <a title="<?php echo $block->escapeHtml($ct->getTitle()) ?>" href="<?php echo $ct->getCategoryUrl() ?>"><?php echo $block->escapeHtml($ct->getTitle()) ?></a>
                                <?php if ($n != $_categoriesCount) { ?>, <?php } ?>
                            <?php } ?>
                        </div>
                        <?php } ?>
                    </div>
                </div>

                <div class="job-content">
                    <div class="job-description clearfix">
                        <?php if ($featuredImage = $_job->getFeaturedImage()) { ?>
                        <div class="job-ftimg-hld">
                            <a href="<?php echo $_jobUrl ?>" title="<?php echo $_jobName ?>">
                                <img src="<?php echo $featuredImage ?>" alt="<?php echo $_jobName ?>" />
                            </a>
                        </div>
                        <?php } ?>
                        <div class="job-text-hld clearfix">
                            <?php echo $block->getShorContent($_job) ?>
                        </div>
                        <a class="job-read-more" href="<?php echo $_jobUrl ?>" title="<?php echo $_jobName ?>"
                           >
                           <?php echo __('Read more &#187;') ?>
                        </a>
                    </div>
                </div>
                <div class="job-footer">

                </div>
            </li>

        <?php } ?>
    </ul>
</div>
<?php } ?>