/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Preorder
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.wk-loading-mask {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.62);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.wk-loader {
    background: url("../images/ajax-loader.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
}

.wk-display-none {
    display: none !important;
}
.wk-preorder-complete.action.primary {
    font-size: 12px;
    margin-top: 15px;
}

.wk-pay-preorer-amount {
    color: #3c763d;
    font-size: 15px;
    font-weight: bold;
}

.wk-msg-box {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.wk-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.wk-info {
    color: #31708f;
    background-color: #d9edf7;
    clear: both;
}

.wk-availability-block {
    font-size: 20px;
}

.wk-date-title {
    font-weight: bold;
    margin-right: 5px;
}

.wk-msg-box.wk-cat-msg-box.wk-info.wk-pay-preorer-amount {
    border-radius: 0;
    margin-bottom: 20px;
    padding: 8px;
}
.wk-info.wk-msg-box{
    padding: 7px 7px;
    font-weight: bold;
    background-color: #227fbb;
    color: white;
}
.wk-info{
    padding: 7px 7px;
    font-weight: bold;
    background-color: #227fbb;
    color: white;
}