<?php
/**
 * Copyright © 2015 listingcommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Listing\Restapi\Block\Categories\Index
 */


echo $block->hello;
?>
<br/>
update content from Restapi\view\frontend\templates\categories\index.phtml