<?php
/**
 * @category    CleverSoft
 * @package     CleverSocialLogin
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php
/**
 * Customer login form template
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<?php
?>
<div class='message-customers-login'>
    <span style="font-family : Montserrat;color : #00738C;"><?php echo __('SIGN IN FOR REGISTERED CUSTOMERS')?></span>
</div>
<div class="block-customer-login">
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <div class="login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                <div class="email required">
                    <div class="control">
                        <input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" placeholder="<?php /* @escapeNotVerified */ echo __('Email *') ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="password required">
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" placeholder="<?php /* @escapeNotVerified */ echo __('Password *') ?>" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true, 'validate-password':true}">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <a class="action remind forgot-pass" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>" style="text-decoration: none;"><span style="font-family : Montserrat;color : #00738C;"><?php /* @escapeNotVerified */ echo __('forgot your Password?') ?></span></a>
                <button type="submit" class="btn action login" name="send" id="send2" style="border-radius: unset;"><span style="font-family : Montserrat;"><?php /* @escapeNotVerified */ echo __('Login') ?></span></button>
            </div>
        </form>
    </div>
</div>
<?php
	$openPopup = $this->helper('CleverSoft\CleverSocialLogin\Helper\Data'); 
?>
<script>
	require(["jquery"], function ($) {
            
		$(document).ready(function () {  
			<?php if($openPopup->positionButtonsLogin() == 'top'): ?> 
			$('#zoo-main-content .pslogin-login-form ').append('<p class="hr-login"><span><?php /* @escapeNotVerified */ echo __('Or'); ?></span></p>');
			<?php endif; ?>

		})
	});
</script>

