<?php
/** @var \ParadoxLabs\TokenBase\Block\Form\Cc $block */
// @codingStandardsIgnoreFile

$code           = $block->escapeQuote($block->getMethodCode());
$image          = $block->getBrandingImage();
$storedCards    = $block->getStoredCards();
?>
<fieldset class="fieldset items <?php echo $code ?>" id="payment_form_<?php echo $code ?>" style="display:none;"
          data-mage-init='{"tokenbaseForm":{"code":"<?php echo $code ?>"}}'>
    <?php if ($image): ?>
        <div class="sorter">
            <img src="<?php echo $block->escapeUrl($image); ?>" />
        </div>
    <?php endif; ?>
    <?php if ($block->haveStoredCards()): ?>
        <div class="field">
            <label for="<?php echo $code ?>-card-id" class="label"><span><?php echo $block->escapeHtml(__('Payment Information')) ?></span></label>
            <div class="input-box">
                <select id="<?php echo $code ?>-card-id" name="payment[card_id]">
                    <?php /** @var \ParadoxLabs\TokenBase\Model\Card $card */ ?>
                    <?php foreach ($storedCards as $card): ?>
                        <?php $card = $card->getTypeInstance(); ?>
                        <option value="<?php echo $block->escapeQuote($card->getHash()) ?>" <?php if ($card->getId() == $block->getInfoData('tokenbase_id') || count($storedCards) == 1): ?>selected="selected"<?php endif; ?>>
                            <?php echo $block->escapeHtml($card->getLabel()) ?>
                        </option>
                    <?php endforeach; ?>
                    <option value=''><?php echo $block->escapeHtml(__('Add new card')) ?></option>
                </select>
            </div>
        </div>
    <?php endif; ?>
    <div class="field name required hide-if-card-selected">
        <label for="<?php echo $code ?>-echeck-account-name" class="label"><span><?php echo $block->escapeHtml(__('Name on Account')) ?></span></label>
        <div class="control">
            <input type="text" id="<?php echo $code ?>-echeck-account-name" name="payment[echeck_account_name]"
                   title="<?php echo $block->escapeQuote(__('Name on Account')) ?>" class="input-text" maxlength="22"
                   value="<?php echo $block->escapeQuote($block->getInfoData('echeck_account_name')); ?>"
                   data-validate='{required:true}' />
        </div>
    </div>
    <div class="field name required hide-if-card-selected">
        <label for="<?php echo $code ?>-echeck-bank-name" class="label"><span><?php echo $block->escapeHtml(__('Bank Name')) ?></span></label>
        <div class="control">
            <input type="text" id="<?php echo $code ?>-echeck-bank-name" name="payment[echeck_bank_name]"
                   title="<?php echo $block->escapeQuote(__('Bank Name')) ?>" class="input-text" maxlength="50" autocomplete="off"
                   value="<?php echo $block->escapeQuote($block->getInfoData('echeck_bank_name')); ?>"
                   data-validate='{required:true}' />
        </div>
    </div>
    <div class="field number required hide-if-card-selected">
        <label for="<?php echo $code ?>-echeck-routing-number" class="label"><span><?php echo $block->escapeHtml(__('Routing Number')) ?></span></label>
        <div class="control">
            <input type="number" id="<?php echo $code ?>-echeck-routing-number" name="payment[echeck_routing_no]"
                   title="<?php echo $block->escapeQuote(__('Routing Number')) ?>" class="input-text minimum-length-9" maxlength="9"
                   value="<?php echo $block->escapeQuote($block->getInfoData('echeck_routing_no')); ?>" autocomplete="off"
                   data-validate='{"required-number":true,"validate-length":true}' />
        </div>
    </div>
    <div class="field number required hide-if-card-selected">
        <label for="<?php echo $code ?>-echeck-account-number" class="label"><span><?php echo $block->escapeHtml(__('Account Number')) ?></span></label>
        <div class="control">
            <input type="number" id="<?php echo $code ?>-echeck-account-number" name="payment[echeck_account_no]"
                   title="<?php echo $block->escapeQuote(__('Account Number')) ?>" class="input-text minimum-length-5 maximum-length-17"
                   value="<?php echo $block->escapeQuote($block->getInfoData('echeck_account_no')); ?>" maxlength="17"
                   data-validate='{"required-number":true,"validate-length":true}' autocomplete="off" />
            <?php $expln    = __('On the bottom of your checks, you will see three groups of numbers. Usually the first one is your routing number, and the second is your account number.'); ?>
            <?php $image    = $block->escapeUrl($block->getViewFileUrl('ParadoxLabs_TokenBase::images/ach.png')); ?>
            <?php $alt      = $block->escapeQuote(__('Visual reference for locating routing number and account number on a check')); ?>
            <?php $tooltip  = '<p>'.$expln.'</p><img src="'.$image.'" alt="'.$alt.'" />'; ?>
            <div class="note">
                <a href="#" class="action cvv" title="<?php echo $block->escapeQuote(__('What is this?')) ?>"
                   data-mage-init='{"tooltip": {"content": "<?php echo addslashes($tooltip) ?>"}}'>
                    <span><?php echo $block->escapeHtml(__('Where do I find these numbers?')) ?></span>
                </a>
            </div>
        </div>
    </div>
    <div class="field type required hide-if-card-selected">
        <label for="<?php echo $code ?>-echeck-account-type-checking" class="label"><span><?php echo $block->escapeHtml(__('Account Type')) ?></span></label>
        <?php $typeValue = ($block->getInfoData('echeck_account_type') != '') ? $block->getInfoData('echeck_account_type') : 'checking'; ?>
        <?php foreach ($block->getHelper()->getAchAccountTypes() as $k => $v): ?>
            <div class="control">
                <input type="radio" name="payment[echeck_account_type]"
                       id="<?php echo $code ?>-echeck-account-type-<?php echo $block->escapeQuote($k); ?>"
                       value="<?php echo $block->escapeQuote($k); ?>" <?php if ($k == $typeValue): ?>checked="checked"<?php endif ?>
                       data-validate='{"validate-one-required-by-name":true}' />
                <label for="<?php echo $code ?>-echeck-account-type-<?php echo $block->escapeQuote($k); ?>"><?php echo $block->escapeHtml($v); ?></label>
            </div>
        <?php endforeach ?>
    </div>

    <?php echo $block->getChildHtml(); ?>
    <?php if (!$block->isGuestCheckout()): ?>
        <div class="field save hide-if-card-selected">
            <div class="control">
                <?php if ($block->getMethod()->getConfigData('allow_unsaved')): ?>
                    <input type="hidden" name="payment[save]" value="0" />
                    <input type="checkbox" title="<?php echo $block->escapeQuote(__('Save for next time')) ?>" class="input-checkbox" id="<?php echo $code ?>_save" name="payment[save]" value="1" <?php if ($block->getMethod()->getConfigData('savecard_opt_out') && $block->getInfoData('save') !== 0): ?>checked="checked"<?php endif; ?> />
                    <label for="<?php echo $code ?>_save"><?php echo $block->escapeHtml(__('Save for next time')) ?></label>
                <?php else: ?>
                    <input type="hidden" name="payment[save]" value="1" />
                    <label class="label" for="<?php echo $code ?>_save"><?php echo $block->escapeHtml(__('For your security, Blue360 Media does not store your credit card information. This data is stored by an authorized credit card processor.')) ?></label>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
</fieldset>
