<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
 
$full_header_width = $block->getData('full_header_width');
$compareHeader = $block->getData('compare');
$wishlistHeader = $block->getData('wishlist');
$sticky_logo = $block->getConfig('cleversoftbase/header/sticky_logo');
$logoSrc = $block->getMediaUrl().'wysiwyg/cleversoft/logo/'.$sticky_logo;
?>

<div class="panel wrapper">

</div>
<div class="header-content <?php echo ($full_header_width == 1 ? '' : 'container')?>" id="header-sticky-mobile">
    <span data-action="toggle-nav" class="action zoo-menu-label">
        <span class="cs-font clever-icon-menu-5"></span>
    </span>
    <div class="header-minimal-search visible-xs visible-sm">
        <span class="cs-font clever-icon-search-4"></span>
    </div>
    <div class="full-sc-search visible-xs visible-sm">
        <span class="cs-font clever-icon-close"></span>
        <?php echo $this->getChildHtml("top.search"); ?>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-xs-12 col-md-2 logo-container">
                <?php echo $this->getChildHtml("logo"); ?>
        </div>
        <div class="menu-main-home col-xs-12 col-md-9">
            <div class="header-panel">
                <div class="topbar-container">
                    <div class="d-sm-flex align-items-center justify-content-end">
                        <?php echo $this->getChildHtml("currency"); ?>
                        <?php echo $this->getChildHtml("store_language"); ?>
                        <?php echo $this->getLayout()->createBlock('CleverSoft\Theme\Block\AuthorizationLink')->setTemplate('Magento_Customer::account/link/authorization_header_layout_2.phtml')->toHtml(); ?>
                        <?php if ($wishlistHeader) echo $this->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link_header_layout_2.phtml')->toHtml(); ?>
                        <?php if ($compareHeader) echo $this->getChildHtml("compare_link"); ?>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
            </div>

            <div class="top-menu hidden-sm hidden-xs" id="zoo-sticky-header">
                    <div class="d-flex justify-content-end align-items-center zoo-menu-content">
                        <?php if (isset($sticky_logo)) : ?>
                        <div class="logo-sticky">
                            <?php if ($block->isHomePage()):?>
                            <strong>
                                <?php else: ?>
                                <a href="<?php echo $block->getUrl(''); ?>">
                                    <?php endif ?>
                                    <img src="<?php echo $logoSrc; ?>" width="<?php
                                    if (($block->getConfig('cleversoftbase/header/sticky_logo_width'))){
                                        echo $block->getConfig('cleversoftbase/header/sticky_logo_width');
                                    }  ?>" height="auto"/>
                                    <?php if ($block->isHomePage()):?>
                            </strong>
                        <?php else:?>
                            </a>
                        <?php endif?>
                        </div>
                        <?php endif?>
                        <div class="main-menu"><?php echo $this->getChildHtml("main.menu"); ?></div>
                        <div class="zoo-header-user d-flex align-items-center">
                            <?php echo $this->getChildHtml("header.links"); ?>
                            <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
                            <?php if ($compareHeader) echo $this->getChildHtml("compare_link"); ?>
                            <?php echo $this->getChildHtml("minicart"); ?>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-1 header-cart-container">
            <?php echo $this->getChildHtml("minicart"); ?>
        </div>
    </div>
</div>