.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.post-holder {
    /* padding-bottom: 20px; */
    /* margin-bottom: 20px; */
    /* background: #f5f5f5; */
    /* padding: 20px; */
}

.post-holder:hover {
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.post-holder .post-header {position:relative; box-shadow: none !important; transition: none !important;}

.post-holder .post-header .post-info {padding: 0 0 10px 0;}
.post-holder .post-header .post-info .item,
.post-holder .post-header .post-info .dash {display: inline-block;}
.post-holder .post-header .post-info .label {font-weight: 700;}
.post-holder .post-header .post-info .value {font-style: italic; color: #666666;}

.post-holder .post-header .post-info {position: static !important; border: none !important;}
.post-list {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.post-list .post-content .post-read-more {padding-top:10px; float:right;}

.aboutus-category-view .category-content {padding-left: 40px;}

.post-content .post-description ul,
.post-content .post-description ol {list-style-position: inside;}

.post-content .post-description .post-ftimg-hld {float: left; margin: 0 15px 0 15px; width: 33%}
.post-content .post-description .post-ftimg-hld img {width:100%; padding:0px; margin:0px;}
@media (max-width: 496px) {
    .post-content .post-description .post-ftimg-hld {width: 100%; margin:0px;}
}

.post-list .post-header .post-title {max-width:80%;}
.post-list .post-header .post-title a {
    text-decoration: none;
    font-size: 22px;
    color: #636363;
}

.post-list .post-header .post-title {
    margin: 0px;
    padding: 10px 0;
    float:left;
}

.post-list .post-holder .post-header .addthis_toolbox {float: right; padding-top: 20px;}
.post-list .hidden {display:none;}

.post-view .post-holder .post-header .addthis_toolbox {float: right;}
.post-view .post-bottom {margin-top:30px;}

.post-view .post-nextprev-hld  {margin-bottom: 30px;}
.post-view .post-nextprev-hld .nextprev-link {font-weight: 700;}
.post-view .post-nextprev-hld .prev-link {float:left}
.post-view .post-nextprev-hld .next-link {float:right}

.post-view .block {margin-bottom: 30px;}

.widget.block-recent-posts .block-content .item {
    padding: 8px 0 0px 0px;
}

.widget.block-categories ul {
    list-style: initial;
    padding-left:0px;
}

.widget.block-categories ul ul {
    margin-left:20px;
}

.widget.block-categories ul,
.widget.block-categories li {
    margin: 5px 0 5px 9px;
    padding: 0px;
}

.widget.block-rss .rss-icon {float: left; width: 23px; padding-right: 10px;}


.widget.aboutus-search {
    width:100%;
    margin-bottom: 40px;
    position: relative;
    float: right;
    padding-left: 15px;
    z-index: 4;
}

.widget.aboutus-search .block-content {
    margin-bottom: 0;
}

.widget.aboutus-search  label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.widget.aboutus-search .control {
    border-top: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.widget.aboutus-search input {
    position: static;
    padding-right: 35px;
    margin: 0;
    left: -300%;
}

.widget.aboutus-search .action.search {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}

.widget.aboutus-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.widget.aboutus-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Tag claud widget */
.widget.block-tagclaud .smallest{font-size: 0.75em}
.widget.block-tagclaud .small{font-size:1em}
.widget.block-tagclaud .medium{font-size:1.25em}
.widget.block-tagclaud .large{font-size:1.5em}
.widget.block-tagclaud .largest{font-size:2em}

.aboutus-widget-recent .post-list {
    padding: 0px;
    margin: 0px;
}

.aboutus-widget-recent .post-holder {
    width: 29%;
    float: left;
    margin: 5px;
}

.aboutus-widget-recent .post-description .post-text-hld {
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
}

.aboutus-widget-recent-masonry .post-description .post-text-hld {
    max-height: none;
    min-height: 0;
}
.aboutus-widget-recent-masonry .post-description .post-ftimg-hld {
    width: 100%;
    margin: 0px;
}

.mfaboutus-autoloader {text-align: center;}
.mfaboutus-autoloader .mfaboutus-show-onload {display: none;}


@media (max-width: 420px) {
    #mfaboutus_gcomments {max-width:345px; overflow-y: scroll;}
}
.post-view .post-holder .post-content .post-description .post-text-hld{
    margin: 4%;
    color: black;
}
.post-view .post-holder{
    background-color: #fdfdfd;
}
.post-info .post-categories a{
    color:#666666;
}
.post-info .post-categories a:hover{
    color:#1979c3;
}

.Archive-Menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
}

.Archive-Menu ul li {
    display: block;
    position: relative;
    float: left;
    background: white;
}
.Archive-Menu ul li ul{
    top: 90%;
    left: -25%;
    z-index: 100;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
/* This hides the dropdowns */
.Archive-Menu li ul { display: none; }

.Archive-Menu ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: black;
}

.Archive-Menu ul li a:hover { color: #227fbb; }

/* Display the dropdown */
.Archive-Menu li:hover > ul {
    display: block;
    position: absolute;
}

.Archive-Menu li:hover li { float: none; }

.Archive-Menu li:hover a { background: #white; }

.Archive-Menu li:hover li a:hover { background: #white; }

.Archive-Menu .accordion li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */

.Archive-Menu ul ul ul {
    left: 100%;
    top: 0;
}

/* Simple clearfix */

.Archive-Menu ul:before,
.Archive-Menu ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */

}

.Archive-Menu ul:after { clear: both; }

.post-view .post-holder .post-content .post-description .post-text-hld a:hover{
    color: black;
}
.post-view .post-holder{
    position:relative;
}

.post-list .post-holder .post-header .post-content .post-description .post-text-hld{
    color: black;
    padding: 5%;
}
.post-list .post-holder .post-header .post-content .post-description .post-text-hld a:hover{
    color: black;
}
.post-list .post-holder .post-header .post-title-holder .post-info .post-posed-date{
    position: absolute;
    top: 93%;
}

.post-list .post-holder .post-header .post-title-holder .post-info .post-categories{
    position: absolute;
    top: 93%;
    padding-left: 38%;
}

.footer-top-col-group .col-md-8,.col-md-6 .zoo-footer-social-links.style-2 li a {
    color: #fff !important;
    background-color: #d3d1d1 !important;
    border-color: #d3d1d1 !important;
}
.footer-top-col-group .col-md-8,.col-md-6 .zoo-footer-social-links li a {
    width: 35px;
    height: 35px;
    border: 2px solid #666;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}
.footer-top-col-group .col-md-8,.col-md-6 .zoo-footer-social-links li {
    padding-right: 15px;
}
.footer-top-col-group .col-md-8,.col-md-6 .zoo-footer-social-links li {
    display: inline-block;
}

.footer-top-col-group .col-md-6,.col-md-8 ul li {
    margin: 0;
}
.footer-top-col-group .col-md-8,.col-md-6 .zoo-footer-link {
    padding:0;
    list-style: none;
    margin: 0 !important;
    padding-bottom: 30px;
}
.page-footer .copyright {
    background-color: #282828;
    color: #aaaaaa;
}
.page-footer .copyright {
    display: block;
    border-top: 1px solid #d7d7d7;
    font-size: 100%;
    position: relative;
    padding: 15px 0;
    clear: both;
}
.footer-top-col-group .col-md-8,.col-md-6 .zoo-footer-social-links.style-2 li a:hover {
    color:#333333 !important;
}

.zoo-main-content-area .post-list .post-holder .post-header .post-title-holder .post-info .post-categories{
    left: 43px;
    font-size: 15px;
}
.zoo-main-content-area .post-list .post-holder .post-header .post-title-holder .post-info .post-posed-date{
    left: -10px;
    font-size: 15px;
}
.post-view .post-holder .post-header .post-info{
    font-size:15px;
}
.post-view .post-holder .post-header .post-info .post-categories{
    padding-left: 240px;
}
.equal-height>.col-xs-12>.zoo-main-content-area>.post-list {
    width: 165% !important;
}
.container>.columns>.equal-height>.col-xs-12>.zoo-main-content-area>.post-view {
    width: 167%;
}
