<?php
/**
 * Copyright © 2017 Endeavor, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * 
 * @author Mohammad Hamadneh <mhamadneh@endeavorpal.com>
 * @date 30-11-2017.
 * @desc in order to build OutstandingInvoice page.
 */
?>

<h4>
    <?php echo __('To pay your invoice online, please enter your order number or invoice number below.
                    You will be directed to a secure site to complete your payment via credit card or PayPal.'); 
    ?>
</h4>
<form class="form order-inoice contact"
      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      enctype="multipart/form-data"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field order">
            <label class="label" for="order"><span><?php /* @escapeNotVerified */ echo __('Order Number') ?></span></label>
            <div class="control">
                <input type="text" name="order" title="<?php /* @escapeNotVerified */ echo __('Order Number') ?>" class="input-text" id="order">
                <div class="mage-error letters-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                    <span class="number-digits">Please fill order number or invoice number.</span>
                </div>
            </div>
        </div>
        <div class="field invoice">
            <label class="label" for="invoice"><span><?php /* @escapeNotVerified */ echo __('Invoice Number') ?></span></label>
            <div class="control">
                <input type="text" name="invoice" title="<?php /* @escapeNotVerified */ echo __('Invoice Number') ?>" class="input-text" id="invoice">
                <div class="mage-error letters-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                    <span class="number-digits">Please fill order number or invoice number.</span>
                </div>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                    <span><?php echo __('Continue') ?></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
<script>
    require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function (
                    $,
                    modal
                    ) {
                $('.order-inoice > .fieldset > .actions-toolbar > .primary > .submit').on('click', function (event) {
                    var order = $('#order').val();
                    var invoice = $('#invoice').val();
                    var orderLenght = order.length;
                    var invoiceLenght = invoice.length;
                    if (orderLenght === 0 && invoiceLenght === 0) {
                        $('#order').css('border-color', '#e02b27');
                        $('#invoice').css('border-color', '#e02b27');
                        event.preventDefault();
                        $('.letters-error').show();
                    } else {
                        $('#order').css('border-color', '#c2c2c2');
                        $('#invoice').css('border-color', '#c2c2c2');
                        $('.letters-error').hide();
                    }
                });

            }
    );
</script>