<dd class="<%- data.row_class %>" id="qs-option-<%- data.index %>" role="option" class="product-item" href="<%- data.url %>">
    <div class="product-image-box" >
        <img    src="<%- data.image %>">
    </div>
    <div class="product-shop">
        <div class="f-fix">
            <div class="product-primary">
                <h4 class="product-name"><%- data.title %></h4>    
            </div>
            <div class="product-secondary ">
                    <div class="product-details">
                        <%if (data.edition) { %>
                            <span class="edition-label"><%- data.edition %> Edition</span>
                        <% } %>
                        <% if(data.isComingSoon) { %>
                            <span class=" comingsoon-box">Coming Soon</span>
                        <% } %>
                        <% if (data.isPreOrder) { %>
                            <span class=" comingsoon-box">Pre-Order</span>
                        <% } %>
                    </div>
                <div class="price-box">
                    <span class="regular-price"><span class="price"><%= data.price %></span></span>
                </div>
            </div>
        </div> 
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</dd>
