<?php
/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post view template
 *
 * @var $block \Magefan\Blog\Block\Post\View
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
?>
<div class="post-view">
    <div class="post-holder post-holder-<?php echo $_post->getId() ?>">

        <div class="post-content">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="post-header">
                    <?php echo $this->getLayout()->createBlock('Magento\Theme\Block\Html\Title')->setTemplate('html/title.phtml')->toHtml(); ?>
                    <?php echo $this->getInfoHtml() ?>
                    </div>
                </div>
            </div>
            <div class="post-ftimg">

                    <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                        <div class="post-ftimg-hld">
                            <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                        </div>
                    <?php } ?>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <?php echo $block->getContent() ?>
                    <div class="addthis_toolbox  pull-right" addthis:url="<?php echo $_postUrl ?>">
                        <strong><?php echo __('Share: ') ?></strong>
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_email"></a>
                        <a class="addthis_button_compact"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-bottom">
            <?php echo $this->getChildHtml('blog.post.bottom') ?>
        </div>
    </div>
</div>