<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php
    $theme = $this->helper('CleverSoft\Base\Helper\Data');

    $showTabs = $theme->getCfg('product_page/tabs');

    $containerClasses = '';
    $tabsClasses = '';
    if ($showTabs)
    {
        $containerClasses .= ' collateral-tabs';
        $tabsClasses .= ' ' . $theme->getCfg('product_page/tabs_style');
    }
    else
    {
        $containerClasses .= ' collateral-stacked';
    }

    $tab_style_config = $theme->getCfg('product_page/tab_style');
    $tab_style = "";
    if(isset($tab_style_config) && $tab_style_config)
        $tab_style = $tab_style_config;
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
<div class="catalog-product-tab product-tab-detail">
    <div class="product info detailed box-collateral<?php echo $containerClasses.' '.$tab_style; ?>">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items<?php echo $tabsClasses; ?>" <?php if ($showTabs): ?>data-mage-init='{"tabs":{"openedState":"active"}}'<?php endif; ?>>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                $html = $layout->renderElement($name);
                $isset = '';
                if (!trim($html)) {
                    continue;
                }
                if (isset($html)) {
                    $isset = 'isset';
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
                <script type="text/javascript">
                    require([
                        'jquery'
                    ], function ($) {
                        $(document).ready(function(){
                            $('.product-tab-detail').addClass('<?php echo $isset; ?>');
                        });
                    });
                </script>
                <div class="data item title"
                     aria-labeledby="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title"
                     data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?php /* @escapeNotVerified */ echo $alias; ?>"
                       id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title">
                        <?php /* @escapeNotVerified */ echo $label; ?>
                    </a>
                </div>
                <div class="data item content" id="<?php /* @escapeNotVerified */ echo $alias; ?>" data-role="content">
                    <?php /* @escapeNotVerified */ echo $html; ?>
                </div>
            <?php endforeach;?>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
            <?php endforeach;?>
        </div>
        <?php if($tab_style && $tab_style == "vertical"): ?>
            <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    $(document).ready(function(){
                        $('.product data.items').tabs('destroy');
                        $(".product.info.detailed.vertical .product.data.items .data.item.title").off("classadded").on("classadded",function(){
                            $(this).parent().css("min-height",$(this).next().outerHeight()+"px");
                        });
                    });
                });
            </script>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
