<?php
  
?>
<?php
/**
 * Career job list lazyload template
 *
 * @var $block \Endeavor\Career\Block\Job\JobList\Toolbar\Pager
 */
?>
<?php if ($block->useLazyload()) { ?>
    <?php
        $config = $block->getLazyloadConfig([
            'trigger_element' => '.mbcareer-lazyload-trigger'
        ]);
    ?>
    <div class="mfcareer-autoloader" data-mage-init='{"<?php echo $block->getLazyloadJs() ?>" : <?php echo $config ?>}'>
    	<button class="mbcareer-lazyload-trigger mfcareer-hide-onload action primary" title="<?php echo __('See more') ?>" type="button">
            <span><?php echo __('See more') ?></span>
        </button>
        <img class="jobs-loader mfcareer-show-onload" src="<?php echo $block->getViewFileUrl('images/loader-2.gif') ?>" alt="<?php echo __('Jobs loader') ?>" />
    </div>
<?php } ?>