<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Ebook\Display\Block\Index\Index
 */
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $baseurl = $storeManager->getStore()->getBaseUrl();	

?>


<form class="form_report" action="" method="post" id="login-form" >
 <div class="page-title-wrapper">
        <h2 class="page-title">
      <span itemprop="name"><span class="base" data-ui-id="page-title-wrapper">Ebook Reporting</span></span>
        </h2>
 </div>    
 <br>
  <div class="page-title-wrapper">
        <h2 class="page-title">
       
	    <span itemprop="name"><a href="<?php echo $baseurl ?>display/show/show">Click To See Logged User Details</a></span>
        </h2>
 </div> 
 <br>
<div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Ebook Name">Ebook Name</label></div>
<div class="col-75"><input id="engineer_name" name="engineer_name" type="text" required placeholder="Ebook Name.." required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Ebook Department">Ebook Department</label></div>
<div class="col-75"><input id="engineer_dept" name="engineer_dept" type="text" placeholder="Ebook Name"  required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Ebook Address">Ebook Address</label></div>
<div class="col-75"><input id="engineer_add" name="engineer_add" type="text" placeholder="Ebook Address"  required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Ebook Display">Ebook Display</label></div>
<div class="col-75"><input type="text" id="engineer_salary"  name="engineer_salary"  placeholder="Ebook Display"></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Ebook Joining">Ebook Joining</label></div>
<div class="col-75"><input id="engineer_joindate" name="engineer_joindate" type="text" placeholder="Ebook Joining"></div>
</div>
<div class="row"><input type="submit" value="Submit"></div>
</div>
</form>



