.new-customer{
	border-left: 0.3vw solid;
}
.or{
	position: absolute;
    top: 50%;
    left: -1.7vw;
    width: 40px;
    height: 40px;
    color: white;
    background: #227fbb;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}
.register-area{
    float: inherit;
    width: 100%;
    margin: 20px 0;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    box-shadow: none;
    border: 0;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 400;
}
.message-customers-login{
    margin-bottom: 7%;
	font-size : 16px;
	text-align: center;
}
#zoo-main-content > .container > .page-title-wrapper {
    visibility: hidden;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.or{
		position: absolute;
		top: 50%;
		left: -1.9vw;
		width: 40px;
		height: 40px;
		color: white;
		background: #227fbb;
		border-radius: 50%;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		line-height: 40px;
		text-align: center;
	}
}
@media screen and (max-width: 860px) {
	.or {
		display: none;
	}
	.new-customer{
		border-left: unset;
	}

}