<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$orderId = $block->getRequest()->getParam('order_id');
$salesOrder = $objectManager->create('\Magento\Sales\Model\Order')->load($orderId);
$sfOrderId = $salesOrder->getSfOrderId();
$title = '';
if (trim($block->getPageHeading())) {
    $title = '<span class="base" data-ui-id="page-title-wrapper" ' . $block->getAddBaseAttribute() . '>'
        . $block->escapeHtml($block->getPageHeading()) . '</span>';
}
?>
<?php if ($title): ?>
    <div class="page-title-wrapper<?php /* @escapeNotVerified */    echo $cssClass; ?>" >
        <h1 class="page-title"
            <?php if ($block->getId()): ?> id="<?php /* @escapeNotVerified */
            echo $block->getId(); ?>" <?php endif; ?>
            <?php if ($block->getAddBaseAttributeAria()): ?>
                aria-labelledby="<?php /* @escapeNotVerified */
                echo $block->getAddBaseAttributeAria(); ?>"
            <?php endif; ?>>
            <span itemprop="name" >
            <?php /* @escapeNotVerified */
            echo $title ?>
            <?php if(!empty($sfOrderId)): ?>
                <?php echo ' / '.$sfOrderId ?>
            <?php endif; ?>
                </span>
        </h1>
        <?php echo $block->getChildHtml(); ?>
    </div>
<?php endif; ?>

