/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2018, 9:31:57 AM
    Author     : Murad Dweikat
*/
@color_1: #00748e;
@color_2: white;
@color_3: black;
@font_family_myriad: "Myriad Pro Regular";
@font_family_playfair: "Playfair Display";
@font_family_montserrat: "Montserrat";
@background_color_1: rgba(0, 115, 140, 0.9);
@border_color_1: #00738c;
@checkout-shipping-item__active__border-color: #26847b;
@checkout-shipping-item-icon__background-color: #26847b;
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2018, 9:31:57 AM
    Author     : Murad Dweikat
*/

body {
  color: @color_3 !important;
  font-size: 14px;
  font-family: @font_family_montserrat, @font_family_myriad,
    @font_family_playfair;
  font-weight: 400;
}

.clever-horizontal-menu {
  ul.clever-mega-menu {
    li.level-top.parent {
      a {
        &:before {
          content: "\f0d7" !important;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          right: 0px;
        }
      }
    }
    li.level0 {
      a.menu-link {
        color: @color_1;
        font-weight: 600;
        font-size: 0.9vw;
        font-family: @font_family_myriad;
      }
    }
  }
}
.page-wrapper {
  .page-header {
    div.top-menu {
      border-top: 3px solid #0073a4;
      border-bottom: 3px solid #0073a4 !important;
    }
    .top-menu {
      .container {
        height: 40px;
        margin-left: 1%;
        width: 100%;
        .zoo-menu-content {
          height: inherit;
        }
      }
    }
    .panel.wrapper {
      display: none;
    }
    .header-minimal-search {
      transition: all 400ms;
      margin-left: 0;
    }
    .sticky-wrapper {
      height: 46px !important;
    }
  }
  .page-footer {
    background: #00738c;
    height: 100%;
    ul.zoo-footer-social-links.style-2 {
      li {
        a {
          background: none;
          border: none;
        }
      }
    }
    .col-foot-left {
      h2.footer-logo {
        border-right: 3px solid white;
        margin: 3rem 0px;
        width: 100%;
        img {
          height: 5.4rem;
          width: auto;
          margin: 4rem 0rem;
        }
      }
    }
    .footer-top-col-group {
      .zoo-footer-link {
        li {
          a {
            font-family: @font_family_montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 26.23px;
            color: @color_2;
          }
        }
      }
      h4.zoo-widget-title-sm {
        font-family: @font_family_montserrat;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 26.23px;
        color: @color_2;
        padding: 0;
      }
    }
    .copyright {
      background: #00738c;
      height: 100%;
      font-family: @font_family_montserrat;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 26.23px;
      color: @color_2;
      border-top: 2px solid white;
      text-align: center;
    }
  }
}

.section-item-content.nav-sections-item-content span.action.zoo-menu-label {
  display: none;
}

.sections.nav-sections .clever-menu .non-visiable {
  display: none;
}

.zoo-header-content-block.d-flex.align-items-center.justify-content-end {
  width: 20%;
  float: left;
  border-top: 3px solid #0073a4;
  border-bottom: 3px solid #0073a4 !important;
  height: 46px;
}
#zoo-sticky-header {
  .zoo-header-user {
    display: block !important;
    width: 50%;
    .authorization-link {
      a {
        font-family: @font_family_myriad;
        text-transform: none;
        font-weight: 600;
        font-size: 1.1vw;
        color: @color_1;
      }
    }
  }
}
.justify-content-end.header-content.container {
  .mr-auto.zoo-header-content-block {
    .logo {
      img {
        float: right;
      }
    }
  }
}
.page-header {
  .header-content {
    position: relative;
    padding-top: 10px;
    padding-bottom: 0px;
    transition: all 400ms;
  }
  .full-sc-search {
    .block-search {
      max-width: 300px !important;
      top: 35px;
    }
  }
  .header-content.container {
    .mr-auto.zoo-header-content-block {
      width: 30%;
    }
  }
}
.form.minisearch {
  .search-autocomplete {
    left: 0;
    width: 285px !important;
    margin-top: -4px;
  }
}
.zoo-header-content-block {
  .full-sc-search {
    form.minisearch {
      a.clever-icon-search-2 {
        display: inline-block;
        -moz-box-sizing: content-box;
        line-height: inherit;
        padding: 5px 0;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 1;
        color: @color_1;
      }
    }
  }
}
.full-sc-search {
  .block-search {
    .form.minisearch {
      background: white;
      height: 40px;
      -webkit-border-radius: 0;
      -moz-border-radius: 50px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #59a5b7;
    }
  }
}
.page-main {
  .container {
    width: inherit;
  }
}

ul.level1.clever-mega-menu-sub {
  height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
}

ul.cat-tree.clever-mega-menu-sub.clever-mega-menu-nondrop {
  height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
}

.homepage-side-menu {
  ul.cat-tree.clever-mega-menu-sub.slidedown {
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.positioning-right {
  position: absolute;
  right: 4.5em;
  bottom: 8.5em;
  padding: 4px;
  .upperhome-right-header {
    background: #00738c;
    opacity: 0.8;
    font-size: 3.3vw;
    color: @color_2;
    font-family: @font_family_playfair;
    font-weight: bold;
    line-height: 90%;
    padding: 3px 27px 7px 27px;
  }
  .upperhome-right-content {
    background: white;
    color: @color_3;
    font-size: 2.3vw;
    font-family: @font_family_playfair;
    text-align: right;
    width: auto;
    height: auto;
    padding: 0 5px 10px 20px;
  }
}
.upperhome-right-content {
  span {
    text-align: right;
  }
}
.upperhome-col-lg-3 {
  min-width: 230px;
  float: left;
  position: relative;
  min-height: 1px;
  text-align: center;
  width: 100%;
  .img-container {
    display: inline-block;
    position: relative;
    width: 100%;
    .upper-img {
      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.positioning-left {
  position: absolute;
  left: 5.1%;
  bottom: 20%;
  background-color: @background_color_1;
  color: @color_2;
  padding: 6.6% 2.4%;
  font-size: 17px;
  line-height: 18px;
}
.top-menu {
  .zoo-header-user.align-items-center {
    ul.header.links.user_area {
      margin-top: 4px;
      border-right: none;
    }
  }
}
.category-block {
  .container {
    .row {
      margin: 2vw 8vw;
      display: block;
      width: 94%;
      .col-lg-5 {
        margin: 1.6vw;
      }
    }
  }
  .img-container {
    .center-box {
      position: absolute;
      left: 25%;
      bottom: 31%;
      padding: 0px;
      float: left;
      width: 60%;
      height: 31%;
      z-index: 1;
      margin: auto 0;
      .center-box-content {
        a {
          background: #00738c;
          opacity: 0.8;
          font-size: 3.3vw;
          color: @color_2;
          font-family: @font_family_myriad;
          padding: 5px 15px;
          float: left;
          font-style: normal;
          font-weight: 400;
          height: 100%;
          line-height: 90%;
          text-align: center;
        }
      }
      .center-box-icon {
        img {
          float: left;
          height: 4vw;
          margin-right: 4%;
        }
      }
    }
    .col-lg-5 {
      > img {
        opacity: 0.8;
        height: 21vw;
      }
    }
  }
}
.blue-background {
  background: -moz-linear-gradient(
    50% 0% -90deg,
    #2985bc 0%,
    #2885bb 1.3%,
    #0b76a0 64.17%,
    #007196 100%
  );
  background: -webkit-linear-gradient(
    -90deg,
    #2985bc 0%,
    #2885bb 1.3%,
    #0b76a0 64.17%,
    #007196 100%
  );
  background: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0, #2985bc),
    color-stop(0.013, #2885bb),
    color-stop(0.6417, #0b76a0),
    color-stop(1, #007196)
  );
  background: -o-linear-gradient(
    -90deg,
    #2985bc 0%,
    #2885bb 1.3%,
    #0b76a0 64.17%,
    #007196 100%
  );
  background: -ms-linear-gradient(
    -90deg,
    #2985bc 0%,
    #2885bb 1.3%,
    #0b76a0 64.17%,
    #007196 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2985BC', endColorstr='#007196' ,GradientType=0)";
  background: linear-gradient(
    180deg,
    #2985bc 0%,
    #2885bb 1.3%,
    #0b76a0 64.17%,
    #007196 100%
  );
  border-style: Solid;
  border-color: @border_color_1;
  border-color: @border_color_1;
  border-width: 1px;
  height: 50rem;
  width: 100%;
  .info-block {
    width: 65%;
    height: 65%;
    position: relative;
    top: 15%;
    left: 17%;
    .info-border {
      img.border-top-left {
        position: absolute;
        top: 0;
        left: 0;
      }
      img.border-top-right {
        position: absolute;
        top: 0;
        right: 0;
      }
      img.border-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      img.border-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      img.unselectable {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }
    .info-content-block {
      .info-content-logo {
        position: absolute;
        left: 40%;
        top: -9%;
        width: auto;
        height: auto;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .info-content {
        position: absolute;
        top: 26%;
        left: 6%;
        right: 6%;
        height: 75%;
        span {
          font-size: 21px;
          color: @color_2;
          font-family: @font_family_myriad;
          float: left;
          font-style: normal;
          font-weight: 400;
          text-align: justify;
          text-align-last: center;
        }
      }
    }
  }
}
h4.zoo-widget-title-sm {
  text-transform: uppercase;
}
img.social-icon {
  width: 4.4rem;
  margin: 0 0.4rem;
}

.sections.nav-sections {
  ul.header.links {
    .authorization-link {
      a {
        font-size: 1.7rem;
        color: @color_1;
        font-weight: 600;
        font-family: @font_family_myriad;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .img-container {
    > .positioning-right {
      position: absolute;
      right: 3.5em;
      bottom: 5.5em;
      padding: 4px;
    }
  }
  .zoo-header-content-block {
    .full-sc-search {
      form.minisearch {
        a.clever-icon-search-2 {
          display: inline-block;
          -moz-box-sizing: content-box;
          line-height: inherit;
          padding: 5px 0;
          position: absolute;
          right: -30px;
          top: 20px;
          z-index: 1;
          color: @color_1;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .img-container {
    > .positioning-right {
      position: absolute;
      right: 1.5em;
      bottom: 3.3em;
      padding: 4px;
    }
    > .positioning-left {
      position: absolute;
      left: 5.1%;
      bottom: 10%;
      background-color: @background_color_1;
      color: @color_2;
      padding: 5.6% 2.4%;
      font-size: 17px;
      line-height: 18px;
      width: 40%;
    }
  }
  .page-wrapper {
    .page-footer {
      ul {
        padding: 11px 15px 0px 15px;
        list-style: none;
        margin: 0;
      }
      ul.zoo-footer-social-links.style-2 {
        padding: 11px 15px 15px 15px;
        list-style: none;
        margin: 0;
        li {
          padding-right: 0px;
        }
      }
      .col-foot-left {
        h2.footer-logo {
          img {
            height: 3.4rem;
            width: auto;
            margin: 4rem 4%;
          }
          width: 90%;
          border-right: 3px solid white;
          margin: 1rem 0px;
        }
      }
    }
  }
  div.col-foot-middle {
    height: 50%;
    margin: 0;
    padding: 0 5px;
  }
  div.col-foot-left {
    height: 50%;
    margin: 0;
    padding: 0 0px 0 5px;
  }
  div.col-foot-right {
    height: 50%;
    margin: 0;
    padding: 0 0;
  }
  h4.zoo-widget-title-sm {
    padding: 0;
    margin-bottom: 0px;
  }
  img.social-icon {
    width: 4.4rem;
    padding: 5px 5px;
    margin: 0px 0.4rem;
  }
  .category-block {
    .img-container {
      .center-box {
        position: absolute;
        left: 20%;
        bottom: 31%;
        padding: 0px;
        float: left;
        width: 10rem;
        height: 31%;
        z-index: 1;
        margin: auto 0;
      }
    }
  }
  .blue-background {
    .info-block {
      .info-content-block {
        .info-content-logo {
          position: absolute;
          left: 31%;
          top: -7%;
          width: 43%;
          height: auto;
        }
        .info-content {
          span {
            font-size: 3.2vw;
          }
          position: absolute;
          top: 22%;
          left: 6%;
          right: 6%;
          height: 75%;
        }
      }
    }
    height: 38rem;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .justify-content-end.header-content.container {
    padding-top: 60px;
  }
  #zoo-sticky-header-sticky-wrapper {
    display: none;
  }

  .sections.nav-sections
    .clever-horizontal-menu
    ul.clever-mega-menu
    li.level0
    a.menu-link {
    color: @color_1;
    font-weight: 600;
    font-size: 3.2vw;
    font-family: "Myriad Pro Regular";
  }

  .clever-menu li.parent.open > .dropdown-toggle:before {
    content: "\c035";
  }

  .clever-menu li.parent > .dropdown-toggle {
    width: 50px;
    height: 50px;
    line-height: 35px;
    background: transparent;
    color: #333333;
  }

  .clever-menu .clever-mega-menu-item.level-top > .dropdown-toggle {
    width: 50px;
    height: 50px;
    line-height: 35px;
    background: transparent;
    color: #333333;
  }
}

@media screen and (min-width: 991px) {
  .clever-menu .clever-mega-menu-item .clever-mega-menu-sub {
    top: 87%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-wrapper {
    .page-header {
      .full-sc-search {
        .block-search {
          .block-content {
            .minisearch {
              .field.search {
                border: none;
                width: 100%;
                position: relative;
                right: 40px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .clever-horizontal-menu {
    ul.clever-mega-menu {
      li.level-top.parent {
        a {
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .page-wrapper {
    #zoo-main-content {
      padding-top: 0;
      margin-bottom: 30px;
    }
    .page-header {
      .header-minimal-search {
        transition: all 400ms;
      }
    }
    .page-footer {
      .col-foot-left {
        h2.footer-logo {
          img {
            height: 5.4rem;
            width: auto;
            margin: 4rem 4%;
          }
        }
      }
      background: #00738c;
      height: 100%;
      .col-foot-middle {
        ul {
          padding: 30px 0;
          list-style: none;
          margin: 0;
        }
      }
      .col-foot-right {
        ul {
          padding: 1rem 0;
          margin: 0;
        }
      }
      ul.zoo-footer-social-links.style-2 {
        li {
          padding-right: 0;
          a {
            background: none;
            border: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .category-block {
    .img-container {
      .center-box {
        position: absolute;
        left: 25%;
        bottom: 31%;
        padding: 0px;
        float: left;
        width: 32rem;
        height: 31%;
        z-index: 1;
        margin: auto 0;
        .center-box-content {
          a {
            background: #00738c;
            opacity: 0.8;
            font-size: 3.3vw;
            color: @color_2;
            font-family: @font_family_myriad;
            padding: 5px 15px;
            float: left;
            font-style: normal;
            font-weight: 400;
            height: 100%;
            line-height: 90%;
            text-align: center;
          }
        }
        .center-box-icon {
          img {
            float: left;
            height: 4vw;
            margin-right: 4%;
          }
        }
      }
      .col-lg-5 {
        > img {
          opacity: 0.8;
          height: 21vw;
        }
      }
    }
  }
  .blue-background {
    .info-block {
      .info-content-block {
        .info-content {
          span {
            font-size: 1.9vw;
          }
        }
      }
    }
  }
  .nav-sections {
    width: 55%;
    padding: 0;
    -webkit-transition: left 300ms linear 0s;
    -moz-transition: left 300ms linear 0s;
    -ms-transition: left 300ms linear 0s;
    -o-transition: left 300ms linear 0s;
    transition: left 300ms linear 0s;
    z-index: 99;
  }
}
@media screen and (min-width: 768) and (max-width: 1200px) {
  .category-block {
    .img-container {
      .center-box {
        position: absolute;
        left: 25%;
        bottom: 31%;
        padding: 0px;
        float: left;
        width: 32rem;
        height: 31%;
        z-index: 1;
        margin: auto 0;
        .center-box-content {
          a {
            background: #00738c;
            opacity: 0.8;
            font-size: 3.3vw;
            color: @color_2;
            font-family: @font_family_myriad;
            padding: 5px 15px;
            float: left;
            font-style: normal;
            font-weight: 400;
            height: 100%;
            line-height: 90%;
            text-align: center;
          }
        }
        .center-box-icon {
          img {
            float: left;
            height: 4vw;
            margin-right: 4%;
          }
        }
      }
      .col-lg-5 {
        > img {
          opacity: 0.8;
          height: 21vw;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .blue-background {
    .info-block {
      .info-content-block {
        .info-content-logo {
          position: absolute;
          left: 31%;
          top: -9%;
          width: 40%;
          height: auto;
        }
        .info-content {
          span {
            font-size: 2.4vw;
          }
        }
      }
    }
  }
  .page-wrapper {
    .page-footer {
      ul {
        padding: 11px 15px 0px 15px;
        list-style: none;
        margin: 0;
      }
      ul.zoo-footer-social-links.style-2 {
        padding: 11px 15px 15px 15px;
        list-style: none;
        margin: 0;
      }
    }
  }
  .nav-sections {
    width: 55%;
    padding: 15px;
    -webkit-transition: left 300ms linear 0s;
    -moz-transition: left 300ms linear 0s;
    -ms-transition: left 300ms linear 0s;
    -o-transition: left 300ms linear 0s;
    transition: left 300ms linear 0s;
    z-index: 99;
    ul.header.links {
      .authorization-link {
        a {
          font-size: 1.5rem;
          color: @color_1;
          font-weight: 600;
          font-family: "Myriad Pro Regular";
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .blue-background {
    height: 38rem;
    width: 100%;
    .info-block {
      width: 65%;
      height: 65%;
      position: relative;
      top: 15%;
      left: 17%;
      .info-content-block {
        .info-content-logo {
          position: absolute;
          left: 31%;
          top: -9%;
          width: 40%;
          height: auto;
        }
        .info-content {
          span {
            font-size: 3.2vw;
          }
        }
      }

      .info-border {
        img.unselectable {
          width: 40px;
        }
      }
    }
  }

  .page-wrapper {
    .page-footer {
      ul {
        padding: 11px 15px 0px 15px;
        list-style: none;
        margin: 0;
      }
      ul.zoo-footer-social-links.style-2 {
        padding: 11px 15px 15px 15px;
        list-style: none;
        margin: 0;
      }
    }
  }

  .nav-sections {
    width: 55%;
    padding: 15px;
    -webkit-transition: left 300ms linear 0s;
    -moz-transition: left 300ms linear 0s;
    -ms-transition: left 300ms linear 0s;
    -o-transition: left 300ms linear 0s;
    transition: left 300ms linear 0s;
    z-index: 99;
  }
}

@media screen and (max-width: 1200px) {
  .nav-sections-item-content {
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    margin-top: 0;
    width: 100%;
    padding: 0;
  }

  .clever-horizontal-menu {
    ul.clever-mega-menu {
      li.level-top.parent {
        a:before {
          display: none;
        }
      }
    }
  }
}

.media-type-B,
.media-type-S,
.media-type-BE,
.media-type-SE,
.media-type-ME,
.media-type-M,
.media-type-BL,
.media-type-BLE,
.media-type-BC,
.media-type-BCE,
.media-type-EP,
.media-type-EM,
.media-type- {
  background-position: center right;
  display: block;
  /*width: 56px;*/
  background-repeat: no-repeat;
  height: 54px;
  background-size: contain;
}
.media-type-B {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/B.png");
}
.media-type- {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/B.png");
}
.media-type-S {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/S.png");
}
.media-type-M {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/M.png");
}
.media-type-BL {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/BL.png");
  /*width: 113px;*/
}
.media-type-BE {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/BE.png");
  /*width: 113px;*/
}
.media-type-SE {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/SE.png");
  /*width: 113px;*/
}
.media-type-ME {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/ME.png");
  /*width: 113px;*/
}
.media-type-BC {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/BC.png");
  /*width: 113px;*/
}
.media-type-BCE {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/BCE.png");
  /*width: 164px;*/
}
.media-type-BLE {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/BLE.png");
  /*width: 164px;*/
}
.media-type-EP {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/EP.png");
  /*width: 35px;*/
}
.media-type-EM {
  background-image: url("/pub/static/frontend/Blue360Media/core/en_US/images/EM.png");
  /*width: 35px;*/
}

.just-release-icon {
  background-image: url(/pub/static/frontend/Blue360Media/core/en_US/images/just-release-icon.png);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-oustock {
  opacity: 1;
}

.product-item-details {
  .content-items {
    display: flex;
    align-items: center;
  }
  .view-product-details {
      a {
          background-color: #00738c;
          color: white;
          padding: 7px 33px;
          cursor: pointer;
          display: block;
          text-align: center;
      }
  }
  .view-product-preorder {
    background-color: rgb(255, 129, 0);
    color: white;
    text-transform: uppercase;
    padding: 7px 4px;
    font-size: 12px;
  }
  .pre-order-div {
      
    padding-left: 2px;
    padding-right: 0;
    .pre-order-icon {
      background-image: url(/pub/static/frontend/Blue360Media/core/en_US/images/PRE-ORDER-ICON.png);
      display: block;
      background-repeat: no-repeat;
      height: 25px;
      width: 35px;
      background-position: center right;
      background-size: contain;
    }
  }
  .price-box {
    .price-container {
      .price {
        color: #00738c;
        font-family: @font_family_myriad;
      }
    }
    .price-label {
      display: initial;
      font-size: 16px;
    }
  }
}

.pre-order-icon {
  background-image: url(/pub/static/frontend/Blue360Media/core/en_US/images/PRE-ORDER-ICON.png);
  display: block;
  background-repeat: no-repeat;
  height: 65px;
  background-size: contain;
}

@media screen and (min-width: 780px) {
    #zoo-main-content{
        .container {
            .columns {
                .row {
                    .sidebar.sidebar-left {
                        padding-left: 3vw;
                    }
                }
            }
        }
    }
}

.margin-top-5 { margin-top:5px; }
.margin-top-7 { margin-top:7px; }
.margin-top-10 { margin-top:10px; }
.margin-top-15 { margin-top:15px; }
.margin-top-17 { margin-top:17px; }
.margin-top-30 { margin-top:30px; }

.bundle-options-container {
    .product-add-form:before {
        border-bottom: unset !important;
        overflow: hidden;
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
    }
} 
.block {
        .arrow-tabs {
        border: solid #00738c;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 0.7vw;
        position: absolute;
        right: 3vw;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .bundle-tab-title {
        text-align: center;
        background-color: #00738c;
        margin-bottom: 1vw;
        padding: 0.5vw;
        font-size : 25px;
        color : #FFFFFF;
        text-outline : #FFFFFF;
        display: block;
        color: white;
    }
    .bundle-tab-title-content {
        color: white;
    }
    .bundle-tab-content {
        display: none;
        text-align: justify;
        margin-bottom: 1vw;
        border: 1px solid #227fbb;
        padding: 1.5vw;
    }
    .box-address-active {
        display: block !important;
    }
}
.box {
  .box-title {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: @color-white-smoke;
    border-radius: 7px 7px 0 0;
    display: block;
  }
}
.user_area li.customer-welcome{
    display: none;
}
.header.links.user_area>.authorization-link:nth-child(2){
    display: none;
}
.modal-inner-wrap {
    .modal-content{
        padding-left: 4vw;
    }
}
#scroll-to-top {
    bottom: 90px;
}
.manage-payment-method {
    .block {
        .block-content {
            .box {
                .block-addresses-list {
                    .block-content {
                        .box-address-billing {
                            .box-title {
                                margin: 0;
                                margin-left: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
.products-grid {
  &.wishlist{
    .product-items {
      .product-item-info {
        overflow: inherit;
        .product-item-inner{
          position: relative !important;
          top: inherit;
          padding: 0 10px 10px;
          background:  @color-white;
          margin: 0;
        }
      }
    }
  }
}
.bulk-order-hint {
    color: black;
}

#shopping-cart-table {
  .item-actions .action.edit{display: inline-block;}
  thead tr th.col{padding-left: 0px;padding-right: 30px;}
  .item-actions{
    .action.remove{    
        position: absolute;
        margin-top: -80px;
        right: 0;
    }
  }
  .edit-subscription {
    background: #00738C;
    padding: 5px;
    text-transform: uppercase;
    font-family: @font_family_montserrat;
    font-size: 12px;
    color: #FFFFFF;
  }

}

@media (min-width: 991px) {
  .cart-container .left_checkout_cart{width: 67.33%;padding-right: 15px;}
  .cart-container .cart-summary{    width: 32%;}

}

.cart.table-wrapper {
  #shopping-cart-table {
    > .item {
      .product-image-wrapper .product-image-photo {
        max-width: 160px;
      }
      
    }
    
    tr td {
      vertical-align: top;
      
    }
  }
  
}

@media (max-width: 780px) {
    .cart.table-wrapper {
        #shopping-cart-table {
            > .item {
                .product-image-wrapper .product-image-photo {
                    max-width: 100px;
                }
            }
        }
    }
    
}
@media (min-width: 780px) {
  .minicart-wrapper .minicart-detail {
    .block-title {
      .clever-icon-close {
        color: white;
      }
    } 
  } 
}

@media (min-width: 992px) {
  .catalog-product-view {
    .messages {
      position: relative;
      .message {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
.arrow-tabs {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 0.7vw;
    position: absolute;
    top: 1vw;
    right: 3vw;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.shipping-tab-content-active{
    display: block;
}
.opc-wrapper {
    .shipping-address-item {
        width: 100% !important;
    }
}
.opc-wrapper {
    .shipping-address-item:before{
        display: none;
    }
}
.opc-wrapper {
    .shipping-address-item{
        .selected-item:after{
            background: #26847b;
        }
    }
}
.opc-wrapper{
    .shipping-address-item{
        .selected-item{
            border-color: #26847b;
        }
    }
} 
.opc-progress-bar {
    margin-top: 3vw;
}
#checkout {
    .checkout-payment-method {
        .opc-payment-additional.discount-code {
            .payment-option-content {
                display: inline-block !important;
                .form-discount {
                    .actions-toolbar-discount {
                        .action-apply {
                            background: #26847b !important;
                            border: 0 !important;
                            border-radius: 0 !important;
                            padding: 0;
                            margin: 0;
                            height: auto;
                            padding: 0.65vw;
                            color: white !important;
                            
                        }
                    }
                }
            }
        }
    }
}  
.payment-method-data {
    .payment-method {
        .payment-method-content {
            .actions-toolbar {
                .primary {
                    .checkout {
                            border-radius: 0 !important;
                            background-color: #26847b !important;
                            margin-bottom: 1.5vw !important;
                    }
                }
            }
        }
    }
}
.modal-custom {
    .modal-inner-wrap {
        .modal-content {
            #opc-sidebar {
                .opc-block-summary {
                    color: black;
                }
            }
        }
    }
}
.modal-inner-wrap {
    margin-top: 7vw;
}
@media screen and (max-width: 640px) {
    .checkout-shipping-address {
        #checkout-step-shipping.step-content {
            width: 100% !important;
        }
    }
    .opc-wrapper {
        #checkoutSteps {
            #opc-shipping_method {
                width: 100% !important;
            }
        }
    }
}

.icon-arrow-right:after {
  content: " " !important;
}

@media screen and (min-width: 768px) {
  .icon-arrow-right:after {
    content: " " !important;
  }
}

@media screen and (min-width: 991px) {
  .icon-arrow-right:after {
    content: "\c151" !important;
    position: absolute;
    right: 10px;
    top: 6px;
    font-family: "cleversoft";
  }
  .icon-arrow-right:hover:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}