<?php
 
?>
<?php
/**
 * AboutUs post list lazyload template
 *
 * @var $block \Endeavor\AboutUs\Block\Post\PostList\Toolbar\Pager
 */
?>
<?php if ($block->useLazyload()) { ?>
    <?php
        $config = $block->getLazyloadConfig([
            'trigger_element' => '.mbaboutus-lazyload-trigger'
        ]);
    ?>
    <div class="mfaboutus-autoloader" data-mage-init='{"<?php echo $block->getLazyloadJs() ?>" : <?php echo $config ?>}'>
    	<button class="mbaboutus-lazyload-trigger mfaboutus-hide-onload action primary" title="<?php echo __('See more') ?>" type="button">
            <span><?php echo __('See more') ?></span>
        </button>
        <img class="posts-loader mfaboutus-show-onload" src="<?php echo $block->getViewFileUrl('images/loader-2.gif') ?>" alt="<?php echo __('Posts loader') ?>" />
    </div>
<?php } ?>