<?php

/**
 * Copyright © 2018 Endeavor. All rights reserved.
 * See COPYING.txt for license details.
 * 
 * @author Mohammad Hamadneh <mhamadneh@endeavorpal.com>
 * @date 03-27-2018.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Radio */ ?>
<?php $_option = $block->getOption(); ?>
<?php $currentProduct = $block->getProduct(); ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); ?>
<?php $_selections  = $_option->getSelections(); ?>
<?php $_default     = $_option->getDefaultSelection(); ?>
<?php $cookieManager = $objectManager->get('Magento\Framework\Stdlib\CookieManagerInterface'); ?>
<?php $mediaTypeHelper = $objectManager->get('Endeavor\Product\Helper\MediaType'); ?>
<?php $customerSession = $objectManager->get('Magento\Customer\Model\Session');?>
<?php $susbscriptionsModel = $objectManager->create('Endeavor\Subscriptions\Model\CustomerSubscriptions');?>
<?php $collection = $susbscriptionsModel->getCollection();?>
<?php $collection->addFieldToFilter('customer_id',$customerSession->getCustomer()->getId());?>
<?php $flag = 0;?>
<?php $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository'); ?>
<?php $productPublication = $block->getProduct()->getData('publication_number'); ?>
<?php $productFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory'); ?>
<?php $helperPreOrder = $this->helper('\Webkul\Preorder\Helper\Data'); ?>
<?php $otherProductEditions = $productFactory->create()
                            ->addAttributeToFilter('type_id', \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE)
                            ->addAttributeToFilter('status', \Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED)
                            ->addAttributeToFilter('publication_number', $productPublication); 
							
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();	
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);						
$is_app =  $currentProduct->getResource()->getAttribute('is_app')->getFrontend()->getValue($currentProduct);
$mediaApp = array("BLE" => "icons/BALE.png","BL" => "icons/BAL.png","SE" => "icons/BAE.png","ME" => "icons/BAE.png","BE" => "icons/BAE.png", "EP" => "icons/AE.png","EM" => "icons/AE.png");
$mediaAppClass = array("BLE" => "BALE","BL" => "BAL","SE" => "BAE","ME" => "BAE","BE" => "BAE", "EP" => "AE","EM" => "AE");							
							
?>
<style>




    @media screen and (max-width: 452px) {
        .container>.columns>.column.main>.zoo-main-content-area>div>.block.related>.block-content.content>.grid.products-grid.products-grid-partitioned>.products.list.items>.owl-stage-outer>.owl-stage {
            min-width: 4250px;
        }
    }
</style>
<?php list($_defaultQty, $_canChangeQty) = $block->getDefaultValues(); ?>
<div class="field option <?php echo ($_option->getRequired()) ? ' required': ''; ?>">
    <div class="media-type-validation-message messages hidden">
        <span class="message error"> Please select media type </span>
    </div>
    <?php $productRules = $objectManager->create('Endeavor\BookInformation\Block\Product\View')->getProductRules();?>
    <?php foreach($productRules as $rule): ?>
        <div class="promotion-message">    
            <?php echo $rule;?><br>
        </div>
    <?php endforeach; ?>
    <div class="control container">
        <div class="nested options-list row">
            <?php if ($block->showSingle()): ?>
                
                    <?php foreach ($otherProductEditions as $otherProduct) : ?>
                            <?php if ($otherProduct->getId() != $currentProduct->getId()): ?>
                            <?php $otherProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($otherProduct->getId()); ?>
                                    <?php if ($helperPreOrder->isPreorder($currentProduct->getId())) : ?>
								<div class='next-edition-release col-md-12'>
                                        <a href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php if($otherProduct->getData('edition') !$
                                                                                </div>
	</div>	
                                    <?php else : ?>
									<div class='next-edition-release col-md-12'>
                                        <a href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php echo __('Get The Latest Edition'); ?></a>
									</div>	
                                    <?php endif; ?>
                            <?php endif;?>
                    <?php endforeach; ?>
                
                <?php $mediaType = $mediaTypeHelper->getMediaTypeForBundleSelection($_selections[0]->getProductId()); ?>
				<?php $widthMediaType = array("BE", "ME", "ME"); ?>
				<?php $width = "200px";  if(!in_array($mediaType,$widthMediaType)){ $width = "100px"; } ?>	
                    <div class="bundle-items-grid col-xs-12 col-sm-6">
                        <div class="field choice">
                            <div class="row">
                                <label>
                                    <div class="radio-div">
                                       
                                        <!--<div class="media-type-<?php echo $mediaType; ?> col-xs-5" ></div>-->
										
										 <?php if($is_app == "No" || !isset($mediaApp[$mediaType])){ ?>
											 <div class="media-type-<?php echo $mediaType; ?> col-xs-5">
												<div class="inputradio">
													<input type="radio"
														class="radio product bundle option change-container-classname"
														id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selections[0]->getSelectionId() ?>"
													 <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':true}"'?>
														name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
													 <?php if ($block->isSelected($_selections[0])) echo ' checked="checked"' ?>
													 <?php if (!$_selections[0]->isSaleable()) echo ' disabled="disabled"' ?>
														value="<?php /* @escapeNotVerified */ echo $_selections[0]->getSelectionId() ?>"/>
													 <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selections[0]->getSelectionId();?>' />  
													 <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selections[0]->getId();?>' />  
													 <input type='hidden' id='product-subscription-type' name='product-subscription-type' value='<?php echo $productRepository->getById($_selections[0]->getId())->getData('subscription_type');?>' />  
													 <input type='hidden' id='product-subscription-type_frontend' name='product-subscription-type_frontend' value='<?php $_product = $productRepository->getById($_selections[0]->getId());
														   echo $_product->getResource()->getAttribute('subscription_type')->getFrontend()->getValue($_product);?>' />
												</div>
												 
											 </div>
											<?php }else{ ?>
											  <div class="col-xs-5 media-type-<?php echo $mediaAppClass[$mediaType] ?>">
												<!--<img class="app-icon" src="<?php echo $mediaUrl.$mediaApp[$mediaType]?>" height="63px" width="<?php echo $width ?>" />-->
												<div class="inputradio">
													<input type="radio"
														class="radio product bundle option change-container-classname"
														id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selections[0]->getSelectionId() ?>"
													 <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':true}"'?>
														name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
													 <?php if ($block->isSelected($_selections[0])) echo ' checked="checked"' ?>
													 <?php if (!$_selections[0]->isSaleable()) echo ' disabled="disabled"' ?>
														value="<?php /* @escapeNotVerified */ echo $_selections[0]->getSelectionId() ?>"/>
													 <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selections[0]->getSelectionId();?>' />  
													 <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selections[0]->getId();?>' />  
													 <input type='hidden' id='product-subscription-type' name='product-subscription-type' value='<?php echo $productRepository->getById($_selections[0]->getId())->getData('subscription_type');?>' />  
													 <input type='hidden' id='product-subscription-type_frontend' name='product-subscription-type_frontend' value='<?php $_product = $productRepository->getById($_selections[0]->getId());
														   echo $_product->getResource()->getAttribute('subscription_type')->getFrontend()->getValue($_product);?>' />
												</div>
											 </div>
											<?php } ?>
											
											 
                                    </div>
                                     <div class="price-div">
                                        <?php $catalogRuleHelper = $objectManager->create('Endeavor\Product\Helper\CatalogRuleHelper'); ?>
                                        <?php $isProductMatchRule = $catalogRuleHelper->getIsMatchingRule($_selections[0]->getProductId()); ?>
										 <?php $productAttributes = $objectManager->create('Magento\Catalog\Model\Product')->load($_selections[0]->getProductId()); ?>
                                        <?php if (!empty($productRules)) : ?>
                                            <div class="col-xs-3 option-price">                                               
                                                <span style="color: #3371B3!important;">
                                                    <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                                </span>
                                                <span><strike>
                                                    <?php echo $priceHelper->currency($productAttributes->getPrice(), true, false); ?>
                                                </strike></span>
                                            </div>
										 <?php elseif($productAttributes->getSpecialPrice() > 0 && $productAttributes->getSpecialPrice() <  $productAttributes->getPrice()) : ?>
											 <div class="option-price col-xs-3">
												<span style="color: #3371B3!important;">
													<?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
												</span>
												<span><strike>
													<?php echo $priceHelper->currency($productAttributes->getPrice(), true, false); ?>
												</strike></span>
											</div>	
                                        <?php else : ?>
                                            <div class="col-xs-3 option-price">
                                                <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                            </div>
                                        <?php endif; ?>
                                        <div class="col-xs-4">
                                            <div class="sku"><?php echo 'SKU: <span>' . $productRepository->getById($_selections[0]->getId())->getData('sku') . '</span>';?></div>
                                            <div class="isbn"><?php echo 'ISBN: <span>' . $productRepository->getById($_selections[0]->getId())->getData('isbn') .'</span>';?></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type='hidden' name='optionId' id='optionId' value='' />
                        <?php
                            foreach ($collection as $item) {
                                if ($item->getCustomerId() == $customerSession->getCustomer()->getId() && $item->getProductId() == $_selection->getId()){
                                    $flag = 1;
                                } else {
                                    $flag = 0;
                                }
                            }
                        ?>
                <div id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-container"></div>
            <?php else:?>
                <?php if (!$_option->getRequired()): ?>
                    <div class="field choice">
                        <input type="radio"
                               class="radio product bundle option"
                               id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>"
                               name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                               <?php echo ($_default && $_default->isSalable())?'':' checked="checked" ' ?>
                               value=""/>
                        <label class="label" for="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>">
                            <span><?php /* @escapeNotVerified */ echo __('None') ?></span>
                        </label>
                    </div>
                <?php endif; ?>
               
                    <?php foreach ($otherProductEditions as $otherProduct) : ?>
                            <?php if ($otherProduct->getId() != $currentProduct->getId()): ?>
                            <?php $otherProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($otherProduct->getId()); ?>
                                    <?php if ($helperPreOrder->isPreorder($currentProduct->getId())) : ?>
									    <div class='next-edition-release col-md-12'>
									<a   href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php if($otherProduct->getData('edition')$
                                                                        </div>
	</div>
                                    <?php else : ?>
									 <div class='next-edition-release col-md-12'>
                                        <a href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php echo __('Get The Latest Edition'); ?></a>
									</div>	
                                    <?php endif; ?>
                            <?php endif;?>
                    <?php endforeach; ?>
                
                <?php foreach ($_selections as $key => $_selection): ?>
                <?php $mediaType = $mediaTypeHelper->getMediaTypeForBundleSelection($_selection->getProductId()); ?>
				<?php $widthMediaType = array("BE", "ME", "ME"); ?>
				<?php $width = "200px";  if(!in_array($mediaType,$widthMediaType)){ $width = "100px"; } ?>	
                    <div class="bundle-items-grid col-xs-12 col-sm-6">
                    <div class="field choice">
                        <div class="row">
                            <label>
                                
								
								<?php if($is_app == "No" || !isset($mediaApp[$mediaType])){ ?>
                                <div class="media-type-<?php echo $mediaType; ?> col-xs-5">
                                    <div class="media-img"></div>
									<div class="inputradio">
                                        <input type="radio"
                                                   class="radio product bundle option change-container-classname"
                                                   id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>"
                                                <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':true}"'?>
                                                   name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                                                <?php if ($block->isSelected($_selection)) echo ' checked="checked"' ?>
                                                <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                                                   value="<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>"/>
                                            <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selection->getSelectionId();?>' />  
                                            <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selection->getId();?>' />  
                                            <input type='hidden' id='product-subscription-type' name='product-subscription-type' value='<?php echo $productRepository->getById($_selection->getId())->getData('subscription_type');?>' />  
                                            <input type='hidden' id='product-subscription-type_frontend' name='product-subscription-type_frontend' value='<?php $_product = $productRepository->getById($_selection->getId());
                                                  echo $_product->getResource()->getAttribute('subscription_type')->getFrontend()->getValue($_product);?>' />
									</div>
                                </div>
								<?php }else{ ?>
								  <div class="col-xs-5 media-type-<?php echo $mediaAppClass[$mediaType] ?>" >
                                    <div class="media-img"> <!--<img class="app-icon" src="<?php //echo $mediaUrl.$mediaApp[$mediaType]?>" height="63px" width="<?php echo $width?>" />--> </div>
									<div class="inputradio">
                                        <input type="radio"
                                                   class="radio product bundle option change-container-classname"
                                                   id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>"
                                                <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':true}"'?>
                                                   name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                                                <?php if ($block->isSelected($_selection)) echo ' checked="checked"' ?>
                                                <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                                                   value="<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>"/>
                                            <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selection->getSelectionId();?>' />  
                                            <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selection->getId();?>' />  
                                            <input type='hidden' id='product-subscription-type' name='product-subscription-type' value='<?php echo $productRepository->getById($_selection->getId())->getData('subscription_type');?>' />  
                                            <input type='hidden' id='product-subscription-type_frontend' name='product-subscription-type_frontend' value='<?php $_product = $productRepository->getById($_selection->getId());
                                                  echo $_product->getResource()->getAttribute('subscription_type')->getFrontend()->getValue($_product);?>' />
									</div>
                                 </div>
								<?php } ?>
								 
								
                                <?php $catalogRuleHelper = $objectManager->create('Endeavor\Product\Helper\CatalogRuleHelper'); ?>
                                <?php $isProductMatchRule = $catalogRuleHelper->getIsMatchingRule($_selection->getProductId()); ?>
                                 <?php $productAttributes = $objectManager->create('Magento\Catalog\Model\Product')->load($_selection->getProductId()); ?>
                                <?php if (!empty($productRules)) : ?>
                                    <div class="option-price col-xs-3">                                       
                                        <span style="color: #3371B3!important;">
                                            <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                        </span>
                                        <span><strike>
                                            <?php echo $priceHelper->currency($productAttributes->getPrice(), true, false); ?>
                                        </strike></span>
                                    </div>
								 <?php elseif($productAttributes->getSpecialPrice() > 0 && $productAttributes->getSpecialPrice() <  $productAttributes->getPrice()) : ?>
									 <div class="option-price col-xs-3">
                                       <span style="color: #3371B3!important;">
                                            <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                        </span>
                                        <span><strike>
                                            <?php echo $priceHelper->currency($productAttributes->getPrice(), true, false); ?>
                                        </strike></span>
                                    </div>
								 
                                <?php else : ?>
                                    <div class="option-price col-xs-3">
                                        <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                    </div>
                                <?php endif; ?>
                                <div class="col-xs-4">
                                   
                                        <div class="sku"><?php echo 'SKU: <span>' . $productRepository->getById($_selection->getId())->getData('sku') . '</span>';?></div>
                                        <div class="isbn"><?php echo 'ISBN: <span>' . $productRepository->getById($_selection->getId())->getData('isbn') .'</span>';?></div>
                              
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <?php endforeach; ?>
                <input type='hidden' name='optionId' id='optionId' value='' />
                <?php
                    foreach ($collection as $item) {
                        if ($item->getCustomerId() == $customerSession->getCustomer()->getId() && $item->getProductId() == $_selection->getId()){
                            $flag = 1;
                        } else {
                            $flag = 0;
                        }
                    }
                ?>
                <div id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-container"></div>
            <?php endif; ?>
                <div class="field qty qty-holder">
                <label class="label" for="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input">
                    <span><?php /* @escapeNotVerified */ echo __('Quantity') ?></span>
                </label>
                <div class="control">

                    <button type="button" class="reduced items  items-count" onclick="var result = document.getElementById('bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                        -
                    </button>
                    <input <?php if (!$_canChangeQty) echo ' disabled="disabled"' ?>
                           id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input"
                           class="input-text qty<?php if (!$_canChangeQty) echo ' qty-disabled' ?>"
                           type="number"
                           name="bundle_option_qty[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                           value="<?php /* @escapeNotVerified */ echo $_defaultQty ?>"/>
                    <button type="button"  class="increase items items-count" onclick="var result = document.getElementById('bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],function ($, modal) {
            $(document).ready(function() {
                var heights = $(".bundle-items-grid").map(function() {
                    return $(this).height();
                }).get(),

                maxHeight = Math.max.apply(null, heights);

                //$(".next-edition-release").height(maxHeight);
                $(".bundle-items-grid").height(maxHeight);
            });
        });
</script>
