<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$rules = $objectManager->get('Magento\Checkout\Model\Cart')->getQuote();
$rulesIds = $rules->getAppliedRuleIds();
$rulesMessages = array();
$cartRules = explode(",", $rulesIds);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeId = $storeManager->getStore()->getStoreId();
foreach ($cartRules as $cartRule) {
 $rulesMessages[] = $objectManager->get('Magento\SalesRule\Model\ResourceModel\Rule')->getStoreLabel($cartRule, $storeId);
}
?>

<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?php echo $block->getChildHtml('form_before') ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="form-cart-container">
		<div class="cart table-wrapper<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
                    <div class="promotions">
                        <?php foreach ($rulesMessages as $message): ?>
                            <?php if ($message): ?>
                                <div class="promotion-message" style="display: inline-block;">
                                <?php echo $message; ?>
                                </div>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                    <table id="shopping-cart-table" style="color: black;"
				   class="cart items data table"
				   data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
				   "updateCartActionContainer": "#update_cart_action_container"}}'>
				<caption role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ echo __('Shopping Cart Items') ?></caption>
				<thead>
					<tr>
						<th class="col item" scope="col"><span></span></th>
						<th class="col price" scope="col"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
						<th class="col qty" scope="col"><span><?php /* @escapeNotVerified */ echo __('Quantity') ?></span></th>
						<th class="col subtotal" scope="col"><span><?php /* @escapeNotVerified */ echo __('Total') ?></span></th>
						<th class="col actions" scope="col"><span></span></th>
					</tr>
				</thead>
				<?php foreach ($block->getItems() as $_item): ?>
					<?php echo $block->getItemHtml($_item) ?>
				<?php endforeach ?>
			</table>
		</div>
		<div class="cart main actions">
			
			<button type="submit"
					name="update_cart_action"
					data-cart-item-update=""
					value="update_qty"
					title="<?php echo $block->escapeHtml(__('UPDATE CART')); ?>"
					class="action update primary">
				<span><?php /* @escapeNotVerified */ echo __('UPDATE CART'); ?></span>
			</button>
			<input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
		</div>
	</div>
</form>
<div id="confirm-modal" style="display:none; padding-left: 10px;">
    <h3 style="font-weight: 300; font-size: 26px;">Delete Item</h3>
    <hr>
    <div>Are you sure you would like to remove this item from the cart?</div>
    <div class="btn-group" style="float: right">
        <div class="actions">
            <button type="submit" class="action-secondary action-dismiss" id="continue-delete">
                <?php /** @escapeNotVerified */ echo "Ok" ?>
            </button>
            <button type="button" class="action-secondary action-dismiss cancel-delete" style="margin: 20px; margin-left: 0"> <span><?php /** @escapeNotVerified */ echo "Cancel" ?></span></button>
        </div>
    </div>
</div>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>


<script>
 require([
     'jquery',
     'Magento_Ui/js/modal/modal'
 ],
 function ($,
 modal
 ) {
    var options = {
        type: 'popup',
        responsive: true,
        innerScroll: true
    };

    var popup = modal(options, $('#confirm-modal'));
    $('.remove-item').click(function (e) {
        parent = $(this).parent();
        $('#confirm-modal').modal('openModal');
        $('.modal-footer').css('display', 'none');
        $('#continue-delete').click(function () {
            $('#confirm-modal').modal('closeModal');
            parent.find('.remove').trigger('click');
        });
        $('.cancel-delete').click(function () {
            $('#confirm-modal').modal('closeModal');
        });
    });
 });
</script>
