<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_category  = $block->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<div class="shop_header with_featured_img ">
                <div class="shop_header_bkg" style="background-image:url(\''.trim($_imgUrl).'\' )"></div> 
                '.$this->getLayout()->createBlock('Magento\Theme\Block\Html\Title')->setTemplate('Magento_Theme::html/title.phtml')->toHtml().'
        </div>';


        echo $_imgHtml;

    }
?>
