.promotion-message{
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 20px;
    display: block;
    line-height: 1.2em;
    font-size: 1.3rem;
    background: #e5efe5;
    color: #006400;
    padding-left: 40px;
    position: relative;
}
.promotion-message:before{
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: 28px;
    color: #006400;
    content: '\e610';
    font-family: 'icons-blank-theme';
    margin: -14px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 18px;
    width: 40px;
    position: absolute;
    text-align: center;
}
.item-info>.item>.product-item-details>.promotions{padding-top:5px;}

.new-customer{
	border-left: 0.3vw solid;
}
.or{
	position: absolute;
    top: 45%;
    left: -1.8vw;
    width: 40px;
    height: 40px;
    color: white;
    background: #227fbb;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}
.register-area{
    float: inherit;
    width: 100%;
    margin: 20px 0;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    box-shadow: none;
    border: 0;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 400;
}
.message-customers-login{
    margin-bottom: 7%;
	font-size : 16px;
	text-align: center;
}
#zoo-main-content > .container > .page-title-wrapper {
    visibility: hidden;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.or{
		position: absolute;
		left: -2vw;
		width: 40px;
		height: 40px;
		color: white;
		background: #227fbb;
		border-radius: 45%;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		line-height: 40px;
		text-align: center;
	}
}
@media screen and (max-width: 860px) {
	.or {
		display: none;
	}
	.new-customer{
		border-left: unset;
	}

}