<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php
    $images = $block->getGalleryImages();
    $theme = $this->helper('CleverSoft\Base\Helper\Data');
    $rtl_language = $theme->getCfg('responsive/rtl_language');
?>
<div class="gallery-carousel _block-content-loading owl-carousel owl-theme hidden-xs hidden-sm">
        <?php foreach ($images as $image) {?>
            <?php if ($image->getData('media_type') == 'image'): ?>
                <div class="item">
                    <a href="<?php echo ($image->getData('large_image_url')); ?>">
                        <img src="<?php echo($image->getData('medium_image_url')) ;?>">
                    </a>
                </div>
            <?php elseif ($image->getData('media_type') == 'external-video'): ?>
                <div class="item" data-media-type="external-video" data-media-url="<?php echo($image->getData('video_url')); ?>">
                    <a href="<?php echo ($image->getData('large_image_url')); ?>">
                        <img src="<?php echo($image->getData('medium_image_url')) ;?>">
                    </a>
                </div>
            <?php endif;?>
        <?php } ?>
</div>

<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
    </div>

</div>
<?php
$_settingHelper = $this->helper('CleverSoft\Base\Helper\Data');
/* Image size */
if(!($main_width = $_settingHelper->getCfg('product_page/main_image_width')))
    $main_width = $block->getImageAttribute('product_page_image_medium', 'width');
if(!($main_height = $_settingHelper->getCfg('product_page/main_image_height')))
    $main_height = $block->getImageAttribute('product_page_image_medium', 'height');
if(!($thumb_width = $_settingHelper->getCfg('product_page/thumb_image_width')))
    $thumb_width = $block->getImageAttribute('product_page_image_small', 'width');
if(!($thumb_height = $_settingHelper->getCfg('product_page/thumb_image_height')))
    $thumb_height = $block->getImageAttribute('product_page_image_small', 'height');
?>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                "options": {
                    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                    "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                    "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                    "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                    "width": <?php /* @escapeNotVerified */ echo $main_width; ?>,
                    "thumbwidth": <?php /* @escapeNotVerified */ echo $thumb_width; ?>,
                    "thumbheight": <?php /* @escapeNotVerified */ echo $thumb_height ?: $thumb_width; ?>,
                    "height": <?php /* @escapeNotVerified */ echo $main_height ?: $main_width; ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                    "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navdir"); ?>"
                },
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                    "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                },

                "breakpoints": {
                    "mobile": {
                        "options": {
                            "options": {
                                "nav": "thumbs"
                            }
                        }
                    }
                }
            }
        }
    }
</script>

<script>
    require([
        "jquery",
        "jQueryLibMin"
    ], function ($) {
        $(function () {
            var $left = $('.gallery-carousel').offset().left;
            $('.gallery-carousel').css({
                'left': '-' + $left + 'px',
                'position': 'relative',
                'width': $(window).width() + 'px'
            });
            <?php if($rtl_language) : ?>
            $('.gallery-carousel').css({'left': '0', 'right': '-' + $left + 'px'});
            <?php else : ?>
            $('.gallery-carousel').css({'right': '0', 'left': '-' + $left + 'px'});
            <?php endif; ?>
            $('.gallery-carousel').owlCarousel({
                responsive:{
                    0:{
                        items:1
                    },
                    768:{
                        items:2
                    },
                    992:{
                        items:3
                    }
                }
            });
        });
    });
</script>
