@cleverfont-path: '@{baseDir}fonts/cleverfont/';

@font-face {
    font-family: 'cleversoft';
    src:  url('@{cleverfont-path}/cleversoft.eot?qr5ut1');
    src:  url('@{cleverfont-path}/cleversoft.eot?qr5ut1#iefix') format('embedded-opentype'),
    url('@{cleverfont-path}/cleversoft.woff2?qr5ut1') format('woff2'),
    url('@{cleverfont-path}/cleversoft.ttf?qr5ut1') format('truetype'),
    url('@{cleverfont-path}/cleversoft.woff?qr5ut1') format('woff'),
    url('@{cleverfont-path}/cleversoft.svg?qr5ut1#cleversoft') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cs-font{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cleversoft' ;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clever-icon-arrow-up:before {
    content: "\c273";
}
.clever-icon-arrow-down:before {
    content: "\c272";
}
.clever-icon-arrow-left-4:before {
    content: "\c271";
}
.clever-icon-arrow-right-4:before {
    content: "\c270";
}
.clever-icon-refresh-2:before {
    content: "\c269";
}
.clever-icon-refresh-1:before {
    content: "\c268";
}
.clever-icon-quote-2:before {
    content: "\c267";
}
.clever-icon-pause:before {
    content: "\c266";
}
.clever-icon-check:before {
    content: "\c265";
}
.clever-icon-caret-down:before {
    content: "\c264";
}
.clever-icon-caret-left:before {
    content: "\c263";
}
.clever-icon-caret-right:before {
    content: "\c262";
}
.clever-icon-caret-up:before {
    content: "\c261";
}
.clever-icon-caret-square-dow:before {
    content: "\c260";
}
.clever-icon-caret-square-left:before {
    content: "\c259";
}
.clever-icon-caret-square-right:before {
    content: "\c258";
}
.clever-icon-caret-square-up:before {
    content: "\c257";
}
.clever-icon-check-circle-o:before {
    content: "\c256";
}
.clever-icon-check-circle:before {
    content: "\c255";
}
.clever-icon-check-square-o:before {
    content: "\c254";
}
.clever-icon-check-square:before {
    content: "\c253";
}
.clever-icon-circle-o:before {
    content: "\c252";
}
.clever-icon-circle:before {
    content: "\c251";
}
.clever-icon-dribbble:before {
    content: "\c250";
}
.clever-icon-flickr:before {
    content: "\c249";
}
.clever-icon-foursquare:before {
    content: "\c248";
}
.clever-icon-github:before {
    content: "\c247";
}
.clever-icon-linkedin:before {
    content: "\c246";
}
.clever-icon-rss:before {
    content: "\c245";
}
.clever-icon-square-o:before {
    content: "\c244";
}
.clever-icon-square:before {
    content: "\c243";
}
.clever-icon-star-o:before {
    content: "\c242";
}
.clever-icon-star:before {
    content: "\c241";
}
.clever-icon-tumblr:before {
    content: "\c240";
}
.clever-icon-xing:before {
    content: "\c239";
}
.clever-icon-twitter:before {
    content: "\c238";
}
.clever-icon-cart-16:before {
    content: "\c237";
}
.clever-icon-heart:before {
    content: "\c236";
}
.clever-icon-quickview-5:before {
    content: "\c235";
}
.clever-icon-facebook:before {
    content: "\c234";
}
.clever-icon-googleplus:before {
    content: "\2201";
}
.clever-icon-instagram:before {
    content: "\c232";
}
.clever-icon-pinterest:before {
    content: "\c231";
}
.clever-icon-skype:before {
    content: "\c230";
}
.clever-icon-vimeo:before {
    content: "\c229";
}
.clever-icon-youtube-1:before {
    content: "\2202";
}
.clever-icon-award-1:before {
    content: "\c227";
}
.clever-icon-clock-1:before {
    content: "\c226";
}
.clever-icon-three-dots:before {
    content: "\c225";
}
.clever-icon-share-2:before {
    content: "\c224";
}
.clever-icon-building:before {
    content: "\c223";
}
.clever-icon-faucet:before {
    content: "\c222";
}
.clever-icon-flower:before {
    content: "\c221";
}
.clever-icon-house-1:before {
    content: "\c220";
}
.clever-icon-house:before {
    content: "\c219";
}
.clever-icon-pines:before {
    content: "\c218";
}
.clever-icon-plant:before {
    content: "\c217";
}
.clever-icon-sprout-1:before {
    content: "\c216";
}
.clever-icon-sprout:before {
    content: "\c215";
}
.clever-icon-trees:before {
    content: "\c214";
}
.clever-icon-close-1:before {
    content: "\c213";
}
.clever-icon-list-2:before {
    content: "\c212";
}
.clever-icon-grid-5:before {
    content: "\c211";
}
.clever-icon-menu-6:before {
    content: "\c210";
}
.clever-icon-three-dots-o:before {
    content: "\c209";
}
.clever-icon-list-1:before {
    content: "\c208";
}
.clever-icon-menu-5:before {
    content: "\c207";
}
.clever-icon-menu-4:before {
    content: "\c206";
}
.clever-icon-heart-o:before {
    content: "\c205";
}
.clever-icon-user-6:before {
    content: "\c204";
}
.clever-icon-attachment:before {
    content: "\c203";
}
.clever-icon-bag:before {
    content: "\c202";
}
.clever-icon-ball:before {
    content: "\c201";
}
.clever-icon-battery:before {
    content: "\c200";
}
.clever-icon-briefcase:before {
    content: "\c199";
}
.clever-icon-car:before {
    content: "\c198";
}
.clever-icon-cpu-2:before {
    content: "\c197";
}
.clever-icon-cpu-1:before {
    content: "\c196";
}
.clever-icon-dress-woman:before {
    content: "\c195";
}
.clever-icon-drill-tool:before {
    content: "\c194";
}
.clever-icon-feeding-bottle:before {
    content: "\c193";
}
.clever-icon-fruit:before {
    content: "\c192";
}
.clever-icon-furniture-2:before {
    content: "\c191";
}
.clever-icon-furniture-1:before {
    content: "\c190";
}
.clever-icon-shoes-woman-2:before {
    content: "\c189";
}
.clever-icon-shoes-woman-1:before {
    content: "\c188";
}
.clever-icon-horse:before {
    content: "\c187";
}
.clever-icon-laptop:before {
    content: "\c186";
}
.clever-icon-lipstick:before {
    content: "\c185";
}
.clever-icon-iron:before {
    content: "\c184";
}
.clever-icon-perfume:before {
    content: "\c183";
}
.clever-icon-baby-toy-2:before {
    content: "\c182";
}
.clever-icon-baby-toy-1:before {
    content: "\c181";
}
.clever-icon-paint-roller:before {
    content: "\c180";
}
.clever-icon-shirt:before {
    content: "\c179";
}
.clever-icon-shoe-man-2:before {
    content: "\c178";
}
.clever-icon-small-diamond:before {
    content: "\c177";
}
.clever-icon-tivi:before {
    content: "\c176";
}
.clever-icon-smartphone:before {
    content: "\c175";
}
.clever-icon-lights:before {
    content: "\c174";
}
.clever-icon-microwave:before {
    content: "\c173";
}
.clever-icon-wardrobe:before {
    content: "\c172";
}
.clever-icon-washing-machine:before {
    content: "\c171";
}
.clever-icon-watch-2:before {
    content: "\c170";
}
.clever-icon-watch-1:before {
    content: "\c169";
}
.clever-icon-slider-3:before {
    content: "\c168";
}
.clever-icon-slider-2:before {
    content: "\c167";
}
.clever-icon-slider-1:before {
    content: "\c166";
}
.clever-icon-cart-15:before {
    content: "\c165";
}
.clever-icon-cart-14:before {
    content: "\c164";
}
.clever-icon-cart-13:before {
    content: "\c163";
}
.clever-icon-cart-12:before {
    content: "\c162";
}
.clever-icon-cart-11:before {
    content: "\c161";
}
.clever-icon-cart-10:before {
    content: "\c160";
}
.clever-icon-cart-9:before {
    content: "\c159";
}
.clever-icon-cart-8:before {
    content: "\c158";
}
.clever-icon-pause-1:before {
    content: "\c157";
}
.clever-icon-arrow-left:before {
    content: "\c156";
}
.clever-icon-arrow-left-1:before {
    content: "\c155";
}
.clever-icon-arrow-left-2:before {
    content: "\c154";
}
.clever-icon-arrow-left-3:before {
    content: "\c153";
}
.clever-icon-arrow-right:before {
    content: "\c152";
}
.clever-icon-arrow-right-1:before {
    content: "\c151";
}
.clever-icon-arrow-right-2:before {
    content: "\c150";
}
.clever-icon-arrow-right-3:before {
    content: "\c149";
}
.clever-icon-plane-1:before {
    content: "\c148";
}
.clever-icon-bag-black-fashion-model:before {
    content: "\c147";
}
.clever-icon-funnel-o:before {
    content: "\c146";
}
.clever-icon-funnel:before {
    content: "\c145";
}
.clever-icon-grid-1:before {
    content: "\c144";
}
.clever-icon-contract:before {
    content: "\c143";
}
.clever-icon-expand:before {
    content: "\c142";
}
.clever-icon-cart-7:before {
    content: "\c141";
}
.clever-icon-quote-1:before {
    content: "\c140";
}
.clever-icon-next-arrow-1:before {
    content: "\c139";
}
.clever-icon-prev-arrow-1:before {
    content: "\c138";
}
.clever-icon-reload:before {
    content: "\c137";
}
.clever-icon-truck:before {
    content: "\c136";
}
.clever-icon-wallet:before {
    content: "\c135";
}
.clever-icon-electric-1:before {
    content: "\c134";
}
.clever-icon-electric-2:before {
    content: "\c133";
}
.clever-icon-lock:before {
    content: "\c132";
}
.clever-icon-share-1:before {
    content: "\c131";
}
.clever-icon-check-box:before {
    content: "\c130";
}
.clever-icon-clock:before {
    content: "\c129";
}
.clever-icon-analytics-laptop:before {
    content: "\c128";
}
.clever-icon-code-design:before {
    content: "\c127";
}
.clever-icon-competitive-chart:before {
    content: "\c126";
}
.clever-icon-computer-monitor-and-cellphone:before {
    content: "\c125";
}
.clever-icon-consulting-message:before {
    content: "\c124";
}
.clever-icon-creative-process:before {
    content: "\c123";
}
.clever-icon-customer-reviews:before {
    content: "\c122";
}
.clever-icon-data-visualization:before {
    content: "\c121";
}
.clever-icon-document-storage:before {
    content: "\c120";
}
.clever-icon-download-arrow:before {
    content: "\c119";
}
.clever-icon-download-cloud:before {
    content: "\c118";
}
.clever-icon-email-envelope:before {
    content: "\c117";
}
.clever-icon-file-sharing:before {
    content: "\c116";
}
.clever-icon-finger-touch-screen:before {
    content: "\c115";
}
.clever-icon-horizontal-tablet-with-pencil:before {
    content: "\c114";
}
.clever-icon-illustration-tool:before {
    content: "\c113";
}
.clever-icon-keyboard-and-hands:before {
    content: "\c112";
}
.clever-icon-landscape-image:before {
    content: "\c111";
}
.clever-icon-layout-squares:before {
    content: "\c110";
}
.clever-icon-mobile-app-developing:before {
    content: "\c109";
}
.clever-icon-online-purchase:before {
    content: "\c108";
}
.clever-icon-online-shopping:before {
    content: "\c107";
}
.clever-icon-online-video:before {
    content: "\c106";
}
.clever-icon-optimization-clock:before {
    content: "\c105";
}
.clever-icon-padlock-key:before {
    content: "\c104";
}
.clever-icon-pc-monitor:before {
    content: "\c103";
}
.clever-icon-place-localizer:before {
    content: "\c102";
}
.clever-icon-search-results:before {
    content: "\c101";
}
.clever-icon-search-tool:before {
    content: "\c100";
}
.clever-icon-settings-tools:before {
    content: "\c099";
}
.clever-icon-sharing-symbol:before {
    content: "\c098";
}
.clever-icon-site-map:before {
    content: "\c097";
}
.clever-icon-smartphone-with-double-arrows:before {
    content: "\c096";
}
.clever-icon-tablet-with-double-arrow:before {
    content: "\c095";
}
.clever-icon-thin-expand-arrows:before {
    content: "\c094";
}
.clever-icon-upload-information:before {
    content: "\c093";
}
.clever-icon-upload-to-web:before {
    content: "\c092";
}
.clever-icon-volume-off:before {
    content: "\c091";
}
.clever-icon-volume-on:before {
    content: "\c090";
}
.clever-icon-web-code:before {
    content: "\c089";
}
.clever-icon-web-development-1:before {
    content: "\c088";
}
.clever-icon-web-development-2:before {
    content: "\c087";
}
.clever-icon-web-development:before {
    content: "\c086";
}
.clever-icon-web-home:before {
    content: "\c085";
}
.clever-icon-web-link:before {
    content: "\c084";
}
.clever-icon-web-links:before {
    content: "\c083";
}
.clever-icon-website-protection:before {
    content: "\c082";
}
.clever-icon-work-team:before {
    content: "\c081";
}
.clever-icon-zoom-in-symbol:before {
    content: "\c080";
}
.clever-icon-zoom-out-button:before {
    content: "\c079";
}
.clever-icon-arrow-1:before {
    content: "\c078";
}
.clever-icon-arrow-bold:before {
    content: "\c077";
}
.clever-icon-arrow-light:before {
    content: "\c076";
}
.clever-icon-arrow-regular:before {
    content: "\c075";
}
.clever-icon-cart-1:before {
    content: "\c074";
}
.clever-icon-cart-2:before {
    content: "\c073";
}
.clever-icon-cart-3:before {
    content: "\c072";
}
.clever-icon-cart-4:before {
    content: "\c071";
}
.clever-icon-cart-5:before {
    content: "\c070";
}
.clever-icon-cart-6:before {
    content: "\c069";
}
.clever-icon-chart:before {
    content: "\c068";
}
.clever-icon-close:before {
    content: "\c067";
}
.clever-icon-compare-1:before {
    content: "\c066";
}
.clever-icon-compare-2:before {
    content: "\c065";
}
.clever-icon-compare-3:before {
    content: "\c064";
}
.clever-icon-compare-4:before {
    content: "\c063";
}
.clever-icon-compare-5:before {
    content: "\c062";
}
.clever-icon-compare-6:before {
    content: "\c061";
}
.clever-icon-compare-7:before {
    content: "\c060";
}
.clever-icon-down:before {
    content: "\c059";
}
.clever-icon-grid:before {
    content: "\c058";
}
.clever-icon-hand:before {
    content: "\c057";
}
.clever-icon-layout-1:before {
    content: "\c056";
}
.clever-icon-layout:before {
    content: "\c055";
}
.clever-icon-light:before {
    content: "\c054";
}
.clever-icon-play:before {
    content: "\c053";
}
.clever-icon-list:before {
    content: "\c052";
}
.clever-icon-mail-1:before {
    content: "\c051";
}
.clever-icon-mail-2:before {
    content: "\c050";
}
.clever-icon-mail-3:before {
    content: "\c049";
}
.clever-icon-mail-4:before {
    content: "\c048";
}
.clever-icon-mail-5:before {
    content: "\c047";
}
.clever-icon-map-1:before {
    content: "\c046";
}
.clever-icon-map-2:before {
    content: "\c045";
}
.clever-icon-map-3:before {
    content: "\c044";
}
.clever-icon-map-4:before {
    content: "\c043";
}
.clever-icon-map-5:before {
    content: "\c042";
}
.clever-icon-menu-1:before {
    content: "\c041";
}
.clever-icon-menu-2:before {
    content: "\c040";
}
.clever-icon-grid-3:before {
    content: "\c039";
}
.clever-icon-grid-4:before {
    content: "\c038";
}
.clever-icon-menu-3:before {
    content: "\c037";
}
.clever-icon-grid-2:before {
    content: "\c036";
}
.clever-icon-minus:before {
    content: "\c035";
}
.clever-icon-next:before {
    content: "\c034";
}
.clever-icon-phone-1:before {
    content: "\c033";
}
.clever-icon-phone-2:before {
    content: "\c032";
}
.clever-icon-phone-3:before {
    content: "\c031";
}
.clever-icon-phone-4:before {
    content: "\c030";
}
.clever-icon-phone-5:before {
    content: "\c029";
}
.clever-icon-phone-6:before {
    content: "\c028";
}
.clever-icon-picture:before {
    content: "\c027";
}
.clever-icon-pin:before {
    content: "\c026";
}
.clever-icon-plus:before {
    content: "\c025";
}
.clever-icon-prev:before {
    content: "\c024";
}
.clever-icon-eye-close-up:before {
    content: "\c023";
}
.clever-icon-quickview-2:before {
    content: "\c022";
}
.clever-icon-quickview-3:before {
    content: "\c021";
}
.clever-icon-quickview-4:before {
    content: "\c020";
}
.clever-icon-refresh:before {
    content: "\c019";
}
.clever-icon-youtube-2:before {
    content: "\c018";
}
.clever-icon-search-1:before {
    content: "\c017";
}
.clever-icon-search-2:before {
    content: "\c016";
}
.clever-icon-search-3:before {
    content: "\c015";
}
.clever-icon-search-4:before {
    content: "\c014";
}
.clever-icon-search-5:before {
    content: "\c013";
}
.clever-icon-support:before {
    content: "\c012";
}
.clever-icon-tablet:before {
    content: "\c011";
}
.clever-icon-play-2:before {
    content: "\c010";
}
.clever-icon-up:before {
    content: "\c009";
}
.clever-icon-user-1:before {
    content: "\c008";
}
.clever-icon-user-2:before {
    content: "\c007";
}
.clever-icon-user-3:before {
    content: "\c006";
}
.clever-icon-user-4:before {
    content: "\c005";
}
.clever-icon-user-5:before {
    content: "\c004";
}
.clever-icon-user:before {
    content: "\c003";
}
.clever-icon-vector:before {
    content: "\c002";
}
.clever-icon-wishlist:before {
    content: "\c001";
}