<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view" style="color: black;">
    <div class="block-title">
        <strong><?= /* @escapeNotVerified */ __('Order Information') ?></strong>
    </div>
    <div class="block-content">
        <div class="box-order-methods col-sm-6">
            <?php if (!$_order->getIsVirtual()): ?>
            <div class="box box-order-shipping-method" style="width:100%;min-height:220px">
                <strong class="box-title">
                    <span><?= /* @escapeNotVerified */ __('Shipping Method') ?></span>
                </strong>
                <div class="box-content">
                <?php if ($_order->getShippingDescription()): ?>
                    <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                <?php else: ?>
                    <?= /* @escapeNotVerified */ __('No shipping information available') ?>
                <?php endif; ?>
                </div>
            </div>
            <?php endif; ?>
            <div class="box box-order-billing-method" style="width:100%;min-height:220px">
                <strong class="box-title">
                    <span><?= /* @escapeNotVerified */ __('Payment Method') ?></span>
                </strong>
                <div class="box-content">
                    <?= $block->getPaymentInfoHtml() ?>
                </div>
            </div>
        </div>
        <div class="box-order-addresses col-sm-6">
            <?php if (!$_order->getIsVirtual()): ?>
                <div class="box box-order-shipping-address" style="width:100%;min-height:220px">
                    <strong class="box-title"><span><?= /* @escapeNotVerified */ __('Shipping Address') ?></span></strong>
                    <div class="box-content">
                        <address style='color: black'><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
                    </div>
                </div>
            <?php endif; ?>
            <div class="box box-order-billing-address" style="width:100%;min-height:220px">
                <strong class="box-title" style="width: 100%;display: inline-block;">
                    <span><?= /* @escapeNotVerified */ __('Billing Address') ?></span>
                </strong>
                <div class="box-content">
                    <address style='color: black'><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
                </div>
            </div>
        </div>
    </div>
</div>
