<?php
/**
 * @author Mohammad Hamadneh <mhamadneh@endeavorpal.com>
 * @date 7-12-2017.
 * @desc in order to change template for invoice when we have complete preorder status orders.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
$sfOrder = $block->getOrder();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
?>
<?php if($sfOrder->getStatus()=='complete_payment'): ?>
    <?php $code= null;?>
    <?php foreach ($block->getTotals() as $_code => $_total): ?>
        <?php $code = $_code; ?>
        <?php break; ?>
    <?php endforeach; ?>
    <?php $sfGrandTotal = $sfOrder->getSfGrandTotal(); ?>
    <?php $totalPaid = $sfOrder->getBaseTotalPaid(); ?>
    <?php $totalDue = ($sfGrandTotal - $totalPaid); ?>

    <tr class="<?php /* @escapeNotVerified */ echo $code?>" scope="row">
        <th>
            <strong><?php echo __('Grand Total'); ?></strong>
        </th>
        <td></td>
        <td>
            <?php echo $priceHelper->currency($sfGrandTotal, true, false); ?>
        </td>
    </tr>
    <tr class="<?php /* @escapeNotVerified */ echo $code?>" scope="row">
        <th>
            <strong><?php echo __('Total Paid'); ?></strong>
        </th>
        <td></td>
        <td>
            <?php echo $priceHelper->currency(($totalPaid), true, false); ?>
        </td>
    </tr>
    <tr class="<?php /* @escapeNotVerified */ echo $code?>" scope="row">
        <th>
            <strong><?php echo __('Total Due'); ?></strong>
        </th>
        <td></td>
        <td>
            <?php echo $priceHelper->currency(($totalDue), true, false); ?>
        </td>
    </tr>
<?php else: ?>
    <?php foreach ($block->getTotals() as $_code => $_total): ?>
        <?php if ($_total->getBlockName()): ?>
            <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
        <?php else:?>
        <tr class="<?php /* @escapeNotVerified */ echo $_code?>">
            <th <?php /* @escapeNotVerified */ echo $block->getLabelProperties()?> scope="row">
                <?php if ($_total->getStrong()):?>
                <strong><?php echo $block->escapeHtml($_total->getLabel());?></strong>
                <?php else:?>
                <?php echo $block->escapeHtml($_total->getLabel());?>
                <?php endif?>
            </th>
            <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?> data-th="<?php echo $block->escapeHtml($_total->getLabel());?>">
                <?php if ($_total->getStrong()):?>
                <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
                <?php else:?>
                <?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?>
                <?php endif?>
            </td>
        </tr>
        <?php endif?>
    <?php endforeach?>
<?php endif; ?>
