<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 * @Edited By: mohammad hamadneh.
 * @desc: add promotion message in products page.
 */
?>
<div class="product-rules-message">
    <?php echo $block->getChildHtml('', true);?>
    <ul class="prices-tier items">
        <li class="item">
            <?php $productRules=$block->getProductRules();?>
            <?php foreach($productRules as $rule): ?>
                <div class="promotion-message">    
                    <?php echo $rule;?><br>
                </div>
            <?php endforeach; ?>
        </li>
    </ul>
</div> 