<?php
  
?>
<?php
/**
 * Career sidebar recent jobs template
 *
 * @var $block \Endeavor\Career\Block\Sidebar\Recent
 */
?>

<?php
    $_jobCollection = $block->getJobCollection();
?>
<?php if ($_jobCollection->count()) { ?>
<div class="widget block block-recent-jobs" data-bind="scope: 'recemt-jobs'">
    <div class="block-title">
        <strong><?php echo __('Recent Jobs') ?></strong>
    </div>
    <div class="block-content">
        <?php foreach ($_jobCollection as $_job) { ?>
            <div class="item">
                <a class="job-item-link"
                   href="<?php echo $_job->getJobUrl() ?>">
                    <?php echo $block->escapeHtml($_job->getTitle()) ?>
                </a>
            </div>

        <?php } ?>
    </div>
</div>
<?php } ?>