<?php
  
?>
<?php
/**
 * Career sidebar archive template
 *
 * @var $block \Endeavor\Career\Block\Sidebar\Rss
 */
?>
<div class="widget block block-rss" data-bind="scope: 'career-rss'">
    <div class="block-title">
        <img class="rss-icon" src="<?php echo $block->getViewFileUrl('Endeavor_Career::images/rss-icon.png') ?>" alt="<?php echo __('RSS Feed') ?>" >
        <strong><a target="_blan" href="<?php echo $this->getUrl('career/rss/feed') ?>"><?php echo __('RSS Feed') ?></a></strong>
    </div>
</div>