<?php
  
?>
<?php
/**
 * Career sidebar search form template
 *
 * @var $block \Endeavor\Career\Block\Sidebar\Search
 */
?>

<div class="widget block career-search" data-bind="scope: 'career-search'">
	<div class="block-content">
		<form class="form" id="career_search_mini_form" action="<?php echo $block->getFormUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="career_search">
                    <span><?php echo __('Search') ?></span>
                </label>
                <div class="control">
                    <input id="career_search" type="text" name="q" value="<?php echo $block->escapeHtml($block->getQuery()) ?>" placeholder="<?php echo __('Search jobs here...') ?>" class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off">
                </div>
            </div>
            <div class="actions">
                <button type="submit" onclick="return goCareerSearch(this);" title="<?php echo __('Search') ?>" class="action search">
                    <span><?php echo __('Search') ?></span>
                </button>
            </div>
        </form>
	</div>
</div>
<script type="text/javascript">
	function goCareerSearch(e)
	{
		var value = document.getElementById('career_search').value;
		if (value) {
			window.location = e.form.action + value + '/';
		}
		return false;
	}
</script>