<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <span class="text"><!-- ko i18n: 'My Cart' --><!-- /ko --></span>
    <!-- override hanhphan<span
            class="qty empty"
            data-bind="css: { empty: !!getCartParam('summary_count') == false },
                   attr: { title: $t('Items in Cart') }">
        <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
    <!--</span>-->
    <a href="javascript:void(0)"
       id="btn-minicart-close"
       class="pull-right close-minicart"
       data-action="close"
       data-bind="attr: { title: $t('Close') }">
        <span class="cs-font clever-icon-close"></span>
    </a>
</div>

<div class="block-content">

    <!-- ko if: getCartParam('summary_count') -->
    <div class="items-total">
        <span class="count"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
        <!-- ko if: getCartParam('summary_count') == 1 -->
        <!-- ko i18n: 'item' --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: getCartParam('summary_count') > 1 -->
        <!-- ko i18n: 'items' --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: getCartParam('summary_count') -->
    <div class="_loading">
        <i class="spinner"></i>
    </div>
    <strong class="subtitle"><!-- ko i18n: 'Recently added item(s)' --><!-- /ko --></strong>
    <div data-action="scroll" class="minicart-items-wrapper">
        <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartParam('items'), as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
            <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} --><!-- /ko -->
            <!-- /ko -->
        </ol>
    </div>
    <!-- /ko -->


    <div class="mt-cart-panel-summary">
        <!-- ko if: getCartParam('possible_onepage_checkout') -->
        <!-- ko foreach: getRegion('subtotalContainer') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko foreach: getRegion('extraInfo') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: getCartParam('summary_count') -->
        <div class="actions">
            <a data-bind="attr: {href: shoppingCartUrl}">
                <span data-hover="View Cart"><!-- ko i18n: 'View cart' --><!-- /ko --></span>
            </a>
        </div>
        <!-- /ko -->
        <!-- ko if: getCartParam('possible_onepage_checkout') -->

        <div class="actions">
            <a href="javascript:void(0)"
               id="top-cart-btn-checkout"
               class="action primary checkout"
               data-bind="attr: {title: $t('Checkout')}">
                <span data-hover="Checkout"><!-- ko i18n: 'Checkout' --><!-- /ko --></span>
            </a>
            <div data-bind="html: getCartParam('extra_actions')"></div>
        </div>
        <!-- /ko -->

    </div>
    <!-- /ko -->

    <!-- ko ifnot: getCartParam('summary_count') -->
    <div class="bg-cart-empty"></div>
    <p class="subtitle empty" data-bind="visible: closeSidebar()">
        <!-- ko i18n: 'Your cart is empty.' --><!-- /ko -->

        <!-- ko i18n: 'Start shopping now !' --><!-- /ko -->
    </p>
    <!-- ko if: getCartParam('cart_empty_message') -->
    <p class="minicart empty text"><!-- ko text: getCartParam('cart_empty_message') --><!-- /ko --></p>

    <div class="actions">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                <span><!-- ko text: $t('View and edit cart') --><!-- /ko --></span>
            </a>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
