#infscr-loading {
    position: relative;
    text-align: center;
    margin: 0 auto;
    clear: both;
}
.zoo-main-content-area {
    padding-left: 12vw;
    padding-right: 7vw;
}
.content-items{
    padding-top: 1vw;
    padding-left: 1vw;
    margin: 1vw;
    border-top: 2px solid;
    text-align: right;
}
.product-item-info > div > .zoo-product-image > a > img {
    height: auto !important;
}