<?php 
$blockObj= $block->getLayout()->createBlock('Endeavor\ContactUs\Block\TypeList');
?>
<div class="contact">
<div class="row">
      <div class="col-xs-12">
         <div class="row">
               <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('talk')->toHtml();?>

           
         </div>
      </div>
   </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 ">
        
<form class="form contact"
      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
		 <h3>Send A Message</h3>
    
         <div class="field drop required" style="display: none !important;">
             <label class="label" for="drop"><span><?php /* @escapeNotVerified */ echo __('Type of question') ?></span></label>
            <div class="control">
                <select name="question">
				<?php echo "<option selected='selected' value='1'>Default</option>";?>
                 <?php foreach ( $blockObj->getTypes() as $type): ?>
                    <?php //echo " <option value=\"" . $type->getId() . "\">". $type->getTypeQuestion()."</option>";?>
                 <?php endforeach; ?>
                 
                </select>
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Name') ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field subject required">
            <label class="label" for="subject"><span><?php /* @escapeNotVerified */ echo __('Subject') ?></span></label>
            <div class="control">
                <input name="subject" id="subject" title="<?php /* @escapeNotVerified */ echo __('Subject') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone">
            <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="" class="input-text" type="text" />
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('How can we help?') ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('How can we help?') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
            </div>
        </div>
        
        <?php echo $block->getChildHtml('form.additional.info'); ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="btn-raised primary">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
        </div>
    </div>
     <div class="new line ">
            <label class="label" for=""><span><?php /* @escapeNotVerified */ echo "<br>" ?></span></label>
           
        </div>
</form>
        </div>
        <div class="col-xs-12 col-sm-6">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('addres')->toHtml();?>
         <div class="hours">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hours')->toHtml();?>
         </div>
      </div>
   
		 <div class="col-xs-12 col-sm-12 contact-maps">
               <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('map')->toHtml();?>
			</div>
   </div>

</div>