<?php
  
?>
<?php
/**
 * Career job comments template
 *
 * @var $block \Endeavor\Career\Block\Job\View\Comments
 */
?>
<?php if ($block->getCommentsType()) { ?>
<div class="block comments">
    <?php if ($block->getCommentsType() == 'facebook') { ?>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "<?php echo '/' . '/' ?>connect.facebook.net/<?php echo $block->getLocaleCode() ?>/sdk.js#xfbml=1&version=v2.5&appId=<?php echo $block->getFacebookAppId() ?>";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="job-comments clear">
            <div class="fb-comments" data-href="<?php echo $block->getJob()->getJobUrl() ?>" data-width="100%" data-numjobs="<?php echo $block->getNumberOfComments() ?>"></div>
        </div>
    <?php } elseif ($block->getCommentsType() == 'disqus') { ?>
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = "<?php echo $block->getJob()->getJobUrl() ?>";
                this.page.identifier = "<?php echo $block->getJob()->getUrl() ?>"
            };

            (function() {
                var d = document, s = d.createElement('script');
                s.src = '<?php echo '/' . '/' . $block->getDisqusShortname() ?>.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <?php } elseif ($block->getCommentsType() == 'google') { ?>
            <script src="https://apis.google.com/js/plusone.js"></script>
            <div id="mfcareer_gcomments" data-width="100%" height="200px"></div>
            <script>
                gapi.comments.render('mfcareer_gcomments', {
                    href: '<?php echo $block->getJob()->getJobUrl() ?>',
                    first_party_property: 'BLOGGER',
                    view_type: 'FILTERED_POSTMOD'
                });
            </script>
    <?php } ?>
</div>
<?php } ?>