<?php
  
?>
<?php
/**
 * Career job next and prev job links
 *
 * @var $block \Endeavor\Career\Block\Job\View\NextPrev
 */
?>

<?php if ($block->displayLinks()) { ?>
    <?php
        $prevJob = $this->getPrevJob();
        $nextJob = $this->getNextJob();
    ?>
    <?php if ($prevJob || $nextJob) { ?>
        <div class="job-nextprev-hld clearfix">
            <?php if ($prevJob) { ?>
                <?php $title = $block->escapeHtml($prevJob->getTitle()) ?>
                <a class="nextprev-link prev-link" href="<?php echo $prevJob->getJobUrl() ?>" title="<?php echo __('Read %1',$title) ?>">
                    <?php echo __('&larr; Previous') ?>
                </a>
            <?php } ?>
            <?php if ($nextJob) { ?>
                <?php $title = $block->escapeHtml($nextJob->getTitle()) ?>
                <a class="nextprev-link next-link" href="<?php echo $nextJob->getJobUrl() ?>" title="<?php echo __('Read %1',$title) ?>">
                    <?php echo __('Next &rarr;') ?>
                </a>
            <?php } ?>
        </div>
    <?php } ?>
<?php } ?>
