<?php
  
?>
<?php
/**
 * Career rss feed template
 *
 * @var $block \Endeavor\Career\Block\Rss\Feed
 */
?>
<?php $_jobCollection = $block->getJobCollection(); ?>
<?php echo '<?xml version="1.0" encoding="UTF-8" ?>' . "\r\n" ?>
<rss version="2.0">
<channel>
   <title><?php echo $block->escapeHtml($this->getTitle()) ?></title>
   <link><?php echo $this->getLink() ?></link>
   <description><?php echo $block->escapeHtml($this->getDescription()) ?></description>
   <?php foreach($_jobCollection as $_job) { ?>
   <item>
      <title><?php echo $block->escapeHtml($_job->getTitle(), null, true) ?></title>
      <link><?php echo $_job->getJobUrl() ?></link>
      <description><![CDATA[<?php echo $_job->getContent() ?>]]></description>
      <?php if ($featuredImage = $_job->getFeaturedImage()) { ?>
         <image><?php echo $featuredImage ?></image>
      <?php } ?>
      <pubDate><?php echo $_job->getPublishDate('c') ?></pubDate>
      <?php foreach($_job->getParentCategories() as $category) { ?>
      <category><![CDATA[<?php echo $category->getTitle() ?>]]></category>
      <?php } ?>
   </item>
   <?php } ?>
</channel>
</rss>
