<?php
  
?>
<?php
/**
 * Career job list item template
 *
 * @var $block \Endeavor\Career\Block\Job\AbstractJob
 */
?>
<?php
    $_job = $this->getJob();
    $_jobUrl = $_job->getJobUrl();
    $_jobName = $block->escapeHtml($_job->getTitle(), null, true);

    $imageHelper = $this->helper('Endeavor\Career\Helper\Image');
    $imageWidth = 500;
    $imageHeight = 200;
?>
<li class="job-holder job-holder-<?php echo $_job->getId() ?>">
    <div class="job-header">

        <div class="job-title-holder clearfix">
            <h2 class="job-title">
                <a class="job-item-link"
                   href="<?php echo $_jobUrl ?>">
                    <?php echo $_jobName; ?>
                </a>
            </h2>
        </div>

        <?php echo $this->getInfoHtml() ?>
    </div>

    <div class="job-content">
        <div class="job-description clearfix">
            <?php if ($featuredImage = $_job->getFeaturedImage()) { ?>
            <div class="job-ftimg-hld">
                <a href="<?php echo $_jobUrl ?>" title="<?php echo $_jobName ?>">
                    <amp-img layout="responsive" width="<?php echo $imageWidth ?>" height="<?php echo $imageHeight ?>" src="<?php echo $this->helper('Endeavor\Career\Helper\Image')->init($_job->getFeaturedImg())->resize($imageWidth, $imageHeight) ?>" alt="<?php echo $_jobName ?>"></amp-img>
                </a>
            </div>
            <?php } ?>
            <div class="job-text-hld clearfix">
                <?php echo $block->getShorContent() ?>
            </div>
            <a class="job-read-more" href="<?php echo $_jobUrl ?>" title="<?php echo $_jobName ?>"
               >
               <?php echo __('Read more &#187;') ?>
            </a>
        </div>
    </div>
    <div class="job-footer">

    </div>
</li>