<?php
/**
 * Copyright © 2017 Endeavor, Inc. All rights reserved.
*/
$segmentList = $block->getMarketSegments();
?>
<legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend>

<div class="field regulation required">
    <label for="customer_market_segment" class="label"><span><?php /* @escapeNotVerified */
    echo __('About You') ?></span></label>
    <div class="control">
        <select id="customer_market_segment" name="customer_market_segment" title="<?php echo __('About You') ?>" style="-webkit-appearance: none;" class="required-entry validate-select">
            <option value=''>Please Select ...</option>
            <?php foreach ($segmentList as $type): ?>
                <option value="<?php echo $type->getId()?>"><?php echo $type->getName()?></option>
            <?php endforeach; ?>
        </select>
    </div><br>
    <div class="control">
        <select id="customer_secondary_market" name="customer_secondary_market" title="<?php echo __('Secondary') ?>" style="-webkit-appearance: none;" class="required-entry validate-select">
            <option value=''>Please Select ...</option>
        </select>
    </div>
    <br/>
</div>

<script>
 require(['jquery', 'jquery/ui','mage/url'], function($,ui,url){ 
    var urlAjaxLoad = url.build('checkoutstep/data/data');

    // load Secondary Market when select segment.
    $("#customer_market_segment").change(function(){
        var urlAjaxLoad = url.build('checkoutstep/data/data');
        var selectedSegment = $('#customer_market_segment').val(); 
        $.ajax({
            type: 'POST',
            url: urlAjaxLoad,
            data: {'segment' : selectedSegment },
            showLoader: false,
            success: function(html) {
                $('#customer_secondary_market').html(html['secondarySegmentMarket']);
            },
            error: function () {
                console.log('Something wrong in loading Secondary Segment types.');
            }
        });
    });
    
});

</script>