<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<div if="isPaymentMethodsAvailable()"
     class="items payment-methods">
    <div repeat="foreach: paymentGroupsList, item: '$group'"
         class="payment-group">
        <div>
            <div if="getRegion($group().displayArea)().length"                     
                     translate="getGroupTitle($group)"
                     class="step-title"
                     data-role="title"
                     data-bind="click: showPaymentMethods()">
            </div>
            <i class="down arrow-tabs" style="position: relative;float: right;top: 0;right: 0;margin-top: -36px;margin-right: 25px;" data-bind="visible: showDownPayment"></i>
            <i class="right arrow-tabs" style="position: relative;float: right;top: 0;right: 0;margin-top: -36px;margin-right: 25px;" data-bind="visible: showRightPayment"></i>
       </div>
        <div class="payment-method-data" data-bind="visible: showPayementMethodsData" style="border: 1px solid rgb(38, 132, 123);padding: 1vw;">
            <each args="data: getRegion($group().displayArea), as: 'method'" render=""/>
        </div>
    </div>
</div>
<div ifnot="isPaymentMethodsAvailable()"
     class="no-payments-block"
     translate="'No Payment Methods'">
</div>
