<!--
/**
 * Copyright © Endeavor, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->


<div class="field addresses" style="margin-bottom: 3vw;">
    <a class="checkout-shipping-addresses-list checkout-step1" data-bind="click: toggleShipping()" >
        <span class="checkout-title">SHIPPING ADDRESS</span>
		<i class="down arrow-tabs" style="position: relative;float:right;top: 0;right: 0;" data-bind="visible: showDown"></i>
		<i class="right arrow-tabs" style="position: relative;float:right;top: 0;right: 0;" data-bind="visible: showRight"></i>
    </a>
    <div class="control checkout-shipping-addresses-list-control" data-bind="visible: showRow">
        <div class="shipping-address-items" style="max-height: 350px;overflow-y: auto;padding-right: 1vw;padding-top: 1vw;">
            <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->