/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.post-holder {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ebebeb;
}
.post-holder:last-child {
    margin-bottom: 10px;
}
.post-holder .post-header {position:relative;}

.post-header .post-info .item,
.post-header .post-info .dash {display: inline-block;}


.post-list {
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
}

.post-list .post-content .post-read-more {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.post-content .post-description ul,
.post-content .post-description ol {list-style-position: inside;}

.post-content .post-description .post-ftimg-hld {float: left; margin: 0 15px 0 15px; width: 33%}
.post-content .post-description .post-ftimg-hld img {width:100%; padding:0px; margin:0px;}
@media (max-width: 496px) {
    .post-content .post-description .post-ftimg-hld {width: 100%; margin:0px;}
}

.post-list .post-header .post-title a {
    text-decoration: none;
    font-size: 16px;
    color: #414141;
}



.post-list .post-header .post-title {
    margin: 0px;
    padding: 10px 0;
}

.post-list .post-holder .post-header .addthis_toolbox {float: right; padding-top: 20px;}
.post-list .hidden {display:none;}

.post-view .post-holder .post-header .addthis_toolbox {float: right;}
.post-view .post-bottom {margin-top:30px;}

.post-view .post-bottom .next-link{float: right;}

.post-view .block {margin-bottom: 30px;}

.post-view .post-holder .post-header {
    box-shadow: none!important;
}

.widget.block-recent-posts .block-content .item {
    padding: 15px 0 0px 0px;
}
.widget.block-categories ul {
    list-style: none;
    padding: 0;
}

.widget.block-categories ul ul {
    margin-left:20px;
}

.widget.block-rss .rss-icon {float: left; width: 23px; padding-right: 10px;}


.widget.blog-search {
    width:100%;
    margin-bottom: 40px;
    position: relative;
    float: right;
    padding-left: 15px;
    z-index: 4;
}

.widget.blog-search .block-content {
    margin-bottom: 0;
}

.widget.blog-search  label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.widget.blog-search .control {
    border-top: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.widget.blog-search input {
    position: static;
    padding-right: 35px;
    margin: 0;
    left: -300%;
}

.widget.blog-search .action.search {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}

.widget.blog-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.widget.blog-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.blog-widget-recent .post-list {
    padding: 0px;
    margin: 0px -15px;
}

.blog-widget-recent{
    overflow: hidden;
}

.blog-widget-recent h1{
    text-transform: uppercase;
    font-weight: bold;
}

.blog-widget-recent .post-holder {
    width: 29%;
    float: left;
    margin: 5px 15px;
    border: none;
}

.blog-widget-recent .post-description .post-text-hld {
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
}

.mfblog-autoloader {text-align: center;}
.mfblog-autoloader .mfblog-show-onload {display: none;}


@media (max-width: 420px) {
    #mfblog_gcomments {max-width:345px; overflow-y: scroll;}
}