<?php
 
?>
<?php
/**
 * AboutUs rss feed template
 *
 * @var $block \Endeavor\AboutUs\Block\Rss\Feed
 */
?>
<?php $_postCollection = $block->getPostCollection(); ?>
<?php echo '<?xml version="1.0" encoding="UTF-8" ?>' . "\r\n" ?>
<rss version="2.0">
<channel>
   <title><?php echo $block->escapeHtml($this->getTitle()) ?></title>
   <link><?php echo $this->getLink() ?></link>
   <description><?php echo $block->escapeHtml($this->getDescription()) ?></description>
   <?php foreach($_postCollection as $_post) { ?>
   <item>
      <title><?php echo $block->escapeHtml($_post->getTitle(), null, true) ?></title>
      <link><?php echo $_post->getPostUrl() ?></link>
      <description><![CDATA[<?php echo $_post->getContent() ?>]]></description>
      <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
         <image><?php echo $featuredImage ?></image>
      <?php } ?>
      <pubDate><?php echo $_post->getPublishDate('c') ?></pubDate>
      <?php foreach($_post->getParentCategories() as $category) { ?>
      <category><![CDATA[<?php echo $category->getTitle() ?>]]></category>
      <?php } ?>
   </item>
   <?php } ?>
</channel>
</rss>
