<?php
/**
 * @var $block \Magento\Customer\Block\Adminhtml\Edit\Tab\View\NoteInfo
 */
?>
<div class="fieldset-wrapper customer-information">
    <table class="admin__table-secondary">
        <tbody>
        <tr>
            <th><strong>Note ID</strong></th>
            <th><strong>Description</strong></th>
        </tr>
        <?php foreach ($block->getCustomerNote() as $note):?>
            <tr>
                <th><?php /* @escapeNotVerified */ echo $note->getNotesId()?></th>
                <td><?php /* @escapeNotVerified */ echo $note->getContent()?></td>
            </tr>
        <?php endforeach;?>
        </tbody>
    </table>
</div>
