/*#################### Home Page ############################## */
.cms-home .block-static-block #container .homebanner_cont {top: 40%; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif!important; text-transform:uppercase;  }
.cms-home .block-static-block #container .homebanner_cont .title5 { font-size: 2.25rem;  line-height: 1; font-weight:500; }
.cms-home .block-static-block #container .homebanner_cont .title3 { font-size: 3.5rem;  line-height: 1.2; font-weight:600; }
.cms-home .block-static-block #container .homebanner_cont .title4 { font-size: 2.8rem;  line-height: 1; font-weight:500;}

.customer-account-create .form-create-account button[type="submit"]{float:left}

@media screen and (min-width: 768px){
	.cms-home .blue-background{height: 38rem;}
	.cms-home .blue-background .info-block {height: 50%; top: 25%;}
	.cms-home .blue-background .info-block .info-content-block .info-content {top:36%}
}
@media screen and (max-width: 767px){
	.cms-home .blue-background{height: 30rem;}
	.cms-home .blue-background .info-block {height: 50%; top: 25%;}
	.cms-home .blue-background .info-block .info-content-block .info-content {top:50%}	
	.customer-account-create .form-create-account button[type="submit"] {width: 100%;}
}

.coming-soon .home_thumbbox .thumb_content a {
    color: #fff!important;
}