<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="export-sales-order">
    <h2>Export Sales Orders</h2>
    <div class="export-sales-order <?php if ($block->getIsReadonly()): ?>box-left<?php else: ?>box-right<?php endif; ?>">
        <?php if ($block->getUseContainer()): ?>
        <form id="export_form" class="admin__fieldset" action="<?php /* @escapeNotVerified */ echo $block->getUrl('order/order/exportPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <div class="fieldset admin__field">
                <span class="admin__field-label"><span><?php /* @escapeNotVerified */ echo __('Export Sales Order') ?></span></span>
                <div class="admin__field-control">
                    <?php echo $block->getButtonHtml(__('Export Sales Order'), "this.form.submit()") ?>
                </div>
            </div>
            
            <div class="fieldset admin__field" data-role="filter-form" id="date_range">
            <span class="admin__field-label ">
                <label for="export_from">
                   <span><?php echo __('From') ?>:</span>
                </label>
                <input class="input-text required-entry"
                        type="text"
                        id="export_from"
                        name="export_from"
                        required
                        />
                  <span id="export_from_advice"></span>
              </span>

              <span class="field-row">
                    <label for="export_to">
                       <span><?php echo __('To') ?>:</span>
                    </label>
                    <input class="input-text required-entry"
                           type="text"
                           id="export_to"
                           name="export_to"
                           required
                           />
                    <span id="export_to_advice"></span>
               </span>

               
       </div>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
    </div>
</div>

<script>
require([
    "jquery",
    "mage/calendar"
], function($){

   $("#date_range").dateRange({
     buttonText:"<?php echo __('Select Date') ?>",
     from:{
        id:"export_from"
     },
     to:{
        id:"export_to"
     }
   });
});
</script>