<?php 
/**
 * Copyright © 2017 Endeavor, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * 
 * @author Mohammad Hamadneh <mhamadneh@endeavorpal.com>
 * @date 17-12-2017.
 * @desc From in moveOrderTo page.
 */
?>
<?php /* @var $block \Magento\Wishlist\Block\Link */ ?>

<?php $orderId = $this->getRequest()->getParam('order_id'); ?>

<form class="form moveorderto"
      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      enctype="multipart/form-data"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <?php echo $block->getBlockHtml('formkey');?>
    <fieldset class="fieldset" style="border-width: 0px;">
        <input type="hidden" name="orderId" title="<?php /* @escapeNotVerified */ echo __('Order Id') ?>" class="input-text" id="orderId" value="<?php echo $orderId; ?>">
        <div class="field destination-email required" style="float: left;z-index: 100;position: relative;">
            <label class="label" for="demail"><span><?php /* @escapeNotVerified */ echo __('Destination email') ?></span></label>
            <div class="control">
                <input type="text" name="demail" title="<?php /* @escapeNotVerified */ echo __('Destination email') ?>" class="input-text required-entry" id="demail">
            </div>
        </div>
        <div class="actions-toolbar" style="float: left;z-index: 100;position: relative;padding-top: 11px;padding-left: 14px;">
            <div class="primary">
                <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                    <span><?php echo __('Continue') ?></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>