<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author        ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */

$full_header_width = $block->getData('full_header_width');
$compareHeader = $block->getData('compare');
$wishlistHeader = $block->getData('wishlist');
$sticky_logo = $block->getConfig('cleversoftbase/header/sticky_logo');
//$logoSrc = $this->getUrl('pub/media/wysiwyg/cleversoft/logo/', ['_secure' => $this->getRequest()->isSecure(),'_type'=>\Magento\Framework\UrlInterface::URL_TYPE_WEB]).$sticky_logo;
$logoSrc = $block->getMediaUrl() . 'wysiwyg/cleversoft/logo/' . $sticky_logo;

?>

<div class="panel wrapper">
    <div class="header-panel <?php echo($full_header_width == 1 ? '' : 'container') ?>">
        <div class="topbar-container">
            <?php echo $this->getChildHtml("top.contact"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php echo $this->getChildHtml("store_language"); ?>
        </div>
    </div>
</div>
<div class="justify-content-end header-content <?php echo($full_header_width == 1 ? '' : 'container') ?>"
     id="header-sticky-mobile">
    <div class="mr-auto zoo-header-content-block">
        <span data-action="toggle-nav" class="action zoo-menu-label">
            <span class="cs-font clever-icon-menu-5"></span>
        </span>
        <?php
        $isMobile = false;
        if(preg_match('/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i',$_SERVER['HTTP_USER_AGENT'])||preg_match('/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i',substr($_SERVER['HTTP_USER_AGENT'],0,4))) {
            $isMobile = true;
        }
        //tablet check
        if (preg_match('/(tablet|ipad|playbook)|(android(?!.*(mobi|opera mini)))/i', strtolower($_SERVER['HTTP_USER_AGENT']))) {
            $isMobile = true;
        }
        if ($isMobile) {
        ?>
        <span class="visible-xs visible-sm" style="position: fixed;top: 20px;right: 15px;">
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>

        </span>
        <?php } ?>
        <div class="header-minimal-search visible-xs visible-sm">
            <span class="cs-font clever-icon-search-4"></span>
        </div>
        <?php echo $this->getChildHtml("logo"); ?>
    </div>
    <div class="zoo-header-content-block mr-search">
        <div class="full-sc-search">
            <span class="cs-font clever-icon-close"></span>
            <?php echo $this->getChildHtml("top.search"); ?>
        </div>
    </div>
</div>
<div class="top-menu" id="zoo-sticky-header">
    <div class="<?php echo($full_header_width == 1 ? '' : 'container') ?>">
        <div class="d-flex justify-content-between align-items-center zoo-menu-content">
            <?php if (isset($sticky_logo)) : ?>
            <div class="logo-sticky">
                <?php if ($block->isHomePage()): ?>
                <strong>
                    <?php else: ?>
                    <a href="<?php echo $block->getUrl(''); ?>">
                        <?php endif ?>
                        <img src="<?php echo $logoSrc; ?>" width="<?php
                        if (($block->getConfig('cleversoftbase/header/sticky_logo_width'))) {
                            echo $block->getConfig('cleversoftbase/header/sticky_logo_width');
                        }  ?>" height="auto"/>
                        <?php if ($block->isHomePage()): ?>
                </strong>
            <?php else: ?>
                </a>
            <?php endif ?>
            </div>
            <?php endif ?>
            <?php echo $this->getChildHtml("main.menu"); ?>
            <div class="zoo-header-user align-items-center">
                <?php echo $this->getChildHtml("header.links"); ?>
                <?php echo (!$isMobile) ? $this->getChildHtml("minicart") : ''; ?>
                <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
                <?php if ($compareHeader) echo $this->getChildHtml("compare_link"); ?>
            </div>
        </div>
    </div>
</div>