<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
 
$full_header_width = $block->getData('full_header_width');
$compareHeader = $block->getData('compare');
$wishlistHeader = $block->getData('wishlist');
$sticky_logo = $block->getConfig('cleversoftbase/header/sticky_logo');
$logoSrc = $this->getUrl('pub/media/wysiwyg/mato/logo/', ['_secure' => $this->getRequest()->isSecure(),'_type'=>\Magento\Framework\UrlInterface::URL_TYPE_WEB]).$sticky_logo;
?>

<div class="header-content <?php echo ($full_header_width == 1 ? '' : 'container')?>" id="header-sticky-mobile">
    <span data-action="toggle-nav" class="action zoo-menu-label">
        <span class="cs-font clever-icon-menu-5"></span>
    </span>
    <div class="header-minimal-search visible-xs visible-sm">
        <a href="javascript:void(0)"><span class="cs-font clever-icon-search-4"></span></a>
    </div>
    <div class="full-sc-search visible-xs visible-sm">
        <span class="cs-font clever-icon-close"></span>
        <?php echo $this->getChildHtml("top.search"); ?>
    </div>
    <div class="row d-flex align-items-center">
        <div class="hidden-xs hidden-sm col-md-2 col-lg-3">
            <div class="logo-container">
                <?php echo $this->getChildHtml("logo"); ?>
            </div>
        </div>
        <div class="menu-main-home col-xs-12 col-md-10 col-lg-9">
            <div class="visible-xs visible-sm">
                <div class="logo-container">
                    <?php echo $this->getChildHtml("logo"); ?>
                </div>
            </div>
            <div class="header-panel">
                <div class="topbar-container">
                    <div class="row d-sm-flex align-items-center">
                        <div class="col-sm-3 col-md-4 mr-auto">
                            <div class="hidden-xs hidden-sm"><?php echo $this->getChildHtml("top.contact"); ?></div>
                            <div class="visible-xs visible-sm"><?php echo $this->getChildHtml("logo"); ?></div>
                        </div>
                        <div class="d-flex align-items-center col-sm-9 col-md-8 topbar-right justify-content-end">
                            <?php echo $this->getChildHtml("top.search"); ?>
                            <?php echo $this->getChildHtml("currency"); ?>
                            <?php echo $this->getChildHtml("store_language"); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-menu" id="zoo-sticky-header">
                    <div class="d-flex justify-content-between align-items-center zoo-menu-content">
                        <div class="logo-sticky hidden-xs hidden-sm">
                            <?php if ($block->isHomePage()):?>
                            <strong>
                                <?php else: ?>
                                <a href="<?php echo $block->getUrl(''); ?>">
                                    <?php endif ?>
                                    <img src="<?php echo $logoSrc; ?>" width="<?php
                                    if (($block->getConfig('cleversoftbase/header/sticky_logo_width'))){
                                        echo $block->getConfig('cleversoftbase/header/sticky_logo_width');
                                    }  ?>" height="auto"/>
                                    <?php if ($block->isHomePage()):?>
                            </strong>
                        <?php else:?>
                            </a>
                        <?php endif?>
                        </div>
                        <div class="main-menu hidden-xs hidden-sm"><?php echo $this->getChildHtml("main.menu"); ?></div>
                        <div class="zoo-header-user">
                            <?php echo $this->getChildHtml("header.links"); ?>
                            <?php echo $this->getChildHtml("minicart"); ?>
                            <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
                            <?php if ($compareHeader) echo $this->getChildHtml("compare_link"); ?>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 visible-xs visible-sm">
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
        </div>
    </div>
</div>