<li id="segment" data-bind="fadeVisible: isVisible">
    <!--<div class="step-title" data-bind="i18n: 'Market Segment'" data-role="title"></div>-->
    <div id="checkout-step-segment" class="step-content" data-role="content">
        <form id="myform" data-bind="submit: navigateToNextStep, fadeVisible: fillData" action="/data/save.php">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>
            <h3>About You</h3>
            <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                <select name="segmentType" id="segmentType" style="-webkit-appearance: none;" required>
                    <option value="">Please Select ...</option>
                </select>
            </div>
            <br/>
            <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                <select name="secondarySegmentType" id="secondarySegmentType" style="-webkit-appearance: none;" required>
                    <option value="">Please Select ...</option>
                </select>
            </div>
            <div class="actions-toolbar">
                <div class="primaryOrg" style="float: right">
                    <input value="Next" data-role="opc-continue" id="ajax-segment-action" type="submit" class="btn action continue primary">
                </div>
            </div>
        </form>
    </div>
</li>
