<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$multiShippingHelper = $objectManager->create('Endeavor\MultipleShipping\Helper\Data');
?>
<?php $_order = $block->getOrder() ?>
<?php if ($_order): ?>
    <?php $_items = $_order->getAllItems(); ?>
    <table class="email-items">
        <thead>
            <tr>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('Items'); ?>
                </th>
                <th class="item-qty">
                    <?= /* @escapeNotVerified */  __('Qty'); ?>
                </th>
            </tr>
        </thead>
        <?php foreach ($_items as $_item): ?>
            <?php
                if (!$_item->getParentItem()) {
                    continue;
                }
            ?>
            <tbody>
                <?= $block->getItemHtml($_item) ?>
            </tbody>
        <?php endforeach; ?>
    </table>

    <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
        <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_order->getGiftMessageId()); ?>
        <?php if ($_giftMessage): ?>
            <br />
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?= /* @escapeNotVerified */  __('Gift Message for this Order') ?></h3>
                        <strong><?= /* @escapeNotVerified */  __('From:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('To:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('Message:'); ?></strong>
                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
    
<style type="text/css">
.email-items th.item-info {
    border-top:solid #D1D1D1 1.0pt;
    border-left:solid #D1D1D1 1.0pt;
    border-bottom:none;
    border-right:none;
    background:#F2F2F2;
    padding:7.5pt 7.5pt 7.5pt 7.5pt;
}

.email-items th.item-qty {
    border: none;
    border-top: solid #D1D1D1 1.0pt;
    background: #F2F2F2;
    padding: 7.5pt 7.5pt 7.5pt 7.5pt;
}

.email-items th.item-price {
    border-top: solid #D1D1D1 1.0pt;
    border-left: none;
    border-bottom: none;
    border-right: solid #D1D1D1 1.0pt;
    background: #F2F2F2;
    padding: 7.5pt 7.5pt 7.5pt 7.5pt;
}
.email-items .item-info {
    border-left: solid #D1D1D1 1.0pt;
}
.email-items .item-info dl.item-options{
    border-left: solid #D1D1D1 1.0pt;
    border-right: solid #D1D1D1 1.0pt;
}
.email-items .item-price{
    border-right: solid #D1D1D1 1.0pt;
}
table.email-items {
    border: solid #D1D1D1 1.0pt;
}

</style>
