<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$multiShippingHelper = $objectManager->create('Endeavor\MultipleShipping\Helper\Data');
?>
<?php $_orders = $block->getOrders() ?>
<?php if ($_orders): ?>
    <?php if($block->getViewOrdersNumber()):?>
        <?php if (count($_orders) <= 10): ?>
            <div align="right" style="text-align:right">
                <h3><span style="font-weight: bold;">Order Confirmation</span></h3>
                <?php foreach ($_orders as $_order): ?>
                    <?php if ($_order): ?>
                        <p>Order #<a href="<?= $block->getUrl('sales/order/view', ['order_id' => $_order->getId()]);?>"><?= $_order->getIncrementId() ?></a></p>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
    <?php else: ?>
        <?php foreach ($_orders as $_order): ?>
            <?php if ($_order): ?>
                <tr class="email-summary">
                    <td>
                        <h1>Your Order <span>#<a href="<?= $block->getUrl('sales/order/view', ['order_id' => $_order->getId()]);?>"><?= $_order->getIncrementId() ?></a></span></h1>
                        <p>Placed on <span class="no-link"><?= $_order->getCreatedAtFormatted(2); ?> ET</span></p>
                    </td>
                </tr>
                <tr class="email-information">
                    <td>
                        <?php if ($_order->getEmailCustomerNote() != ''): ?>
                        <table class="message-info">
                            <tr>
                                <td>
                                     <?= $_order->getEmailCustomerNote(); ?>
                                </td>
                            </tr>
                        </table>
                        <?php endif; ?>
                        <table class="order-details">
                            <tr>
                                <td class="address-details">
                                    <h3>Billing Info</h3>
                                    <p><?php echo $multiShippingHelper->getFormattedBillingAddress($_order); ?></p>
                                </td>

                                <?php if (!$_order->getIsVirtual()) : ?>
                                <td class="address-details">
                                    <h3>Shipping Info</h3>
                                    <p><?php echo $multiShippingHelper->getFormattedShippingAddress($_order); ?></p>
                                </td>
                                <?php endif; ?>
                            </tr>
                            <tr>
                                <td class="method-info">
                                    <h3>Payment Method</h3>
                                    <p><?php echo $multiShippingHelper->getPaymentHtml($_order); ?></p>
                                </td>
                                <?php if (!$_order->getIsVirtual()) : ?>
                                <td class="method-info">
                                    <h3>Shipping Method</h3>
                                    <p><?php echo $_order->getShippingDescription(); ?></p>
                                </td>
                                <?php endif; ?>
                            </tr>
                        </table>
                    </td>
                </tr>
                <?php $_items = $_order->getAllItems(); ?>
                <table class="email-items">
                    <thead>
                        <tr>
                            <th class="item-info">
                                <?= /* @escapeNotVerified */  __('Items'); ?>
                            </th>
                            <th class="item-qty">
                                <?= /* @escapeNotVerified */  __('Qty'); ?>
                            </th>
                            <th class="item-price">
                                <?= /* @escapeNotVerified */  __('Price'); ?>
                            </th>
                        </tr>
                    </thead>
                    <?php foreach ($_items as $_item): ?>
                        <?php
                            if ($_item->getParentItem()) {
                                continue;
                            }
                        ?>
                        <tbody>
                            <?= $block->getItemHtml($_item) ?>
                        </tbody>
                    <?php endforeach; ?>
                    <tfoot class="order-totals">
                        <?php $block->getChildBlock("order_totals")->getChildBlock("tax")->setOrder($_order); ?>
                        <?php $block->getChildBlock("order_totals")->setOrder($_order); ?>
                        <?= $block->getChildHtml('order_totals', false); ?>
                    </tfoot>
                </table>

                <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
                    <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_order->getGiftMessageId()); ?>
                    <?php if ($_giftMessage): ?>
                        <br />
                        <table class="message-gift">
                            <tr>
                                <td>
                                    <h3><?= /* @escapeNotVerified */  __('Gift Message for this Order') ?></h3>
                                    <strong><?= /* @escapeNotVerified */  __('From:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                                    <br /><strong><?= /* @escapeNotVerified */  __('To:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                                    <br /><strong><?= /* @escapeNotVerified */  __('Message:'); ?></strong>
                                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                                </td>
                            </tr>
                        </table>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endif; ?>
            <br><br>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>
    
<style type="text/css">
.email-items th.item-info {
    border-top:solid #D1D1D1 1.0pt;
    border-left:solid #D1D1D1 1.0pt;
    border-bottom:none;
    border-right:none;
    background:#F2F2F2;
    padding:7.5pt 7.5pt 7.5pt 7.5pt;
}

.email-items th.item-qty {
    border: none;
    border-top: solid #D1D1D1 1.0pt;
    background: #F2F2F2;
    padding: 7.5pt 7.5pt 7.5pt 7.5pt;
}

.email-items th.item-price {
    border-top: solid #D1D1D1 1.0pt;
    border-left: none;
    border-bottom: none;
    border-right: solid #D1D1D1 1.0pt;
    background: #F2F2F2;
    padding: 7.5pt 7.5pt 7.5pt 7.5pt;
}
.email-items .item-info {
    border-left: solid #D1D1D1 1.0pt;
}
.email-items .item-info dl.item-options{
    border-left: solid #D1D1D1 1.0pt;
    border-right: solid #D1D1D1 1.0pt;
}
.email-items .item-price{
    border-right: solid #D1D1D1 1.0pt;
}
table.email-items {
    border: solid #D1D1D1 1.0pt;
}

</style>
