<?php
/**
 * Copyright © 2013-2017 Endeavor Technology, Inc. All rights reserved.
 * 
 * @author: Murad Dweikat
 */

// @codingStandardsIgnoreFile

?>
<?php $_email = $block->getEmail() ?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface');
$websiteId = $storeManager->getStore()->getWebsiteId();

$_customer = $objectManager->create('Magento\Customer\Model\Customer');
$_customer->setWebsiteId($websiteId);
$_customer->loadByEmail($_email); 
?>
<?php if ($_customer->getId() && !$_customer->getPasswordHash()): ?>
    <strong>Your log-in will be:</strong>
    <tr class="account-details">
        <td>
            <strong>Email: </strong><a href="<?php echo 'mailto:'.$_customer->getEmail() ?>"><?php echo $_customer->getEmail() ?></a><br>
            <strong>Password: </strong><br>
        </td>
    </tr>
    <tr>
        <td>
            <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td align="center">
                                    <a href="<?php echo $block->getUrl('customer/account/createPassword/',["id" => $_customer->getId(),"token" => $_customer->getRpToken()]) ?>" target="_blank">Set a New Password</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<?php endif; ?>



    
<style type="text/css">
.email-items th.item-info {
    border-top:solid #D1D1D1 1.0pt;
    border-left:solid #D1D1D1 1.0pt;
    border-bottom:none;
    border-right:none;
    background:#F2F2F2;
    padding:7.5pt 7.5pt 7.5pt 7.5pt;
}

.email-items th.item-qty {
    border: none;
    border-top: solid #D1D1D1 1.0pt;
    background: #F2F2F2;
    padding: 7.5pt 7.5pt 7.5pt 7.5pt;
}

.email-items th.item-price {
    border-top: solid #D1D1D1 1.0pt;
    border-left: none;
    border-bottom: none;
    border-right: solid #D1D1D1 1.0pt;
    background: #F2F2F2;
    padding: 7.5pt 7.5pt 7.5pt 7.5pt;
}
.email-items .item-info {
    border-left: solid #D1D1D1 1.0pt;
}
.email-items .item-info dl.item-options{
    border-left: solid #D1D1D1 1.0pt;
    border-right: solid #D1D1D1 1.0pt;
}
.email-items .item-price{
    border-right: solid #D1D1D1 1.0pt;
}
table.email-items {
    border: solid #D1D1D1 1.0pt;
}

</style>