<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<button style="float: right;" id="add-customer" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Add New Account</button> 
<script>
    require(
        [
            'jquery'
            
        ],
        function(
            $
        ) {
            $('.admin__data-grid-pager-wrap').css('display','none');
            $('.action-reset').css('display','none');
            $('.admin__filter-actions').css('display','none');
            $('#add-customer').click(function(){
                window.location.replace("<?php echo $block->getNewOrgUrl();?>");
            });

        }
    );
</script>