<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div class="page-main-actions">
<button style="float: right; height: 50px;" id="add-organization" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Add Organization</button> 
</div>
<script>
    require(
        [
            'jquery'
            
        ],
        function(
            $
        ) {
           
            $('#add-organization').click(function(){
                window.location.replace("<?php echo $block->getNewCustomerUrl();?>");
            });

        }
    );
</script>