<?php

/**
 * Copyright © 2018 Endeavor. All rights reserved.
 * See COPYING.txt for license details.
 * 
 * @author Mohammad Hamadneh <mhamadneh@endeavorpal.com>
 * @date 03-27-2018.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Radio */ ?>
<?php $_option = $block->getOption(); ?>
<?php $currentProduct = $block->getProduct(); ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); ?>
<?php $_selections  = $_option->getSelections(); ?>
<?php $_default     = $_option->getDefaultSelection(); ?>
<?php $cookieManager = $objectManager->get('Magento\Framework\Stdlib\CookieManagerInterface'); ?>
<?php $mediaTypeHelper = $objectManager->get('Endeavor\Product\Helper\MediaType'); ?>
<?php $customerSession = $objectManager->get('Magento\Customer\Model\Session');?>
<?php $susbscriptionsModel = $objectManager->create('Endeavor\Subscriptions\Model\CustomerSubscriptions');?>
<?php $collection = $susbscriptionsModel->getCollection();?>
<?php $collection->addFieldToFilter('customer_id',$customerSession->getCustomer()->getId());?>
<?php $flag = 0;?>
<?php $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository'); ?>
<?php $productPublication = $block->getProduct()->getData('publication_number'); ?>
<?php $productFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory'); ?>
<?php $helperPreOrder = $this->helper('\Webkul\Preorder\Helper\Data'); ?>
<?php $otherProductEditions = $productFactory->create()
                            ->addAttributeToFilter('type_id', \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE)
                            ->addAttributeToFilter('status', \Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED)
                            ->addAttributeToFilter('publication_number', $productPublication); 
							
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();	
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);						
$is_app =  $currentProduct->getResource()->getAttribute('is_app')->getFrontend()->getValue($currentProduct);
$mediaApp = array("SE" => "icons/BAE.png","ME" => "icons/BAE.png","BE" => "icons/BAE.png", "EP" => "icons/AE.png","EM" => "icons/AE.png");							
							
?>
<style>
    @media screen and (max-width: 452px) {
        .container>.columns>.column.main>.zoo-main-content-area>div>.block.related>.block-content.content>.grid.products-grid.products-grid-partitioned>.products.list.items>.owl-stage-outer>.owl-stage {
            min-width: 4250px;
        }
    }
</style>
<?php list($_defaultQty, $_canChangeQty) = $block->getDefaultValues(); ?>
<div class="field option <?php echo ($_option->getRequired()) ? ' required': ''; ?>" style="border-top: 2px #017390 solid;border-bottom: 2px #017390 solid;display: inline-block;width: 100%;">
    <div class="media-type-validation-message messages hidden">
        <span class="message error"> Please select media type </span>
    </div>
    <?php $productRules = $objectManager->create('Endeavor\BookInformation\Block\Product\View')->getProductRules();?>
    <?php foreach($productRules as $rule): ?>
        <div class="promotion-message">    
            <?php echo $rule;?><br>
        </div>
    <?php endforeach; ?>
    <div class="control container" style="width: 100% !important">
        <div class="nested options-list row">
            <?php if ($block->showSingle()): ?>
                <div class='next-edition-release col-md-12' style="text-align: center;">
                    <?php foreach ($otherProductEditions as $otherProduct) : ?>
                            <?php if ($otherProduct->getId() != $currentProduct->getId()): ?>
                            <?php $otherProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($otherProduct->getId()); ?>
                                    <?php if ($helperPreOrder->isPreorder($currentProduct->getId())) : ?>
                                        <a style='padding: 0vw 1vw 0vw 1vw;background-color: #ff8001;color: white;display: inline-block;width: 50%;' href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php if($otherProduct->getData('edition') != ''):?> <?php echo __('I WANT THE '.$otherProduct->getData('edition').' EDITION'); ?><?php else : echo __('I WANT PREVIOUS EDITION'); ?> <?php endif;?></a>
                                    <?php else : ?>
                                        <a style='padding: 0vw 1vw 0vw 1vw;background-color: #ff8001;color: white;display: inline-block;width: 50%;' href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php echo __('I WANT LATEST EDITION'); ?></a>
                                    <?php endif; ?>
                            <?php endif;?>
                    <?php endforeach; ?>
                </div>
                <?php $mediaType = $mediaTypeHelper->getMediaTypeForBundleSelection($_selections[0]->getProductId()); ?>
				<?php $widthMediaType = array("BE", "ME", "ME"); ?>
				<?php $width = "200px";  if(!in_array($mediaType,$widthMediaType)){ $width = "100px"; } ?>	
                    <div class="bundle-items-grid col-xs-12" style="text-align: left;">
                        <div class="field choice">
                            <div class="row">
                                <label>
                                    <div class="col-xs-4">
                                        <div class="col-xs-1" style="padding-left:0;padding-right:1vw;">
                                            <input type="radio"
                                                class="radio product bundle option change-container-classname"
                                                id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selections[0]->getSelectionId() ?>"
                                             <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':true}"'?>
                                                name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                                             <?php if ($block->isSelected($_selections[0])) echo ' checked="checked"' ?>
                                             <?php if (!$_selections[0]->isSaleable()) echo ' disabled="disabled"' ?>
                                                value="<?php /* @escapeNotVerified */ echo $_selections[0]->getSelectionId() ?>" style="display: block;"/>
                                             <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selections[0]->getSelectionId();?>' />  
                                             <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selections[0]->getId();?>' />  
                                             <input type='hidden' id='product-subscription-type' name='product-subscription-type' value='<?php echo $productRepository->getById($_selections[0]->getId())->getData('subscription_type');?>' />  
                                             <input type='hidden' id='product-subscription-type_frontend' name='product-subscription-type_frontend' value='<?php $_product = $productRepository->getById($_selections[0]->getId());
                                                   echo $_product->getResource()->getAttribute('subscription_type')->getFrontend()->getValue($_product);?>' />
                                        </div>
                                        <div class="media-type-<?php echo $mediaType; ?> col-xs-12" style="background-position: center;left: 1vw;"></div>
										
										 <?php if($is_app == "No" || !isset($mediaApp[$mediaType])){ ?>
											 <div class="media-type-<?php echo $mediaType; ?> col-xs-12" style="background-position: center;left: 1vw;"></div>
											<?php }else{ ?>
											  <div class="col-xs-12" style="align:center">
												<img src="<?php echo $mediaUrl.$mediaApp[$mediaType]?>" height="63px" width="<?php echo $width ?>" />
											 </div>
											<?php } ?>
                                    </div>
                                    <div class="col-xs-6">
                                        <?php $catalogRuleHelper = $objectManager->create('Endeavor\Product\Helper\CatalogRuleHelper'); ?>
                                        <?php $isProductMatchRule = $catalogRuleHelper->getIsMatchingRule($_selections[0]->getProductId()); ?>
                                        <?php if (!empty($productRules)) : ?>
                                            <div class="col-xs-12 option-price" style="font-family : Myriad Pro;font-size : 20px;color : rgb(0, 115, 140);float: left;font-weight: initial;text-align: left;padding-top: 4px;">
                                                <?php $productAttributes = $objectManager->create('Magento\Catalog\Model\Product')->load($_selections[0]->getProductId()); ?>
                                                <span style="font-size: inherit;padding-right: 0.7vw;">
                                                    <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                                </span>
                                                <span style="text-decoration: line-through;color: black;font-size: medium;">
                                                    <?php echo $priceHelper->currency($productAttributes->getPrice(), true, false); ?>
                                                </span>
                                            </div>
                                        <?php else : ?>
                                            <div class="col-xs-12 option-price" style="font-family : Myriad Pro;font-size : 20px;color : rgb(0, 115, 140);float: left;font-weight: initial;text-align: left;padding-top: 4px;">
                                                <?php $productAttributes = $objectManager->create('Magento\Catalog\Model\Product')->load($_selections[0]->getProductId()); ?>
                                                <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                            </div>
                                        <?php endif; ?>
                                        <div class="col-xs-10" style="text-align: left; padding-left: 0;">
                                            <div style="width: 100%;"><?php echo 'SKU: <span style="color: #04768f">' . $productRepository->getById($_selections[0]->getId())->getData('sku') . '</span>';?></div>
                                            <div style="width: 100%;"><?php echo 'ISBN: <span style="color: #04768f">' . $productRepository->getById($_selections[0]->getId())->getData('isbn') .'</span>';?></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type='hidden' name='optionId' id='optionId' value='' />
                        <?php
                            foreach ($collection as $item) {
                                if ($item->getCustomerId() == $customerSession->getCustomer()->getId() && $item->getProductId() == $_selection->getId()){
                                    $flag = 1;
                                } else {
                                    $flag = 0;
                                }
                            }
                        ?>
                <div id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-container"></div>
            <?php else:?>
                <?php if (!$_option->getRequired()): ?>
                    <div class="field choice">
                        <input type="radio"
                               class="radio product bundle option"
                               id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>"
                               name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                               <?php echo ($_default && $_default->isSalable())?'':' checked="checked" ' ?>
                               value=""/>
                        <label class="label" for="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>">
                            <span><?php /* @escapeNotVerified */ echo __('None') ?></span>
                        </label>
                    </div>
                <?php endif; ?>
                <div class='next-edition-release col-md-12' style="text-align: center;">
                    <?php foreach ($otherProductEditions as $otherProduct) : ?>
                            <?php if ($otherProduct->getId() != $currentProduct->getId()): ?>
                            <?php $otherProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($otherProduct->getId()); ?>
                                    <?php if ($helperPreOrder->isPreorder($currentProduct->getId())) : ?>
                                        <a style='padding: 0vw 1vw 0vw 1vw;background-color: #ff8001;color: white;display: inline-block;width: 50%;' href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php if($otherProduct->getData('edition') != ''):?> <?php echo __('I WANT THE '.$otherProduct->getData('edition').' EDITION'); ?><?php else : echo __('I WANT PREVIOUS EDITION'); ?> <?php endif;?></a>
                                    <?php else : ?>
                                        <a style='padding: 0vw 1vw 0vw 1vw;background-color: #ff8001;color: white;display: inline-block;width: 50%;' href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php echo __('I WANT LATEST EDITION'); ?></a>
                                    <?php endif; ?>
                            <?php endif;?>
                    <?php endforeach; ?>
                </div>
                <?php foreach ($_selections as $key => $_selection): ?>
                <?php $mediaType = $mediaTypeHelper->getMediaTypeForBundleSelection($_selection->getProductId()); ?>
				<?php $widthMediaType = array("BE", "ME", "ME"); ?>
				<?php $width = "200px";  if(!in_array($mediaType,$widthMediaType)){ $width = "100px"; } ?>	
                    <div class="bundle-items-grid col-xs-12 col-sm-4" style="text-align: left;">
                    <div class="field choice">
                        <div class="row">
                            <label>
                                
								
								<?php if($is_app == "No" || !isset($mediaApp[$mediaType])){ ?>
                                <div class="media-type-<?php echo $mediaType; ?> col-xs-12" style="background-position: left;left: 1vw;">
                                    <div style="height: 100%;width: 100%;position: relative;display: block;"></div>
                                </div>
								<?php }else{ ?>
								  <div class="col-xs-12" style="">
                                    <div style="height: 100%;width: 100%;position: relative;display: block;"> <img src="<?php echo $mediaUrl.$mediaApp[$mediaType]?>" height="63px" width="<?php echo $width?>" /> </div>
                                 </div>
								<?php } ?>
								
								
                                <?php $catalogRuleHelper = $objectManager->create('Endeavor\Product\Helper\CatalogRuleHelper'); ?>
                                <?php $isProductMatchRule = $catalogRuleHelper->getIsMatchingRule($_selection->getProductId()); ?>
                                <?php if (!empty($productRules)) : ?>
                                    <div class="option-price col-xs-10 col-xs-offset-1" style="font-family : Myriad Pro;font-size : 20px;color : rgb(0, 115, 140);float: left;font-weight: initial;text-align: left;padding-top: 4px;">
                                        <?php $productAttributes = $objectManager->create('Magento\Catalog\Model\Product')->load($_selection->getProductId()); ?>
                                        <span style="font-size: inherit;padding-right: 0.7vw;">
                                            <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                        </span>
                                        <span style="text-decoration: line-through;color: black;font-size: medium;">
                                            <?php echo $priceHelper->currency($productAttributes->getPrice(), true, false); ?>
                                        </span>
                                    </div>
                                <?php else : ?>
                                    <div class="option-price col-xs-10 col-xs-offset-1" style="font-family : Myriad Pro;font-size : 20px;color : rgb(0, 115, 140);float: left;font-weight: initial;text-align: left;padding-top: 4px;">
                                        <?php $productAttributes = $objectManager->create('Magento\Catalog\Model\Product')->load($_selection->getProductId()); ?>
                                        <?php echo $priceHelper->currency($productAttributes->getFinalPrice(), true, false); ?>
                                    </div>
                                <?php endif; ?>
                                <div class="col-xs-12">
                                    <div class="col-xs-1" style="padding-left: 0;">
                                        <input type="radio"
                                                   class="radio product bundle option change-container-classname"
                                                   id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>"
                                                <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':true}"'?>
                                                   name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                                                <?php if ($block->isSelected($_selection)) echo ' checked="checked"' ?>
                                                <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                                                   value="<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>" style="display: block;"/>
                                            <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selection->getSelectionId();?>' />  
                                            <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selection->getId();?>' />  
                                            <input type='hidden' id='product-subscription-type' name='product-subscription-type' value='<?php echo $productRepository->getById($_selection->getId())->getData('subscription_type');?>' />  
                                            <input type='hidden' id='product-subscription-type_frontend' name='product-subscription-type_frontend' value='<?php $_product = $productRepository->getById($_selection->getId());
                                                  echo $_product->getResource()->getAttribute('subscription_type')->getFrontend()->getValue($_product);?>' />
                                    </div>
                                    <div class="col-xs-10" style="text-align: left; padding: 0;margin:0;">
                                        <div style="width: 100%;"><?php echo 'SKU: <span style="color: #04768f">' . $productRepository->getById($_selection->getId())->getData('sku') . '</span>';?></div>
                                        <div style="width: 100%;"><?php echo 'ISBN: <span style="color: #04768f">' . $productRepository->getById($_selection->getId())->getData('isbn') .'</span>';?></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <?php endforeach; ?>
                <input type='hidden' name='optionId' id='optionId' value='' />
                <?php
                    foreach ($collection as $item) {
                        if ($item->getCustomerId() == $customerSession->getCustomer()->getId() && $item->getProductId() == $_selection->getId()){
                            $flag = 1;
                        } else {
                            $flag = 0;
                        }
                    }
                ?>
                <div id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-container"></div>
            <?php endif; ?>
                <div class="field qty qty-holder" style="position: absolute; visibility: hidden;">
                <label class="label" for="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input">
                    <span><?php /* @escapeNotVerified */ echo __('Quantity') ?></span>
                </label>
                <div class="control">

                    <button type="button" class="reduced items  items-count" onclick="var result = document.getElementById('bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                        -
                    </button>
                    <input <?php if (!$_canChangeQty) echo ' disabled="disabled"' ?>
                           id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input"
                           class="input-text qty<?php if (!$_canChangeQty) echo ' qty-disabled' ?>"
                           type="number"
                           name="bundle_option_qty[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                           value="<?php /* @escapeNotVerified */ echo $_defaultQty ?>"/>
                    <button type="button"  class="increase items items-count" onclick="var result = document.getElementById('bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-qty-input'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],function ($, modal) {
            $(document).ready(function() {
                var heights = $(".bundle-items-grid").map(function() {
                    return $(this).height();
                }).get(),

                maxHeight = Math.max.apply(null, heights);

                //$(".next-edition-release").height(maxHeight);
                $(".bundle-items-grid").height(maxHeight);
            });
        });
</script>