<!--@subject {{trans "Your %store_name assign user confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store,'downloadable/customer/products/')":"Downloadable Products Page URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name",
"var product.name":"Product Name",
"var product.qty":"Product qty"
} @-->
 
{{template config_path="design/email/header_template"}}
 
<table  border="0">
    <tr>
         <td>
            <h1>
                {{trans "You Have Been Assigned a New eBook!"}}
            </h1>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p>
                <span style="text-transform: capitalize">{{trans '%sender_name' sender_name=$sender_name |raw}}</span>{{trans ' has assigned you an eBook that can be downloaded by following the instructions below. This electronic version of'}}  <strong> {{var product_name|raw}}  </strong> {{trans 'is now yours to view on your computer, tablet, or phone.'}}
				
                {{if customer.rp_token}}
                   
                {{/if}}
            </p>
        </td>
    </tr>
    {{if customer.rp_token}}
    <tr class="account-details">
        <td>
            <strong>{{trans "Email Address for eBook Usage:"}}</strong> {{var customer.email}}<br>
            <strong>{{trans "Password:"}}</strong><br>
        </td>
    </tr>
    <tr>
        <td>
            <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td align="center">
                                    <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1,_secure:true])}}" target="_blank">{{trans "Set a New Password"}}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr><br>
    {{/if}}
    <tr class="account-login">
        <td>
            <p>
                {{trans 'If you already have an account with Blue360 Media that is tied to the above email address, then you will see your eBook upon logging in.'}}
            </p>
			<p>
                {{trans '<a href="%downloadable_product_url">Log into your account</a>.' downloadable_product_url=$this.getUrl($store,'downloadable/customer/products/',[_nosid:1]) |raw}}
            </p>
			<p>
                {{trans 'If you need to create an account, please click the link below.'}}
            </p>
			<p>
                {{trans '<a href="%downloadable_product_url">Create an account.</a>.' downloadable_product_url=$this.getUrl($store,'downloadable/customer/products/',[_nosid:1]) |raw}}
            </p>
			
        </td>
    </tr>
    
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Your eBook Details'}}</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="email-items">
                <thead>
                    <tr>
                        <th class="item-info">{{trans "Product"}}</th>
                        <th class="item-info">{{trans "Quantity"}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="item-info"> {{var product_name|raw}}</td>
                        <td class="item-info"> {{var product_qty|raw}}</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<br><br>
{{template config_path="design/email/footer_template"}} <!--footer of template-->