<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$orderId = $block->getRequest()->getParam('sf_order_id'); 
$invoiceNumber = $block->getRequest()->getParam('invoiceNumber'); 
$status = $block->getRequest()->getParam('status');
$isOrderVisable = false;
$orderUrl = '';

$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$salesOrder = $objectManager->create('Magento\Sales\Model\Order')
            ->load($orderId, 'sf_order_id');
$customerId = $customerSession->getCustomer()->getId();
if ($salesOrder->getCustomerId() == $customerId) {
    $salesOrderId = $salesOrder->getId();
    $orderUrl = $this->getUrl('sales/order/view',['order_id' => $salesOrderId]);
    $isOrderVisable = true;
}

?>
<?php if($status): ?>
    <div class="checkout-success">
        <h2>Transaction Success</h2>
        <?php if ($isOrderVisable) :?>
            <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $orderUrl, $orderId)) ?></p>
        <?php  else :?>
            <p><?php echo __('Your order number is: <span>%1</span>.', $orderId) ?></p>
        <?php endif;?>
        <div class="actions-toolbar">
            <div class="primary">
                <a class="action primary continue" href="<?php /* @escapeNotVerified */ echo $block->getUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span></a>
            </div>
        </div>
    </div>
<?php endif;?>