<h1><?php //echo $this->getHelloWorldTxt(); ?></h1>
<?php
//$product_ids = array(1072,1306);
$configArray = explode(";",$block->getConfigProductIds());
$productArray = array();
foreach($configArray as $data){
	
	$value = explode("=>", $data);
	//print_r($value);
	$productArray[trim($value[0])] = trim($value[1]);

}
//print_r($productArray['blue360media.com']);exit;	
	
$emailDomain = trim($block->getConfigEmailDomain());


//$sku = '3633015EP01';
$baseUrlWithOutIndexPhp = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

?>
<?php
$cookie_name = "DownloadEbook_email";
if(isset($_COOKIE[$cookie_name])) :
	//echo "Cookie named '" . $_COOKIE[$cookie_name] . "' is set!"; 
	$emailvalidate = explode('@',$_COOKIE[$cookie_name]);
	$key = $emailvalidate[1];
	$product_ids = array();
	if(isset($productArray[$key])){
	$product_ids = explode(",",$productArray[$key]);
	}
	//echo "<pre>";print_r($product_ids);exit;
	
	
	$emailMappingProducts = $block->getEmailMapping($_COOKIE[$cookie_name]);
	if(!empty($emailMappingProducts)){
		$products = explode(",",$emailMappingProducts['products']);
		if(!empty($products)){
		 $product_ids = array_merge($product_ids,$products);	
		}		
	}	
?>
	<div class="more-information-message" style="color: black;">
		<span>
			<?php /* @escapeNotVerified */ echo __('For more information on using or downloading an eBook,') ?>
		</span>
		<a target="_blank" style="color:#1979c3;" href="<?php echo $this->getBaseUrl().'ebook-instructions/'?>" >
			<?php /* @escapeNotVerified */ echo __('click here') ?>
		</a>
	</div>
    <div style="max-width: 900px; margin: 0 auto; height:400px; margin-top:50px" class="table-wrapper downloadable-products" style="color: black;">
        <table id="my-downloadable-products-table" class="data table table-downloadable-products" border="1px;">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Downloadable Products') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col title"><?php /* @escapeNotVerified */ echo __('Title') ?></th>
                    <th scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Download Link') ?></th>
                    <th scope="col" class="col remaining"><?php /* @escapeNotVerified */ echo __('Successfull Downloads') ?></th>        
                    <th scope="col" class="col actions"><?php /* @escapeNotVerified */ echo __('Remaining Downloads') ?></th>
                   
                </tr>
            </thead>
            <tbody>
			<?php $SuppProductTypeArray = array("downloadable","combo"); ?>
			<?php foreach($product_ids as $_id ): ?>
			    <?php 
				$downloadInfo = $block->getDirectQuery($_id);
				$_product = $block->getProductById($_id);
				
				$productType = $_product->getTypeId();
				
				if(!in_array($productType,$SuppProductTypeArray)){
					continue;
				}	
				$linkUrl = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
				$filePath = $linkUrl."downloadable/files/links".$downloadInfo['link_file'];
				
				$downloadUrl = $baseUrlWithOutIndexPhp."downloadebook/index/download/id/".$_id;
                $downlodModel = $block->getDownloads($_COOKIE[$cookie_name]);
				
				//echo "<pre>";print_r($downlodModel);exit;
                				
				
				?>
			
                <tr>
                   
					<td data-th="<?php echo 'Title' ?>" class="col title">
                        <span class="product-name"><?php echo $_product->getName(); ?></span>
                   
                    </td>
					<td data-th="<?php echo 'Title' ?>" class="col title" >
					<a href="<?php echo $downloadUrl ?>" title="Start Download" class="action download" onclick="this.target='_blank'" style="color:#1979c3;">Download eBook</a>
					</td>	
                    <td data-th="<?php echo 'Successfull Downloads' ?>" class="col status"><?php echo $downlodModel[0]['downloaded'] ?></td>
                    <td data-th="<?php echo $block->escapeHtml(__('Remaining Downloads')) ?>" class="col remaining"><?php echo ($downlodModel[0]['allowed_downloads'] - $downlodModel[0]['downloaded']) ?></td> 
                </tr>
             <?php endforeach; ?>				
            </tbody>
        </table>
    </div>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('Please Fill the below Form to Download the E-Book.'); ?></span></div>

<div class="zoo-main-content-area">




<div class="register-container">

<form style="max-width: 500px; margin: 0 auto;" class="form account form-create-account" action="<?php echo $baseUrlWithOutIndexPhp ?>downloadebook/index/post" method="post" id="form-downloadebook" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
    <?php echo $block->getBlockHtml('formkey'); ?> 

	<div class="create info">
        <legend class="legend"><span>Personal Information</span></legend>
        
        
			<input type="hidden" id="email_domain" name="email_domain" value="<?php echo $emailDomain ?>" >
            <div class="field field-name-firstname required">
            <label class="label" for="firstname">
                <span>First Name</span>
            </label>
            <div class="control">
                <input type="text" id="first_name" name="first_name" value="" title="First Name" placeholder="First Name" class="input-text required-entry" data-validate="{required:true}" autocomplete="off" aria-required="true">
            </div>
        </div>
            <div class="field field-name-lastname required">
            <label class="label" for="lastname">
                <span>Last Name</span>
            </label>
            <div class="control">
                <input type="text" id="last_name" name="last_name" value="" title="Last Name" placeholder="Last Name" class="input-text required-entry" data-validate="{required:true}" autocomplete="off" aria-required="true">
            </div>
        </div>
    
        <div class="field required">
            <div class="control">
                <input type="email" name="email" id="email" value="" placeholder="Email" title="Email" class="input-text" data-validate="{required:true, 'validate-email':true}" aria-required="true">
            </div>
        </div>
		<div class="field">
            <div class="control">
                <input type="tel" name="phone" id="phone" value="" placeholder="phone" title="phone" class="input-text" data-validate="{'validate-phoneLax':true}" aria-required="true">
            </div>
        </div>
		<div class="field">
            <div class="control">
                <input type="text" name="department" id="department" value="" placeholder="department" title="department" class="input-text" data-validate="{}" aria-required="true">
            </div>
        </div>
        <div class="field choice newsletter">
                <input type="checkbox" name="newsletter_permission" title="Add me to email  subscription list to receive notification." value="1" id="newsletter_permission" class="checkbox">
                <label for="newsletter_permission" class="label"><span>Add me to email  subscription list to receive notification.</span></label>
        </div>
                                
         <!-- Captcha -->
            <?php echo $block->getChildHtml('form.additional.info'); ?>    
             <?php //echo $block->getChildHtml('form_additional_info'); ?>			
                
    </div>
       
    <div class="actions">
        <button type="submit" class="btn action submit" title="Submit"><span>Submit</span></button>

    </div>

</form>

</div>

    
    </div>
<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-downloadebook');
   
    
    dataForm.mage('validation', {
		
   
    }).find('input:text').attr('autocomplete', 'off');

});
</script>	
	
<?php endif; ?>	