// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/poppins/light/Poppins-Light',
        @font-weight: 300,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/poppins/regular/Poppins-Regular',
        @font-weight: 400,
        @font-style: normal
    );

    .lib-font-face(
      @family-name: @font-family-name__base,
      @font-path: '@{baseDir}fonts/poppins/medium/Poppins-Medium',
      @font-weight: 500,
      @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/poppins/semibold/Poppins-SemiBold',
        @font-weight: 600,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/poppins/bold/Poppins-Bold',
        @font-weight: 700,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/playfairdisplay/PlayfairDisplay-Regular',
        @font-weight: 700,
        @font-style: normal
    );


    .lib-font-face(
        @family-name: @font-family-name__alternate-1,
        @font-path: '@{baseDir}fonts/pacifico/Pacifico-Regular',
        @font-weight: 400,
        @font-style: normal
    );

  .lib-font-face(
        @family-name: @font-family-name__alternate-2,
        @font-path: '@{baseDir}fonts/greatvibes/GreatVibes-Regular',
        @font-weight: 400,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__alternate-3,
        @font-path: '@{baseDir}fonts/mousememoirs/MouseMemoirs-Regular',
        @font-weight: 400,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__alternate-4,
        @font-path: '@{baseDir}fonts/glacial_indifference/GlacialIndifference-Regular',
        @font-weight: 400,
        @font-style: normal
    );

  .lib-font-face(
    @family-name: @font-family-name__alternate-5,
    @font-path: '@{baseDir}fonts/dancing_script/DancingScript-Regular',
    @font-weight: 400,
    @font-style: normal
  );
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(font-size, @h1__font-size-desktop);
        .lib-css(margin-bottom, @h1__margin-bottom__desktop);
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .items {
        .lib-list-reset-styles();
    }
}
