<?php
  
?>
<?php
/**
 * Career job social share template
 *
 * @var $block \Magento\Framework\View\Element\Template
 */
?>
<div class="block social-share">
    <div class="block-title title">
        <strong id="block-relatedjobs-heading" role="heading" aria-level="2">
            <?php echo __('Share with friends') ?>
        </strong>
    </div>
    <amp-social-share type="facebook" width="60" height="44"></amp-social-share>
    <amp-social-share type="twitter" width="60" height="44"> </amp-social-share>
    <amp-social-share type="gplus" width="60" height="44"></amp-social-share>
    <amp-social-share type="email" width="60" height="44"></amp-social-share>
</div>
