  

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.job-holder {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #F5F5F5;
    padding: 20px;
}

.job-holder:hover {
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.job-holder .job-header {position:relative;}

.job-holder .job-header .job-info {padding: 0 0 10px 0;}
.job-holder .job-header .job-info .item,
.job-holder .job-header .job-info .dash {display: inline-block;}
.job-holder .job-header .job-info .label {font-weight: 700;}
.job-holder .job-header .job-info .value {font-style: italic;}


.job-list {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.job-list .job-content .job-read-more {padding-top:10px; float:right;}

.career-category-view .category-content {padding-left: 40px;}

.job-content .job-description img {margin:0 15px 0 15px;}
.job-content .job-description ul,
.job-content .job-description ol {list-style-position: inside;}

.job-content .job-description .job-ftimg-hld {float: left; margin: 0 15px 0 15px; width: 33%}
.job-content .job-description .job-ftimg-hld img {width:100%; padding:0px; margin:0px;}
@media (max-width: 496px) {
  .job-content .job-description .job-ftimg-hld {width: 100%; margin:0px;}
}

.job-list .job-header .job-title {max-width:80%;}
.job-list .job-header .job-title a {
    text-decoration: none;
    font-size: 22px;
    color: #636363;
}



.job-list .job-header .job-title {
    margin: 0px;
    padding: 10px 0;
    float:left;
}

.job-list .job-holder .job-header .addthis_toolbox {float: right; padding-top: 20px;}
.job-list .hidden {display:none;}

.job-view .job-holder .job-header .addthis_toolbox {float: right;}
.job-view .job-bottom {margin-top:30px;}

.job-view .job-nextprev-hld  {margin-bottom: 30px;}
.job-view .job-nextprev-hld .nextprev-link {font-weight: 700;}
.job-view .job-nextprev-hld .prev-link {float:left}
.job-view .job-nextprev-hld .next-link {float:right}

.job-view .block {margin-bottom: 30px;}

.widget.block-recent-jobs .block-content .item {
        padding: 8px 0 0px 0px;
}

.widget.block-categories ul {
    list-style: initial;
    padding-left:0px;
}

.widget.block-categories ul ul {
    margin-left:20px;
}

.widget.block-categories ul,
.widget.block-categories li {
    margin: 5px 0 5px 9px;
    padding: 0px;
}

.widget.block-rss .rss-icon {float: left; width: 23px; padding-right: 10px;}


.widget.career-search {
    width:100%;
    margin-bottom: 40px;
    position: relative;
    float: right;
    padding-left: 15px;
    z-index: 4;
}

.widget.career-search .block-content {
    margin-bottom: 0;
}

.widget.career-search  label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.widget.career-search .control {
    border-top: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.widget.career-search input {
    position: static;
    padding-right: 35px;
    margin: 0;
    left: -300%;
}

.widget.career-search .action.search {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}

.widget.career-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.widget.career-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Tag claud widget */
.widget.block-tagclaud .smallest{font-size: 0.75em}
.widget.block-tagclaud .small{font-size:1em}
.widget.block-tagclaud .medium{font-size:1.25em}
.widget.block-tagclaud .large{font-size:1.5em}
.widget.block-tagclaud .largest{font-size:2em}

.career-widget-recent .job-list {
    padding: 0px;
    margin: 0px;
}

.career-widget-recent .job-holder {
    width: 29%;
    float: left;
    margin: 5px;
}

.career-widget-recent .job-description .job-text-hld {
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
}

.career-widget-recent-masonry .job-description .job-text-hld {
    max-height: none;
    min-height: 0;
}
.career-widget-recent-masonry .job-description .job-ftimg-hld {
    width: 100%;
    margin: 0px;
}

.mfcareer-autoloader {text-align: center;}
.mfcareer-autoloader .mfcareer-show-onload {display: none;}


@media (max-width: 420px) {
  #mfcareer_gcomments {max-width:345px; overflow-y: scroll;}
}
