<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<div class="product-item-details">
    <div class="view-product-details">
        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($product); ?>"><?php echo __('View Product Details');?></a>
    </div>
</div>