<?php
$product = $block->getProduct();
?>

<div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-author-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('About The Author') ?></caption>
            <tbody>
                <tr>
                    <td class="col data" data-th="Test2"><?php echo $product->getData('about_author'); ?></td>
                </tr>
            </tbody>
        </table>
</div>
