<?php
/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 * 
 * @updated by: Amjad BaniMatter
 * @desc: Updated in order to add links for all other publication editions
 * @date: 09/18/2017
 */
$product = $block->getProduct();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$authorsCollection = $objectManager->create('Endeavor\Author\Model\Author');
$authors = $product->getData('author_name');
$date = $objectManager->create('\Magento\Framework\Stdlib\DateTime\DateTime');
$authorsIds = null;
$productFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$productPublication = $product->getData('publication_number');
$otherProductEditions = $productFactory->create()
                            ->addAttributeToFilter('type_id', \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE)
                            ->addAttributeToFilter('status', \Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED)
                            ->addAttributeToFilter('publication_number', $productPublication);
if (!empty($authors)) {
    $authorsIds = explode(',', $authors);
}
?>
<style>
    @media screen and (min-width: 992px) {
        .product-attribute-row-label {
            text-align: right;
        }
    }
        
</style>
<div class="book-information">
    <div class="container">
        <div class="row">
            <?php $_additional = $block->getAdditionalData(); ?>
            <?php foreach ($_additional as $_data): ?>
                <?php if ($_data['code'] != "product_preview" && !empty($_data['value']) && $_data['value'] != 'N/A' && $_data['value'] != 'No') { ?>
                    <?php if ($_data['code'] == 'last_release_date' || $_data['code'] == 'release_date' || $_data['code'] == 'update_date'): ?>
                    <div class="col-xs-12">
                        <div class="col-xs-4 col-sm-2" style="text-align: right">
                            <h4 style="color: #147e95;"><?php echo $block->escapeHtml(__($_data['label'])) ?></h4>
                        </div>
                        <div class="col-xs-6" style="margin-top: 10px;margin-bottom: 10px;">
                            <span style='color: #878787'><?php /* @escapeNotVerified */ echo $date->gmtDate('F j, Y', $_data['value']) ?></span>
                        </div>
                    </div>
                    <?php else: ?>
                        <?php if ($_data['code'] == 'author_name'): ?>
                            <?php if (!empty($authorsIds)): ?>
                            <div class="col-xs-12">
                                <div class="col-xs-4 col-sm-2" style="text-align: right">
                                    <h4 style="color: #147e95;">
                                        <?php if (count($authorsIds) == 1): ?>
                                            <?php echo __(strtoupper('Author:')); ?>
                                        <?php else: ?>
                                            <?php echo __(strtoupper('Authors:')); ?>
                                        <?php endif; ?>   
                                    </h4>
                                </div>
                                <div class="col-xs-6" style="margin-top: 10px;margin-bottom: 10px;">
                                    <?php for ($i = 0; $i < count($authorsIds); $i++): ?>
                                        <?php if ($i == count($authorsIds) - 1): ?>
                                            <span style='color: #878787'><?php echo $authorsCollection->load($authorsIds[$i])->getName(); ?></span>
                                        <?php else: ?>
                                            <span style='color: #878787'><?php echo $authorsCollection->load($authorsIds[$i])->getName(); ?>,</span>
                                        <?php endif; ?>
                                    <?php endfor; ?>
                                </div>
                            </div>
                            <?php endif; ?>
                            <?php elseif($_data['code'] == 'publisher_name'): ?>
                                <div class="col-xs-12">
                                    <div class="col-xs-4 col-sm-2" style="text-align: right">
                                        <h4 style="color: #147e95;"><?php echo __(strtoupper('Publisher')); ?></h4>
                                    </div>
                                    <div class="col-xs-6" style="margin-top: 10px;margin-bottom: 10px;">
                                        <span><img src="/pub/static/frontend/Blue360Media/core/en_US/images/publishername.png" width="75"/></span>
                                    </div>
                                </div>
                            <?php else: ?>
                                <div class="col-xs-12">
                                    <div class="col-xs-4 col-sm-2" style="text-align: right">
                                        <h4 style="color: #147e95;"><?php echo $block->escapeHtml(__($_data['label'])) ?></h4>
                                    </div>
                                    <div class="col-xs-6" style="margin-top: 10px;margin-bottom: 10px;">
                                        <span style='color: #878787'><?php /* @escapeNotVerified */ echo $_helper->productAttribute($product, $_data['value'], $_data['code']) ?></span>
                                    </div>
                                </div>                            
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php } ?>
            <?php endforeach; ?>
            <?php $helperPreOrder = $this->helper('\Webkul\Preorder\Helper\Data'); ?>
            <?php if($helperPreOrder->isPreorder($product->getId())||!$product->isSaleable()):?>
                <?php $currentProduct = $product; ?>
                    <div class="col-xs-12">
                        <?php foreach ($otherProductEditions as $otherProduct) : ?>
                            <?php if ($otherProduct->getId() != $currentProduct->getId()) : ?>
                                <div class="col-xs-4 col-sm-2" style="text-align: right">
                                    <h4 style="color: #147e95;">Old Editions</h4>
                                </div>
                                <?php break;?>
                            <?php endif;?>
                        <?php endforeach;?>
                        <?php foreach ($otherProductEditions as $otherProduct) : ?>
                            <?php if ($otherProduct->getId() != $currentProduct->getId()): ?>
                                <div class="col-xs-6" style="margin-top: 10px;margin-bottom: 10px;">
                                    <?php $otherProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($otherProduct->getId()); ?>
                                        <a style='color: #1979c3' href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank"><?php echo $otherProduct->getName(); ?></a> <?php if($otherProduct->getData('edition')!=''):?>( <span><?php echo $otherProduct->getData('edition');?></span> ) <?php endif;?>
                                </div>
                            <?php endif;?>
                    </div>
                <?php endforeach; ?>
            <?php endif;?>
        </div>
</div>