<?php
$product = $block->getProduct();
?>

<div class="book-information">
    <?php if (!($product->getData('publisher_name') == '')):?>
    <h4>Publisher Name: <a href="#"><span style='color: #1979c3'><?php echo $product->getData('publisher_name'); ?></span></a></h4>
    <?php endif;?>
    <?php if (!($product->getData('author_name') == '')):?>
    <h4>Author: <span style='color: #1979c3'><?php echo $product->getData('author_name'); ?></span></h4>
    <?php endif;?>
    <?php if (!($product->getData('isbn') == 0 || $product->getData('isbn') == '')):?>
    <h4>ISBN: <span style='color: #1979c3'><?php echo $product->getData('isbn'); ?></span></h4>
    <?php endif;?>
    <?php if (!($product->getData('edition') == 0 || $product->getData('edition') == '')):?>
    <h4>Edition: <span style='color: #1979c3'><?php echo $product->getData('edition'); ?></span></h4>
    <?php endif;?>
    <?php if (!($product->getData('jurisdiction') == '')): ?>
        <h4>Jurisdiction: <span style='color: #1979c3'><?php echo $product->getResource()->getAttribute('jurisdiction')->getFrontend()->getValue($product); ?></span></h4>
    <?php endif;?>     
</div>