@media (min-width: 1200px) {
    .layout-1200 .container{
        width: @layout__max-width-1200;
    }
    .layout-1200 .clever-horizontal-menu .clever-mega-menu li.clever-mega-menu-item.level0.clever-menu-justify > .clever-mega-menu-sub.container{
        max-width: @layout__max-width-1200;
    }
    .layout-1200.boxed-layout .page-wrapper, .layout-1200.boxed-layout .is-sticky #zoo-sticky-header {
        max-width: @layout__max-width-1200 + 30px;
    }
}
@media (min-width: 1440px) {
    .layout-1440 .container{
        width: @layout__max-width-1440;
    }
    .layout-1440 .clever-horizontal-menu .clever-mega-menu li.clever-mega-menu-item.level0.clever-menu-justify > .clever-mega-menu-sub.container{
        max-width: @layout__max-width-1440;
    }
    .layout-1440.boxed-layout .page-wrapper, .layout-1440.boxed-layout .is-sticky #zoo-sticky-header {
        max-width: @layout__max-width-1440 + 30px;
    }
}
@media (min-width: 1680px) {
    .layout-1680 .container{
        width: @layout__max-width-1680;
    }
    .layout-1680 .clever-horizontal-menu .clever-mega-menu li.clever-mega-menu-item.level0.clever-menu-justify > .clever-mega-menu-sub.container{
        max-width: @layout__max-width-1680;
    }
    .layout-1680.boxed-layout .page-wrapper, .layout-1680.boxed-layout .is-sticky #zoo-sticky-header {
        max-width: @layout__max-width-1680 + 30px;
    }
}
@media (min-width: 1920px) {
    .layout-1920 .container{
        width: @layout__max-width-1920;
    }
    .layout-1920 .clever-horizontal-menu .clever-mega-menu li.clever-mega-menu-item.level0.clever-menu-justify > .clever-mega-menu-sub.container{
        max-width: @layout__max-width-1920;
    }
    .layout-1920.boxed-layout .page-wrapper, .layout-1920.boxed-layout .is-sticky #zoo-sticky-header {
        max-width: @layout__max-width-1920 + 30px;
    }
}
.layout-fullwidth .container{
    width: 100%;
}