body.rtl {
  /*******************************************************************************
   *              bootstrap-rtl (version 3.3.4)
   *      Author: Morteza Ansarinia (http://github.com/morteza)
   *  Created on: August 13,2015
   *     Project: bootstrap-rtl
   *   Copyright: Unlicensed Public Domain
   *******************************************************************************/
  direction: rtl;
  .flip.text-left {
    text-align: right;
  }
  .flip.text-right {
    text-align: left;
  }
  .list-unstyled {
    padding-right: 0;
    padding-left: initial;
  }
  .list-inline {
    padding-right: 0;
    padding-left: initial;
    margin-right: -5px;
    margin-left: 0;
  }
  dd {
    margin-right: 0;
    margin-left: initial;
  }
  @media (min-width: 768px) {
    .dl-horizontal dt {
      float: right;
      clear: right;
      text-align: left;
    }
    .dl-horizontal dd {
      margin-right: 180px;
      margin-left: 0;
    }
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-xs-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-xs-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-xs-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-xs-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-xs-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-xs-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-xs-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-xs-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-xs-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-xs-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-xs-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-xs-pull-0 {
    left: auto;
    right: auto;
  }
  .col-xs-push-12 {
    right: 100%;
    left: 0;
  }
  .col-xs-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-xs-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-xs-push-9 {
    right: 75%;
    left: 0;
  }
  .col-xs-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-xs-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-xs-push-6 {
    right: 50%;
    left: 0;
  }
  .col-xs-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-xs-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-xs-push-3 {
    right: 25%;
    left: 0;
  }
  .col-xs-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-xs-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-xs-push-0 {
    right: auto;
    left: 0;
  }
  .col-xs-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-xs-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-xs-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-xs-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-xs-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
  @media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: right;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-pull-12 {
      left: 100%;
      right: auto;
    }
    .col-sm-pull-11 {
      left: 91.66666667%;
      right: auto;
    }
    .col-sm-pull-10 {
      left: 83.33333333%;
      right: auto;
    }
    .col-sm-pull-9 {
      left: 75%;
      right: auto;
    }
    .col-sm-pull-8 {
      left: 66.66666667%;
      right: auto;
    }
    .col-sm-pull-7 {
      left: 58.33333333%;
      right: auto;
    }
    .col-sm-pull-6 {
      left: 50%;
      right: auto;
    }
    .col-sm-pull-5 {
      left: 41.66666667%;
      right: auto;
    }
    .col-sm-pull-4 {
      left: 33.33333333%;
      right: auto;
    }
    .col-sm-pull-3 {
      left: 25%;
      right: auto;
    }
    .col-sm-pull-2 {
      left: 16.66666667%;
      right: auto;
    }
    .col-sm-pull-1 {
      left: 8.33333333%;
      right: auto;
    }
    .col-sm-pull-0 {
      left: auto;
      right: auto;
    }
    .col-sm-push-12 {
      right: 100%;
      left: 0;
    }
    .col-sm-push-11 {
      right: 91.66666667%;
      left: 0;
    }
    .col-sm-push-10 {
      right: 83.33333333%;
      left: 0;
    }
    .col-sm-push-9 {
      right: 75%;
      left: 0;
    }
    .col-sm-push-8 {
      right: 66.66666667%;
      left: 0;
    }
    .col-sm-push-7 {
      right: 58.33333333%;
      left: 0;
    }
    .col-sm-push-6 {
      right: 50%;
      left: 0;
    }
    .col-sm-push-5 {
      right: 41.66666667%;
      left: 0;
    }
    .col-sm-push-4 {
      right: 33.33333333%;
      left: 0;
    }
    .col-sm-push-3 {
      right: 25%;
      left: 0;
    }
    .col-sm-push-2 {
      right: 16.66666667%;
      left: 0;
    }
    .col-sm-push-1 {
      right: 8.33333333%;
      left: 0;
    }
    .col-sm-push-0 {
      right: auto;
      left: 0;
    }
    .col-sm-offset-12 {
      margin-right: 100%;
      margin-left: 0;
    }
    .col-sm-offset-11 {
      margin-right: 91.66666667%;
      margin-left: 0;
    }
    .col-sm-offset-10 {
      margin-right: 83.33333333%;
      margin-left: 0;
    }
    .col-sm-offset-9 {
      margin-right: 75%;
      margin-left: 0;
    }
    .col-sm-offset-8 {
      margin-right: 66.66666667%;
      margin-left: 0;
    }
    .col-sm-offset-7 {
      margin-right: 58.33333333%;
      margin-left: 0;
    }
    .col-sm-offset-6 {
      margin-right: 50%;
      margin-left: 0;
    }
    .col-sm-offset-5 {
      margin-right: 41.66666667%;
      margin-left: 0;
    }
    .col-sm-offset-4 {
      margin-right: 33.33333333%;
      margin-left: 0;
    }
    .col-sm-offset-3 {
      margin-right: 25%;
      margin-left: 0;
    }
    .col-sm-offset-2 {
      margin-right: 16.66666667%;
      margin-left: 0;
    }
    .col-sm-offset-1 {
      margin-right: 8.33333333%;
      margin-left: 0;
    }
    .col-sm-offset-0 {
      margin-right: 0%;
      margin-left: 0;
    }
  }
  @media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: right;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    .col-md-pull-12 {
      left: 100%;
      right: auto;
    }
    .col-md-pull-11 {
      left: 91.66666667%;
      right: auto;
    }
    .col-md-pull-10 {
      left: 83.33333333%;
      right: auto;
    }
    .col-md-pull-9 {
      left: 75%;
      right: auto;
    }
    .col-md-pull-8 {
      left: 66.66666667%;
      right: auto;
    }
    .col-md-pull-7 {
      left: 58.33333333%;
      right: auto;
    }
    .col-md-pull-6 {
      left: 50%;
      right: auto;
    }
    .col-md-pull-5 {
      left: 41.66666667%;
      right: auto;
    }
    .col-md-pull-4 {
      left: 33.33333333%;
      right: auto;
    }
    .col-md-pull-3 {
      left: 25%;
      right: auto;
    }
    .col-md-pull-2 {
      left: 16.66666667%;
      right: auto;
    }
    .col-md-pull-1 {
      left: 8.33333333%;
      right: auto;
    }
    .col-md-pull-0 {
      left: auto;
      right: auto;
    }
    .col-md-push-12 {
      right: 100%;
      left: 0;
    }
    .col-md-push-11 {
      right: 91.66666667%;
      left: 0;
    }
    .col-md-push-10 {
      right: 83.33333333%;
      left: 0;
    }
    .col-md-push-9 {
      right: 75%;
      left: 0;
    }
    .col-md-push-8 {
      right: 66.66666667%;
      left: 0;
    }
    .col-md-push-7 {
      right: 58.33333333%;
      left: 0;
    }
    .col-md-push-6 {
      right: 50%;
      left: 0;
    }
    .col-md-push-5 {
      right: 41.66666667%;
      left: 0;
    }
    .col-md-push-4 {
      right: 33.33333333%;
      left: 0;
    }
    .col-md-push-3 {
      right: 25%;
      left: 0;
    }
    .col-md-push-2 {
      right: 16.66666667%;
      left: 0;
    }
    .col-md-push-1 {
      right: 8.33333333%;
      left: 0;
    }
    .col-md-push-0 {
      right: auto;
      left: 0;
    }
    .col-md-offset-12 {
      margin-right: 100%;
      margin-left: 0;
    }
    .col-md-offset-11 {
      margin-right: 91.66666667%;
      margin-left: 0;
    }
    .col-md-offset-10 {
      margin-right: 83.33333333%;
      margin-left: 0;
    }
    .col-md-offset-9 {
      margin-right: 75%;
      margin-left: 0;
    }
    .col-md-offset-8 {
      margin-right: 66.66666667%;
      margin-left: 0;
    }
    .col-md-offset-7 {
      margin-right: 58.33333333%;
      margin-left: 0;
    }
    .col-md-offset-6 {
      margin-right: 50%;
      margin-left: 0;
    }
    .col-md-offset-5 {
      margin-right: 41.66666667%;
      margin-left: 0;
    }
    .col-md-offset-4 {
      margin-right: 33.33333333%;
      margin-left: 0;
    }
    .col-md-offset-3 {
      margin-right: 25%;
      margin-left: 0;
    }
    .col-md-offset-2 {
      margin-right: 16.66666667%;
      margin-left: 0;
    }
    .col-md-offset-1 {
      margin-right: 8.33333333%;
      margin-left: 0;
    }
    .col-md-offset-0 {
      margin-right: 0%;
      margin-left: 0;
    }
  }
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: right;
    }
    .col-lg-12 {
      width: 100%;
    }
    .col-lg-11 {
      width: 91.66666667%;
    }
    .col-lg-10 {
      width: 83.33333333%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-8 {
      width: 66.66666667%;
    }
    .col-lg-7 {
      width: 58.33333333%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-5 {
      width: 41.66666667%;
    }
    .col-lg-4 {
      width: 33.33333333%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-2 {
      width: 16.66666667%;
    }
    .col-lg-1 {
      width: 8.33333333%;
    }
    .col-lg-pull-12 {
      left: 100%;
      right: auto;
    }
    .col-lg-pull-11 {
      left: 91.66666667%;
      right: auto;
    }
    .col-lg-pull-10 {
      left: 83.33333333%;
      right: auto;
    }
    .col-lg-pull-9 {
      left: 75%;
      right: auto;
    }
    .col-lg-pull-8 {
      left: 66.66666667%;
      right: auto;
    }
    .col-lg-pull-7 {
      left: 58.33333333%;
      right: auto;
    }
    .col-lg-pull-6 {
      left: 50%;
      right: auto;
    }
    .col-lg-pull-5 {
      left: 41.66666667%;
      right: auto;
    }
    .col-lg-pull-4 {
      left: 33.33333333%;
      right: auto;
    }
    .col-lg-pull-3 {
      left: 25%;
      right: auto;
    }
    .col-lg-pull-2 {
      left: 16.66666667%;
      right: auto;
    }
    .col-lg-pull-1 {
      left: 8.33333333%;
      right: auto;
    }
    .col-lg-pull-0 {
      left: auto;
      right: auto;
    }
    .col-lg-push-12 {
      right: 100%;
      left: 0;
    }
    .col-lg-push-11 {
      right: 91.66666667%;
      left: 0;
    }
    .col-lg-push-10 {
      right: 83.33333333%;
      left: 0;
    }
    .col-lg-push-9 {
      right: 75%;
      left: 0;
    }
    .col-lg-push-8 {
      right: 66.66666667%;
      left: 0;
    }
    .col-lg-push-7 {
      right: 58.33333333%;
      left: 0;
    }
    .col-lg-push-6 {
      right: 50%;
      left: 0;
    }
    .col-lg-push-5 {
      right: 41.66666667%;
      left: 0;
    }
    .col-lg-push-4 {
      right: 33.33333333%;
      left: 0;
    }
    .col-lg-push-3 {
      right: 25%;
      left: 0;
    }
    .col-lg-push-2 {
      right: 16.66666667%;
      left: 0;
    }
    .col-lg-push-1 {
      right: 8.33333333%;
      left: 0;
    }
    .col-lg-push-0 {
      right: auto;
      left: 0;
    }
    .col-lg-offset-12 {
      margin-right: 100%;
      margin-left: 0;
    }
    .col-lg-offset-11 {
      margin-right: 91.66666667%;
      margin-left: 0;
    }
    .col-lg-offset-10 {
      margin-right: 83.33333333%;
      margin-left: 0;
    }
    .col-lg-offset-9 {
      margin-right: 75%;
      margin-left: 0;
    }
    .col-lg-offset-8 {
      margin-right: 66.66666667%;
      margin-left: 0;
    }
    .col-lg-offset-7 {
      margin-right: 58.33333333%;
      margin-left: 0;
    }
    .col-lg-offset-6 {
      margin-right: 50%;
      margin-left: 0;
    }
    .col-lg-offset-5 {
      margin-right: 41.66666667%;
      margin-left: 0;
    }
    .col-lg-offset-4 {
      margin-right: 33.33333333%;
      margin-left: 0;
    }
    .col-lg-offset-3 {
      margin-right: 25%;
      margin-left: 0;
    }
    .col-lg-offset-2 {
      margin-right: 16.66666667%;
      margin-left: 0;
    }
    .col-lg-offset-1 {
      margin-right: 8.33333333%;
      margin-left: 0;
    }
    .col-lg-offset-0 {
      margin-right: 0%;
      margin-left: 0;
    }
  }
  caption {
    text-align: right;
  }
  th {
    text-align: right;
  }
  @media screen and (max-width: 767px) {
    .table-responsive > .table-bordered {
      border: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-right: 0;
      border-left: initial;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-left: 0;
      border-right: initial;
    }
  }
  .radio label,
  .checkbox label {
    padding-right: 20px;
    padding-left: initial;
  }
  .radio input[type="radio"],
  .radio-inline input[type="radio"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
    margin-left: auto;
  }
  .radio-inline,
  .checkbox-inline {
    padding-right: 20px;
    padding-left: 0;
  }
  .radio-inline + .radio-inline,
  .checkbox-inline + .checkbox-inline {
    margin-right: 10px;
    margin-left: 0;
  }
  .has-feedback .form-control {
    padding-left: 42.5px;
    padding-right: 12px;
  }
  .form-control-feedback {
    left: 0;
    right: auto;
  }
  @media (min-width: 768px) {
    .form-inline label {
      padding-right: 0;
      padding-left: initial;
    }
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
      margin-right: 0;
      margin-left: auto;
    }
  }
  @media (min-width: 768px) {
    .form-horizontal .control-label {
      text-align: left;
    }
  }
  .form-horizontal .has-feedback .form-control-feedback {
    left: 15px;
    right: auto;
  }
  .caret {
    margin-right: 2px;
    margin-left: 0;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    float: left;
    text-align: right;
  }
  .dropdown-menu.pull-right {
    left: 0;
    right: auto;
    float: right;
  }
  .dropdown-menu-right {
    left: auto;
    right: 0;
  }
  .dropdown-menu-left {
    left: 0;
    right: auto;
  }
  @media (min-width: 768px) {
    .navbar-right .dropdown-menu {
      left: auto;
      right: 0;
    }
    .navbar-right .dropdown-menu-left {
      left: 0;
      right: auto;
    }
  }
  .btn-group > .btn,
  .btn-group-vertical > .btn {
    float: right;
  }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
    margin-right: -1px;
    margin-left: 0px;
  }
  .btn-toolbar {
    margin-right: -5px;
    margin-left: 0px;
  }
  .btn-toolbar .btn-group,
  .btn-toolbar .input-group {
    float: right;
  }
  .btn-toolbar > .btn,
  .btn-toolbar > .btn-group,
  .btn-toolbar > .input-group {
    margin-right: 5px;
    margin-left: 0px;
  }
  .btn-group > .btn:first-child {
    margin-right: 0;
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-group > .btn-group {
    float: right;
  }
  .btn-group.btn-group-justified > .btn,
  .btn-group.btn-group-justified > .btn-group {
    float: none;
  }
  .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }
  .btn-group > .btn-group:first-child > .btn:last-child,
  .btn-group > .btn-group:first-child > .dropdown-toggle {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .btn-group > .btn-group:last-child > .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .btn .caret {
    margin-right: 0;
  }
  .btn-group-vertical > .btn + .btn,
  .btn-group-vertical > .btn + .btn-group,
  .btn-group-vertical > .btn-group + .btn,
  .btn-group-vertical > .btn-group + .btn-group {
    margin-top: -1px;
    margin-right: 0;
  }
  .input-group .form-control {
    float: right;
  }
  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:first-child > .dropdown-toggle,
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .input-group-addon:first-child {
    border-left: 0px;
    border-right: 1px solid;
  }
  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .input-group-addon:last-child {
    border-left-width: 1px;
    border-left-style: solid;
    border-right: 0px;
  }
  .input-group-btn > .btn + .btn {
    margin-right: -1px;
    margin-left: auto;
  }
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group {
    margin-left: -1px;
    margin-right: auto;
  }
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    margin-right: -1px;
    margin-left: auto;
  }
  .nav {
    padding-right: 0;
    padding-left: initial;
  }
  .nav-tabs > li {
    float: right;
  }
  .nav-tabs > li > a {
    margin-left: auto;
    margin-right: -2px;
    border-radius: 4px 4px 0 0;
  }
  .nav-pills > li {
    float: right;
  }
  .nav-pills > li > a {
    border-radius: 4px;
  }
  .nav-pills > li + li {
    margin-right: 2px;
    margin-left: auto;
  }
  .nav-stacked > li {
    float: none;
  }
  .nav-stacked > li + li {
    margin-right: 0;
    margin-left: auto;
  }
  .nav-justified > .dropdown .dropdown-menu {
    right: auto;
  }
  .nav-tabs-justified > li > a {
    margin-left: 0;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    .nav-tabs-justified > li > a {
      border-radius: 4px 4px 0 0;
    }
  }
  @media (min-width: 768px) {
    .navbar-header {
      float: right;
    }
  }
  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-brand {
    float: right;
  }
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
      margin-right: -15px;
      margin-left: auto;
    }
  }
  .navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: auto;
  }
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 5px 25px 5px 15px;
    }
  }
  @media (min-width: 768px) {
    .navbar-nav {
      float: right;
    }
    .navbar-nav > li {
      float: right;
    }
  }
  @media (min-width: 768px) {
    .navbar-left.flip {
      float: right !important;
    }
    .navbar-right:last-child {
      margin-left: -15px;
      margin-right: auto;
    }
    .navbar-right.flip {
      float: left !important;
      margin-left: -15px;
      margin-right: auto;
    }
    .navbar-right .dropdown-menu {
      left: 0;
      right: auto;
    }
  }
  @media (min-width: 768px) {
    .navbar-text {
      float: right;
    }
    .navbar-text.navbar-right:last-child {
      margin-left: 0;
      margin-right: auto;
    }
  }
  .pagination {
    padding-right: 0;
  }
  .pagination > li > a,
  .pagination > li > span {
    float: right;
    margin-right: -1px;
    margin-left: 0px;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    margin-right: -1px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .pager {
    padding-right: 0;
    padding-left: initial;
  }
  .pager .next > a,
  .pager .next > span {
    float: left;
  }
  .pager .previous > a,
  .pager .previous > span {
    float: right;
  }
  .nav-pills > li > a > .badge {
    margin-left: 0px;
    margin-right: 3px;
  }
  .list-group-item > .badge {
    float: left;
  }
  .list-group-item > .badge + .badge {
    margin-left: 5px;
    margin-right: auto;
  }
  .alert-dismissable,
  .alert-dismissible {
    padding-left: 35px;
    padding-right: 15px;
  }
  .alert-dismissable .close,
  .alert-dismissible .close {
    right: auto;
    left: -21px;
  }
  .progress-bar {
    float: right;
  }
  .media > .pull-left {
    margin-right: 10px;
  }
  .media > .pull-left.flip {
    margin-right: 0;
    margin-left: 10px;
  }
  .media > .pull-right {
    margin-left: 10px;
  }
  .media > .pull-right.flip {
    margin-left: 0;
    margin-right: 10px;
  }
  .media-right,
  .media > .pull-right {
    padding-right: 10px;
    padding-left: initial;
  }
  .media-left,
  .media > .pull-left {
    padding-left: 10px;
    padding-right: initial;
  }
  .media-list {
    padding-right: 0;
    padding-left: initial;
    list-style: none;
  }
  .list-group {
    padding-right: 0;
    padding-left: initial;
  }
  .panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
  .panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 0;
  }
  .panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
  .panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
  .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
  .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
  .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
  }
  .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
  .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
  }
  .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
  .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
  .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
  .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
  }
  .panel > .table-bordered > thead > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
  .panel > .table-bordered > tbody > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .panel > .table-bordered > tfoot > tr > th:first-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .panel > .table-bordered > thead > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
  .panel > .table-bordered > tbody > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .panel > .table-bordered > tfoot > tr > td:first-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
    border-left: none;
  }
  .panel > .table-bordered > thead > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
  .panel > .table-bordered > tbody > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .panel > .table-bordered > tfoot > tr > th:last-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .panel > .table-bordered > thead > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
  .panel > .table-bordered > tbody > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .panel > .table-bordered > tfoot > tr > td:last-child,
  .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: none;
    border-left: 0;
  }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object {
    right: 0;
    left: auto;
  }
  .close {
    float: left;
  }
  .modal-footer {
    text-align: left;
  }
  .modal-footer.flip {
    text-align: right;
  }
  .modal-footer .btn + .btn {
    margin-left: auto;
    margin-right: 5px;
  }
  .modal-footer .btn-group .btn + .btn {
    margin-right: -1px;
    margin-left: auto;
  }
  .modal-footer .btn-block + .btn-block {
    margin-right: 0;
    margin-left: auto;
  }
  .popover {
    left: auto;
    text-align: right;
  }
  .popover.top > .arrow {
    right: 50%;
    left: auto;
    margin-right: -11px;
    margin-left: auto;
  }
  .popover.top > .arrow:after {
    margin-right: -10px;
    margin-left: auto;
  }
  .popover.bottom > .arrow {
    right: 50%;
    left: auto;
    margin-right: -11px;
    margin-left: auto;
  }
  .popover.bottom > .arrow:after {
    margin-right: -10px;
    margin-left: auto;
  }
  .carousel-control {
    right: 0;
    bottom: 0;
  }
  .carousel-control.left {
    right: auto;
    left: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  }
  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    right: auto;
    margin-right: -10px;
  }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    left: auto;
    margin-left: -10px;
  }
  .carousel-indicators {
    right: 50%;
    left: 0;
    margin-right: -30%;
    margin-left: 0;
    padding-left: 0;
  }
  @media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
      margin-left: 0;
      margin-right: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
      margin-left: 0;
      margin-right: -15px;
    }
    .carousel-caption {
      left: 20%;
      right: 20%;
      padding-bottom: 30px;
    }
  }
  .pull-right.flip {
    float: left !important;
  }
  .pull-left.flip {
    float: right !important;
  }





  //******************** theme ************************//
  .no-padding {
    padding: 0;
  }

  .padding-0 {
    padding: 0;
  }

  .padding-right-0 {
    padding-left: 0px;
  }

  .padding-left-0 {
    padding-right: 0px;
  }

  .padding-left-3 {
    padding-right: 3px;
  }

  .padding-right-3 {
    padding-left: 3px;
  }

  .padding-left-8 {
    padding-right: 8px;
  }

  .padding-right-8 {
    padding-left: 8px;
  }

  .padding-left-5 {
    padding-right: 5px;
  }

  .padding-right-5 {
    padding-left: 5px;
  }

  .padding-left-60 {
    padding-right: 60px;
  }
  .mr-auto {
    margin-left: auto;
    margin-right: 0;
  }
  .page-wrapper .page-header {
    .topbar-container {
      text-align: left;
    }
    .header-panel {
      .zoo-top-contact {
        float: right;
        li {
          .fa {
            margin-left: 15px;
            margin-right: 0;
          }
          &:last-child {
            border-right: none;
          }
          &:first-child {
            padding-right: 0;
            padding-left: 20px;
          }
        }
      }
    }
    .switcher {
      padding-right: 20px;
      padding-left: 0;
      .switcher-dropdown {
        li {
          text-align: right;
        }
      }
    }
    &.zoo-header-2 {
      .authorization-link, .header-wishlist {
        padding-left: 0px;
        padding-right: 20px;
      }
      .block-search{
        padding-left: 0px;
        padding-right: 15px;
        .block-content .field.search {
          left: 100%;
          right: inherit;
        }
      }
    }
  }
  .zoo-home11-block {
    .block-item-left .block-1 {
      border-right: 30px solid @color-white;
      border-left: 0;
    }
    .block-item-right .block-1 {
      border-left: 30px solid @color-white;
      border-right: 0;
    }
  }
  .zoo-service-category {
    .zoo-bar-content {
      &:first-child {
        border-right: 1px solid #eaeaea !important;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .page-wrapper .page-footer .zoo-footer-bottom-content.home08 {
    .form#newsletter-validate-detail .actions {
      float: right;
      margin-left: inherit;
      text-align: right;
      margin-right: 10px;
    }
    .footer-bottom-accordion .newsletters-style-3.text-center .newsletter-cs .content #newsletter-validate-detail .field {
      float: right;
    }
    .zoo-footer-social-links li {
      padding-left: 10px;
      padding-right: 0;
    }
  }
  .figure.effect-sadie {
    p, h2 {
      left: inherit;
      right: 0;
    }
  }
  .page-wrapper .home08 .block .owl-carousel .owl-stage .owl-item .block-content .figure.effect-sadie .figcaption {
    p, h2 {
      right: 55px;
      left: inherit;
      text-align: right;
    }
  }
  .page-wrapper .page-header.type8 .header-content .block-search {
    display: none;
  }
  .grid .figure .figcaption {
    left: inherit;
    right: 0;
  }
  .user_area {
    text-align: right;
    float: left;
    margin: 0 25px 0 0;
    .authorization-link {
      a {
        &:before {
          right: 0;
        }
      }
    }
  }
  .c-smartsearch {
    .col-2-8 {
      float: right;
      margin-right: 0;
    }
  }
  .text-right {
    text-align: left;
  }
  .flexslider {
    direction: ltr;
  }
  .clever-menu {
    ul {
      text-align: right;
    }
  }
  .block-search {
    .form {
      &.minisearch {
        .control {
          .search-dropdown {
            border-left: none;
            border-right: 1px solid @color-gray92;
          }
        }
      }
    }
  }
  .minicart-wrapper {
    float: left;
    margin-left: 0 !important;
    .minicart-detail {
      left: 0;
      right: auto !important;
      &:before {
        left: 10px;
        right: inherit;
      }
    }
  }
  .zoo-product-collection02 {
    .products-grid.grid {
      li {
        .product-item-info {
          .zoo-inner-product-item-info > a {
            width: 25% !important;
          }
        }
      }
    }
  }
  .logo {
    float: right;
  }
  .padding-0 {
    padding: 0;
  }
  .page-wrapper {
    .page-footer {
      ul {
        &.zoo-footer-social-links {
          &.style-1, &.style-3 {
            text-align: left;
          }
        }
        &.zoo-footer-links {
          li {
            padding-left: 35px;
            padding-right: 0;
          }
        }
      }
    }
  }
  .clever-menu {
    .col-lg-offset-6 {
      margin-right: 0;
      margin-left: 0;
    }
    *,
    :after,
    :before {
      text-align: right;
    }
  }
  .is-sticky {
    #zoo-sticky-header {
      .clever-menu {
        .clever-mega-menu {
          li {
            text-align: right;
          }
        }
      }
    }
  }
  .clever-horizontal-menu {
    ul {
      &.clever-mega-menu > li {
        &.level-top {
          &.parent > a {
            padding-left: 10px !important;
            padding-right: 0 !important;
            &:before {
              left: 0;
              right: auto;
            }
          }
          &:first-child a {
            padding-left: 0;
            margin-right: 0;
            margin-left: 10px;
          }
        }
        &.clever-mega-menu-item {
          &.level0 {
            &.clever-menu-justify {
              .clever-mega-menu-sub {
                &.container {
                  direction: initial;
                }
              }
            }
          }
        }
      }
    }
  }
  /* Form Search*/
  .block-search {
    .form.minisearch {
      .control {
        .search-dropdown {
          float: right;
          .search-select {
            i {
              padding-left: 15px;
              padding-right: 0;
            }
          }
        }
        .action.search {
          left: 20px;
          right: 0;
        }
      }
    }
    .action.search {
      left: 0;
      right: inherit !important;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  #mtnav {
    li.custom-block, li {
      float: right;
    }
    .zoo-customer-service {
      float: left;
    }
    > li:first-child a {
      margin-left: inherit;
      margin-right: 0;
    }
    li {
      div.shown-sub, ul.shown-sub {
        right: 0;
        left: inherit;
        padding-left: 10px;
        padding-right: 0;
      }
    }
  }



  .page-wrapper .navigation ul li.parent > a:before {
    left: -2px;
    right: inherit;
  }
  .navigation .level0 {
    margin: 0 0 0 10px;
  }
  .topcat-menu .block-title .fa.fa-bars {
    margin-right: 0;
    margin-left: 10px;
  }
  .zoo-navigation-vertical {
    .category-hold > li.level0 > a:before {
      float: right;
      margin-right: 0;
      margin-left: 5px;
    }
    li.parent > a:after {
      left: 5px;
      right: inherit;
      content: "\f104";
    }
    li.parent {
      div.shown-sub {
        right: 90%;
        left: inherit;
      }
      &:hover {
        div.shown-sub {
          right: 100%;
          left: inherit;
        }
      }
    }
  }
  .bg-megamenu {
    left: -30px;
    right: inherit;
  }
  .owl-carousel {
    direction: ltr;
  }
  .zoo-footer-layout-home10 {
    .col-foot-right {
      border-right: 1px solid @color-gray92;
      border-left: 0;
    }
  }
  .homepage-bar {
    border: 1px solid #eaeaea;
    .col-md-4 {
      border-right: 1px solid #eaeaea;
      border-left: none;
      span.fa {
        right: 0;
        left: inherit;
      }
      .text-area {
        padding-right: 55px;
        padding-left: 0;
        text-align: right;
      }
    }
  }
  .product-items .product-item-info {
    .product-item-details, .hover-area .actions-primary .action.tocart{
      text-align: right;
    }
    .price-box .old-price {
      float: right;
      padding: 0 0 0 15px;
    }
  }
  .product-item-info .product_loop .product_loop_switcher {
    float: right;
  }
  .product-item-info .product_loop div[class^=swatch-opt-] {
    text-align: left;
  }
  .shop_product_metas .add-to-links{
    right: inherit;
    left: 0;
  }
  .zoo-product-collection02 {
    .products-grid.grid {
      li {;
        .product-item-info {
          .zoo-inner-product-item-info {
            & > a {
              float: right;
            }
            .product-item-details {
              float: left;
              padding-left: 0;
              padding-right: 10px;
              text-align: right;
            }
          }
        }
      }
    }
  }
  .clever-horizontal-menu {
    .clever-mega-menu {
      ul {
        &.clever-mega-menu-sub {
          li {
            &.no-dropdown {
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
  .clever-menu {
    .clever-mega-menu-item {
      .clever-mega-menu-sub {
        .clever-mega-menu-item {
          &.parent > {
            .menu-link {
              margin-right: 0;
            }
          }
        }
      }
    }
    &.clever-horizontal-menu {
      ul {
        &.clever-mega-menu > li {
          &.level-top {
            &:before {
              &.parent > a {
                left: 3px !important;
                right: auto !important;
              }
            }
          }
        }
      }
    }
  }
  .header-wishlist,
  .header-compare,
  .minicart-wrapper,
  .user_area,
  .authorization-link{
    float: left;
    margin-right: 25px !important;
    margin-left: 0!important;
  }
  .page-header {
    &.header_layout_2 {
      .block-search {
        .block-content {
          .action {
            &.search {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }
  }
  &.home-06 {
    .page-header {
      .header-content {
        .block-search {
          display: none;
        }
      }
    }
  }
  .zoo-widget-style1 {
    .zoo-block-widget {
      .padding-sm-right-3 {
        padding-left: 3px;
        padding-right: 15px;
      }
      .padding-sm-left-3 {
        padding-right: 3px;
        padding-left: 15px;
      }
    }
  }
  .zoo-widget-style5 {
    .owl-carousel {
      .owl-nav {
        left: 0;
        transform: translate(-93%, -50%);
        -ms-transform: translate(-93%, -50%);
        -webkit-transform: translate(-93%, -50%);
      }
    }
  }
  .post-info {
    left: auto;
    right: 20px;
  }
  /* Product Detail */
  .product-info-main {
    .product-social-links, .product-addto-links {
      text-align: right;
      .action {
        span.cs-font {
          margin-left: 10px;
        }
      }
    }
    .product-options-bottom {
      .price-box {
        float: right;
      }
    }
    .product-info-price {
      .price-box {
        float: right;
      }
    }
    .zoo-product-meta {
      text-align: right;
      .product-info-stock-sku {
        padding-right: 0;
        text-align: center;
      }
    }
  }
  .nav-title-cart {
    .box-tocart {
      float: left;
    }
  }
  .review-ratings {
    float: right;
  }
  .swatch-option-tooltip {
    .title {
      text-transform: capitalize;
    }
    .corner {
      &:before {
        top: 3px;
        right: 15px;
      }
      &:after {
        top: 2px;
        right: 0;
      }
    }
  }
  .catalog-product-tab {
    .product.data.items > .item.title {
      .data {
        &.switch {
          .counter {
            float: left;
          }
        }
      }
    }
  }
  /* End Product Detail */
  /* Mini cart */
  .minicart-wrapper {
    .minicart-items {
      .product-item-pricing {
        .control {
          button {
            &.reduced {
              border-left: 1px solid #eaeaea;
              border-right: none;
            }
            &.increase {
              border-right: 1px solid #eaeaea;
              border-left: none;
            }
          }
        }
      }
      .product > {
        .product-item-photo, .product-image-container {
          float: right;
          margin-top: 10px;
        }
      }
      .product-item-details {
        padding-left: 0;
        padding-right: 80px;
        .details-qty {
          float: right;
        }
        .price-container {
          text-align: left;
        }
      }
    }
    .subtotal {
      text-align: right;
      .amount {
        &.price-container {
          float: left;
        }
      }
    }
  }
  /* End Mini cart */
  /* Cart page */
  .cart-container {
    .cart-summary {
      .block > {
        .title {
          &:after {
            left: -5px;
            right: auto;
          }
        }
      }
    }
  }
  .cart-totals .grand .amount,
  .cart-totals .amount,
  .opc-block-summary .table-totals .grand .amount,
  .opc-block-summary .table-totals .amount {
    text-align: left;
  }
  .cart-container {
    .cart-summary {
      .cart-totals {
        .mark {
          text-align: right;
        }
      }
    }
  }
  .cart {
    &.table-wrapper {
      .item-actions {
        td {
          text-align: left;
        }
      }
    }
  }
  /* End cart page */
  /* Breadcrumbs */
  .zoo-breadcrumbs {
    .items {
      .item {
        a {
          position: relative;
          i {
            position: absolute;
            left: -15px;
            top: 7px;
            &:before {
              content: "\c153";
            }
          }
        }
      }
    }
  }
  /* End Breadcrumbs */
  /* Checkout */
  .fieldset > .field:not(.choice) > .control {
    float: right;
  }
  .field {
    .control {
      &._with-tooltip {
        input {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }
  .minicart-items .product > {
    .product-item-photo, .product-image-container {
      float: right;
    }
  }
  .minicart-items {
    .product-item-details {
      padding-left: 0;
    }
  }
  .left_checkout_cart {
    float: right;
    padding: 0 0 0 4%;
  }
  .block-authentication .block[class] .field .control,
  .block-authentication .block[class] .field .label {
    float: right;
    width: 100%;
    padding: 6px 0px 0 0;
  }
  .block-authentication {
    .block-title {
      text-align: right;
    }
    .actions-toolbar > {
      .secondary {
        float: right;
        margin-right: 0;
      }
    }
  }
  .modal-custom .action-close,
  .modal-popup .action-close,
  .modal-slide .action-close {
    right: auto;
    left: 0;
  }
  .checkout-shipping-address {
    .field-tooltip {
      left: 0;
      right: auto;
    }
  }
  &.checkout-index-index {
    .opc-sidebar {
      .opc-block-summary {
        .items-in-cart {
          .minicart-items {
            .product-item {
              .product-item-details {
                .product-item-inner {
                  .product-item-name-block {
                    text-align: right;
                    padding-left: 50px;
                  }
                  .subtotal {
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* End Checkout */
  /* Category */
  .action-for-medium-up {
    span {
      padding-left: 10px;
    }
  }
  &.catalog-category-view, &.clevershopby-index-index {
    .sidebar {
      &.sidebar-right {
        padding-left: 15px;
        border-right: 1px solid @color-gray90;
        border-left: none;
      }
      &.sidebar-left {
        padding-right: 15px;
        border-left: 1px solid @color-gray90;
        border-right: none;
      }
    }
  }
  &.catalog-product-view {
    #product-review-table {
      .review-field-rating {
        float: right;
        min-height: 25px;
        span {
          margin-right: 0;
          margin-left: 10px;
          float: right;
          margin-top: 5px;
        }
      }
    }
    .product.info.detailed .additional-attributes > thead > tr > th,
    .product.info.detailed .additional-attributes > tbody > tr > th,
    .product.info.detailed .additional-attributes > tfoot > tr > th {
      padding: 4px 0 10px 30px;
      text-align: right;
    }
    .product.info.detailed .additional-attributes > thead > tr > td,
    .product.info.detailed .additional-attributes > tbody > tr > td,
    .product.info.detailed .additional-attributes > tfoot > tr > td {
      text-align: right;
    }
  }
  #zoo-layer-navigation {
    .block-content {
      .block-subtitle {
        background: transparent;
        color: @color-gray20;
        font-size: 18px;
        padding: 0;
      }
    }
  }
  .filter {
    &.block {
      .zoo-filter-options-title {
        padding-right: 20px;
        padding-left: 0;
        &:after {
          right: 0;
          left: auto;
        }
      }
    }
  }
  /* End Category */
  /* Blog */
  .block-recent-posts {
    .block-content {
      div {
        &.item {
          .item-img {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
  /* End Blog */
  /* Fogot password */
  .login-container button[type="submit"],
  #zoo-login-form button[type="submit"],
  .password.forget button[type="submit"],
  .form-create-account button[type="submit"] {
    float: left;
  }
  /* End Fogot password */
  /* Create acc */
  .button-login-social.button-login-left-form,
  .button-register-social.button-login-left-form,
  .button-login-social.button-register-left-form,
  .button-register-social.button-register-left-form {
    padding: 15px;
    &:before {
      left: 0;
      right: auto;
    }
    &:after {
      left: 10px;
      right: auto;
    }
  }
  .login-container button[type="submit"],
  #zoo-login-form button[type="submit"],
  .password.forget button[type="submit"],
  .form-create-account button[type="submit"] {
    float: left;
  }
  .c-smartsearch {
    .c-smartsearch__price {
      float: right;
      width: 30%;
    }
  }
  /* End create account */
  .zoo-title-style2 {
    .zoo-main-heading .zoo-heading-wrapper-title h3 {
      span {
        padding-right: 0;
        padding-left: 30px;
      }
    }
  }
  .newsletters {
    padding: 30px 0;
    .subscribe {
      .newsletter {
        float: right;
        padding-right: inherit;
        padding-left: 0;
      }
      .actions {
        float: left;
      }
    }
  }
  .page-wrapper .page-footer {
    .footer-top {
      li {
        padding-right: 0;
        padding-left: 35px;
      }
    }
    .zoo-footer-links-bottom {
      ul {
        &.zoo-footer-social-links {
          text-align: left;
          li {
            padding-left: 0;
            padding-right: 10px;
          }
        }
        &.zoo-footer-links {
          li {
            padding-right: 0;
            padding-left: 35px;
          }
        }
      }
    }
  }
  .payment-img {
    background-position: left 50%;
  }
  .page-wrapper {
    .navigation {
      ul {
        li.parent {
          > a:before {
            left: -2px;
            right: inherit;
          }
        }
      }
    }
    .breadcrumbs {
      .items {
        text-align: right;
      }
    }
    .main-footer-img {
      left: -150px;
      right: inherit;
    }
  }
  #scroll-to-top {
    left: 20px;
    right: inherit;
  }
  /* google material */
  .form-group.label-floating.is-focused label.control-label,
  .form-group.label-floating:not(.is-empty) label.control-label,
  .form-group.label-static label.control-label {
    right: 0;
    left: inherit;
  }
  .pull-right {
    float: left !important;
  }
  .pull-left {
    float: right !important;
  }
  .zoo-service-category .zoo-bar-content [class^=clever-icon-] {
    padding-right: 0;
    padding-left: 30px;
  }
  .zoo-breadcrumbs {
    .items {
      .item {
        padding-right: 0;
        padding-left: 15px;
        a {
          .fa {
            padding-left: 0;
            padding-right: 15px;
          }
        }
      }
    }
  }
  #zoo-main-content {
    .product-view {
      .product-img-column {
        float: right;
        .gallery-placeholder {
          .fotorama-item {
            .fotorama__stage {
              right: 80px;
              left: 0 !important;
              padding: 0;
            }
            .fotorama__nav-wrap {
              right: 0;
              left: auto;
            }
          }
          .magnifier-preview {
            left: auto;
            right: 100% !important;
          }
        }
      }
      .product-primary-column {
        float: left;
      }
    }
  }
  .filter.block .zoo-filter-options-content .swatch-attribute-options {
    text-align: right;
  }
  .checkbox-filter .checkbox-material {
    padding-right: 0;
    padding-left: 5px;
  }
  #zoo-layer-navigation .block-content .filter-clear a {
    float: left;
  }
  .pslogin-block {
    .pslogin-buttons {
      &.pslogin-buttons-showfull {
        .pslogin-button-auto {
          .pslogin-button-text {
            padding-right: 45px;
          }
        }
      }
    }
  }
  .products-list.list {
    .product-item {
      text-align: right;
      .product-item-details {
        margin-left: 0;
        margin-right: 20px;
      }
      .category-price-list {
        float: right;
      }
    }
  }
  .toolbar-bottom .toolbar-amount {
    float: right !important;
  }
  .toolbar-bottom .pages {
    left: 0;
    right: inherit;
  }
  .pages .items .action.next:before {
    content: "\f177";
  }
  .page-products .sorter {
    right: inherit;
    left: 10px;
    float: left;
  }
  .modes {
    float: right !important;
    margin-right: 0;
    .modes-mode {
      margin-right: 0;
      margin-left: 20px;
    }
  }
  .toolbar-amount {
    float: right !important;
  }

  &.catalog-product-view .product-info-main {
    .stock.available, .stock.unavailable {
      float: none;
    }
    .product-addto-links {
      .action {
        margin-right: 0;
        margin-left: 5%;
      }
    }
    .product-social-links {
      span.fa, span.clever-icon-compare-1 {
        margin-right: inherit;
        margin-left: 10px;
      }
    }
    .page-title-wrapper.product {
      float: right;
    }
  }
  .home05 {
    .block {
      .static-shop {
        .static-shop-item {
          &:first-child {
            float: right;
            position: relative;
          }
        }
      }
    }
  }
  .product-prev-next {
    > div {
      float: right;
      > a {
        float: right;
      }
      img {
        float: right;
      }
      .preview-details {
        float: right;
      }
      &.prev-product {
        .preview-product {
          left: 0;
          right: inherit;
        }
      }
    }
  }
  .fa-caret-left:before {
    content: "\f0da";
  }
  .fa-caret-right:before {
    content: "\f0d9";
  }
  .fa-long-arrow-right:before {
    content: "\f177";
  }
  .fa-long-arrow-left:before {
    content: "\f178";
  }
  .box-tocart .fieldset .field.qty {
    float: right;
    .control {
      margin-left: 25px;
      margin-right: inherit;
    }
  }
  #product-options-wrapper {
    .swatch-attribute .swatch-option.color {
      margin: 0 5px 0 5px;
      border: 1px solid #d7d7d7;
    }
    .swatch-attribute.size .swatch-option {
      margin: 0 5px 0 5px;
    }
  }
  .product-media {
    .magnifier-preview {
      left: inherit !important;
      top: 0 !important;
      right: 100% !important;
    }
  }
  .product-area2 .product.data.items > .item.title {
    margin-right: inherit;
    margin-left: 50px;
  }
  .product {
    &.data {
      &.items > .item {
        .content {
          ul {
            padding: 15px;
          }
        }
      }
    }
  }
  .newsletterbox button#cboxClose,
  #zoo_newsletter {
    direction: rtl;
    .checkbox-filter {
      .checkbox-material {
        .check {
          &:before {
            margin-top: -8px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .modal-inner-wrap {
    .modal-header {
      right: auto;
      left: 0;
    }
  }
  .zoo-newsletter-popup {
    .modal-header {
      right: auto;
      left: 0;
      .action-close {
        left: 0;
        right: auto;
      }
    }
  }
  &.checkout-index-index {
    .opc-wrapper {
      .form-shipping-address {
        .fieldset {
          .field {
            .label {
              text-align: right;
            }
          }
        }
      }
    }
  }
  .product-info-main{
    .product-options-bottom,
    .product-info-price {
      .price-box {
        float: right;
      }
    }
  }
  .product-social-links .product-addto-links .action {
    margin-left: 4%;
    margin-right: 0;
    display: inline-block;
  }
  .switcher-language {
    .header.links:after, .switcher-trigger, .switcher-dropdown {
      text-align: right;
    }
  }
  @media (min-width: 992px) {
    .product-add-form p.required {
      position: relative;
    }
  }
  @media (min-width: 768px), print {
    .product.data.items > .item.content {
      float: left !important;
      margin-right: -100%;
      margin-left: 0 !important;
      text-align: right;
      ul {
        padding: 15px;
      }
    }

    .page-header {
      &.zoo-header-4, &.zoo-header-5 {
        .header-content {
          .zoo-header-content-block {
            &:first-child {
              float: right;
            }
          }
        }
      }
      &.zoo-header-5 {
        .clever-menu {
          ul {
            text-align: center !important;
          }
        }
      }
    }

    .clever-vertical-menu .clever-mega-menu-item.level0 > a.menu-link .menu-icon {
      right: 0;
      left: inherit;
    }

    .clever-vertical-menu .clever-mega-menu-item.level0 > a.menu-link span {
      padding-right: 40px;
      padding-left: inherit;
    }
  }
  @media (max-width: 991px), print {
    .page-wrapper .page-header .header-minimal-search {
      right: 60px;
      left: inherit;
    }
    .page-wrapper .page-header {
      direction: ltr;
      .header-panel {
        .zoo-top-contact {
          float: none;
        }
      }
    }
    .block-search {
      .form {
        &.minisearch {
          .control {
            input {
              text-align: right;
              direction: rtl;
            }
          }
        }
      }
    }

    .clever-horizontal-menu {
      .clever-mega-menu-item {
        &.level-top {
          .dropdown-toggle {
            right: auto;
            left: 0;
          }
        }
      }
    }
    .zoo-menu-label {
      right: 20px;
      left: auto;
    }

  }
  @media (max-width: 767px), print {
    .zoo-widget-style1 {
      margin-bottom: 0;
    }

    #product-options-wrapper {
      .swatch-attribute {
        .swatch-attribute-selected-option {
          padding-left: 0;
        }
      }
    }


    #zoo-main-content {
      .product-view {
        .product-primary-column {
          width: 100%;
          text-align: center;
        }
      }
    }


    .catalog-product-tab {
      .product {
        &.data {
          &.items > .item {
            &.content {
              text-align: right;
            }
          }
        }
      }
    }

    &.catalog-category-view, &.clevershopby-index-index {
      #zoo-layer-navigation {
        .filter {
          &.active {
            .filter-title {
              strong {
                right: auto;
                left: 0;
              }
            }
          }
        }
      }
    }

    #zoo-layer-navigation {
      .block-content {
        .block-subtitle {
          padding: 0 15px;
        }
      }
    }

    .minicart-wrapper {
      .minicart-detail {
        .block-title {
          text-align: right;
        }
      }
    }

    .cart {
      &.table-wrapper {
        #shopping-cart-table {
          tr {
            td {
              text-align: center;
              &.item {
                padding: 40px 120px 40px 0;
                text-align: right;
                .product-item-photo {
                  left: auto;
                  right: 0;
                }
                .product-item-details {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }

    #discount-coupon-form {
      .fieldset > {
        .field {
          display: inline-block;
          width: 100%;
          max-width: 100%;
        }
      }
      .actions-toolbar {
        display: inline;
      }
    }

    .left_checkout_cart {
      padding: 0;
      margin: 0;
    }

    .fieldset > {
      .field:not(.choice) > {
        .control {
          float: none;
          width: 100%;
        }
      }
    }

    &.catalog-product-view {
      #product-review-table {
        .review-field-rating {
          span {
            min-width: 55px;
          }
        }
      }
      .product-info-main {
        .page-title-wrapper {
          &.product {
            float: none;
          }
        }
        .product-info-price {
          float: left;
          .price-box {
            float: none;
          }
        }
        .zoo-product-meta {
          text-align: center;
          margin: 0;
        }
        .product-addto-links {
          text-align: center;
          .action {
            margin: 0 auto;
          }
        }
      }
      .catalog-product-tab {
        .product {
          &.data {
            &.items > .item {
              &.content {
                #product-review-container {
                  .review-content, .review-details {
                    margin-right: 150px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .zoo-product-meta {
      .product-categories-name, .product-info-stock-sku {
        padding-right: 5px;
      }
    }

    .opc-estimated-wrapper {
      .estimated-block {
        float: right;
      }
    }

    .user_area {
      margin: 0 10px 0 0;
      .authorization-link {
        a {
          &:before {
            right: auto;
          }
        }
      }
    }

    .minicart-wrapper {
      margin-right: 18px !important;
    }

    .field-tooltip {
      &._active {
        .field-tooltip-content {
          left: -10px;
          right: auto;
          &:before, &:after {
            left: 10px;
            right: auto;
          }
        }
      }
    }


    .page-header {
      &.header_layout_2 {
        &.type1, &.type5 {
          .header-content {
            .logo {
              text-align: left;
            }
          }
        }
      }
    }

    .page-header {
      &.zoo-header-4 {
        &.header_layout_2 {
          &.type1, &.type5 {
            .header-content {
              .logo {
                text-align: right;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 480px), print {
    .modal-popup {
      &.zoo-log-popup {
        .modal-inner-wrap {
          margin: 50px auto;
          .modal-content {
            padding: 0;
            #zoo-login-form {
              .page-title {
                font-size: 25px;
                margin: 0;
              }
              #zoo-login-form-popup {
                .pslogin-block {
                  margin: 0;
                  .pslogin-buttons {
                    padding: 0;
                  }
                }
              }
              .form-login-popup {
                .block-new-customer {
                  .block-content {
                    .action {
                      font-size: 12px;
                    }
                    .form {
                      .login {
                        button {
                          margin: 0 0 10px 0;
                        }
                        .control {
                          input {
                            margin-bottom: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .zoo-product-collection02 {
      .products-grid {
        &.grid {
          li {
            .product-item-info {
              .zoo-inner-product-item-info {
                .product-item-details {
                  width: 75%;
                }
              }
            }
          }
        }
      }
    }

    .c-smartsearch {
      .c-smartsearch__title {
        text-align: right;
      }
      .c-smartsearch__price {
        width: 70%;
        text-align: right;
      }
    }

    .register-container-flex,
    .login-container-flex {
      display: inline;
      .button-login-social.button-login-left-form,
      .button-register-social.button-login-left-form,
      .button-login-social.button-register-left-form,
      .button-register-social.button-register-left-form {
        width: 100%;
        float: left;
        text-align: center;
        padding-left: 0;
        &:before, &:after {
          display: none !important;
        }
      }
      .form {
        float: left;
        width: 100%;
        padding: 0;
      }
    }

    .newsletters {
      .subscribe {
        .newsletter {
          width: 100%;
          margin-bottom: 10px;
        }
        .actions {
          max-width: 100%;
          width: 100%;
          .action {
            width: 100%;
          }
        }
      }
    }

    .page-header {
      &.header_layout_2 {
        .user_area {
          display: none;
        }
      }
    }
  }
  .home19-vertical-menu .block-title h4 {
    padding: 20px 40px 20px 0;
  }
  &.nav-open .page-wrapper .nav-sections {
    .switcher .switcher-trigger:after, .header.links:after {
      right: inherit;
      left: 0;
    }
  }
  .product_grid_style_1 div[class^="swatch-opt-"], .product_grid_style_7 div[class^="swatch-opt-"], .product_grid_style_8 div[class^="swatch-opt-"] {
    left: 0;
    right: inherit;
  }
}
