<?php 
/**
 * Copyright © 2017 Endeavor, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * 
 * @author Mohammad Hamadneh <mhamadneh@endeavorpal.com>
 * @date 30-11-2017.
 * @desc 1- in order to build checkout page for OutstandingInvoice.
 *       2- updated to show order items data from salesforce, and show image from magento.
 */
?>

<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $stateCountryHelper = $objectManager->create('\Magento\Directory\Block\Data'); ?>
<?php $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');?>

<?php
use Magento\Paypal\Block\Express\InContext\Minicart\Button;

$paypalExpress = $objectManager->create('\Magento\Paypal\Block\Express\InContext\Minicart\Button');
$amountDue = $this->getRequest()->getParam('amountDue');
$grandTotal = $this->getRequest()->getParam('grandTotal');
$tax = $this->getRequest()->getParam('tax');
$shipping = $this->getRequest()->getParam('shipping');
$discount = $this->getRequest()->getParam('discount');
$amountPaid = $this->getRequest()->getParam('amountPaid');
$orderItems = $this->getRequest()->getParam('orderItems');
$orderNumber = $this->getRequest()->getParam('orderNumber');
$invoiceNumber = $this->getRequest()->getParam('invoiceNumber');
$config = [
    'Magento_Paypal/js/in-context/button' => [
        'id' => $paypalExpress->getContainerId(),
        'paypalButton' => Button::PAYPAL_BUTTON_ID,
        'addToCartSelector' => $paypalExpress->getAddToCartSelector()
    ]
];

?>
<div class="container-fluid" style="float: left;width: 60%;">
    <div class="creditCardForm">
        <div class="payment">
            <form class="form-payment" 
                action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>" 
                method="post" 
                id="form-validate" 
                enctype="multipart/form-data" 
                data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
                data-mage-init=''>
                <fieldset class="fieldset">
                    <div class="payment-method">
                        <h4><?php echo __('Payment Method:'); ?></h4>
                        <p><input type='radio' name='checkout_method' value='authorized' /><?php echo __('Credit Card (Authorize.Net CIM)'); ?></p>
                    </div>
                    
                    <div class="credit-card-information" style="float:left;width: 47%;margin-right: 3%;display: none;height: 1px;margin-top: 3%">
                        <h4><?php echo __('Enter credit card details');?></h4>
                        <div class="form-group" id="credit_cards" style="width:100%;display: inline;">
                            <img id='vi' src='<?php echo $this->getViewFileUrl('Endeavor_OutstandingInvoice::images/cc/vi.png'); ?>' alt='vi' style="filter: grayscale(100%);"/>
                            <img id='mc' src='<?php echo $this->getViewFileUrl('Endeavor_OutstandingInvoice::images/cc/mc.png'); ?>' alt='mc' style="filter: grayscale(100%);"/>
                            <img id='di' src='<?php echo $this->getViewFileUrl('Endeavor_OutstandingInvoice::images/cc/di.png'); ?>' alt='di' style="filter: grayscale(100%);"/>
                        </div>
                        <div class="field card-number required" style="margin: 2%;">
                            <label for="cardnumber" class="label"><span><?php /* @escapeNotVerified */ echo __('Card Number') ?></span></label>
                            <div class="control">
                                <input type="text" maxlength="17" name="cardnumber" title="<?php /* @escapeNotVerified */ echo __('Card Number') ?>" id="cardnumber" class="input-text required-entry validate-digits" />
                                <div class="mage-error letters-error-cardnumber" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-cardnumber">Please enter valid card number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="field exparation-date required" style="float: left;width: 100%;margin: 2%;color: #666666;">
                            <?php echo __('Expiration Date:'); ?>
                        </div>
                        <div class="field month required" style="width: 40%;float: left;margin: 2%;">
                            <div class="control">
                                <select id="month" name="month" title="<?php /* @escapeNotVerified */ echo __('Month') ?>" class="validate-select required-entry" >
                                    <option value=""><?php /* @escapeNotVerified */ echo __('Month') ?></option>
                                </select>
                            </div>
                        </div>
                        <div class="field year required" style="float: left;margin: 2%;width: 50%;">
                            <div class="control">
                                <select id="year" name="year" title="<?php /* @escapeNotVerified */ echo __('Year') ?>" class="validate-select required-entry" >
                                    <option value=""><?php /* @escapeNotVerified */ echo __('Year') ?></option>
                                </select>
                            </div>
                        </div>
                        <div class="mage-error letters-valid-date" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                            <span class="valid-cardnumber">Please enter valid Date.</span>
                        </div>

                        <div class="field cvv required" style="width: 50%; margin: 2%;">
                            <label for="cvv" class="label"><span><?php /* @escapeNotVerified */ echo __('cvv') ?></span></label>
                            <div class="control">
                                <input type="text" maxlength="4" name="cvv" title="<?php /* @escapeNotVerified */ echo __('cvv') ?>" id="cvv" class="input-text required-entry validate-digits"  />
                                <div class="mage-error letters-error-cvv" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-cvv">Please enter valid cvv.</span>
                                </div>
                            </div>
                        </div>
                        <div class="field owner required" style="margin: 2%;">
                            <label for="owner" class="label"><span><?php /* @escapeNotVerified */ echo __('Owner') ?></span></label>
                            <div class="control">
                                <input type="text" name="owner" title="<?php /* @escapeNotVerified */ echo __('Owner') ?>" id="owner" class="input-text required-entry"  />
                                <div class="mage-error letters-error-owner" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-cvv">This is a required field.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="billing-information" style="float:left;width: 47%;margin-right: 3%;display: none; height: 1px;margin-top: 3%">
                        <h4><?php echo __('Billing information: ');?></h4>
                        <div class="field email required" style="margin: 2%;float: left; width: 75%;">
                            <label for="email" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                            <div class="control">
                                <input type="text" name="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" id="email" class="input-text required-entry validate-email"  />
                                <div class="mage-error letters-email-required" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-cvv">Please enter a valid email address (Ex: johndoe@domain.com).</span>
                                </div>
                            </div>
                        </div>
                        <div class="popup" style="margin-top: 8%;" onclick="emailPopUp()">
                            <span class="popuptext" id="emailPopUp"><?php echo __("We'll send your Invoice here."); ?></span>
                        </div>
                        <script>
                        function emailPopUp() {
                            var popup = document.getElementById("emailPopUp");
                            popup.classList.toggle("show");
                        }
                        </script>
                        <div class="field street required maxlength" style="margin: 2%;margin-top: 20%;">
                            <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Address 1') ?></span></label>
                            <div class="control">
                                <input type="text" name="street[1]" title="<?php /* @escapeNotVerified */ echo __('Address 1') ?>" id="street_1" class="input-text required-entry"  />
                                <div class="mage-error letters-street-required" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-street">This is a required field.</span>
                                </div>
                            </div>
                        </div>
                        <div class="field street" style="margin: 2%;">
                            <label for="street_2" class="label"><span><?php /* @escapeNotVerified */ echo __('Address 2') ?></span></label>
                            <div class="control">
                                <input type="text" name="street[2]" title="<?php /* @escapeNotVerified */ echo __('Address 2'); ?>" id="street_2" class="input-text">
                            </div>
                        </div>
                        <div class="field city required" style="margin: 2%;">
                            <label for="city" class="label"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                            <div class="control">
                                <input type="text" name="city" title="<?php /* @escapeNotVerified */ echo __('City'); ?>" id="city" class="input-text required-entry">
                                <div class="mage-error letters-city-required" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-city">This is a required field.</span>
                                </div>
                            </div>
                        </div>
                        <div class="field country required" style="margin: 2%;">
                            <label class="label" for="country"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                            <div class="control">
                                <?php echo $stateCountryHelper->getCountryHtmlSelect() ?>
                            </div>
                        </div>
                        <div class="field region required" style="margin: 2%;">
                            <label class="label" for="region_id"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                            <div class="control">
                                <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" <?php echo(!$stateCountryHelper->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?>>
                                    <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                                </select>
                                <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($stateCountryHelper->getRegion()) ?>"  title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" <?php echo(!$stateCountryHelper->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?>/>
                                <div class="mage-error letters-region-required" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-region">This is a required field.</span>
                                </div>
                            </div>
                        </div>
                        <div class="field zip required validate-zip-us" style="margin: 2%;">
                            <label class="label" for="zip"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
                            <div class="control">
                                <input type="text" name="postcode" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-us <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                                <div class="mage-error letters-postcode-required" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="valid-region">Please enter a valid zip code (Ex: 90602 or 90602-1234).</span>
                                </div>
                            </div>
                        </div>
                        <div class="field telephone required" style="margin: 2%;float: left; width: 75%;">
                            <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                            <div class="control">
                                <input type="text" name="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text required-entry validate-digits" id="telephone">
                                <div class="mage-error digits-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="number-digits">Please enter 10 digits number.</span>
                                </div>
                                <div class="mage-error letters-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                                    <span class="number-digits">Please enter valid number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="popup" style="margin-top: 8%;" onclick="phonePopUp()">
                            <span class="popuptext" id="phonePopUp"><?php echo __('For delivery questions.'); ?></span>
                        </div>
                        <script>
                            function phonePopUp() {
                                var popup = document.getElementById("phonePopUp");
                                popup.classList.toggle("show");
                            }
                        </script>
                        <input type="hidden" name="order" title="<?php /* @escapeNotVerified */ echo __('Order Number') ?>" class="input-text" id="order" value="<?php echo $orderNumber; ?>">
                        <input type="hidden" name="invoice" title="<?php /* @escapeNotVerified */ echo __('Invoice Number') ?>" class="input-text" id="invoice" value="<?php echo $invoiceNumber; ?>">
                        <input type="hidden" name="amount" title="<?php /* @escapeNotVerified */ echo __('Order Amount') ?>" class="input-text" id="amount" value="<?php echo $amountDue; ?>">
                        <input type="hidden" name="grandTotal" title="<?php /* @escapeNotVerified */ echo __('Grand Total') ?>" class="input-text" id="grandTotal" value="<?php echo $grandTotal; ?>">
                        <input type="hidden" name="tax" title="<?php /* @escapeNotVerified */ echo __('Tax') ?>" class="input-text" id="tax" value="<?php echo $tax; ?>">
                        <input type="hidden" name="shipping" title="<?php /* @escapeNotVerified */ echo __('Shipping') ?>" class="input-text" id="shipping" value="<?php echo $shipping; ?>">
                        <input type="hidden" name="discount" title="<?php /* @escapeNotVerified */ echo __('Discount') ?>" class="input-text" id="discount" value="<?php echo $discount; ?>">
                        <input type="hidden" name="amountPaid" title="<?php /* @escapeNotVerified */ echo __('AmountPaid') ?>" class="input-text" id="amountPaid" value="<?php echo $amountPaid; ?>">
                        <?php foreach ($orderItems as $key => $orderItem): ?>
                            <input type="hidden" name="items[<?php echo $key;?>][name]" title="<?php /* @escapeNotVerified */ echo __('Item Name') ?>" class="input-text" id="itemname" value="<?php echo $orderItem['name']; ?>">
                            <input type="hidden" name="items[<?php echo $key;?>][qty]" title="<?php /* @escapeNotVerified */ echo __('Item Qty') ?>" class="input-text" id="itemqty" value="<?php echo $orderItem['qty']; ?>">
                            <input type="hidden" name="items[<?php echo $key;?>][price]" title="<?php /* @escapeNotVerified */ echo __('Item Price') ?>" class="input-text" id="itemprice" value="<?php echo $orderItem['price']; ?>">
                        <?php endforeach; ?>
                    </div>
                    <div class="actions-toolbar" style="display: none;">
                        <div class="primary" style="float: right;margin: 3%;">
                            <button type="submit" class="action save primary" title="<?php /* @escapeNotVerified */ echo __('Pay') ?>">
                                <?php if($amountDue) : ?>
                                <span><?php /* @escapeNotVerified */ echo __('Pay '.$priceHelper->currency($amountDue, true, false)) ?></span>
                                <?php endif;?>
                                
                            </button>
                        </div>
                    </div>
                    <div class="payment-method">
                        <p><input type='radio' name='checkout_method' value='PayPal' /><?php echo __('Pay using PayPal'); ?></p>
                    </div>
                </fieldset>
            </form>
            <form class="form-payment-paypal"
                action="<?php /* @escapeNotVerified */ echo $block->getPayPalUrl() ?>" 
                method="post">
                <input type="hidden" name="order" title="<?php /* @escapeNotVerified */ echo __('Order Number') ?>" class="input-text" id="order" value="<?php echo $orderNumber; ?>">
                <input type="hidden" name="invoice" title="<?php /* @escapeNotVerified */ echo __('Invoice Number') ?>" class="input-text" id="invoice" value="<?php echo $invoiceNumber; ?>">
                <input type="hidden" name="amountDue" title="<?php /* @escapeNotVerified */ echo __('Order Amount') ?>" class="input-text" id="amount" value="<?php echo $amountDue; ?>">
                <input type="hidden" name="grandTotal" title="<?php /* @escapeNotVerified */ echo __('Grand Total') ?>" class="input-text" id="grandTotal" value="<?php echo $grandTotal; ?>">
                <input type="hidden" name="tax" title="<?php /* @escapeNotVerified */ echo __('Tax') ?>" class="input-text" id="tax" value="<?php echo $tax; ?>">
                <input type="hidden" name="shipping" title="<?php /* @escapeNotVerified */ echo __('Shipping') ?>" class="input-text" id="shipping" value="<?php echo $shipping; ?>">
                <input type="hidden" name="discount" title="<?php /* @escapeNotVerified */ echo __('Discount') ?>" class="input-text" id="discount" value="<?php echo $discount; ?>">
                <input type="hidden" name="amountPaid" title="<?php /* @escapeNotVerified */ echo __('AmountPaid') ?>" class="input-text" id="amountPaid" value="<?php echo $amountPaid; ?>">
                <?php foreach ($orderItems as $key => $orderItem): ?>
                    <input type="hidden" name="items[<?php echo $key;?>][name]" title="<?php /* @escapeNotVerified */ echo __('Item Name') ?>" class="input-text" id="itemname" value="<?php echo $orderItem['name']; ?>">
                    <input type="hidden" name="items[<?php echo $key;?>][qty]" title="<?php /* @escapeNotVerified */ echo __('Item Qty') ?>" class="input-text" id="itemqty" value="<?php echo $orderItem['qty']; ?>">
                    <input type="hidden" name="items[<?php echo $key;?>][price]" title="<?php /* @escapeNotVerified */ echo __('Item Price') ?>" class="input-text" id="itemprice" value="<?php echo $orderItem['price']; ?>">
                <?php endforeach; ?>
                <div class="paypal-method" style="display: none;">
                    <?php echo __('Please click on this button to pay using PayPal.'); ?>
                    <div style="margin-top: 3% !important;left: 4%" data-mage-init='<?php /* @noEscape */ echo json_encode($config); ?>'
                                class="paypal checkout paypal-logo <?php /* @noEscape */ echo $paypalExpress->getContainerId(); ?>-container">
                        <input type="submit" class="paypal-credit" value="" style="background-size: 237px !important;background: url(<?php echo $this->getViewFileUrl('Endeavor_OutstandingInvoice::images/paypal/paypal.png'); ?>) no-repeat;width: 237px;height: 33.7px;border: none;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="payment-details" style="width: 30%;float: left;margin-right: 3%;margin-bottom: 5%;padding: 2%;background-color: #bdbdbd1f;">
    <div class="payment-details-invoice">
        <h4><?php echo __('Payment details');?></h4><br/>
        <?php if ($invoiceNumber) : ?>
            <div class="invoice-number" style="float:left;">
                <span><?php echo __('Invoice #'); ?></span>
            </div>
            <div class="amount-to-paid" style="float:right">
                <span><?php echo $invoiceNumber; ?></span>
            </div>
        <?php endif; ?>
        <br/>
        <br/>
        <?php if ($orderNumber) : ?>
            <div class="invoice-number" style="float:left;">
                <span><?php echo __('Order #'); ?></span>
            </div>
            <div class="amount-to-paid" style="float:right">
                <span><?php echo $orderNumber; ?></span>
            </div>
        <?php endif; ?>
        <br/>
        <br/>
        <div class="total-amount" style="float:left;">
            <span><?php echo __('Total amount'); ?></span>
        </div>
        <div class="total-amount-paid" style="float:right">
            <?php if($amountDue) : ?>
            <span><?php echo $priceHelper->currency($amountDue, true, false); ?>
            </span>
            <?php endif;?>
        </div>
        <br/>
        <br/>
        <div class="title" style="margin-bottom: 5%;">
            <h4><?php echo __('Order Summary'); ?></h4>
        </div>
        <div class="content minicart-items" style="width: 90%;margin-left: 5%;">
            <div class="minicart-items-wrapper overflowed" style="max-height: 312px;border-top: 1px solid #cccccc;">
                <ol class="minicart-items">
                    <?php foreach($orderItems as $orderItem): ?>
                    <li class="product-item">
                        <div class="product">
                            <div class="product-image-container" style="width: 40%;margin-top: 7%">
                                    <span class="product-image-wrapper">
                                        <img src="<?php echo $block->getUrl() . 'pub/media/catalog/product' . $block->getLineItemImage($orderItem['productCode']); ?>" width="75" height="75" style="width: 80%;" 
                                             onerror="this.onerror=null;this.src='<?php echo $this->getViewFileUrl('Endeavor_OutstandingInvoice::images/blue_empty_product.png'); ?>';"/>
                                    </span>
                            </div>
                            <div class="product-item-details">
                                <div class="product-item-inner">
                                    <div class="product-item-name-block">
                                        <strong class="product-item-name"><?php echo $orderItem['name']; ?></strong>
                                        <div class="details-qty">
                                            <span class="label"><span><?php echo __('Qty');?></span></span>
                                            <span class="value"><?php echo $orderItem['qty']; ?></span>
                                        </div>
                                    </div>
                                    <div class="subtotal">
                                        <span class="price-excluding-tax">
                                            <span class="cart-price">
                                                <span class="price"><?php echo $orderItem['edition']; ?></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <?php endforeach; ?>
                </ol>
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
    "#form-validate": {
        "validation": {}
    },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($stateCountryHelper->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $stateCountryHelper->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<script>
    require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function (
                    $,
                    modal
                    ) {
                $(document).ready(function(){
                    $('input[name=checkout_method]').on('change', function(){
                        var checkoutMethod = $(this).val();

                        //console.log(checkoutMethod);
                        switch(checkoutMethod)
                        {
                            case 'authorized':
                                  $('.credit-card-information').show();
                                  $('.credit-card-information').css('height','auto');
                                  $('.billing-information').show();
                                  $('.billing-information').css('height','auto');
                                  $('.paypal-method').hide();
                                  $('.actions-toolbar').show();
                                  break;
                            case 'PayPal':
                                  $('.paypal-method').show();
                                  $('.credit-card-information').hide();
                                  $('.billing-information').hide();
                                  $('.actions-toolbar').hide();
                                  break;

                        }
                    });
                    for (var month = 1 ; month < 10 ; month++) {
                        $('.month > .control > #month').append('<option value="0'+month+'">'+month+'</option>');
                    }
                    for (var month = 10 ; month < 13 ; month++) {
                        $('.month > .control > #month').append('<option value="'+month+'">'+month+'</option>');
                    }
                    var currentYear = parseInt('<?= date("Y") ?>');
                    for (var year = 0 ; year <= 10 ; year++) {
                        var selectYear = currentYear + year;
                        $('.year > .control > #year').append('<option value="'+selectYear+'">'+selectYear+'</option>');
                    }
                });
                $('#cardnumber').on('input',function(event){
                    $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #vi').css('filter', 'grayscale(100%)');
                    $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #mc').css('filter', 'grayscale(100%)');
                    $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #di').css('filter', 'grayscale(100%)');
                    var cardnumber = $('#cardnumber').val();
                    var cardType = cardnumber.slice(0, 1);
                    var cardnumberlength = cardnumber.length;
                    if(cardType==4){
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #vi').css('filter', 'grayscale(0%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #mc').css('filter', 'grayscale(100%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #di').css('filter', 'grayscale(100%)');
                    }else if(cardType==5){
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #vi').css('filter', 'grayscale(100%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #mc').css('filter', 'grayscale(0%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #di').css('filter', 'grayscale(100%)');
                    }else if(cardType==6){
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #vi').css('filter', 'grayscale(100%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #mc').css('filter', 'grayscale(100%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #di').css('filter', 'grayscale(0%)');
                    }else if(cardType==3){
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #vi').css('filter', 'grayscale(100%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #mc').css('filter', 'grayscale(100%)');
                        $('.form-payment > .fieldset > .credit-card-information > #credit_cards > #di').css('filter', 'grayscale(100%)');
                    }
                    if ( (cardType==4 || cardType==5 || cardType==6) && cardnumberlength < 16 ) {
                        $('#cardnumber').css('border-color', '#e02b27');
                        
                    } else if( cardType==3 && cardnumberlength < 15){
                        $('#cardnumber').css('border-color', '#e02b27');
                        event.preventDefault();
                        $('.letters-error-cardnumber').show();
                    }else {
                        var c = cardnumber;
                        var cl = parseInt(c.substr(c.length - 1));
                        var c = c.slice(0,-1)
                        var c = c.split("").reverse().join("");
                        var c = c.split("");
                        var a = 2;
                        var cm = [];
                        for (var i = 0; i < c.length; i++){
                                if (a%2 == 0){var t = c[i]*2;
                                if (t > 9){var t = (t -9);}
                                cm.push(t);
                                }else{cm.push(parseInt(c[i]));}
                                a++;
                        }
                        var f = 0;
                        for (var i = 0; i < cm.length; i++) {f += cm[i];}
                        f = f + cl;
                        if (f%10 == 0){
                            $('#cardnumber').css('border-color', '#c2c2c2');
                            $('.letters-error-cardnumber').hide();
                        }else{
                            $('#cardnumber').css('border-color', '#e02b27');
                        }
                    }
                });
                $('.form-payment > .fieldset > .actions-toolbar > .primary > .save').on('click', function (event) {
                    var zipCode = $('#zip').val();
                    var zipCodeLenght = zipCode.length;
                    if(/(^\d{5}$)|(^\d{5}-\d{4}$)/.test(zipCode)||/[a-zA-Z]/.test(zipCode)){
                        $('.letters-postcode-required').hide();
                        $('#zip').css('border-color', '#c2c2c2');
                    }else{
                        $('.letters-postcode-required').show();
                        $('#zip').css('border-color', '#e02b27');
                        event.preventDefault();
                    }
                    var region = $('#region_id').val();
                    var regionLenght = region.length;
                    if(regionLenght==0){
                        $('.letters-region-required').show();
                        $('#region_id').css('border-color', '#e02b27');
                        event.preventDefault();
                    }else{
                        $('.letters-region-required').hide();
                        $('#region_id').css('border-color', '#c2c2c2');
                    }
                    var city = $('#city').val();
                    var citylength = city.length;
                    if(citylength == 0){
                        $('.letters-city-required').show();
                        $('#city').css('border-color', '#e02b27');
                        event.preventDefault();
                    }else{
                        $('.letters-city-required').hide();
                        $('#city').css('border-color', '#c2c2c2');
                    }
                    
                    var street = $('#street_1').val();
                    var streetLenght = street.length;
                    if(streetLenght == 0){
                        $('.letters-street-required').show();
                        $('#street_1').css('border-color', '#e02b27');
                        event.preventDefault();
                    }else{
                        $('.letters-street-required').hide();
                        $('#street_1').css('border-color', '#c2c2c2');
                    }
                    var email = $('#email').val();
                    var emailLength = email.length;
                    if(emailLength==0){
                        $('.letters-email-required').show();
                        $('#email').css('border-color', '#e02b27');
                        event.preventDefault();
                    }else{
                        if(/^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(email)){
                            $('.letters-email-required').hide();
                            $('#email').css('border-color', '#c2c2c2');
                        }else{
                            $('.letters-email-required').show();
                            $('#email').css('border-color', '#e02b27');
                            event.preventDefault();
                        }
                    }
                    var owner = $('#owner').val();
                    var ownerLenght = owner.length;
                    if(ownerLenght==0){
                        $('#owner').css('border-color', '#e02b27');
                        $('.letters-error-owner').show();
                        event.preventDefault();
                    }else{
                        $('#owner').css('border-color', '#c2c2c2');
                        $('.letters-error-owner').hide();
                    }
                    var cvv = $('#cvv').val();
                    var cvvLenght = cvv.length;
                    if(cvvLenght < 3){
                        $('#cvv').css('border-color', '#e02b27');
                        $('.letters-error-cvv').show();
                        event.preventDefault();
                    }else{
                        $('#cvv').css('border-color', '#c2c2c2');
                        $('.letters-error-cvv').hide();
                    }
                    var number = $('#telephone').val();
                    var length = number.length;
                    if(/(^\d{10}$)/.test(number)){
                        $('#telephone').css('border-color', '#c2c2c2');
                        $('.digits-error').hide();
                    }else{
                        $('#telephone').css('border-color', '#e02b27');
                        event.preventDefault();
                        $('.digits-error').show();
                    }
                    var cardnumber = $('#cardnumber').val();
                    var cardType = cardnumber.slice(0, 1);
                    var cardnumberlength = cardnumber.length;
                    if ( (cardType==4 || cardType==5 || cardType==6) && cardnumberlength < 16 ) {
                        $('#cardnumber').css('border-color', '#e02b27');
                        event.preventDefault();
                        $('.letters-error-cardnumber').show();
                    } else if( cardType==3 && cardnumberlength < 15){
                        $('#cardnumber').css('border-color', '#e02b27');
                        event.preventDefault();
                        $('.letters-error-cardnumber').show();
                    }else {
                        $('#cardnumber').css('border-color', '#c2c2c2');
                        $('.letters-error-cardnumber').hide();
                        var c = cardnumber;
                        var cl = parseInt(c.substr(c.length - 1));
                        var c = c.slice(0,-1)
                        var c = c.split("").reverse().join("");
                        var c = c.split("");
                        var a = 2;
                        var cm = [];
                        for (var i = 0; i < c.length; i++){
                                if (a%2 == 0){var t = c[i]*2;
                                if (t > 9){var t = (t -9);}
                                cm.push(t);
                                }else{cm.push(parseInt(c[i]));}
                                a++;
                        }
                        var f = 0;
                        for (var i = 0; i < cm.length; i++) {f += cm[i];}
                        f = f + cl;
                        if (f%10 == 0){
                            $('#cardnumber').css('border-color', '#c2c2c2');
                            $('.letters-error-cardnumber').hide();
                        }else{
                            $('#cardnumber').css('border-color', '#e02b27');
                            event.preventDefault();
                            $('.letters-error-cardnumber').show();
                        }
                    }
                    var year = $('.year > .control > #year').val();
                    var yearLength=year.length;
                    var month = $('.month > .control > #month').val();
                    var currentYear = '<?= date("Y") ?>';
                    var currentMonth = parseInt('<?= date("m") ?>');
                    if ( year < currentYear || (year <= currentYear && month < currentMonth)){
                        $('#year').css('border-color', '#e02b27');
                        $('#month').css('border-color', '#e02b27');
                        event.preventDefault();
                        $('.letters-valid-date').show();
                    }else {
                            $('#month').css('border-color', '#c2c2c2');
                            $('#year').css('border-color', '#c2c2c2');
                            $('.letters-valid-date').hide();
                    }
                });
                
            }
    );
</script>
<script>
	function checkCard($card){
		var c = $card;
		var cl = parseInt(c.substr(c.length - 1));
		var c = c.slice(0,-1)
		var c = c.split("").reverse().join("");
		var c = c.split("");
		var a = 2;
		var cm = [];
		for (var i = 0; i < c.length; i++){
			if (a%2 == 0){var t = c[i]*2;
			if (t > 9){var t = (t -9);}
			cm.push(t);
			}else{cm.push(parseInt(c[i]));}
			a++;
		}
		var f = 0;
		for (var i = 0; i < cm.length; i++) {f += cm[i];}
		f = f + cl;
		if (f%10 == 0){return true;}else{return false;}
	}
</script>