<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Ebook\Display\Block\Display\Display
 */
 //echo $block->display();
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $baseurl = $storeManager->getStore()->getBaseUrl();	

?>
  <div class="page-title-wrapper">
        <h2 class="page-title">
       
	    <span itemprop="name"><a href="<?php echo $baseurl ?>display/display/display">Click To See Logged User Details</a></span>
        </h2>
 </div> 

<?php
    ?>
	
	
	  <table>
    <tr>
      <th class="post-id">Ebook Name</th>
      <th class="post-name">Ebook Dep</th>
      <th>Ebook Display</th>
  	  <th>Ebook Address</th>
    </tr>
    <?php
        foreach ($block->getConatctCollection() as $key=>$contact){
            echo '<tr>
                    <td>'.$contact->getengineer_name().'</td>
                    <td>'.$contact->getengineer_dept().'</td>
                    <td>'.$contact->getengineer_salary().'</td>
					          <td>'.$contact->getengineer_add().'</td>
                  </tr>';
        }
    ?>
    </table>

