<?php
/**
 * Copyright © 2018 Endeavorpal. All rights reserved.
 * See COPYING.txt for license details.
 * 
 * @author Mohammad Hamadneh <mhamadneh@endeavorpal.com>
 * @date 26-03-2018.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $helperPreOrder = $this->helper('\Webkul\Preorder\Helper\Data'); ?>
<?php if($helperPreOrder->isPreorder($_product->getId())) : ?> 
<?php $buttonTitle = __('PRE-ORDER'); ?>
<?php else : ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php endif; ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $flag = 0;?>
<?php 
$susbscriptionsModel = $objectManager->create('Endeavor\Subscriptions\Model\CustomerSubscriptions');
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$collection = $susbscriptionsModel->getCollection();
$collection->addFieldToFilter('customer_id',$customerSession->getCustomer()->getId()); 
$subscriptions = $objectManager->create('Endeavor\Subscriptions\Model\Subscriptions');
$subscriptionsCollection = $subscriptions->getCollection();
$stockItem = $objectManager->get('Magento\CatalogInventory\Model\StockRegistry');
$productStock = $stockItem->getStockItemBySku($block->getProduct()->getSku());
$maxSalesQty = $productStock->getMaxSaleQty();
$_imageHelper = $objectManager->create('CleverSoft\Base\Helper\Image');
?>
<?php 
    foreach ($collection as $item) {
        if ($item->getCustomerId() == $customerSession->getCustomer()->getId() && $item->getProductId() == $_selection->getId()){
            $flag = 1;
        } else {
            $flag = 0;
        }
    } 
?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart" style="float: right;">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty-tocart-<?php echo($_product->getId());?>"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <div class="custom-qty">
                    <button type="button"  class="increase items items-count" onclick="var result = document.getElementById('qty-tocart-<?php echo($_product->getId());?>'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                        +
                    </button>
                    <button type="button" class="reduced items  items-count" onclick="var result = document.getElementById('qty-tocart-<?php echo($_product->getId());?>'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                        -
                    </button>
                </div>
            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit" 
                    <?php if(!$flag):?>    
                        class="add-cart action tocart btn-novetty"
                    <?php else: ?>
                            class="add-cart-not action tocart btn-novetty"
                    <?php endif; ?>
                    <?php if($helperPreOrder->isPreorder($_product->getId())) : ?>
                            style="background-color: rgb(255,128,0) !important;"
                    <?php endif; ?>
                    id="product-additemtocart-button-<?php echo($_product->getId());?>">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php if($helperPreOrder->isPreorder($_product->getId())) : ?>
            <div class="pre-order-icon" style="float: right; background-size: contain !important;width: 50px;"></div>
            <?php endif; ?>
            <div id="popup-mpdal" style="display:none; padding-left: 2vw;padding-right: 2vw;">

                <div class="subscription-image">
                    <img src="<?php echo $_imageHelper->getImg($_product, 170, 193,'category_page_grid'); ?>" />
                </div>
				<div class="subscription-option">
                <div class="subscription-title" style="float: left;min-width: 75%;">
                    <h3>Select Subscription Type</h3>
                </div>
                <label class="label error-subscrption" style="display: none; color: red">Please Select Subscription Type.</label>
                <?php foreach($subscriptionsCollection as $item):?>
                <div class="radio subscription-radio">
                    <label><input class="subscription-options" id="subscription-<?php echo $item->getSubscriptionId();?>" type="radio" name="terms-conditions" value="<?php echo $item->getSubscriptionId();?>"><?php echo $item->getName();?></label>
                </div>
               
                <?php endforeach;?>
               </div>
                <div class="popup-term-container">
                   
                    <div id="terms-conditions" class="terms-conditions">
                        <?php foreach($subscriptionsCollection as $item):?>
                        <div class="terms-and-conditions" id="conditions-<?php echo $item->getSubscriptionId();?>">
							 <label>Terms & Conditions</label>
                            <?php echo $item->getTermsConditions();?>
                        </div>
                         <?php endforeach;?>
                    </div>
                </div>
                <h5 class='print-terms' style="float: left; cursor: pointer"><a><i class="fa fa-print" aria-hidden="true" style="padding-right: 5px;"></i>Print Terms and Conditions</a></h5>
                <div class="btn-group" style="float: right">
                    <div class="actions">
                    <button type="submit" 
                            class="btn btn-primary"
                            id="continue">
                        <span><?php /* @escapeNotVerified */ echo "Confirm and Continue" ?></span>
                    </button>
                        <button type="button" class="btn btn-primary cancel"> <span><?php /* @escapeNotVerified */ echo "Cancel" ?></span></button>
                </div>
                </div>
            </div>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/mage',
            'Magento_Catalog/product/view/validation',
            'Magento_Catalog/js/catalog-add-to-cart'
        ],
        function(
            $,
            modal
        ) {
        var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true
            };
            $('#continue').click(function(){
                if ($('input[type="radio"].subscription-options').is(':checked')) {
                    $('.error-subscrption').hide();
                    $("#popup-mpdal").modal("closeModal"); 
                    setTimeout(function(){
                        $('.page-title-wrapper.product>.bundle-options-container>.product-add-form>.product_addtocart_form_<?php echo($_product->getId());?>').submit();
                    }, 50);
                } else {
                    $('.error-subscrption').show();
                }
            });
            var productName = "<?php echo $_product->getName();?>";
            $(".print-terms").on("click", function () {
                if ($('input[type="radio"].subscription-options').is(':checked')) {
                   var terms = $(".terms-conditions").html();
                   var printWindow = window.open('', '', 'height=400,width=800');
                   printWindow.document.write('<html><head><title>'+productName+'</title>');
                   printWindow.document.write('</head><body >');
                   printWindow.document.write('<img width="100" src="<?php echo $this->getViewFileUrl('Endeavor_Subscriptions::images/blue360.png'); ?>" alt="blue360media">');
                   printWindow.document.write('<h3>Terms & Conditions</h3>');
                   printWindow.document.write(terms);
                   printWindow.document.write('</body></html>');
                   printWindow.document.close();
                   printWindow.print();
                   setTimeout(function(){printWindow.close();},10);
               } else {
                   $('.error-subscrption').show();
               }
            });
            var popup = modal(options, $('#popup-mpdal'));
            $('#product-additemtocart-button-<?php echo($_product->getId());?>').on('click', function (event) {
                event.preventDefault();
                var qtyVal = $('#qty-tocart-<?php echo($_product->getId());?>').val();
                $('#bundleSummary>.content>.bundle-info>.product-details>.box-tocart>.fieldset>.field.qty>.control>input').val(qtyVal);
                var productId = $('.radio.product.bundle.option.change-container-classname:checked').parent().find('#product-id').val();
                if (productId) {
                    $('.media-type-validation-message').addClass('hidden')

                    var parentId = $('.radio.product.bundle.option.change-container-classname:checked').parent().find('#option-id').val(); 
                    var radioQty = qtyVal;
                    $('.radio-bundle-qty').val(radioQty);
                    var flag = '<?php echo $flag;?>';
                    if ($.cookie(parentId)||$.cookie(productId)) {
                        $('#optionId').val(parentId);
                        setTimeout(function(){
                            $('.page-title-wrapper.product>.bundle-options-container>.product-add-form>.product_addtocart_form_<?php echo($_product->getId());?>').submit();
                        }, 50);
                    } else {
                        var productSubscription = $('.radio.product.bundle.option.change-container-classname:checked').parent().find('#product-subscription-type').val();
                        var productSubscriptionFrontend = $('.radio.product.bundle.option.change-container-classname:checked').parent().find('#product-subscription-type_frontend').val();
                        $('#optionId').val(parentId);

                        $('.cancel').click(function(){
                            $('.error-subscrption').hide();
                           $("#popup-mpdal").modal("closeModal");
                           $.cookie(productId, '', { expires: -1, path: '/'});

                        });

                        $('.action-close').click(function(){
                           $('.error-subscrption').hide();
                           $("#popup-mpdal").modal("closeModal");
                           $.cookie(productId, '', { expires: -1, path: '/'});
                        });
                        if (flag == 0) {
                            $.cookie('customer-type','guest');
                        }
                        var maxSaleQty = '<?php echo $maxSalesQty; ?>';
                        if (productSubscription == '128' || productSubscriptionFrontend == 'Release') {
                            if (($.cookie('customer-type') && ($.cookie(productId))) || (flag == 1 && ($.cookie(productId)))) {
                                    $("#popup-mpdal").modal("closeModal");
                            } else {
                                if (qtyVal > maxSaleQty) {
                                    $("#popup-mpdal").modal("closeModal");
                                    setTimeout(function(){
                                        $('.page-title-wrapper.product>.bundle-options-container>.product-add-form>.product_addtocart_form_<?php echo($_product->getId());?>').submit();
                                     }, 50);
                                } else {
                                    $("#popup-mpdal").modal("openModal");
                                    $('.modal-footer').css('display','none');
                                }
                            }
                        } else {
                            setTimeout(function(){
                                $('.page-title-wrapper.product>.bundle-options-container>.product-add-form>.product_addtocart_form_<?php echo($_product->getId());?>').submit();
                            }, 50);
                        }

                        $('input[type="radio"].subscription-options').click(function(){
                        var id =0;

                        if ($(this).is(':checked')) {
                            $('.error-subscrption').hide();
                            id = $(this).val();
                        }
                        $('.terms-and-conditions').hide();
                        $('#conditions-'+id).show();
                        //$.cookie(parentId,id);
                        $.cookie(productId,id);
                        });
                    }
                } else {
                    var formElement = $('.media-type-validation-message');
                    formElement.removeClass('hidden');
                    $('html, body').animate({
                        scrollTop: formElement.offset().top - 50
                    }, 2000);
                    
                }
            });
        });
</script>
<?php endif; ?>