<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Account Form"}} @-->
<!--@vars {
"var data.email":"Sender Email",
"var data.name":"Sender Name"
} @-->
<p><img style="vertical-align: bottom;" src="https://www.blue360media.com/pub/media/wysiwyg/mato/logo/BLUE360noBG_3.png" width="100" height="50" alt="Blue360Â° Media"/></p>

<b>Organization Name: </b>{{trans "%organizationName" organizationName=$data.organization-name}}
<br><br>
<b>Primary Contact Name: </b>{{trans "%name" name=$data.name}}
<br><br>
<b>Primary Contact Email: </b>{{trans "%email" email=$data.email}}
<br><br>
<b>Primary Contact Phone: </b>{{trans "%telephone" telephone=$data.telephone}}
<br><br>
<b>Shipping Address: </b>{{trans "%shipping" shipping=$data.shipping}}
<br><br>
<b>Billing Address: </b>{{trans "%billing" billing=$data.billing}}
<br><br>
<b>Account Number: </b>{{trans "%account" account=$data.account}}
<br><br>
<b>Publication Name 1: </b>{{trans "%publication1" publication1=$data.publication1}}
<b>-Pup# </b> {{trans "%publicationNumber1" publicationNumber1=$data.publication-number-1}}
<br><br>
<b>Publication Name 2: </b>{{trans "%publication2" publication2=$data.publication2}}
<b>-Pup# </b> {{trans "%publicationNumber2" publicationNumber2=$data.publication-number-2}}
<br><br>
<b>Publication Name 3: </b>{{trans "%publication3" publication3=$data.publication3}}
<b>-Pup# </b> {{trans "%publicationNumber3" publicationNumber3=$data.publication-number-3}}
<br><br>
<b>Number of people in your organization: </b>{{trans "%people" people=$data.people}}
<br><br>
<b>Do we have permission to send you electronic invoices? </b>{{trans "%permission" permission=$data.permission}}
<br><br>
<b>Do you want to continue receiving your publications with every update? </b>{{trans "%subscribing" subscribing=$data.subscribing}}
<br><br>
<b>Do you want to continue receiving notifications on the publications with every update? </b>{{trans "%subscribing2" subscribing2=$data.subscribing2}}
<br><br>
<b>Anything else we can help you with? </b><br>{{trans "%help" help=$data.help}}
