<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @updated by: Amjad BaniMattar
 * @desc: Updated in order to allow all user role to assign eBook
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * @var $block \Magento\Downloadable\Block\Customer\Products\ListProducts
 */
?>
<?php $_items = $block->getItems(); ?>
<?php
$params = $block->getRequest()->getParams();
$totalAssignUser = $block->getTotalAssignUser($params['id']);
$remainingAssignUser = $block->getRemainingQtyById($params['id']);
$customersItems = $block->getCustomersEmail($params['id']);
$customersEmail = array();
$customerCollectionSelectOption = '';

foreach ($customersItems as $user) {
    $customerCollectionSelectOption .= "\"" . $user->getEmail() . "\"" . ",";
    $customersEmail[$user->getEmail()] = $user->getEmail();
}
$assignedUser = $block->getAssignedUsers($params['id']);
$PurchasedLink = $block->getPurchasedLinkById($params['id']);
$PurchasedLinkItem = $block->getPurchasedLinkItemById($params['id']);
$role = $block->getCurrentCustomerRole();
?>
<?php if ($totalAssignUser && $PurchasedLinkItem->getStatus() != 'pending' /*&& $role == 'Customer'*/): ?>
    <form class="form contact"
          action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
          id="contact-form"
          method="post"
          enctype="multipart/form-data"
          data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <h3><?php /* @escapeNotVerified */ echo $PurchasedLink->getProductName(); ?></h3>
            <h5 style="color: blue;"><?php /* @escapeNotVerified */ echo 'Remaining Quantity: '.'<span id="rem_quantity">'.$remainingAssignUser.'</span><span id="rem_quantity_msg" style="color: red;"></span>' ?></h5>
            <?php if($remainingAssignUser != 0): ?>
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Assign Users') ?></span></legend><br />
                <table border="1"id="my-assign-user-table" class="data table my-assign-user">
                    <thead>
                        <tr>
                            <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Email') ?></th>
                            <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('First Name') ?></th>
                            <th scope="col" class="col title"><?php /* @escapeNotVerified */ echo __('Last Name') ?></th>
                            <th scope="col" class="col title" style="width: 3em;"><?php /* @escapeNotVerified */ echo __('Quantity') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php 
                        /**
                         * Murad Dweikat <mdweikat@endeavorpal.com>
                         * view maximum 10 row in form.
                         */
                        $iteration = ($remainingAssignUser <= 10) ? $remainingAssignUser : 10;
                        
                        for ($i = 1; $i <= $iteration; $i++): ?>
                                <tr>
                                    <td>
                                        <div class="field email required" >
                                            <div class="control">
                                                <input name="email<?php echo $i ?>" id="email<?php echo $i ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>"  class="input-text" type="email" data-validate="{required:false, 'validate-email':true}"/>
                                                <input name="email-<?php echo $i ?>" id="email-<?php echo $i ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" type="email" data-validate="{required:false, 'validate-email':true}" style="display: none !important;width:269px;"  />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field name required">
                                            <div class="control">
                                                <input name="firstname-<?php echo $i ?>" id="firstname-<?php echo $i ?>" index="<?php echo $i ?>" title="<?php /* @escapeNotVerified */ echo __('First Name') ?>" class="input-text" type="text" data-validate="{required:false}"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field name required">
                                            <div class="control">
                                                <input name="lastname-<?php echo $i ?>" id="lastname-<?php echo $i ?>" index="<?php echo $i ?>" title="<?php /* @escapeNotVerified */ echo __('Last Name') ?>" class="input-text" type="text" data-validate="{required:false}"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field quantity required" style="width: 3em;">
                                            <div class="control">
                                                <input name="quantity-<?php echo $i ?>" id="quantity-<?php echo $i ?>" index="<?php echo $i ?>" title="<?php /* @escapeNotVerified */ echo __('Quantity') ?>" class="input-number" type="number" min="0" max="<?= $remainingAssignUser; ?>" data-validate="{required:false}"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        <?php endfor; ?>
                    </tbody>
                </table>
                <div class="actions-toolbar" style="margin-bottom: 25px;">
                    <div class="primary">
                        <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary">
                            <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
                        </button>
                    </div>
                </div>
            <?php else : ?> 
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Assign Users') ?></span></legend><br />
                <table border="1"id="my-assign-user-table" class="data table my-assign-user">
                    <thead>
                        <tr>
                            <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Email') ?></th>
                            <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('First Name') ?></th>
                            <th scope="col" class="col title"><?php /* @escapeNotVerified */ echo __('Last Name') ?></th>
                            <th scope="col" class="col title" style="width: 3em;"><?php /* @escapeNotVerified */ echo __('Quantity') ?></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __("You don't have any available quantity that you can assign."); ?></span></div>
            <?php endif; ?>
            <table id="my-assigned-user-table" class="data table assigned-user">
            <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Assigned Users') ?></span></legend>
                <tbody>
                    <?php $i = 1; ?>
                    <?php foreach ($assignedUser as $_item): ?>
                        <tr>
                            <td>
                                <div class="field name required">
                                    <div class="control">
                                        <input name="email-filled-<?php echo $i ?>" id="email" value="<?php echo $_item['email'] ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" type="email" data-validate="{required:false, 'validate-email':true}"  readonly/>
                                    </div>
                                </div>
                            </td>   
                            <td>
                                <div class="field name required">
                                    <div class="control">
                                        <input name="firstname-filled-<?php echo $i ?>" id="firstname" value="<?php echo $_item['firstname'] ?>" title="<?php /* @escapeNotVerified */ echo __('First Name') ?>" class="input-text" type="text" data-validate="{required:false}" readonly />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field name required">
                                    <div class="control">
                                        <input name="lastname-filled-<?php echo $i ?>" id="lastname" value="<?php echo $_item['lastname'] ?>" title="<?php /* @escapeNotVerified */ echo __('Last Name') ?>" class="input-text" type="text" data-validate="{required:false}" readonly/>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field quantity required" style="width: 3em;">
                                    <div class="control">
                                        <input name="quantity-filled-<?php echo $i ?>" id="quantity" value="<?php echo $_item['qty'] ?>" index="<?php echo $i ?>" title="<?php /* @escapeNotVerified */ echo __('Quantity') ?>" class="input-number" type="number" data-validate="{required:false}"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                    <?php if(count($assignedUser) == 0): ?>
                        <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You do not have any assigned users for this product yet.'); ?></span></div>
                    <?php endif; ?>
                </tbody>
            </table>
            <input name="itemId" id="itemId" title="itemId" class="input-text" value="<?php echo $params['id']; ?>" type="hidden" data-validate="{required:false}"/>
        </fieldset>
    </form>
<br>
<br>
<form method="POST" enctype="multipart/form-data" action="<?php echo $this->getUrl('downloadable/customer/savebulk'); ?>" data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'> 
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Bulk Assign Users') ?></span></legend><br />
        <div class="field name">
            <label class="label" for="name"><span><?php echo __('Assign Users (csv file)') ?></span></label>
            <div class="control" style="width: 50%">
                <input name="import_file" id="import_file" value="" class="input-text" type="file" data-validate="{required:true}"/>
            </div>
            <div class="sample">
            <a href="<?php echo $this->getUrl('downloadable/customer/dataformat'); ?>"><span><?php echo __('Download Sample (csv file)') ?></span></label>
        </div>
        </div>
        
        <div class="field name required">
            <div class="control">
                <input name="itemId" id="itemId" title="itemId" class="input-text" value="<?php echo $params['id']; ?>" type="hidden" data-validate="{required:false}"/>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" title="<?php echo __('Import') ?>" class="action submit primary">
                    <span><?php echo __('Import') ?></span>
                </button>
            </div>
    	</div>
    </fieldset>
</form>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __("You don't have any available quantity that you can assign."); ?></span></div>
<?php endif; ?>

<div class="actions-toolbar">
    <div class="secondary">
        <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back">
            <span><?php /* @escapeNotVerified */ echo __('Back') ?></span>
        </a>
    </div>
</div>    
    
    
    
    
<script>

$(function () {
    var availableEmails = [
<?php echo $customerCollectionSelectOption ?>
    ];
                       
        var remainingAssignUsers = <?php echo $remainingAssignUser; ?>;
        for (i = 1; i <= remainingAssignUsers; i++) {
            $("#email"+i).autocomplete({
                source: availableEmails,
                minLength: 0,
                scroll: true    
            }).focus(function (event) {
                var index = event.target.id.split("email")[1];
                $(this).autocomplete("search", "");
//                $("#quantity-"+index).prop('required',true);
            });

            $("#email"+i).change(function(event) {
                    var index = event.target.id.split("email")[1];
                    $("#firstname-"+index).prop('required',true);
                    $("#lastname-"+index).prop('required',true);
                    $("#quantity-"+index).prop('required',true);
            });
            
            var total = <?= $remainingAssignUser ?> ;
            $("#quantity-"+i).change(function() {
                
                var currentTotal = 0;
                for (i = 1; i <= remainingAssignUsers; i++) {
                    if(parseInt($("#quantity-"+i).val())){
                        currentTotal += parseInt($("#quantity-"+i).val());
                    }
                }
                var RemQun = total - currentTotal;
                $("#rem_quantity").text(RemQun);
                
                if(RemQun < 0){
                    $("#rem_quantity_msg").text('  You don\'t have enough quantity.');
                }else{
                    $("#rem_quantity_msg").text('');
                }
                
            });
            
        }

    });
    
    
</script>