<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * Edited by: mhamadneh
 * desc: add more information message in my ebooks page
 * 
 * @updated by: Amjad BaniMattar
 * @desc: Updated in order to allow all user role to assign eBook
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var $block \Magento\Downloadable\Block\Customer\Products\ListProducts
 */
?>
<?php $_items = $block->getItems(); 
$role = $block->getCurrentCustomerRole();
?>
<div class="more-information-message" style="color: black;">
    <span>
        <?php /* @escapeNotVerified */ echo __('For more information on using or downloading an eBook,') ?>
    </span>
    <a target="_blank" style="color:#1979c3;" href="<?php echo $this->getBaseUrl().'ebook-instructions/'?>" >
        <?php /* @escapeNotVerified */ echo __('click here') ?>
    </a>
</div>
<?php if (count($_items)): ?>
    <div class="table-wrapper downloadable-products" style="color: black;">
        <table id="my-downloadable-products-table" class="data table table-downloadable-products">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Downloadable Products') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Order #') ?></th>
                    <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Date') ?></th>
                    <th scope="col" class="col title"><?php /* @escapeNotVerified */ echo __('Title') ?></th>
                    <th scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Status') ?></th>
                    <?php /*<th scope="col" class="col remaining"><?php /* @escapeNotVerified * / echo __('Remaining Downloads') ?></th> */ ?>
                    <?php /*if( $role == 'Customer'): */?>
                        <th scope="col" class="col actions"><?php /* @escapeNotVerified */ echo __('Actions') ?></th>
                    <?php /*endif; */?>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($_items as $_item): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id">
                        <a href="<?php /* @escapeNotVerified */ echo $block->getOrderViewUrl($_item->getPurchased()->getOrderId()) ?>"
                            title="<?php echo $block->escapeHtml(__('View Order')) ?>">
                            <?php /* @escapeNotVerified */ echo $_item->getPurchased()->getOrderIncrementId() ?>
                        </a>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_item->getPurchased()->getCreatedAt()) ?></td>
                    <td data-th="<?php echo $block->escapeHtml(__('Title')) ?>" class="col title">
                        <strong class="product-name"><?php echo $block->escapeHtml($_item->getPurchased()->getProductName()) ?></strong>
                        <?php if ($_item->getStatus() == \Magento\Downloadable\Model\Link\Purchased\Item::LINK_STATUS_AVAILABLE): ?>
                        </br><i class="fa fa-book" aria-hidden="true"></i><a href="<?php /* @escapeNotVerified */ echo $block->getDownloadUrl($_item) ?>" title="<?php echo $block->escapeHtml(__('Start Download')) ?>" class="action download" <?php echo $block->getIsOpenInNewWindow() ? 'onclick="this.target=\'_blank\'"' : ''; ?>><?php echo "Download ".$block->escapeHtml($_item->getLinkTitle()) ?></a>
                        <?php endif; ?>
                        <?php if ($_item->getStatus() != \Magento\Downloadable\Model\Link\Purchased\Item::LINK_STATUS_PENDING): ?>
                        </br><i class="fa fa-book" aria-hidden="true"></i><a href="<?php /* @escapeNotVerified */ echo 
                        $block->getReaderUrl($block->getHash($_item)) ?>" title="<?php echo $block->escapeHtml(__('Start readeing')) ?>" class="action download" <?php echo $block->getIsOpenInNewWindow() ? 'onclick="this.target=\'_blank\'"' : ''; ?>><?php echo "Read ".$block->escapeHtml($_item->getLinkTitle())." Online" ?></a>
                        <?php endif; ?>
                    </td>
					<?php $status = ucfirst($_item->getStatus()); 
						  if($status == "Expired"){
							//$status = "No available copies";  
                            $status="Expired"."<BR>Ebook Download limit upto ".$_item->getNumberOfDownloadsBought()." times has been used.";
						  }	  
					?>
                    <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status"><?php /* @escapeNotVerified */ echo __($status) ?></td>
                    <?php /* <td data-th="<?php echo $block->escapeHtml(__('Remaining Downloads')) ?>" class="col remaining"><?php /* @escapeNotVerified * / echo $block->getRemainingDownloads($_item) ?></td> */ ?>
                    <?php if ($block->getTotalAssignUser($_item->getId()) && $_item->getStatus() != 'pending' /*&& $role == 'Customer'*/) :?>
                    <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                        <a style="color:#1979c3;"href="<?php /* @escapeNotVerified */ echo $block->getAssignUserUrl($_item) ?>" class="action view">
                            <?php if ($block->getRemainingQtyById($_item->getId())): ?>
                                <span><?php /* @escapeNotVerified */ echo __('Assign Users') ?></span>
                            <?php else:?>
                                <span><?php /* @escapeNotVerified */ echo __('Assigned Users') ?></span>
                            <?php endif;?>
                        </a>
                    </td>
                    <?php endif;?>
                </tr>   
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getChildHtml('pager')): ?>
        <div class="toolbar downloadable-products-toolbar bottom" style="color: black;">
            <?php echo $block->getChildHtml('pager'); ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have not purchased any eBook yet.'); ?></span></div>
<?php endif; ?>

<div class="actions-toolbar">
    <div class="secondary">
        <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back">
            <span><?php /* @escapeNotVerified */ echo __('Back') ?></span>
        </a>
    </div>
</div>
