<!--@subject {{trans "%subject on Your %store_name" store_name=$store.getFrontendName() subject=$subject}} @-->
 
{{template config_path="design/email/header_template"}}
<table>
    {{depend sf_order_id}}
    <tr>
        <td>
            <p class="greeting">
                {{trans 'The following order number failed to make payment in outstanding invoice page: %sf_order_id' sf_order_id=$sf_order_id |raw}}
            </p>
        </td>
    </tr>
    {{/depend}}
    <tr class="error-message-intro">
        <td>    
            <p>
                {{trans "%message" message=$message |raw}}
            </p> 
        </td>
    </tr>
</table>

<br>
{{template config_path="design/email/footer_template"}}