/**
//
//  To add custom CSS styles, create custom child-theme
//
*/
@home2_color_1: #1079fd;
body.cms-cleversoft-homepage-2 {
  .page-wrapper .is-sticky .minicart-wrapper .action.showcart .counter.qty .counter-number{
    background-color: rgb(37, 37, 37);
  }
  .service-items {
    background: @color-white;
  }
  .testimonial02{
    padding: 200px 0;
    .owl-carousel {
      .owl-item {
        .block-content{
          color: @color-white;
          img {
            display: inline-block;
            width: inherit;
          }
          .content-text{
            margin: 30px 0;
          }
        }
      }
      .owl-dots {
        bottom: -100px;
        .owl-dot{
          background: transparent;
          border: 2px solid @color-white;
          &.active{
            background: @color-white;
          }
        }
      }
    }
  }
  .zoo-title-style1 .zoo-main-heading .zoo-heading-wrapper-title h3 span {
    background-color: @color-gray-light01;
  }
  .service-item {
    padding: 50px 0;
  }
  .service-item .icon-service {
    position: relative;
    background-color: @color-white;
    border: 3px solid @color-blue;;
    text-align: center;
    font-size: 30px;
    line-height: 90px;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease, color 0.25s ease;
    transition: background-color 0.25s ease, color 0.25s ease;
    color: @color-blue;;
    margin: 0 auto;
  }
  .service-item .icon-service:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95px;
    height: 95px;
    border: 3px solid @color-blue;;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -webkit-box-transform: translate(-50%, -50%) scale(0);
    -moz-box-transform: translate(-50%, -50%) scale(0);
    -o-box-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  .service-item h4 {
    margin: 30px 0 15px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
  }
  .service-item h4:before {
    display: block;
    content: '';
    height: 2px;
    width: 52px;
    background-color: @color-blue;;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }
  .service-item p {
    letter-spacing: 1.2px;
    line-height: 24px;
  }
  .service-item:hover .icon-service {
    background-color: @color-blue;;
    border-color: @color-white;
    color: @color-white;
  }
  .service-item:hover .icon-service:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -webkit-box-transform: translate(-50%, -50%) scale(1);
    -moz-box-transform: translate(-50%, -50%) scale(1);
    -o-box-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  .item-images-block {
    position: relative;
    margin-top: 30px;
  }
  .item-images-block .img-responsive {
    width: 100%;
  }
  .item-images-block.item-images-block1 h2 {
    position: absolute;
    line-height: 36px;
    left: 50px;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bold;
  }
  .item-images-block.item-images-block2 h2 {
    position: absolute;
    color: @color-white;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 20%;
    text-align: center;
    text-transform: uppercase;
  }
  .item-images-block.item-images-block3 .item-image-content {
    position: absolute;
    line-height: 36px;
    left: 40px;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .item-images-block.item-images-block3 .item-image-content h2 {
    font-weight: bold;
  }
  .item-images-block.item-images-block3 .item-image-content .old-price {
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 400;
  }
  .item-images-block.item-images-block3 .item-image-content .special-price {
    color: @home2_color_1;
    display: inline;
    font-weight: bold;
    padding-left: 5px;
  }
  .slide-transparent {
    margin-top: -150px;
  }
  .testimonial {
    padding: 50px 0;
  }
  .testimonial .block-content strong {
    margin: 10px 0 20px;
    display: inline-block;
  }
}