/**
//
//  To add custom CSS styles, create custom child-theme
//
*/
.slideshow-home01 {
  #clever-left-slide-0-slideshow{
    .zoo-slideshow-text-content {
      h1 {
        font-family: @font-family__secondary;
      }
      h3 {
        font-family: @font-family-name__alternate-5;
        font-size: 30px;
      }
    }
  }
}