@home15_color_1: #e8f0f2;
@home15_color_2: #990000;
.slide-home15  {
  h1.slideshow__title, h3.sub_heading_align   {
    font-family: @font-family__secondary !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
  }
  h3{
    font-style: italic;
  }
}
.slide-home15{
  #clever-left-slide-0-slideshow{
    .zoo-slideshow-text-content {
      h1, h3 {
        color: @color-black;
        font-weight: normal;
        margin-bottom: 50px;
      }
    }
  }
}
.newsletters-home15 {
  background: @home15_color_1;
  .newsletters {
    padding: 60px 0;
    button{
      background: @home15_color_2;
    }
  }
}


@media (min-width: 992px), print {
  .slide-home15{
    #clever-left-slide-0-slideshow{
      .zoo-slideshow-text-content {
        h1{
          line-height: 80px;
        }
        h3{
          line-height: 35px;
        }
      }
    }
  }
}
.cms-cleversoft-homepage-15{
  .btn-novetty{
    border-radius: 0;
  }
}