@home9_color_1: #da3e6a;
@home9_color_2: #34495e;
@home9_color_3: #e670a7;
@home9_color_4: #3498db;
@home9_color_5: #69e028;
@home9_color_6: #1abc9c;
.carousel-home-9 {
  padding: 15px 0;
  background: @color-white;
  position: relative;
  .owl-nav {
    display: none;
  }
  &:hover {
    .owl-nav {
      display: block;
    }
  }
}

.service-block-home09 {
  background: @color-white;
  margin-top: 30px;
}


.color-section1 {
  .vertical-menu-category .clever-mega-menu .clever-mega-menu-item > a.menu-link, .slide-category .zoo-slideshow-text-wrap {
    background-color: @home9_color_1;
  }
  &:before {
    border-color: @home9_color_1;
  }
  .tabs-collection {
    .widget-tabs.nav.nav-tabs {
      > li {
        &.active, &:hover {
          a {
            color: @home9_color_1 !important;
          }
        }
        &:before {
          border-top-color: @home9_color_1;
        }
      }
    }
  }
  .product-gird-right .bx-wrapper {
    button.bx-prev, button.bx-next {
      &:hover {
        background-color: @home9_color_1;
      }
    }
  }
}

.color-section2 {
  .vertical-menu-category .clever-mega-menu .clever-mega-menu-item > a.menu-link, .slide-category .zoo-slideshow-text-wrap {
    background-color: @home9_color_2;
  }
  &:before {
    border-color: @home9_color_2;
  }
  .tabs-collection {
    .widget-tabs.nav.nav-tabs {
      > li {
        &.active, &:hover {
          a {
            color: @home9_color_2 !important;
          }
        }
        &:before {
          border-top-color: @home9_color_2;
        }
      }
    }
  }
  .product-gird-right .bx-wrapper {
    button.bx-prev, button.bx-next {
      &:hover {
        background-color: @home9_color_2;
      }
    }
  }
}

.color-section3 {
  .vertical-menu-category .clever-mega-menu .clever-mega-menu-item > a.menu-link, .slide-category .zoo-slideshow-text-wrap {
    background-color: @home9_color_6;
  }
  &:before {
    border-color: @home9_color_6;
  }
  .tabs-collection {
    .widget-tabs.nav.nav-tabs {
      > li {
        &.active, &:hover {
          a {
            color: @home9_color_6 !important;
          }
        }
        &:before {
          border-top-color: @home9_color_6;
        }
      }
    }
  }
  .product-gird-right .bx-wrapper {
    button.bx-prev, button.bx-next {
      &:hover {
        background-color: @home9_color_6;
      }
    }
  }
}

.color-section4 {
  .vertical-menu-category .clever-mega-menu .clever-mega-menu-item > a.menu-link, .slide-category .zoo-slideshow-text-wrap {
    background-color: @home9_color_3;
  }
  &:before {
    border-color: @home9_color_3;
  }
  .tabs-collection {
    .widget-tabs.nav.nav-tabs {
      > li {
        &.active, &:hover {
          a {
            color: @home9_color_3 !important;
          }
        }
        &:before {
          border-top-color: @home9_color_3;
        }
      }
    }
  }
  .product-gird-right .bx-wrapper {
    button.bx-prev, button.bx-next {
      &:hover {
        background-color: @home9_color_3;
      }
    }
  }
}

.color-section5 {
  .vertical-menu-category .clever-mega-menu .clever-mega-menu-item > a.menu-link, .slide-category .zoo-slideshow-text-wrap {
    background-color: @home9_color_4;
  }
  &:before {
    border-color: @home9_color_4;
  }
  .tabs-collection {
    .widget-tabs.nav.nav-tabs {
      > li {
        &.active, &:hover {
          a {
            color: @home9_color_4 !important;
          }
        }
        &:before {
          border-top-color: @home9_color_4;
        }
      }
    }
  }
  .product-gird-right .bx-wrapper {
    button.bx-prev, button.bx-next {
      &:hover {
        background-color: @home9_color_4;
      }
    }
  }
}

.color-section6 {
  .vertical-menu-category .clever-mega-menu .clever-mega-menu-item > a.menu-link, .slide-category .zoo-slideshow-text-wrap {
    background-color: @color-orange;
  }
  &:before {
    border-color: @color-orange;
  }
  .tabs-collection {
    .widget-tabs.nav.nav-tabs {
      > li {
        &.active, &:hover {
          a {
            color: @color-orange !important;
          }
        }
        &:before {
          border-top-color: @color-orange;
        }
      }
    }
  }
  .product-gird-right .bx-wrapper {
    button.bx-prev, button.bx-next {
      &:hover {
        background-color: @color-orange;
      }
    }
  }
}

.color-section7 {
  .vertical-menu-category .clever-mega-menu .clever-mega-menu-item > a.menu-link, .slide-category .zoo-slideshow-text-wrap {
    background-color: @home9_color_5;
  }
  &:before {
    border-color: @home9_color_5;
  }
  .tabs-collection {
    .widget-tabs.nav.nav-tabs {
      > li {
        &.active, &:hover {
          a {
            color: @home9_color_5 !important;
          }
        }
        &:before {
          border-top-color: @home9_color_5;
        }
      }
    }
  }
  .product-gird-right .bx-wrapper {
    button.bx-prev, button.bx-next {
      &:hover {
        background-color: @home9_color_5;
      }
    }
  }
}
