/**
//
//  To add custom CSS styles, create custom child-theme
//
*/
@home3_color_1: #f23374;
body.cms-cleversoft-homepage-3{
  .slide-home03 .zoo-slideshow-text-content h1{
    font-weight: 300;
  }
  .newsletters button {
    padding: 10px 35px;
  }
  .newsletters .subscribe .newsletter {
    padding-right: 20px;
  }
  .home03 .newsletter-cs .subscribe input {
    border-radius: 50px;
  }
  .zoo-slideshow-text-content {
    h1, h3 {
      text-transform: none;
      font-family: @font-family__secondary;
    }
    h3{
      font-style: italic;
      font-weight: 500;
      margin: 25px 0;
    }
  }
  .btn-novetty, .btn {
    padding: 15px 35px;
    border-radius: 50px;
  }
  .page-wrapper {
     .copyright {
       border-top: none;
     }
     .page-footer {
       .footer.container {
         position: relative;
         &:after{
           content: '';
           position: absolute;
           bottom: 0;
           border-bottom: 1px solid @color-gray15;
           left: 0;
           right: 0;
           width: ~"-webkit-calc(100% - 30px)";
           width: ~"-moz-calc(100% - 30px)";
           width: ~"calc(100% - 30px)";
           margin: 0 auto;
         }
       }
       .zoo-footer-bottom-content.style-2 .newsletters-style-2 .clever-icon-email-envelope:before {
         position: absolute;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         line-height: 50px;
         top: 5px;
         font-size: 24px;
         color: @color-white;
         left: 0;
         background: @home3_color_1;
         right: 0;
         margin: 0 auto;
       }
     }
   }
  .newsletters-style-2 {
    border-color: @color-gray15;
    #newsletter-validate-detail {
      .btn-novetty {
        border-radius: 0;
      }
      input.form-control{
        background: transparent;
        text-align: center;
        border-color: @color-gray15;
      }
    }
    h3 {
      line-height: 28px;
      margin-bottom: 25px;
      font-size: 18px;
      color: @color-white;
    }
  }
  .zoo-title-style4 {
    .zoo-main-heading .zoo-heading-wrapper-title {
      h3 {
        span {
          position: relative;
          background-color: @color-gray-light01;
          color: @color-gray20;
          z-index: 2;
        }
      }
    }
  }
}
@media (min-width: 992px), print {

  .slide-home03 {
    .main-slide-content {
      height: 900px;
    }
  }
}
@media (min-width: 768px), print {
  .slide-home03{
    .zoo-slideshow-text-content {
      h1 {
        font-size: 72px;
        font-weight: normal;
        letter-spacing: 2px;
      }
      h3 {
        margin-bottom: 40px;
        font-weight: normal;
      }
    }
  }
}
@media (max-width: 767px) {
  body.cms-cleversoft-homepage-3 {
    .btn-novetty, .btn {
      padding: 15px 20px;
    }
  }
}


/* Home 03 */
.main-static-images {
  background: @color-white;
  padding-top: 70px;
}

.main-static-images {
  .img-responsive {
    -webkit-transform: all 500ms;
    -o-transform: all 500ms;
    transition: all 500ms;
    &:hover {
      -webkit-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02);
    }
  }
}

.main-static-image-home03 {
  h4 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: @home3_color_1;
    letter-spacing: 15px;
  }
  h2 {
    font-size: 30px;
    font-weight: 600;
    color: @color-gray20;
    position: relative;
    margin-bottom: 45px;
  }
  p {
    font-size: 16px;
  }
  .content-static {
    color: @color-gray40;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
}
