@home8_color_1: #f34235;
@home8_color_2: #d7d7d7;
.page-wrapper {
  .home08 {
    .block {
      .owl-carousel {
        .owl-stage {
          .owl-item {
            .block-content {
              position: relative;
              .figure.effect-sadie {
                .figcaption {
                  &:before {
                    background-color: rgba(0, 0, 0, 0.16);
                  }
                }
              }
              .text-home08 {
                position: absolute;
                bottom: 90px;
                left: 55px;
                width: 100%;
                span {
                  width: 100%;
                  float: left;
                  color: @color-white;
                  font-size: 24px;
                }
                a {
                  font-size: 40px;
                  color: @color-white;
                }
              }
              .figure.effect-sadie {
                img {
                  width: 100%;
                  webkit-transition: all 400ms ease-in-out 0s;
                  -moz-transition: all 400ms ease-in-out 0s;
                  -ms-transition: all 400ms ease-in-out 0s;
                  -o-transition: all 400ms ease-in-out 0s;
                  transition: all 400ms ease-in-out 0s;
                }
                .figcaption {
                  p {
                    font-size: 18px;
                    font-weight: 300;
                  }
                  h2 {
                    font-size: 48px;
                    text-transform: capitalize;
                    font-family: @font-family__secondary;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-style: italic;
                    font-weight: 400;
                  }
                }
              }
            }
            &:hover {
              .block-content {
                .figure.effect-sadie {
                  img {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                    transition: all 0.4s ease-in-out;
                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    -o-transition: all 0.4s ease-in-out;
                    -ms-transition: all 0.4s ease-in-out;
                  }
                }
              }
            }
          }
        }
        .owl-nav {
          .owl-prev {
            left: 30px;
            background: transparent;
            i {
              font-size: 36px;
              color: @color-white;
              transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              &:hover {
                &::before {
                  color: @home8_color_1;
                }
              }
            }
          }
          .owl-next {
            right: 30px;
            background: transparent;
            i {
              font-size: 36px;
              color: @color-white;
              transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              &:hover {
                &::before {
                  color: @home8_color_1;
                }
              }
            }
          }
        }
        .owl-dots {
          bottom: 20px;
        }
      }
    }
  }
}

.cms-cleversoft-homepage-8 {
  .page-wrapper {
    .copyright {
      border-top: 1px solid @home8_color_2;
    }
  }
}

@media (min-width: 1200px), print{
  .cms-cleversoft-homepage-8 .page-wrapper .page-header {
    &.zoo-header-6{
      .header-content {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
@media (min-width: 992px), print{
  .cms-cleversoft-homepage-8{
    .page-wrapper .page-header.zoo-header-6 {
      .sticky-wrapper {
        top: 0px;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        &.is-sticky{
          .clever-menu ul.clever-mega-menu > li.level-top > a, .clever-horizontal-menu .clever-mega-menu li.level0 > a.menu-link {
            color: @color-gray15;
          }
          .zoo-header-content-block:last-child{
            color: @color-gray15;
            a{
              color: @color-gray15;
            }
          }
          .header-content{
            .logo{
              display: block;
            }
            .sticky-logo{
              display: none;
            }
          }
        }
      }
      .header-content{
        &:hover {
          background: @color-white;
          .clever-menu ul.clever-mega-menu > li.level-top > a, .clever-horizontal-menu .clever-mega-menu li.level0 > a.menu-link {
            color: @color-gray15;
          }
          .zoo-header-content-block:last-child{
            color: @color-gray15;
            a{
              color: @color-gray15;
            }
          }
          .logo{
            display: block;
          }
          .sticky-logo{
            display: none;
          }
        }
        .logo{
          display: none;
        }
        .sticky-logo{
          display: block;
        }
      }
      .clever-menu ul.clever-mega-menu > li.level-top > a, .clever-horizontal-menu .clever-mega-menu li.level0 > a.menu-link {
        color: @color-white;
      }
      .zoo-header-content-block:last-child{
        color: @color-white;
        a{
          color: @color-white;
        }
      }
    }
  }
}