/**
//
//  To add custom CSS styles, create custom child-theme
//
*/
@home6_color_1: #b40303;
body .page-wrapper .page-header .is-sticky #zoo-sticky-header {
  z-index: 2;
}
body .page-wrapper .parallax-home06 .block_parallax .pallarax_content {
  width: 50%;
  float: right;
}
body .page-wrapper .home06.zoo-product-collection01 .tabs-collection .widget-tabs > li {
  a {
    border: none;
    background: transparent;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: @color-gray40!important;
    &:hover {
      color: @home6_color_1!important;
    }
  }
  &.active{
    a {
      color: @home6_color_1!important;
    }
  }
}
body .page-wrapper .footer-top-home06 {
  background-position: 100%;
}
body.cms-cleversoft-homepage-6 {

  .newsletters-style-2 {
    border-color: @color-gray15;
    #newsletter-validate-detail {
      input.form-control{
        background: transparent;
        text-align: center;
        border-color: @color-gray15;
      }
    }
    h3 {
      line-height: 28px;
      margin-bottom: 25px;
      font-size: 18px;
      color: @color-gray60;
    }
  }
  .zoo-footer-bottom-content h4.zoo-widget-title-sm{
    color: @color-white;
  }
  .image-banner{
    border-top: 1px solid #ccc;
    padding-top: 35px;
  }
  .page-wrapper {

    .block_parallax .pallarax_content {
      .large-title {
        text-align: right;
        padding-top: 100px;
        font-weight: 600;
      }
      .small-title {
        font-size: 18px;
        text-align: right;
        margin-bottom: 160px;
        color: @color-gray40;
        font-weight: 300;
      }
    }
    .footer-top-home06 h2 {
      color: @color-white;
      font-size: 36px;
      width: 75%;
      float: left;
      padding: 4% 0 5% 0;
    }
    .page-footer {
      .footer.container {
        position: relative;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          border-bottom: 1px solid @color-gray15;
          left: 0;
          right: 0;
          width: ~"-webkit-calc(100% - 30px)";
          width: ~"-moz-calc(100% - 30px)";
          width: ~"calc(100% - 30px)";
          margin: 0 auto;
        }
      }
    }
    .footer-top-home06 {
      a {
        background: @home6_color_1;
        margin-top: 5%;
        font-weight: 400;
        float: right;
        border-radius: 50px;
        color: @color-white;
      }
      h3 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 40px;
      }
    }
    .carousel-home-6 {
      padding: 65px 0 65px 0;
      .owl-item {
        text-align: center;
        height: 110px;
        position: relative;
        .block-content {
          display: inline-block;
          height: 100%;
          img {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            transform: translate3d(0, -50%, 0);
            margin: 0 auto;
            width: auto;
          }
        }
      }
    }
    .page-footer .zoo-footer-bottom-content.style-2 .newsletters-style-2 .newsletter-cs #newsletter-validate-detail .is-focused .control-label {
      top: -8px;
    }
    .page-footer .zoo-footer-bottom-content.style-2 .newsletters-style-2 .newsletter-cs #newsletter-validate-detail .newsletter input {
      text-align: center;
    }
    .page-footer .zoo-footer-bottom-content.style-2 .newsletters-style-2 .clever-icon-email-envelope:before {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 50px;
      top: 5px;
      font-family: cleversoft!important;
      font-size: 24px;
      color: @color-white;
      left: 50%;
      margin-left: -25px;
      background: @home6_color_1;
    }
    #page-title-wrapper-sticky-wrapper.sticky-wrapper.is-sticky .page-title-wrapper {
      z-index: 8;
    }
    .product-add-form .product-options-bottom .box-tocart {
      z-index: 8;
    }
  }
  .home06-static-banner-block .figure.effect-sadie p {
    bottom: 20%;
  }
  .home06-static-banner-block .figure.effect-sadie h2 {
    bottom: 26%;
  }
}
/* Responsive Home 6 */
@media (min-width: 1200px) {
  body.cms-cleversoft-homepage-6 {
    .page-wrapper .block_parallax .pallarax_content {
      padding-right: 50px;
      text-align: right;
      .large-title {
        line-height: 95px;
        font-size: 60px;
      }
    }
  }
}
@media (max-width: 1199px) {
  body.cms-cleversoft-homepage-6 {
    .page-wrapper .block_parallax .pallarax_content {
      width: 100%;
      float: none;
    }
    .page-wrapper .block_parallax .pallarax_content .large-title {
      text-align: center;
      padding: 0;
    }
    .page-wrapper .block_parallax .pallarax_content .small-title {
      text-align: center;
      padding-right: 0;
      margin-bottom: 50px;
      letter-spacing: 1.2px;
    }
    .page-wrapper .main_top {
      padding-top: 20px;
    }
    .page-wrapper .footer-top-home06 h2 {
      width: 100%;
    }
    .page-wrapper .footer-top-home06 a {
      float: none;
    }
    .page-wrapper .page-footer .zoo-footer-bottom-content.home08 .form#newsletter-validate-detail .form-group {
      width: 100%;
    }
    .page-wrapper .page-footer .zoo-footer-bottom-content.home08 .form#newsletter-validate-detail .actions {
      width: 100%;
      float: none;
      margin-left: 0;
    }
    .page-wrapper .page-footer .zoo-footer-bottom-content.home08 .form#newsletter-validate-detail .actions .btn-novetty {
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  body.cms-cleversoft-homepage-6 {
    .page-wrapper .home06.zoo-product-collection01 .tabs-collection .widget-tabs.nav.nav-tabs > li a {
      font-size: 30px;
    }
    .page-wrapper .home06.zoo-product-collection01 .widget-tab-content.tab-content .tab-pane.active .zoo-product-collection01 .products-grid.grid {
      margin: 0 auto;
    }
    .page-wrapper .footer-top-home06 {
      padding: 15px 0;
      h2 {
        font-size: 22px;
        width: 70%;
        padding: 0;
      }
    }
  }
}
@media (max-width: 640px) {
  body.cms-cleversoft-homepage-6 {
    .page-wrapper .main_content_pallarax .block_parallax .pallarax_content .large-title {
      font-size: 30px;
    }
    .page-wrapper .main_content_pallarax .block_parallax .pallarax_content .small-title {
      font-size: 15px;
    }
    .page-wrapper .footer-top-home06 h2 {
      font-size: 30px;
    }
    .page-wrapper .home06.zoo-product-collection01 .tabs-collection .widget-tabs.nav.nav-tabs > li a {
      font-size: 24px;
    }
  }
}
@media (max-width: 480px) {
  body.cms-cleversoft-homepage-6 {
    .page-wrapper .equal-height.home06-static-banner-block .grid .figure.effect-sadie h2 {
      font-size: 16px;
    }
    .page-wrapper .equal-height.home06-static-banner-block .grid .figure.effect-sadie p {
      font-size: 12px;
    }
    .page-wrapper .home06.zoo-product-collection01 .tabs-collection .widget-tabs.nav.nav-tabs > li {
      margin: 0 10px 30px 10px;
    }
    .page-wrapper .home06.zoo-product-collection01 .tabs-collection .widget-tabs.nav.nav-tabs > li a {
      font-size: 16px;
    }
    .page-wrapper .home06.zoo-product-collection01 .zoo-block-products-list.grid {
      margin: 0;
    }
    .page-wrapper .from-blog-home06 .products-grid .product-items.widget-product-grid li {
      width: 100%;
    }
    .page-wrapper .carousel-home-6 {
      padding: 0;
    }
    .page-wrapper .zoo-footer-bottom-content .accordion-footer {
      margin-bottom: 20px;
    }
  }
}
body.cms-cleversoft-homepage-6 {
  .minicart-wrapper .action#top-cart-btn-checkout {
    background: @home6_color_1;
  }
  .minicart-wrapper .action#top-cart-btn-checkout:hover {
    background: @color-gray20;
    color: @color-white;
  }
  .minicart-wrapper .action.showcart .counter.qty .counter-number {
    background: @home6_color_1;
    color: @color-white;
  }
  .minicart-wrapper .actions > a:hover {
    background: @home6_color_1;
  }
  .minicart-wrapper .minicart-detail .block-title .text {
    color: @color-white;
  }
  .minicart-wrapper .minicart-detail .block-title .close-minicart {
    color: @color-white;
  }
  .minicart-wrapper .mage-dropdown-dialog {
    border: none;
    padding: 0;
  }
  .minicart-wrapper .mage-dropdown-dialog .block-minicart #minicart-content-wrapper {
    height: 100%;
  }
  .minicart-wrapper .mage-dropdown-dialog .block-minicart #minicart-content-wrapper .block-content {
    height: 100%;
    display: initial;
  }
  .minicart-wrapper .mage-dropdown-dialog .block-minicart #minicart-content-wrapper .block-content .minicart-items-wrapper {
    height: -webkit-calc(100% - 280px);
    height: -moz-calc(100% - 280px);
    height: calc(100% - 280px);
    overflow-y: scroll;
  }
  .minicart-wrapper .mage-dropdown-dialog .block-minicart #minicart-content-wrapper .block-content .minicart-items-wrapper::-webkit-scrollbar {
    display: none;
  }

  .blog_home06 {
    .title {
      font-family: @font-family__secondary;
      font-size: 40px;
      position: relative;
      margin-bottom: 30px;
      display: inline-block;
      padding-bottom: 20px;
      margin-top: 0;
      &:after {
        position: absolute;
        content: '';
        border-bottom: 1px solid @color-gray92;
        width: 100px;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}