/**
//
//  To add custom CSS styles, create custom child-theme
//
*/
@home7_color_1: #fafafa;
@home7_color_2: #59b210;
@home7_color_3: #222;
@home7_color_4: #cfcfcf;
@home7_color_5: #ff4081;
.no-padding {
  padding: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.padding-50 {
  padding: 0 50px;
}
body.cms-cleversoft-homepage-7, .type-center-vertical-thumb {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @font-family__alternate-4;
  }
  .grid .figure.effect-bubba {
    margin-bottom: 6px;
  }
  .zoo-slideshow-text-content {
    h1{
      font-size: 60px;
      text-transform: none;
      letter-spacing: 0px;
    }
    h3{
      font-style: italic;
      font-family: @font-family__secondary;
    }
  }
  .zoo-footer-bottom-content h4.widget-title-sm {
    font-size: 30px;
  }
  > .clever-mega-menu{
    text-align: center;
  }
  .blog_home07 .title {
    letter-spacing: 1px;
    font-size: 36px;
    margin-bottom: 40px;
    border-bottom: 2px solid @primary__color__darker;
    display: inline-block;
    padding-bottom: 5px;
    color: @primary__color__darker;
  }.home07-block-help-shopping {
     background: @home7_color_2;
     padding: 35px;
   }
  .home07-block-help-shopping * {
    color: @color-white;
  }
  .home07-block-help-shopping h2 {
    font-size: 40px;
    font-weight: 300;
  }
  .owl-carousel .owl-item img {
    width: auto;
  }
  .owl-carousel .owl-dots .owl-dot{
    background: transparent;
    border: 2px solid @color-white;
    &.active, &:hover{
      background: @color-white!important;
    }
  }
  .clever-slider .flex-control-nav {
    bottom: 60px;
  }
  .main-slide-07 .owl-carousel .owl-item img {
    width: 100%;
  }
  .main-slide-07 .zoo-caption-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
    width: 100%;
  }
  .main-slide-07 .zoo-caption-slide h2 {
    font-size: 100px;
    color: @color-white;
    text-transform: inherit;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
    margin: 15px 0;
    letter-spacing: -5px;
  }
  .main-slide-07 .zoo-caption-slide h5 {
    color: @color-white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Poppins;
    font-weight: normal;
    font-weight: 300;
    letter-spacing: 0.2px;
  }
  .main-slide-07 .zoo-caption-slide .btn-groups {
    margin-top: 80px;
    display: inline-block;
  }
  .main-slide-07 .zoo-caption-slide .zoo-button-slide.button {
    border-radius: 50px;
    padding: 13px 0;
    text-transform: uppercase;
    border: 2px solid @color-white!important;
    background: transparent;
    min-width: 180px;
    font-size: 16px;
    &:hover {
      background-color: @color-white;
      color: @home7_color_3!important;
    }
  }
  .main-slide-07 #zoo-sticky-header .mt-navigation {
    width: 100% !important;
    padding: 0 50px;
  }
  .main-slide-07 .owl-carousel .owl-dots {
    bottom: 60px;
  }
  .slide-home03 .zoo-slideshow-text-content h1, .slide-home04 .zoo-slideshow-text-content h1{
    font-weight: 300;
  }
  .page-wrapper .search-mini-block .block-search .form.minisearch .control .search-dropdown .search-option-list li {
    color: @color-gray20;
  }
  .page-wrapper .search-mini-block .block-search .form.minisearch .control .search-dropdown .search-select {
    color: @color-gray20;
  }
  .page-wrapper .search-mini-block .block-search .form.minisearch .control .search-dropdown .search-select i {
    float: right;
    padding: 16px 25px;
    vertical-align: middle;
    display: block;
  }
  .page-wrapper .search-mini-block .block-search .form.minisearch .control label.control-label {
    line-height: 70px !important;
    color: @color-gray20;
  }
  .page-wrapper .search-mini-block .block-search .form.minisearch .control .form-group {
    width: ~"-webkit-calc(100% - 178px)";
    width: ~"-moz-calc(100% - 178px)";
    width: ~"calc(100% - 178px)";
    padding-right: 30px;
  }
  .page-wrapper .search-mini-block .block-search .form.minisearch .control .form-group.is-focused label.control-label {
    top: -15px;
  }
  .home-block-category {
    background: @color-gray-light01;
    font-size: 30px;
  }
  .home-block-category .category-item-left {
    padding-right: 2px;
  }
  .home-block-category .category-item-right {
    padding-left: 3px;
  }
  .home-block-category .item-category {
    position: relative;
  }
  .home-block-category .item-category:first-child {
    margin-bottom: 5px;
  }
  .home-block-category .item-category .image img {
    max-width: 100%;
    width: 100%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .home-block-category .item-category .item-category-text {
    position: absolute;
    z-index: 6;
    padding: 0 15px;
    top: 50%;
    width: 100%;
    color: @color-white;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    transition: all 400ms ease-in-out 0s;
  }
  .home-block-category .item-category .item-category-text .category--sub-title {
    font-size: 18px;
  }
  .home-block-category .item-category .item-category-text h2 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    color: @color-gray20;
    text-transform: uppercase;
  }
  .home-block-category .item-category .item-category-text h2 a {
    color: @color-white;
  }
  .home-block-category .item-category:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    transition: all 400ms ease-in-out 0s;
  }
  .home-block-category .item-category:hover .item-category-text {
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .home-block-category .item-category:hover:before {
    opacity: 1;
  }
  .newsletters-style-2 .clever-icon-mail-1:before {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    top: 5px;
    font-family: 'cleversoft' !important;
    font-size: 24px;
    color: @color-white;
    left: 45%;
    content: "\c117";
  }
  .page-wrapper .search-mini-block .block-search .form.minisearch .control .form-group.is-focused .form-control {
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
  }
  .testimonial07 {
    background: url('../images/testimonial-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 155px 0;
    height: 550px;
    position: relative;
  }
  .testimonial07:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @color-black;
    opacity: 0.6;
  }
  .testimonial07 {
    .testimonial_item {
      text-align: center;
      h2{
        font-size: 36px;
        color: @color-white;
        margin-bottom: 50px;
        font-weight: 500;
      }
      .des-testimonial p {
        color: @color-white;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: 300;
      }
      .author {
        font-size: 18px;
        color: @color-white;
        padding: 15px;
        letter-spacing: 1.5px;
      }
    }
    .owl-carousel .owl-dots{
      bottom: -80px;
    }
  }
  .home07-block-help-shopping {
    text-align: center;
    padding: 53px 0;
  }
  .parallax.home07 .content-parallax {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .parallax.home07 .content-parallax h2 {
    font-size: 72px;
    color: @color-white;
    font-weight: 300;
  }
  .parallax.home07 .content-parallax {
    p {
      font-size: 24px;
      font-weight: 300;
      color: @color-white;
      font-family: @font-family__secondary;
      font-style: italic;
      margin-bottom: 30px;
    }
    a{
      color: @color-white;
      text-transform: uppercase;
      border-bottom: 2px solid @color-white;
      margin-top: 20px;
      &:hover{
        color: @home7_color_2;
        border-color: @home7_color_2;
      }
    }
  }
  .product-items .product-item-info .product-item-details .product-item-name {
    font-family: 'Poppins', sans-serif;
  }
  .zoo-widget-style5 {
    margin-bottom: 60px;
  }
  .zoo-widget-style5 {
    .owl-carousel .owl-nav {
      top: -70px;
      .owl-prev, .owl-next{
        width: 30px;
        height: 30px;
        background: @home7_color_4;
        line-height: 35px;
        text-align: center;
        font-size: 14px;
        color: @color-white;
        opacity: 1;
        right: 0;
      }
      .owl-prev{
        right: 40px;
        left: initial;
      }
    }
  }
  .blog_home07{
    background: @home7_color_1;
    padding: 50px 0;
  }
  .parallax-07 {
    margin-bottom: 60px;
  }
  .title-style5 .zoo-main-heading .zoo-heading-wrapper-title h3 {
    font-size: 36px;
    display: inline-block;
    font-weight: normal;
    border-bottom: 2px solid @primary__color__darker;
    color: @primary__color__darker;
  }
  .page-wrapper .page-header .my-wishlist {
    display: none;
  }
  .page-wrapper .page-header .sticky-wrapper #zoo-sticky-header .mt-navigation.container {
    width: 100% !important;
  }
  .page-wrapper .page-header .minicart-wrapper .action #top-cart-btn-checkout:hover {
    background: @home7_color_5 !important;
  }
  .page-wrapper .page-header #mtnav li:last-child a {
    margin-right: 0;
    padding-right: 0;
  }
  .page-wrapper .page-header .my-wishlist {
    color: @color-white;
    right: 70px;
    top: 8px;
  }
  .page-wrapper .page-header .my-wishlist a i {
    top: 10px;
  }
  .page-wrapper .page-header .is-sticky #mtnav .mini-cart-sticky {
    position: absolute;
    right: 0;
  }
  .page-wrapper .page-header .is-sticky .mt-navigation {
    width: 100% !important;
    padding: 0 40px;
  }
  .page-wrapper .page-header .is-sticky .my-wishlist {
    right: 40px;
    top: 18px;
  }
  .block-search .form.minisearch .control .search-dropdown .search-option-list {
    top: 69px;
  }
  .post-holder .post-header {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    &:hover{
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .post-info {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    line-height: 26px;
    border: 2px solid @color-white;
    border-radius: 30px;
    .post-posed-date{
      padding: 0 15px;
      text-transform: capitalize;
      color: @color-white;
    }
  }
  .post-text{
    padding: 10px 30px 20px;
    background: @color-white;
    position: relative;
  }


  .effect-an .had-content h2,
  .effect-an .had-content h5 {
    opacity: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out, opacity 0.3s ease-out;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .effect-an .had-content h2 {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  .effect-an .had-content h5 {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  .effect-an .had-content:hover h2,
  .effect-an .had-content:hover h5 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (min-width: 992px) {
  body.cms-cleversoft-homepage-7 {
    .padding-left-15 {
      padding-left: 15px;
    }
  }
}
@media (max-width: 991px) {
  body.cms-cleversoft-homepage-7 {
    .zoo-inner-product-item-info {
      min-height: auto !important;
    }
    .page-wrapper .search-mini-block .block-search {
      padding-left: 0;
    }
    .main-slide-07 .zoo-caption-slide {
      top: 55%;
    }
    .main-slide-07 .zoo-caption-slide h2 {
      font-size: 45px;
    }
    .main-slide-07 .zoo-caption-slide .btn-groups {
      margin-top: 20px;
    }
  }
}
@media (max-width: 767px) {
  body.cms-cleversoft-homepage-7 {
    .products-grid.grid .product-item-info {
      height: auto !important;
    }
    .slide-transparent {
      margin-top: 0;
    }
    .slide-transparent .owl-carousel {
      z-index: 0;
    }
    .search-mini-block .block-search input {
      left: 0;
    }
    .search-mini-block .block-search .control {
      margin: 0;
    }
    .main-slide-07 .zoo-caption-slide {
      top: 40%;
    }
    .home-block-category .category-item-right,
    .home-block-category .category-item-left {
      padding: 0 5px;
    }
  }
}
@media (max-width: 600px) {
  body.cms-cleversoft-homepage-7 {
    .home07-block-help-shopping h2 {
      font-size: 25px;
    }
    .home-block-category .item-category h2 {
      font-size: 18px;
    }
    .main-slide-07 .zoo-caption-slide h2 {
      font-size: 25px;
      letter-spacing: 1.5px;
    }
    .main-slide-07 .zoo-caption-slide .zoo-button-slide.button {
      padding: 8px 0;
    }
  }
}
@media (max-width: 450px) {
  body.cms-cleversoft-homepage-7 {
    .parallax.home07 .content-parallax h2 {
      font-size: 40px;
    }
    .main-slide-07 .zoo-caption-slide {
      top: 35%;
    }
    .main-slide-07 .zoo-caption-slide h2 {
      font-size: 20px;
    }
    .main-slide-07 .zoo-caption-slide h5 {
      font-size: 14px;
    }
    .main-slide-07 .zoo-caption-slide .zoo-button-slide.button {
      padding: 0;
      min-width: 130px;
    }
  }
}


.cms-cleversoft-homepage-7{
  .btn-novetty{
    border-radius: 0;
  }
}