@home11_color_1: #f0f0f0;
.slide-home11{
  h1.slideshow__title, h3.sub_heading_align   {
    font-family: @font-family__secondary !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
  }
  h3{
    font-style: italic;
  }
}
.cms-cleversoft-homepage-11{
  .page-wrapper .page-footer {
    border-top: none;
  }
}
.block-full {
  padding: 0 30px;
}
.zoo-home11-block{
  &.zoo-widget-style2{
    margin-bottom: 15px;
  }
  .d-flex{
    &:nth-child(3) .block-1 {
      border-bottom: 0;
    }
    &:first-child .block-1 {
      border-top: 0;
    }
  }
  .block-item {
    padding: 0;
  }
  .block-custom-container {
    position: relative;
    overflow: hidden;
  }
  .block-item-right {
    .block-1 {
      border-right: 30px solid @color-white;
      border-bottom: 30px solid @color-white;
      border-top: 30px solid @color-white;
    }
  }
  .block-item-left {
    .block-1 {
      border-left: 30px solid @color-white;
      border-bottom: 30px solid @color-white;
      border-top: 30px solid @color-white;
    }
  }
  .block-item {
    .images {
      background-size: cover;
      background-repeat: no-repeat;
      img {
        width: 100% ;
      }
      &.image-background{
        padding-top: 108%;
      }
    }
  }
  .block-custom-content {
    position: absolute;
    z-index: 9;
    bottom: 10%;
    width: 100%;
    text-align: center;
    h2 {
      font-size: 30px;
      line-height: 36px;
      font-weight: bold;
      letter-spacing: 0;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
    p {
      font-size: 14px;
      color: @color-gray40;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }
}
.zoo-home11-block, .zoo-home11-block1{
  .button-link{
    margin: 20px 0;
    a{
      padding: 0 25px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      opacity: 1;
      letter-spacing: 0.5px;
      border-radius: 40px;
      width: auto;
      border: 0;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
.zoo-home11-block1 {
  .block-custom-container {
    background: @home11_color_1;
    padding: 20px;
  }
  .block-custom-content{
    padding-bottom: 50px;
  }
}
.zoo-footer-layout-home11 {
  padding-top: 100px;
  .newsletters {
    padding: 30px 0 40px;
    button{
      margin: 0;
      background: @color-black;
      border-radius: 0;
      &:hover{
        background: @color-gray20;
      }
    }
  }
}
@media (max-width: 767px) {

  .zoo-home11-block1 {
    &.block-full {
      padding: 0 15px;
      clear: both;
    }
    .col-sm-4:last-child{
      .block-custom-container {
        margin-bottom: 0px;
      }
    }
    .block-custom-container {
      margin-bottom: 15px;
    }
    &.zoo-widget-style2{
      margin-bottom: 0;
    }
  }
  .zoo-home11-block{
    .block-full {
      padding: 0;
    }
    .block-item {
      border: none!important;
    }
    .block-custom-container {
      padding: 15px;
    }
    .block-item-right.d-flex {
      display: block;
    }
    .d-flex{
      flex-wrap: wrap-reverse;
      &:last-child {
        clear: both;
        padding-top: 0;
        overflow: hidden;
      }
    }
    .block-2 .images {
      height: 730px !important;
    }
    .block-custom-content {
      h2 {
        font-size: 24px;
        line-height: 28px;
      }
      .button-link{
        a{
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 552px) {
  .zoo-home11-block .block-2 .images {
    height: 530px !important;
  }
}


.cms-cleversoft-homepage-11 {
  .page-wrapper {
    .copyright {
      border-top: 1px solid @home8_color_2;
    }
    ul.zoo-footer-.payment li a{
      color: @color-gray15;
    }
  }
}