@home10_color_1: #4c7480;


.cms-cleversoft-homepage-10{
  .user_area{
    border-color: #4a4a4a;
  }
}
.parallax-10 {
  .content-parallax {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    h2 {
      font-size: 72px;
      color: @color-white;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      font-size: 24px;
      font-weight: 300;
      color: @color-white;
    }
  }
}

.home-collection-item{
  > a {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .home-collection-title, .button-view{
    top: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    left: 50% !important;
    width: 100%;
    text-align: center;
    position: absolute;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    h3 {
      margin: 0;
      padding: 0;
      a {
        display: block;
        color: @color-white;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0;
        margin-bottom: 10px;
      }
    }
  }
  .button-view {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    a {
      font-size: 14px;
      line-height: 40px;
      background: rgba(255,255,255,0.8);
      height: 40px;
      display: inline-block;
      padding: 0 30px;
      text-transform: uppercase;
      color: @color-gray20;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  &:hover{
    .home-collection-title-wrapper.text-middle {
      .home-collection-title {
        margin-top: -20px;
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
      .button-view {
        opacity: 1;
        visibility: visible;
        margin-top: 30px;
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
    }

  }
  &.home-collection-item-style2{
    .home-collection-title{
      a{
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 2px;
      }
    }
    .button-view {
      a {
        background: @color-gray15;
        color: @color-white;
        border-radius: 50px;
        &:hover{
          background: @color-white;
          color: @color-gray15;
        }
      }
    }
    > a:before {
      content: "";
      background-color: @home10_color_1;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s;
    }
    &:hover{
      > a:before {
        opacity: 0.5;
      }
    }
  }
}
.instagrams{
  position: relative;
  h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: normal;
    img{    margin: -5px -5px 0;}
  }
  a.btn-instagram {
    font-size: 11px;
    letter-spacing: 0.5px;
    background: @color-white;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 0 17px;
    color: @color-gray15;
    z-index: 2;
    &:hover{
      background: @color-gray80 ;
      border-color: @color-gray80 ;
      color: @color-white;
    }
  }
}
.zoo-footer-layout-home10 {
  .col-foot-left {
    padding-top: 80px;
    p{
      margin: 40px 0;
    }
  }
  .col-foot-right {
    border-left: 1px solid @color-gray92;
    padding-top: 80px;
  }
  .newsleter-footer {
    .newsletters {
      padding: 20px 0 40px 60px;
      border-bottom: 1px solid @color-gray92;
      button {
        margin-left: 0;
        border-radius: 0;
      }
    }
  }
  .zoo-widget-title-sm {
    padding: 20px 0;
  }
  .footer-top-col-group {
    padding: 10px 0 10px 45px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .zoo-footer-layout-home10 {
    .col-foot-right {
      border-left: 0;
      padding-top: 0;
    }
    .footer-top-col-group {
      padding-left: 0;
    }
    .newsleter-footer .newsletters {
      padding-left: 0;
    }
  }
}
.cms-cleversoft-homepage-10{
  .btn-novetty{
    border-radius: 0;
  }
}