@home12_color_1: #81d8d0;
@home12_color_2: #222222;
.slide-home12{
  h1.slideshow__title, h3.sub_heading_align   {
    font-family: @font-family__secondary !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
  }
  h3{
    font-style: italic;
  }
}
.text-image-content {
  position: absolute;
  z-index: 9;
  top: 10%;
  width: 100%;
  font-family: Playfair Display;
  h3{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin: 0;
    text-transform: uppercase;
    font-family: Playfair Display;
    font-weight: normal;
  }
  .rte-setting p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 36px;
    font-style: italic;
    text-transform: capitalize;
    color: @home12_color_1;
  }
}
.collection-wrapper{
  h3{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.75px;
  }
  a.view-all{
    font-family: Playfair Display;
    font-style: italic;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .collection-button a {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border: 2px solid #333;
    padding: 0 35px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      background: @home12_color_1;
      border-color: @home12_color_1;
      color: @color-white;
    }
  }
}
.block-home-newsletter {
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid @color-gray92;
  .row > div {
    border-right: 1px solid @color-gray92;
    padding-top: 40px;
    padding-bottom: 40px;
    &:last-child {
      border: 0;
    }
  }
  .service-home h2, h2.title_newsletter{
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: capitalize;
    color: @home12_color_2;
    font-family: Playfair Display;
  }
  .service-home a {
    font-size: 18px;
    line-height: 36px;
    color: @home12_color_1;
    font-style: italic;
    font-family: Playfair Display;
  }
  .newsletters{
    padding: 0;
    button {
      text-transform: uppercase;
      padding: 0 24px;
      margin: 0;
      height: 100%;
      margin-left: 0;
      letter-spacing: 0;
      font-weight: normal;
    }
    .subscribe .newsletter {
      width: ~"-webkit-calc(100% - 122px)";
      width: ~"-moz-calc(100% - 122px)";
      width: ~"calc(100% - 122px)";
    }
  }
}

.zoo-home12-footer{
  .zoo-widget-title-sm{color: @color-white;}
}
.page-wrapper .page-footer .zoo-home12-footer ul.zoo-footer-social-links.style-4 li a {
  color: @color-white;
}

.cms-cleversoft-homepage-12{
  .btn-novetty{
    border-radius: 0;
  }
}