
.home-13{
  .page-wrapper .block-search .action.search{
    background: transparent;
    &:before {
      color: @primary__color__darker;
    }
  }

  .page-footer {
    .footer.container {
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid @color-gray15;
        left: 0;
        right: 0;
        width: ~"-webkit-calc(100% - 30px)";
        width: ~"-moz-calc(100% - 30px)";
        width: ~"calc(100% - 30px)";
        margin: 0 auto;
      }
    }
  }
}
.slide-home13{
  h1.slideshow__title, h3.sub_heading_align   {
    font-family: @font-family__secondary !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
  }
  h3{
    font-style: italic;
  }
}

.page-wrapper .page-footer .zoo-footer-home13 .logo-text a {
  color: @color-white;
}
.zoo-parallax-home13{
  .content-parallax {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    h2 {
      font-size: 72px;
      color: @color-white;
      font-weight: 300;
      font-family: Playfair Display;
    }
    p {
      font-size: 24px;
      font-weight: 300;
      color: @color-white;
      font-family: Playfair Display;
      font-style: italic;
    }
    a{
      padding: 10px 40px;
      margin: 20px 0;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      text-decoration: none;
      color: @color-white;
    }
  }
}
.zoo-footer-home13{
  .newsletters {
    padding: 60px 0 40px;
    h2.title_newsletter{
      font-family: Playfair Display;
      color: @color-white;
      font-size: 40px;
      font-weight: normal;
      margin-top: 0;
    }
  }
  &.zoo-footer-bottom-content h4.zoo-widget-title-sm {
    color: @color-white;
  }
  .newsletter-cs .content {
    background: @color-white;
    height: 50px;
    vertical-align: middle;
  }
  .newsletters {
    .subscribe {
      display: flex;
      border-radius: 0;
      .newsletter {
        margin-right: auto;
      }
      input{
        border: none;
      }
    }
    button {
      border: 3px solid @color-white;
      height: 50px;
    }
  }
}
@media (max-width: 991px) {
  .home-13 #header-sticky-mobile {
    background: @color-white;
  }
}
