@home16_color_1: #161616;
@home16_color_2: #aed42a;
@home16_color_3: #888888;
@home16_color_4: #ece7e3;
@home16_color_5: #3f2e1e;
@home16_color_6: #797979;
@home16_color_7: #fcd04b;
.testimonial16 {
  padding: 150px 0 285px;
  position: relative;
  color: @color-white;
  text-align: center;
  &:before {
    content: "";
    background: url(../images/clients-says-1.png);
    background-position: center top;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 9;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:after {
    content: "";
    background: url(../images/clients-says-2.png);
    background-position: center bottom;
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    z-index: 9;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .zoo-main-heading .zoo-heading-wrapper-title h3 {
    color: @color-white;
  }
  .rte-setting {
    margin-bottom: 20px;
    p {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      padding: 0;
      margin-top: 0;
      line-height: 25px;
      color: @color-white;
      margin-bottom: 28px;
    }
  }
  cite {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: @color-white;
    text-transform: uppercase;
  }
  .owl-carousel .owl-dots {
    bottom: -100px;
    .owl-dot {
      width: 30px;
      border-radius: 15px;
      height: 6px;
      background: @home16_color_6;
      box-shadow: none;
      &.active, &:hover {
        background: @color-white;
      }
    }
  }
}
.cms-cleversoft-homepage-16{
  .featured-products .title {
    font-family: @font-family__alternate-1;
    margin-bottom: 0;
  }
  .zoo-main-heading .zoo-heading-wrapper-title h3 {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0;
    margin-bottom: 128px;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    font-family: @font-family__alternate-1;
    &:after {
      content: "";
      background: @home16_color_2;
      height: 2px;
      width: 100px;
      position: absolute;
      bottom: -22px;
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      z-index: 9;
    }
  }
}
.home-product-deal {
  .product-sale {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 2%;
    z-index: 1;
    color: @color-white;
    background: @home16_color_7;
    height: 45px;
    width: 74px;
    text-align: center;
    line-height: 20px;
    &:before {
      content: "";
      border-left: 37px solid transparent;
      border-right: 37px solid transparent;
      position: absolute;
      bottom: -25px;
      z-index: 1;
      left: 0;
      border-top: 25px solid @home16_color_7;
    }
    span {
      display: block;
      font-size: 16px;
      font-weight: normal;
      text-transform: capitalize;
      padding-top: 8px;
    }
  }
  .product-title h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 40px;
    a{
      color: @home16_color_1;
    }
  }
  .product-shop {
    .prices{
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 22px;
      clear: both;
      .compare-price {
        font-size: 18px;
        font-weight: normal;
        color: @color-gray60;
        padding-right: 25px;
        text-decoration: line-through;
      }
      .price.on-sale {
        color: @home16_color_2;
        font-size: 30px;
        font-weight: 600;
        padding-top: 15px;
      }
    }
  }
  .short-description {
    font-size: 14px;
    color: @home16_color_3;
    line-height: 18px;
  }
  p.home-description {
    margin: 35px 0 30px;
  }
  ul {
    padding: 0;
    margin-bottom: 20px;
    li {
      color: @color-gray80;
      line-height: 22px;
      list-style: none;
      &:before {
        content: "\f111";
        font-family: fontAwesome;
        font-size: 10px;
        padding-right: 15px;
        color: @home16_color_2;
      }
    }
  }
  #product-add-to-carts{
    border-radius: 50px;
  }
}

.slide-home16{
  .zoo-slideshow-text-content {
    h1 {
      font-family: @font-family__alternate-1;
      text-transform: initial;
      font-size: 72px;
    }
    h3{
      margin: 40px 0;
    }
  }
}
.home-orgarnic {
  .page-footer{
    background-image: url(../images/bg-footer.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 258px 0px 0px 0px;
  }
  .zoo-notification-text {
    background-color: @home16_color_4;
    color: @home16_color_5;
  }
}


@media (min-width: 992px), print {

  .home-orgarnic {
    position: relative;
    .header-cart-container:before {
      content: "";
      background: @color-gray92;
      width: 1px;
      height: 100px;
      position: absolute;
      left: 0;
      z-index: 9;
      top: -100%;
    }
  }
}

.cms-cleversoft-homepage-16 {
  .btn-novetty{
    border-radius: 0;
  }
  .page-wrapper {
    ul.zoo-footer-.payment li a{
      color: @color-gray15;
    }
  }
}