/**
//
//  To add custom CSS styles, create custom child-theme
//
*/
@home4_color_1: #f23374;
.cms-cleversoft-homepage-4, .type-sticky-images{
  .page-wrapper {
    .page-footer {
      .footer.container {
        position: relative;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          border-bottom: 1px solid @color-gray15;
          left: 0;
          right: 0;
          width: ~"-webkit-calc(100% - 30px)";
          width: ~"-moz-calc(100% - 30px)";
          width: ~"calc(100% - 30px)";
          margin: 0 auto;
        }
        a{
          color: @color-gray60;
        }
      }
      .zoo-footer-bottom-content.style-2 .newsletters-style-2 {
        h3{
          color: @color-gray60;
        }
        .clever-icon-email-envelope:before {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          line-height: 50px;
          top: 5px;
          font-size: 24px;
          color: @color-white;
          left: 0;
          background: @home4_color_1;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
}
.zoo-footer-bottom-content {
  &.style-2 {
    h4.zoo-widget-title-sm {
      color: @color-white;
    }
  }
}
.footer-top-home04 {
  padding: 90px 0;
  .sub-title {
    font-size: 36px;
    color: @color-white;
    display: inline-block;
    font-weight: 300;
  }
  a.button {
    margin: 0;
    color: @color-white;
  }
}

@media (min-width: 768px), print {
  .slide-home04{
    .zoo-slideshow-text-content {
      h1 {
        font-size: 72px;
        font-weight: normal;
        letter-spacing: 2px;
      }
      h3 {
        margin-bottom: 40px;
        font-weight: normal;
      }
    }
  }
}
@media (max-width: 991px) {
  .footer-top-home04 .sub-title {
    font-size: 28px;
  }
}