/**
//
//  To add custom CSS styles, create custom child-theme
//
*/
@home14_color_1: #8adede;
@home14_color_2: #e6e6e6;
@home14_color_3: #ee1b2e;

.slide-home14 {
  .flexslider .flex-direction-nav a {
    background: transparent;
    &:before, &:after{
      color: @color-white;
    }
    &:hover{
      background: transparent;
      &:before, &:after{
        color: @color-black;
      }
    }
  }
}
.slide-home14{
  h1.slideshow__title, h3.sub_heading_align   {
    font-family: @font-family__secondary !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
  }
  h3{
    font-style: italic;
  }
}
.home-14{
  .user_area{
    border-color: #4a4a4a;
  }
  .page-wrapper {
    .block-search {
      input {
        color: @color-white;
      }
      .form.minisearch {
        .control {
          background: transparent;
          padding-left: 50px;
        }
        .action.search:before {
          color: @color-white;
        }
      }
    }

    .page-footer {
      border-top: 0;
      .footer.container {
        position: relative;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          border-bottom: 1px solid @color-gray15;
          left: 0;
          right: 0;
          width: ~"-webkit-calc(100% - 30px)";
          width: ~"-moz-calc(100% - 30px)";
          width: ~"calc(100% - 30px)";
          margin: 0 auto;
        }
      }
    }
  }
  .block-search .form.minisearch {
    border: 1px solid #E5E5E5;
    background: transparent;
  }

}
.zoo-image-home-14{
  overflow: hidden;
  .zoo-image-block{
    background: @color-white;
    padding: 30px 30px 50px 30px;
    transition: all 400ms;
    .zoo-image-wrapper{
      margin-bottom: 30px;
      h3{
        font-size: 36px;
        text-transform: uppercase;
      }
      p{
        font-size: 18px;
      }
    }
    &:hover{
      box-shadow: -1px 0 12px 1px #999;
      z-index: 1;
    }
    &:nth-child(2n+1){
      background: @home14_color_2;
    }
  }
}

.zoo-footer-home14{
  padding-bottom: 0;
  .newsletters {
    padding: 60px 0 40px;
    h2.title_newsletter{
      font-family: @font-family__secondary;
      color: @color-white;
      font-size: 40px;
      font-weight: normal;
      margin-top: 0;
    }
  }
  .newsletters {
    .subscribe input{
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    button {
      margin-left: 0;
      border-radius: 0;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}
.page-wrapper .page-footer .zoo-footer-home14 ul.zoo-footer-social-links.style-4 li a{
  color: @color-white;
}
@media (min-width: 992px){
  .home-14 .page-wrapper .block-search .action.search {
    background: transparent;
    left: 0;
    right: inherit;
  }
}
@media (max-width: 767px) {
  .home-14 .page-wrapper .page-header.zoo-header-5 .header-content .block-search {
    background: transparent;
  }
}
.products-grid-style-2{
  text-align: center;
  .price-box .price {
    color: @color-white;
  }
  .product-items .product-item-info {
    .zoo-product-image .zoo-quickview {
      position: absolute;
      background: @home14_color_1;
      width: 100%;
      bottom: 0;
      color: @color-white;
      opacity: 0.9;
      span.cs-font{display: none;}
    }
    .product-item-details {
      padding: 15px;
    }
    &:hover{
      .price-box .price {
        color: @color-gray20;
      }
      .product_shop_loop .actions-primary{
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        .action.tocart {
          color: @color-white;
          text-align: center;
          height: 40px;
          line-height: 40px;
          background: @home14_color_3;
        }
      }
    }
  }
}
.text-white .block-content{
  color: @color-white!important;
  .price-box .price {
    color: @color-white;
  }
}