<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php
    $theme = $block->getHelperTheme();
    $helperProductView = $block->getHelperProductView();

    //Get grid classes for product page sections
    $grid = $helperProductView->getGridClasses();

    //Get positions of blocks
    $position = $helperProductView->getPositions();

    $_product =$block->getProduct();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $productFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
    $product=$_product;
    $productPublication = $product->getData('publication_number');
    $otherProductEditions = $productFactory->create()
                                ->addAttributeToFilter('type_id', \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE)
                                ->addAttributeToFilter('status', \Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED)
                                ->addAttributeToFilter('publication_number', $productPublication);
    
    $showEdition=false;
    //Brand info
    $brandHtml = $block->getChildHtml('brand-info');
    if (!empty($brandHtml)) {
        if (isset($p[$position['brand']])) {
            $p[$position['brand']] = $p[$position['brand']] . $brandHtml;
        } else {
            $p[$position['brand']] = $brandHtml;
        }
    }

    //Product collateral data
    $collateralHtml = $block->getChildHtml('product.info.details');
    if (!empty($collateralHtml)) {
        if (isset($p[$position['collateral']])) {
            $p[$position['collateral']] = $p[$position['collateral']] . $collateralHtml;
        } else {
            $p[$position['collateral']] = $collateralHtml;
        }
    }

    //Up-sell products
    $upsellProductsHtml = $block->getChildHtml('product.info.upsell');
    if (!empty($upsellProductsHtml)) {
        if (isset($p[$position['upsell']])) {
            $p[$position['upsell']] = $p[$position['upsell']] . $upsellProductsHtml;
        } else {
            $p[$position['upsell']] = $upsellProductsHtml;
        }
    }

    //Up-sell, related products tab
    $upsellrelatedProductsHtml = $block->getChildHtml('product.info.related');
    if (!empty($upsellrelatedProductsHtml)) {
        if (isset($p[$position['upsell_related']])) {
            $p[$position['upsell_related']] = $p[$position['upsell_related']] . $upsellrelatedProductsHtml;
        } else {
            $p[$position['upsell_related']] = $upsellrelatedProductsHtml;
        }
    }
?>
<?php 
/* @Edited By: Mohammad hamadneh.
 * @date: 16-11-2017.
 * @desc: add preorder messages and coming soon for out of stock products.  
 */?>
<?php $currentProduct=$product;?>
<div class="product-view product-columns-wrapper">
    <?php if (!$_product->isAvailable()): ?>
    <h5 style="padding: 7px 7px; font-weight: bold; background-color: #227fbb;color: white;"><?php echo __("Outofstock Message for %1",$_product->getData('edition'));?></h5>
    <?php else: ?>
<?php foreach ($otherProductEditions as $otherProduct) : ?>
            <?php if ($otherProduct->getId() != $currentProduct->getId() && !$otherProduct->isSaleable()): ?>
            <?php $otherProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($otherProduct->getId()); ?>
                    <h5 style="padding: 7px 7px; font-weight: bold; background-color: #227fbb;color: white;">
                        Now Available for Preorder.
                            <span>
                                <a href='<?php echo $otherProduct->getProductUrl(); ?>' target="_blank" class="click-to-view" style="text-decoration:underline;color:white !important;">Click here</a>
                                to order the NEW
                                <?php if($otherProduct->getData('edition')!=''):?> <span><?php echo $otherProduct->getData('edition');?></span> <?php endif;?>
                                <?php echo $otherProduct->getName(); ?>
                            </span>
                    </h5>
                </a>
                <?php endif;?>
    <?php endforeach;?>
<?php endif; ?>
    
    <div class="product-img-column <?php echo $grid['imgCol']; ?> no-left-gutter product media">

        <?php echo $block->getChildHtml('product.info.media'); ?>
        <?php if (isset($p['imgCol_1'])) echo $p['imgCol_1']; ?>

        <?php //Container at the bottom ?>
        <?php echo $block->getChildHtml('container_product_image_1'); ?>

        <div class="non-collapsing-column-placeholder"></div>
    </div>
    <?php //TODO: remove old classes such as "product-shop" (if possible. check it first, test old styles) ?>
    <div class="product-primary-column product-shop <?php echo $grid['primCol']; ?> product-info-main">

        <?php echo $block->getChildHtml('page.main.title'); ?>
        <?php echo $block->getChildHtml('product.info.review'); ?>

        <?php //Container at the top ?>
        <?php echo $block->getChildHtml('container_product_primary_1'); ?>


        <?php echo $block->getChildHtml('product.meta'); ?>

        <?php if (isset($p['primCol_1'])) echo $p['primCol_1']; ?>
        <?php echo $block->getChildHtml('product.info.main'); ?>
        <?php if (isset($p['primCol_2'])) echo $p['primCol_2']; ?>

        <?php echo $block->getChildHtml('moved.downloadable.product-info'); ?>

        <?php //Container at the bottom ?>
        <?php echo $block->getChildHtml('container_product_primary_2'); ?>

    </div>
    <?php echo $block->getChildHtml('bundle.options.container'); ?>
    <?php if (isset($grid['secCol'])): ?>

        <div class="product-secondary-column custom-sidebar-right <?php echo $grid['secCol']; ?> no-right-gutter">
            <div class="inner">

                <?php //Container at the top ?>
                <?php echo $block->getChildHtml('container_product_secondary_1'); ?>

                <?php if (isset($p['secCol_1'])) echo $p['secCol_1']; ?>
                <?php echo $block->getChildHtml('block_product_secondary_bottom'); ?>
                <?php if (isset($p['secCol_2'])) echo $p['secCol_2']; ?>

                <?php echo $block->getChildHtml('catalog.product.related'); ?>
                <?php echo $block->getChildHtml('container_product_secondary_2'); ?>

                <?php //if (isset($p['secCol_3'])) echo $p['secCol_3']; ?>

                <?php //TODO: ?>
                <?php if ($tmpHtml = $block->getChildHtml('product_secondary_top_placeholder')): ?>
                    <div class="feature-wrapper bottom-border"><?php echo $tmpHtml; ?></div>
                <?php endif; ?>

            </div>
        </div>

    <?php endif; ?>

    <div class="product-lower-primary-column <?php echo $grid['lowerPrimCol']; ?>">

        <?php echo $block->getChildHtml('product.social'); ?>

        <?php //Container at the top. Important: required AFTER the bundle and downloadable blocks. ?>

        <?php echo $block->getChildHtml('container_product_lower_primary_1'); ?>

        <?php if (isset($p['lowerPrimCol_1'])) echo $p['lowerPrimCol_1']; ?>
        <?php echo $block->getChildHtml('catalog.product.related'); ?>
        <?php echo $block->getChildHtml('container_product_lower_primary_2'); ?>

    </div>








    <?php if (isset($grid['lowerSecCol'])
    ): ?>

        <div class="product-lower-secondary-column custom-sidebar-right <?php echo $grid['lowerSecCol']; ?>">
            <div class="inner">

                <?php //Container at the top ?>
                <?php echo $block->getChildHtml('container_product_lower_secondary_1'); ?>

                <?php if (isset($p['lowerSecCol_1'])) echo $p['lowerSecCol_1']; ?>

                <?php //echo $block->getChildHtml('catalog.product.related'); ?>
                <?php echo $block->getChildHtml('container_product_lower_secondary_2'); ?>

            </div>
        </div>

    <?php endif; ?>

</div>