<?php
/** @var \ParadoxLabs\TokenBase\Block\Adminhtml\Customer\Form $block */
// @codingStandardsIgnoreFile
?>
<?php $code = $block->escapeQuote($block->getCode()); ?>

<div class="block-title">
    <h2>
        <?php if ($block->isEdit()): ?>
            <?php echo $block->escapeHtml(__('Editing %1', $block->getCard()->getLabel())); ?>
        <?php else: ?>
            <?php echo $block->escapeHtml(__('Add A Credit Card')); ?>
        <?php endif; ?>
    </h2>
</div>

<form action="<?php echo $block->escapeUrl($block->getAction()); ?>" method="post" id="<?php echo $code; ?>-form-validate" data-hasrequired="<?php echo $block->escapeQuote(__('* Required Fields')) ?>" data-mage-init='{
    "validation": {}
    <?php if ($block->getMethod()->isAcceptJsEnabled() === true): ?>,
    "authnetcimAcceptjs": {
        "apiLoginId": "<?php echo $block->escapeJsQuote($block->getMethod()->getConfigData('login')); ?>",
        "clientKey": "<?php echo $block->escapeJsQuote($block->getMethod()->getConfigData('client_key')); ?>",
        "method": "<?php echo $code; ?>",
        "submitSelector": "#<?php echo $code; ?>-form-validate button",
        "processingSelector": "div.admin__field",
        "sandbox": <?php echo $block->getMethod()->getConfigData('test') ? 'true' : 'false'; ?>
    }
    <?php endif; ?>
}'>
    <?php echo $block->getBlockHtml('formkey'); ?>
    <input type="hidden" name="card_id" value="<?php echo $block->getCard()->getId() ? $block->escapeQuote($block->getCard()->getHash()) : ''; ?>" />
    <input type="hidden" name="method" value="<?php echo $code; ?>" />
    <?php if ($block->getMethod()->isAcceptJsEnabled() === true): ?>
        <input type="hidden" name="payment[acceptjs_key]" id="<?php echo $code ?>-acceptjs-key" value="" />
        <input type="hidden" name="payment[acceptjs_value]" id="<?php echo $code ?>-acceptjs-value" value="" />
        <input type="hidden" name="payment[cc_last4]" id="<?php echo $code ?>-cc-last4" value="" />
        <?php if ($block->getMethod()->getConfigData('can_store_bin') == 1): ?>
            <input type="hidden" name="payment[cc_bin]" id="<?php echo $code ?>-cc-bin" value="" />
        <?php endif; ?>
    <?php endif; ?>
    <fieldset class="admin__fieldset">
        <div class="admin__fieldset-wrapper-title">
            <strong class="title">
                <span><?php echo $block->escapeHtml(__('Cardholder Information')) ?></span>
            </strong>
        </div>
        <div class="admin__field field-name-firstname _required">
            <label class="admin__field-label" for="<?php echo $code; ?>-firstname"><span><?php echo $block->escapeHtml(__('First Name')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" name="billing[firstname]" id="<?php echo $code; ?>-firstname" title="<?php echo $block->escapeQuote(__('First Name')) ?>" value="<?php echo $block->escapeQuote($block->getAddress()->getFirstname()) ?>" class="admin__control-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('firstname')) ?>" data-validate='{required:true}'>
            </div>
        </div>
        <div class="admin__field field-name-lastname _required">
            <label class="admin__field-label" for="<?php echo $code; ?>-lastname"><span><?php echo $block->escapeHtml(__('Last Name')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" name="billing[lastname]" id="<?php echo $code; ?>-lastname" title="<?php echo $block->escapeQuote(__('Last Name')) ?>" value="<?php echo $block->escapeQuote($block->getAddress()->getLastname()) ?>" class="admin__control-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('lastname')) ?>" data-validate='{required:true}'>
            </div>
        </div>
        <div class="admin__field company">
            <label class="admin__field-label" for="<?php echo $code; ?>-company"><span><?php echo $block->escapeHtml(__('Company')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" name="billing[company]" id="<?php echo $code; ?>-company" title="<?php echo $block->escapeQuote(__('Company')) ?>" value="<?php echo $block->escapeQuote($block->getAddress()->getCompany()) ?>" class="admin__control-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company')) ?>">
            </div>
        </div>
        <div class="admin__field telephone _required">
            <label class="admin__field-label" for="<?php echo $code; ?>-telephone"><span><?php echo $block->escapeHtml(__('Phone Number')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" name="billing[telephone]" value="<?php echo $block->escapeQuote($block->getAddress()->getTelephone()) ?>" title="<?php echo $block->escapeQuote(__('Phone Number')) ?>" class="admin__control-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone')) ?>" id="<?php echo $code; ?>-telephone" data-validate='{required:true}'>
            </div>
        </div>
    </fieldset>
    <fieldset class="admin__fieldset">
        <div class="admin__fieldset-wrapper-title">
            <strong class="title">
                <span><?php echo $block->escapeHtml(__('Cardholder Address')) ?></span>
            </strong>
        </div>
        <?php $_streetValidationClass = $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street')); ?>
        <div class="admin__field street _required">
            <label for="<?php echo $code; ?>-street" class="admin__field-label"><span><?php echo $block->escapeHtml(__('Street')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" name="billing[street][]" value="<?php echo $block->escapeQuote($block->getStreetLine(1)) ?>" title="<?php echo $block->escapeQuote(__('Street Address')) ?>" id="<?php echo $code; ?>-street" class="admin__control-text <?php echo $_streetValidationClass ?>" data-validate='{required:true}' />
                <div class="nested">
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                        <?php $lineNo = (int)($_i + 1); ?>
                        <div class="admin__field additional">
                            <label class="admin__field-label" for="<?php echo $code; ?>-street_<?php echo $lineNo; ?>">
                                <span><?php echo $block->escapeHtml(__('Street Address %1', $lineNo)); ?></span>
                            </label>
                            <div class="admin__field-control">
                                <input type="text" name="billing[street][]" value="<?php echo $block->escapeQuote($block->getStreetLine($lineNo)) ?>" title="<?php echo $block->escapeQuote(__('Street Address %1', $lineNo)) ?>" id="<?php echo $code; ?>-street_<?php echo $lineNo ?>" class="admin__control-text <?php echo $_streetValidationClass ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>
        <div class="admin__field city _required">
            <label class="admin__field-label" for="<?php echo $code; ?>-city"><span><?php echo $block->escapeHtml(__('City')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" name="billing[city]" value="<?php echo $block->escapeQuote($block->getAddress()->getCity()) ?>" title="<?php echo $block->escapeQuote(__('City')) ?>" class="admin__control-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>" id="<?php echo $code; ?>-city" data-validate='{required:true}'>
            </div>
        </div>
        <div class="admin__field region _required">
            <label class="admin__field-label" for="<?php echo $code; ?>-region-id"><span><?php echo $block->escapeHtml(__('State/Province')) ?></span></label>
            <div class="admin__field-control">
                <select id="<?php echo $code; ?>-region-id" name="billing[region_id]" title="<?php echo $block->escapeQuote(__('State/Province')) ?>" class="admin__control-select validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                    <option value=""><?php echo $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>
                <input type="text" id="<?php echo $code; ?>-region" name="billing[region]" value="<?php echo $block->escapeQuote($block->getRegion()) ?>"  title="<?php echo $block->escapeQuote(__('State/Province')) ?>" class="admin__control-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
            </div>
        </div>
        <div class="admin__field zip _required">
            <label class="admin__field-label" for="<?php echo $code; ?>-zip"><span><?php echo $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" name="billing[postcode]" value="<?php echo $block->escapeQuote($block->getAddress()->getPostcode()) ?>" title="<?php echo $block->escapeQuote(__('Zip/Postal Code')) ?>" id="<?php echo $code; ?>-zip" class="admin__control-text validate-zip-international <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
            </div>
        </div>
        <div class="admin__field country _required">
            <label class="admin__field-label" for="<?php echo $code; ?>-country"><span><?php echo $block->escapeHtml(__('Country')) ?></span></label>
            <div class="admin__field-control">
                <?php echo str_replace('class="', 'class="admin__control-select ', $block->getCountryHtmlSelect($block->getAddress()->getCountryId(), 'billing[country_id]', $code . '-country')) ?>
            </div>
        </div>
    </fieldset>
    <fieldset class="admin__fieldset payment items ccard <?php echo $code ?>">
        <div class="admin__fieldset-wrapper-title">
            <strong class="title">
                <span><?php echo $block->escapeHtml(__('Credit Card Information')) ?></span>
            </strong>
        </div>
        <div class="admin__field type _required">
            <label for="<?php echo $code ?>-cc-type" class="admin__field-label"><span><?php echo $block->escapeHtml(__('CC Type')) ?></span></label>
            <div class="admin__field-control">
                <select id="<?php echo $code ?>-cc-type"
                        name="payment[cc_type]" data-validate='{required:true, "validate-cc-type-select":"#<?php echo $code ?>-cc-number"}' class="admin__control-select">
                    <option value=""><?php echo $block->escapeHtml(__('--Please Select--')) ?></option>
                    <?php $_ccType = $block->getCard()->getAdditional('cc_type') ?>
                    <?php foreach ($block->getCcBlock()->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                        <option value="<?php echo $block->escapeQuote($_typeCode) ?>"<?php if ($_typeCode == $_ccType): ?> selected="selected"<?php endif ?>><?php echo $block->escapeHtml($_typeName) ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
        <div class="admin__field number _required">
            <label for="<?php echo $code ?>-cc-number" class="admin__field-label"><span><?php echo $block->escapeHtml(__('CC Number')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" pattern="[0-9]*" id="<?php echo $code ?>-cc-number" name="payment[cc_number]" title="<?php echo $block->escapeQuote(__('Credit Card Number')) ?>" class="admin__control-text" value="<?php echo $block->escapeQuote($block->getCard()->getLabel(false)); ?>" data-validate='{"required-number":true, "validate-cc-number":"#<?php echo $code ?>-cc-type", "validate-cc-type":"#<?php echo $code ?>-cc-type"}' autocomplete="cc-number" />
            </div>
        </div>
        <div class="admin__field date _required" id="<?php echo $code ?>-cc-type_exp_div">
            <label for="<?php echo $code ?>-cc-exp-month" class="admin__field-label"><span><?php echo $block->escapeHtml(__('Expiration')) ?></span></label>
            <div class="admin__field-control">
                <select id="<?php echo $code ?>-cc-exp-month" name="payment[cc_exp_month]" class="admin__control-select month" data-validate='{required:true, "validate-cc-exp":"#<?php echo $code ?>-cc-exp-year"}' autocomplete="cc-exp-month">
                    <?php $_ccExpMonth = $block->getCard()->getAdditional('cc_exp_month'); ?>
                    <?php foreach ($block->getCcBlock()->getCcMonths() as $k => $v): ?>
                        <option value="<?php echo $k ? $block->escapeQuote($k) : '' ?>"<?php if ($k == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $block->escapeHtml($v) ?></option>
                    <?php endforeach ?>
                </select>
                <?php $_ccExpYear = $block->getCard()->getAdditional('cc_exp_year'); ?>
                <select id="<?php echo $code ?>-cc-exp-year" name="payment[cc_exp_year]" class="admin__control-select year" data-validate='{required:true}' autocomplete="cc-exp-year">
                    <?php foreach ($block->getCcBlock()->getCcYears() as $k => $v): ?>
                        <option value="<?php echo $k ? $block->escapeQuote($k) : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $block->escapeHtml($v) ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
        <?php if ($block->getMethod()->getConfigData('useccv')): ?>
            <div class="admin__field cvv _required" id="<?php echo $code ?>-cc-type_cvv_div">
                <label for="<?php echo $code ?>-cc-cid" class="admin__field-label"><span><?php echo $block->escapeHtml(__('CCV')) ?></span></label>
                <div class="admin__field-control">
                    <input type="text" pattern="[0-9]*" title="<?php echo $block->escapeQuote(__('Card Verification Number')) ?>" class="admin__control-text cvv" id="<?php echo $code ?>-cc-cid" name="payment[cc_cid]" value="" data-validate='{"required-number":true, "validate-cc-cvn":"#<?php echo $code ?>-cc-type"}' autocomplete="cc-csc" />
                </div>
            </div>
        <?php endif; ?>
        <?php if ($block->getMethod()->isAcceptJsEnabled() === true): ?>
            <div class="no-display _hidden" id="<?php echo $code; ?>-processing">
                <?php echo $block->escapeHtml(__('Processing, please wait...')); ?>
            </div>
            <div class="no-display _hidden" id="<?php echo $code; ?>-complete">
                <?php echo $block->escapeHtml(__('&#128077; Okay, ready to continue!')); ?>
            </div>
            <div class="no-display _hidden" id="<?php echo $code; ?>-failed">
                <?php echo $block->escapeHtml(__('&#10060; Please fix your payment info before continuing.')); ?> <span class="error-text"></span>
            </div>
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action-save primary" data-action="save-address" title="<?php echo $block->escapeQuote(__('Save')) ?>">
                <span><?php echo $block->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
        <div class="secondary" id="cc">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php echo $block->escapeHtml(__('Cancel')) ?></span></a>
        </div>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    <?php /* @see Magento\Customer\Block\Adminhtml\Edit\Renderer\Region::render() */ ?>
    require(["prototype", "mage/adminhtml/form"], function(){
        jQuery("#<?php echo $code; ?>-region-id").attr("defaultValue", "<?php echo (int)$block->getRegionId() ?>");
        new RegionUpdater("<?php echo $code; ?>-country", "<?php echo $code; ?>-region", "<?php echo $code; ?>-region-id", <?php echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?> );
    });

    <?php /* Attempt at form validation. Nonfunctional as of 1/25/2016. */ ?>
    require(["jquery", "jquery/ui", "jquery/validate", "mage/translate"], function($) {
        $('#<?php echo $code; ?>-form-validate').trigger('contentUpdated');
    });
    //]]>
</script>
