<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Address\Book $block */
?>
<style>
    .modal-popup > .modal-inner-wrap > .modal-content {
        padding-left: 4vw !important;
        font-size: 20px;
    }
</style>
<div class="block block-addresses-default" style="color: black">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Default Addresses')) ?></strong></div>
    <div class="block-content">
        <?php if ($_pAddsses = $block->getDefaultBilling()): ?>
            <div class="box box-address-billing">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
                </strong>
                <div class="box-content">
                    <address style="margin-bottom: 0;">
                        <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                    </address>
                </div>
                <div class="box-actions" style="padding: 0;">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getAddressEditUrl($_pAddsses)) ?>">
                        <button class="action primary"><?= $block->escapeHtml(__('Change Billing Address')) ?></button>
                    </a>
                </div>
            </div>
        <?php else: ?>
            <div class="box box-billing-address">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
                </strong>
                <div class="box-content">
                    <p><?= $block->escapeHtml(__('You have no default billing address in your address book.')) ?></p>
                </div>
            </div>
        <?php endif; ?>

        <?php if ($_pAddsses = $block->getDefaultShipping()): ?>
            <div class="box box-address-shipping">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
                </strong>
                <div class="box-content" style="min-height: 90px;">
                    <address style="margin-bottom: 0;">
                        <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                    </address>
                </div>
                <div class="box-actions" style="padding: 0;">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getAddressEditUrl($_pAddsses)) ?>">
                        <button class="action primary"><?= $block->escapeHtml(__('Change Shipping Address')) ?></button>
                    </a>
                </div>
            </div>
        <?php else: ?>
            <div class="box box-shipping-address">
                <strong class="box-title" style="cursor: pointer;">
                    <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
                    <i class="right arrow-tabs"></i>
                </strong>
                <div class="box-content" style="display: none;">
                    <p><?= $block->escapeHtml(__('You have no default shipping address in your address book.')) ?></p>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>
<div class="block block-addresses-list" style="color: black">
    <div class="block-content">
        <div class="box box-address-billing">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Additional Address Entries')) ?></span>
            </strong>
            <div class="box-content" style="max-height: 200px;overflow: auto;">
                <?php if ($_pAddsses = $block->getAdditionalAddresses()): ?>
                    <?php foreach ($_pAddsses as $_address): ?>
                        <div class="address-list-item" style="margin-bottom: 0.3vw;display: inline-block;width: 100%;">
                            <?php $strSplitList = preg_split('/<br[^>]*>/i', $block->getAddressHtml($_address)); ?>
                            <div class="address-list-item">
                                <div style="width: 70%;float: left;cursor: pointer;" class="click-view-address">
                                    <span style="color: #00738c;"><?php echo $strSplitList[0]; ?></span>
                                </div>
                                <div style="width: 28%;float: left;">
                                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/address/edit', ['id' => $_address->getId()])) ?>"><span style="color: #00738c;"><?= $block->escapeHtml(__('Edit')) ?></span></a>
                                    <?php echo __("/"); ?>
                                    <a class="action delete" href="#" role="delete-address" data-address="<?= $block->escapeHtmlAttr($_address->getId()) ?>"><span style="color: #00738c;"><?= $block->escapeHtml(__('Delete')) ?></span></a>
                                </div>
                            </div>
                            <address style="display: none;margin-bottom: 0;">
                                <?php unset($strSplitList[0]); ?>
                                <?php foreach($strSplitList as $strSplitListItem) : ?>
                                    <?php echo $strSplitListItem; ?>
                                    <?php echo '<br>'; ?>
                                <?php endforeach; ?>
                            </address>
                        </div>
                    <?php endforeach; ?>
                <?php else: ?>
                    <p class="empty"><?= $block->escapeHtml(__('You have no other address entries in your address book.')) ?></p>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>

<div class="actions-toolbar">
    <div class="primary">
        <button type="button" role="add-address" title="<?= $block->escapeHtmlAttr(__('Add New Address')) ?>" class="action primary add"><span><?= $block->escapeHtml(__('Add New Address')) ?></span></button>
    </div>
    <div class="secondary">
        <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".page-main": {
            "address": {
                "deleteAddress": "div.address-list-item a[role='delete-address']",
                "deleteUrlPrefix": "<?= $block->escapeJs($block->escapeUrl($block->getDeleteUrl())) ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?= $block->escapeJs($block->escapeUrl($block->getAddAddressUrl())) ?>"
            }
        }
    }
</script>
<script>
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
        'use strict';
        $('.address-list-item > .address-list-item >.click-view-address').on('click', function (event) {
            event.preventDefault();
            $(this).parent().parent().children('address').toggleClass("box-address-active");
        });
    });
</script>