<?php
/**
 * @author: Mohammad hamadneh
 * @mail: mhamadneh@endeavorpal.com
 * @date: 10/31/2017
 * @desc: 1. Add validation for zip code us for Address book.
 *        2. Add validation street maximum 80 characters for Address book.
 *
 * @updated by: Mohammed Hamadneh
 * @date: 12/17/2017
 * @desc: Updated in order to only display Address Line 1
 * 
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$addressHelper = $objectManager->create('\Magento\Customer\Helper\Address');
?>
<form class="form-address-edit" 
      action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>" 
      method="post" 
      id="form-validate" 
      enctype="multipart/form-data" 
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{
            "validation":{
                    "rules": {
                            "postcode": {
                                "required":true,
                                "validate-zip-us":true
                            },
                            "street[1]":{
                                "maxlength":80
                            },
                            "street[2]":{
                                "maxlength":80
                            }
                    }
            }
        }'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Contact Information') ?></span></legend><br>
        <?php echo $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
        <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
        <?php echo $block->getNameBlockHtml() ?>
        <?php 
        $customerModel = $customerSession->getCustomer();
        if ($customerModel->getIsSpecialMultiShippingFlow() == 1) : ?>
            <div class="field shipping required">
                <label class="label" for="shipping_address_email"><span><?php echo $block->escapeHtml(__('Shipping Email')) ?></span></label>
                <div class="control">
                    <input type="text" name="shipping_address_email" 
                           value="<?php if($block->getAddress()->getCustomAttribute('shipping_address_email')) {
                               echo $block->escapeHtmlAttr($block->getAddress()->getCustomAttribute('shipping_address_email')->getValue()); 
                           }
                           ?>" 
                           title="<?php echo $block->escapeHtmlAttr(__('Shipping Email')) ?>" 
                           class="input-text required validate-email <?php echo $block->escapeHtmlAttr($addressHelper->getAttributeValidationClass('shipping_address_email')) ?>" 
                           id="shipping_address_email">
                </div>
            </div>
        <?php endif; ?>
        <div class="field company">
            <label class="label" for="company"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
            <div class="control">
                <input type="text" name="company" id="company" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getCompany()) ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
            </div>
        </div>
        <div class="field telephone required">
            <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
            <div class="control">
                <input type="text" name="telephone" value="<?php echo $block->escapeHtml($block->getAddress()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>" id="telephone">
                <div class="mage-error digits-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                    <span class="number-digits">Please enter 10 digits number.</span>
                </div>
                <div class="mage-error letters-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                    <span class="number-digits">Please enter valid number.</span>
                </div>
            </div>
        </div>
        <div class="field fax">
            <label class="label" for="fax"><span><?php /* @escapeNotVerified */ echo __('Fax') ?></span></label>
            <div class="control">
                <input type="text" name="fax" id="fax" title="<?php /* @escapeNotVerified */ echo __('Fax') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getFax()) ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('fax') ?>">
                <div class="mage-error fax-digits-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                    <span class="number-digits">Please enter 10 digits number.</span>
                </div>
                <div class="mage-error fax-letters-error" style="display: none; color: #e02b27;font-size: 1.2rem; margin-top: 7px;">
                    <span class="number-digits">Please enter valid number.</span>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Address') ?></span></legend><br>
        <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
        <div class="field street required maxlength">
            <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
            <div class="control">
                <input type="text" name="street[1]" value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"  />
            </div>
        </div>

        <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
            <div class="field taxvat">
                <label class="label" for="vat_id"><span><?php /* @escapeNotVerified */ echo __('VAT Number') ?></span></label>
                <div class="control">
                    <input type="text" name="vat_id" value="<?php echo $block->escapeHtml($block->getAddress()->getVatId()) ?>" title="<?php /* @escapeNotVerified */ echo __('VAT Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id') ?>" id="vat_id">
                </div>
            </div>
        <?php endif; ?>
        <div class="field city required">
            <label class="label" for="city"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
            <div class="control">
                <input type="text" name="city" value="<?php echo $block->escapeHtml($block->getAddress()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
            </div>
        </div>
        <div class="field region required">
            <label class="label" for="region_id"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
            <div class="control">
                <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?>>
                    <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                </select>
                <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>"  title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?>/>
            </div>
        </div>
        <div class="field zip required validate-zip-us">
            <label class="label" for="zip"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
            <div class="control">
                <input type="text" name="postcode" value="<?php echo $block->escapeHtml($block->getAddress()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
            </div>
        </div>
        <div class="field country required">
            <label class="label" for="country"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
            <div class="control">
                <?php echo $block->getCountryHtmlSelect() ?>
            </div>
        </div>
        <?php $path = $_SERVER['REQUEST_URI'];$find = 'multishipping/checkout_address/editShipping';$pos = strpos($path, $find);?>
        <?php if ($block->isDefaultBilling() && $pos == false): ?>
            <div class="message info"><?php /* @escapeNotVerified */ echo __("It's a default billing address.") ?></div>
            <?php elseif ($block->canSetAsDefaultBilling() && $pos == false): ?>
                <div class="field choice set billing">
                    <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                    <label class="label" for="primary_billing"><span><?php /* @escapeNotVerified */ echo __('Use as my default billing address') ?></span></label>
                </div>
            <?php else: ?>
            <input type="hidden" name="default_billing" value="1" />
            <?php endif; ?>

        <?php if ($block->isDefaultShipping() && $pos == false): ?>
            <div class="message info"><?php /* @escapeNotVerified */ echo __("It's a default shipping address.") ?></div>
        <?php elseif ($block->canSetAsDefaultShipping() && $pos == false): ?>
            <div class="field choice set shipping">
                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                <label class="label" for="primary_shipping"><span><?php /* @escapeNotVerified */ echo __('Use as my default shipping address') ?></span></label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_shipping" value="1">
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" data-action="save-address" title="<?php /* @escapeNotVerified */ echo __('Save Address') ?>">
                <span><?php /* @escapeNotVerified */ echo __('Save Address') ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php /* @escapeNotVerified */ echo __('Go back') ?></span></a>
        </div>
    </div>
</form>

<script type="text/x-magento-init">
    {
    "#form-validate": {
        "validation": {}
    },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<script>
    require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function (
                    $,
                    modal
                    ) {
                $('.form-address-edit > .actions-toolbar > .primary > .save').on('click', function (event) {
                    var number = $('#telephone').val();
                    var length = number.length;
                    if (length !== 10) {
                        $('#telephone').css('border-color', '#e02b27');
                        //$('.form-address-edit > .actions-toolbar > .primary > .save').prop('disabled',true);
                        event.preventDefault();
                        $('.digits-error').show();
                    } else {
                        $('#telephone').css('border-color', '#c2c2c2');
                        //$('.form-address-edit > .actions-toolbar > .primary > .save').prop('disabled',false);
                        $('.digits-error').hide();
                    }
                    if (/[a-zA-Z]/.test(number)) {
                        $('#telephone').css('border-color', '#e02b27');
                        event.preventDefault();
                        $('.letters-error').show();
                    } else {
                        $('#telephone').css('border-color', '#c2c2c2');
                        $('.letters-error').hide();
                    }
                });
                $('#fax').on('change', function () {
                    var numberf = $('#fax').val();
                    var lengthf = numberf.length;
                    if (lengthf !== 10) {
                        $('#fax').css('border-color', '#e02b27');
                        $('.form-address-edit > .actions-toolbar > .primary > .save').prop('disabled', true);
                        $('.fax-digits-error').show();
                    } else {
                        $('#fax').css('border-color', '#c2c2c2');
                        $('.form-address-edit > .actions-toolbar > .primary > .save').prop('disabled', false);
                        $('.fax-digits-error').hide();
                    }
                    if (/[a-zA-Z]/.test(numberf)) {
                        $('#fax').css('border-color', '#e02b27');
                        $('.form-address-edit > .actions-toolbar > .primary > .save').prop('disabled', true);
                        $('.fax-letters-error').show();
                    } else {
                        $('#fax').css('border-color', '#c2c2c2');
                        //$('.form-address-edit > .actions-toolbar > .primary > .save').prop('disabled',false);
                        $('.fax-letters-error').hide();
                    }
                });
            }
    );
</script>
