<?php
  
?>
<?php
/**
 * AboutUs sidebar archive template
 *
 * @var $block \Endeavor\AboutUs\Block\Sidebar\Archive
 */
?>

<?php
	$_months = $block->getMonths();
?>
<?php if (count($_months)) { ?>
<div class="widget block block-archive" data-bind="scope: 'aboutus-archive'">
    <div class="block-title">
        <strong><?php echo __('Archive') ?></strong>
    </div>
    <div class="block-content">
    	<?php foreach ($_months as $time) { ?>
            <?php
                $title = __($block->getMonth($time)) . ' ' . $block->getYear($time);
                $title = $block->escapeHtml($title, null, true);
            ?>
            <div class="item">
                <a title="<?php echo __('Archive %s', $title) ?>" class="archive-item-link" href="<?php echo $block->getTimeUrl($time) ?>">
                    <?php echo $title; ?>
                </a>
            </div>

        <?php } ?>
    </div>
</div>
<?php } ?>
