<?php
 
?>
<?php
/**
 * AboutUs sidebar search form template
 *
 * @var $block \Endeavor\AboutUs\Block\Sidebar\Search
 */
?>

<div class="widget block aboutus-search" data-bind="scope: 'aboutus-search'">
	<div class="block-content">
		<form class="form" id="aboutus_search_mini_form" action="<?php echo $block->getFormUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="aboutus_search">
                    <span><?php echo __('Search') ?></span>
                </label>
                <div class="control">
                    <input id="aboutus_search" type="text" name="q" value="<?php echo $block->escapeHtml($block->getQuery()) ?>" placeholder="<?php echo __('Search posts here...') ?>" class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off">
                </div>
            </div>
            <div class="actions">
                <button type="submit" onclick="return goAboutUsSearch(this);" title="<?php echo __('Search') ?>" class="action search">
                    <span><?php echo __('Search') ?></span>
                </button>
            </div>
        </form>
	</div>
</div>
<script type="text/javascript">
	function goAboutUsSearch(e)
	{
		var value = document.getElementById('aboutus_search').value;
		if (value) {
			window.location = e.form.action + value + '/';
		}
		return false;
	}
</script>