<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
$cookieManager = $objectManager->get('Magento\Framework\Stdlib\CookieManagerInterface');
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$susbscriptionsModel = $objectManager->create('Endeavor\Subscriptions\Model\CustomerSubscriptions');
$collection = $susbscriptionsModel->getCollection();
$collection->addFieldToFilter('customer_id',$customerSession->getCustomer()->getId());
$flag = 0;
?>

<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Checkbox */ ?>
<?php $_option = $block->getOption() ?>
<?php $product = $block->getProduct()->getConfigureMode();?>
<?php $_selections = $_option->getSelections() ?>
<div class="field option <?php echo ($_option->getRequired()) ? ' required' : ''; ?>">
    <div class="control">
        <div class="nested options-list">
            <?php if ($block->showSingle()): ?>
                <?php /* @escapeNotVerified */ echo $block->getSelectionQtyTitlePrice($_selections[0]) ?>
                <input type="hidden"
                       class="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>  product bundle option"
                       name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>]"
                       value="<?php /* @escapeNotVerified */ echo $_selections[0]->getSelectionId() ?>"/>
                                <div class="box-tocart">
                    <div class="field qty">
                        <div class="control">
                            <input type="number"
                                   name="<?php /* @escapeNotVerified */ echo $_selections[0]->getId(); ?>-qty"
                                   id="<?php /* @escapeNotVerified */ echo $_selections[0]->getId(); ?>-qty"
                                   maxlength="12"
                                   value="<?php /* @escapeNotVerified */ echo 1 ?>"
                                   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty checkbox-qty"
                                   data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                   data-selector="super_group[<?php /* @escapeNotVerified */ echo $_selections[0]->getId() ?>]"

                            />
                            <?php
                                foreach ($collection as $item) {
                                    if ($item->getCustomerId() == $customerSession->getCustomer()->getId() && $item->getProductId() == $_selection[0]->getId()){
                                        $flag = 1;
                                    } else {
                                        $flag = 0;
                                    }
                                }
                            ?>
                           
                            <div class="custom-qty">
                                <button type="button"  class="increase items items-count" onclick="var result = document.getElementById('<?php /* @escapeNotVerified */ echo $_selections[0]->getId(); ?>-qty'); var qty = result.value; if (!isNaN(qty))
                                            result.value++;
                                        return false;">
                                    +
                                </button>
                                <button type="button" class="reduced items  items-count" onclick="var result = document.getElementById('<?php /* @escapeNotVerified */ echo $_selections[0]->getId(); ?>-qty'); var qty = result.value; if (!isNaN(qty) && qty > 1)
                                            result.value--;
                                        return false;">
                                    -
                                </button>
                            </div>
                            
                        </div>
                    </div>  
                    
                     <!-- Added  By Nadeem -->
                    <?php if(!$product):?>
                        <a
                        <?php if(!$flag):?>    
                            class="add-cart"
                        <?php else: ?>
                            class="add-cart-not"
                        <?php endif;?>
                        id="add-cart-<?php echo $_selections[0]->getId();?>" style="background-color: #227fbb; color: white; padding: 7px 33px; position: relative; top: 0; cursor: pointer;">
                            Add to Cart 
                        </a>
                     <?php else: ?>
                        <a
                        class="update-cart"
                        id="update-cart-<?php echo $_selections[0]->getId();?>" style="background-color: #227fbb; color: white; padding: 7px 33px; position: relative; top: 0; cursor: pointer;">
                            Update Cart 
                        </a>
                     <?php endif;?>
                    <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selections[0]->getSelectionId();?>' />  
                     <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selections[0]->getId();?>' />  
                    </div>
                   <?php else: ?>
                       <?php foreach ($_selections as $_selection): ?>
                    <div class="field choice">
                        <input style="display: none" class="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?> checkbox product bundle option change-container-classname"
                               id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>"
                               type="checkbox"
                               <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':\'input[name^=&quot;bundle_option[' . $_option->getId() . ']&quot;]:checked\'}"' ?>
                               name="bundle_option[<?php /* @escapeNotVerified */ echo $_option->getId() ?>][<?php /* @escapeNotVerified */ echo $_selection->getId() ?>]"
                               <?php if ($block->isSelected($_selection)) echo ' checked="checked"' ?>
                               <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                               value="<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>"/>
                        <input type="hidden" class="check-selection" value="<?php if ($block->isSelected($_selection)){ echo 'true';}else{ echo 'false';} ?>" />
                        <input id='product-id' type='hidden' name='<?php  echo $_selection->getSelectionId() ?>' value='<?php /* @escapeNotVerified */ echo $_selection->getId() ?>' />
                        <label class="label" for="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-<?php /* @escapeNotVerified */ echo $_selection->getSelectionId() ?>">
                            <div style="float:left;padding: 1em;">
                                <img src="<?php echo $block->getUrl() . 'pub/media/catalog/product' . $_selection->getImage(); ?>" alt="test" width="75" height="75"/>
                            </div>
                            <span <?php if ($block->isSelected($_selection)) echo 'style="color: #227fbb"' ?>><?php /* @escapeNotVerified */ echo $block->getSelectionTitlePrice($_selection) ?></span><br>
                            <span>
                                <?php
                                echo 'ISBN: ' . $productRepository->getById($_selection->getId())->getData('isbn');
                                ?>
                            </span><br>
                            <br>

                            <div class="actions-primary">
                                <?php if ($_selection->isSaleable()): ?>
                                    <?php if ($_selection->getTypeInstance()->hasRequiredOptions($_selection)): ?>
                                        <button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_selection) ?>"}}' type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                        </button>
                                    <?php else: ?>
                                        <?php
                                        $params = $block->getRequest()->getParams('super_group[' . $_selection->getId() . ']');
                                        ?>

                                    <?php
                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_selection), ['product' => $_selection->getEntityId(),
                                            'qty' => 1
                                        ]);
                                    ?>

                <div class="box-tocart">
                    <div class="field qty">
                        <div class="control">
                            <input type="number"
                                   name="<?php /* @escapeNotVerified */ echo $_selection->getId(); ?>-qty"
                                   id="<?php /* @escapeNotVerified */ echo $_selection->getId(); ?>-qty"
                                   maxlength="12"
                                   value="<?php /* @escapeNotVerified */ echo 1 ?>"
                                   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty checkbox-qty"
                                   data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                   data-selector="super_group[<?php /* @escapeNotVerified */ echo $_selection->getId() ?>]"

                            />
                            <?php
                                foreach ($collection as $item) {
                                    if ($item->getCustomerId() == $customerSession->getCustomer()->getId() && $item->getProductId() == $_selection->getId()){
                                        $flag = 1;
                                    } else {
                                        $flag = 0;
                                    }
                                }
                            ?>
                           
                            <div class="custom-qty">
                                <button type="button"  class="increase items items-count" onclick="var result = document.getElementById('<?php /* @escapeNotVerified */ echo $_selection->getId(); ?>-qty'); var qty = result.value; if (!isNaN(qty))
                                            result.value++;
                                        return false;">
                                    +
                                </button>
                                <button type="button" class="reduced items  items-count" onclick="var result = document.getElementById('<?php /* @escapeNotVerified */ echo $_selection->getId(); ?>-qty'); var qty = result.value; if (!isNaN(qty) && qty > 1)
                                            result.value--;
                                        return false;">
                                    -
                                </button>
                            </div>
                            
                        </div>
                    </div>  
                    
                     <!-- Added  By Nadeem -->
                    <?php if(!$product):?>
                        <a
                        <?php if(!$flag):?>    
                            class="add-cart"
                        <?php else: ?>
                            class="add-cart-not"
                        <?php endif;?>
                        id="add-cart-<?php echo $_selection->getId();?>" style="background-color: #227fbb; color: white; padding: 7px 33px; position: relative; top: -20px;">
                            Add to Cart 
                        </a>
                     <?php else: ?>
                        <a
                        class="update-cart"
                        id="update-cart-<?php echo $_selection->getId();?>" style="background-color: #227fbb; color: white; padding: 7px 33px; position: relative; top: -20px;">
                            Update Cart 
                        </a>
                     <?php endif;?>
                    <input type='hidden' name='option-id' id='option-id' value='<?php echo $_selection->getSelectionId();?>' />  
                     <input type='hidden' id='product-id' name='product-id' value='<?php echo $_selection->getId();?>' />  
                    </div>

                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php if ($_selection->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
            <?php endif; ?>
                    <?php endif; ?>
                            </div>
                        </label>
                    </div>
    <?php endforeach; ?>
                <div id="bundle-option-<?php /* @escapeNotVerified */ echo $_option->getId() ?>-container"></div>
<?php endif; ?>
        </div>
    </div>
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var url = $(location).attr('href');
            var arrayUrl = url.split("/");
            var editIndex = arrayUrl.indexOf('configure');
            var bundleQty = $('.bundle-qty').val();
            if (editIndex !== -1) {
                checkBoxes = $('input:checkbox');
                for (i=0; i <= checkBoxes.length ; i++) {
                    checkSelection = $('input:checkbox:nth-child('+i+1+')').parent().find('.check-selection').val();
                    if($('input:checkbox:nth-child(1)').is(':checked') && checkSelection === 'true'){
                        $('input:checkbox:nth-child(1)').parent().find('.label>.actions-primary>.box-tocart>.qty>.control>.checkbox-qty').val(bundleQty);
                       
                    }
                }
//                $('.add-cart').hide();
//                $('.update-cart').show();
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true
            };
            
            $('#continue').click(function(){
                if ($('input[type="radio"]').is(':checked')) {
                    $('.error-subscrption').hide();
                    $("#popup-mpdal").modal("closeModal"); 
                    $('#product-updatecart-button').trigger('click');
                } else {
                    $('.error-subscrption').show();
                }
            });
            
            $(".print-terms").on("click", function () {
                if ($('input[type="radio"]').is(':checked')) {
                   var terms = $(".terms-conditions").html();
                   var printWindow = window.open('', '', 'height=400,width=800');
                   printWindow.document.write('<html><head><title>'+productName+'</title>');
                   printWindow.document.write('</head><body >');
                   printWindow.document.write('<img width="100" src="<?php echo $this->getViewFileUrl('Endeavor_Subscriptions::images/blue360.png'); ?>" alt="blue360media">');
                   printWindow.document.write('<h3>Terms & Conditions</h3>');
                   printWindow.document.write(terms);
                   printWindow.document.write('</body></html>');
                   printWindow.document.close();
                   printWindow.print();
                   setTimeout(function(){printWindow.close();},10);
               } else {
                   $('.error-subscrption').show();
               }
            });      
            
            $('.terms-and-conditions').hide();
            $('.terms-and-conditions:nth-child(1)').show();
            
            $('.add-cart-not').click(function(){
                productId=$(this).parent().find('#product-id').val();
                parentId =$(this).parent().find('#option-id').val(); 
                $('input:checkbox').removeAttr('checked');
                $(this).parent().parent().parent().parent().find('input[value='+parentId+']').prop('checked',true);
                $('#optionId').val(parentId);
                $('#product-addtocart-button').trigger('click');
            });
            var popup = modal(options, $('#popup-mpdal'));
            $('.update-cart').click(function(event){
                productId = $(this).parent().find('#product-id').val();
                parentId = $(this).parent().find('#option-id').val(); 
                var optionQty = $(this).parent().find('.qty > .control > .checkbox-qty').val();
                $('.radio-qty').val(optionQty);
                var flag = '<?php echo $flag;?>';
                if ($.cookie(parentId)||$.cookie(productId)) {
                    $('input:checkbox').removeAttr('checked');
                    $(this).parent().parent().parent().parent().find('input[value='+parentId+']').prop('checked',true);
                    $('#optionId').val(parentId);
                    $('#product-updatecart-button').trigger('click');
                } else {
                    productId=$(this).parent().find('#product-id').val();
                    parentId =$(this).parent().find('#option-id').val(); 
                    $('#optionId').val(parentId);
                    $('.cancel').click(function(){
                       $('input:checkbox').removeAttr('checked');
                       $('.error-subscrption').hide();
                       $("#popup-mpdal").modal("closeModal");
                       $.cookie(productId, '', { expires: -1, path: '/'});
                      // $.cookie(parentId, '', { expires: -1, path: '/'});
                    });
                    
                    $('.action-close').click(function(){
                       $('input:checkbox').removeAttr('checked');
                       $('.error-subscrption').hide();
                       $("#popup-mpdal").modal("closeModal");
                       $.cookie(productId, '', { expires: -1, path: '/'});
                       //$.cookie(parentId, '', { expires: -1, path: '/'});
                    });
                    
                    if (flag == 0){
                        $.cookie('customer-type','guest');
                    }

                    if (($.cookie('customer-type') && (/*$.cookie(parentId)||*/$.cookie(productId))) || (flag == 1 && (/*$.cookie(parentId)||*/$.cookie(productId)))) {
                        $("#popup-mpdal").modal("closeModal");
                    } else {
                        $("#popup-mpdal").modal("openModal");
                        $('.modal-footer').css('display','none');
                        $('input[type="radio"]').removeAttr('checked');
                    }

                    $('input[type="radio"]').click(function(){
                    var id =0;
                    
                    if ($(this).is(':checked')) {
                        $('.error-subscrption').hide();
                        id = $(this).val();
                    }

                    $('.terms-and-conditions').hide();
                    $('#conditions-'+id).show();
                    //$.cookie(parentId,id);
                    $.cookie(productId,id);
                    });
                }
            });
            }
        }
    );
</script>