<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class='message-customers-login'>
    <span><?php echo __('NEW CUSTOMER REGISTRATION')?></span>
</div>
<div class="block-new-customer">
    <div class="or">OR</div>
    <span><?php echo __('Welcome! Please click <b>Register</b> to create your personal online account.');?></span>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <button class="btn action register-area" 
                onclick="window.location.href='<?php /* @escapeNotVerified */ echo $block->getCreateAccountUrl() ?>'">
            <span>Register</span>
        </button>
        <h5><?php echo __('Creating an account has many benefits:')?></h5>
        <ul>
            <li><?php echo __('<b>Shipping:</b> See order and shipping status.')?></li>
            <li><?php echo __('<b>Tracking:</b> Track order history.')?></li>
            <li><?php echo __('<b>Checkout:</b> Checkout faster.')?></li>
            <li><?php echo __('<b>My eBooks:</b> Checkout, download and Read my eBooks online.')?></li>
        </ul> 
    </div>
</div>
<?php endif; ?>