<?php
  
?>
<?php
/**
 * Career job view template
 *
 * @var $block \Endeavor\Career\Block\Job\View
 */
?>
<?php
    $_job = $this->getJob();
    $_jobUrl = $_job->getJobUrl();
    $_jobName = $block->escapeHtml($_job->getTitle(), null, true);

    $imageHelper = $this->helper('Endeavor\Career\Helper\Image');
    $imageWidth = 500;
    $imageHeight = 200;
?>
<div class="job-view">
    <div class="job-holder job-holder-<?php echo $_job->getId() ?>">
        <div class="job-content">
            <div class="job-description clearfix">
                <?php if ($featuredImage = $_job->getFeaturedImage()) { ?>
                <div class="job-ftimg-hld">
                    <amp-img layout="responsive" width="<?php echo $imageWidth ?>" height="<?php echo $imageHeight ?>" src="<?php echo $this->helper('Endeavor\Career\Helper\Image')->init($_job->getFeaturedImg())->resize($imageWidth, $imageHeight) ?>" alt="<?php echo $_jobName ?>"></amp-img>
                </div>
                <?php } ?>
                <div class="job-text-hld">
                    <?php echo $block->getContent() ?>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="job-bottom">
            <?php echo $this->getChildHtml('career.job.bottom') ?>
        </div>
    </div>
</div>