/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2017, 3:43:30 PM
    Author     : Murad Dweikat
*/

.manage-payment-method .secondary {
    left: 89%;
    bottom: 23px;
    position: relative;
    width: 15%;
}