<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="block-authentication" data-bind="afterRender: setModalElement, blockLoader: isLoading">

    <div class="login-form col-sm-6 col-xs-12">
        <div class="message-customers-login">
            <span   data-bind="i18n: 'CHECKOUT USING YOUR ACCOUNT'"></span>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="login-container" aria-labelledby="block-customer-login-heading">
            <form class="form form-login"
                  method="post"
                  data-bind="event: {submit: login }"
                  id="login-form">
                <div class="login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="email required">
                        <div class="control">
                            <input name="username"
                                   id="email"
                                   type="email"
                                   class="input-text"
                                   data-bind="attr: {autocomplete: autocomplete, placeholder: 'Email'}"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="password required">
                        <div class="control">
                            <input name="password"
                                   type="password"
                                   class="input-text"
                                   id="pass"
                                   data-bind="attr: {autocomplete: autocomplete, placeholder: 'Password'}"
                                   data-validate="{required:true}">
                        </div>
                    </div>
                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                        <input name="context" type="hidden" value="checkout" />
                        
                        <a class="action remind forgot-pass" data-bind="attr: {href: forgotPasswordUrl}">
                            <span>forgot your Password?</span>
                        </a>
                        <button type="submit" class="btn action login" name="send" id="send2" >
                            <span>Login</span>
                        </button>
                        
                </div>
            </form>
        </div>
    </div>


    <div class="new-customer col-sm-6 col-xs-12" >
        <div class="or">OR</div>
        <div class="message-customers-login">
            <span> NEW CUSTOMER REGISTRATION</span>
        </div>

        <span>Welcome! Please click <b>Register</b> to create your personal online account.</span>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <a class="btn action register-area" 
                    data-bind="attr: {href: registerUrl}">
                <span>Register</span>
            </a>
            <h5 data-bind="i18n: 'Creating an account has many benefits:'"></h5>
            <ul>
                <li><b>Shipping:</b> See order and shipping status.</li>
                <li><b>Tracking:</b> Track order history.</li>
                <li><b>Checkout:</b> Checkout faster.</li>
                <li><b>My eBooks:</b> Checkout, download and Read my eBooks online.</li>
            </ul> 
        </div>
    </div>


</div>
