<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php if ($block->getCollection()->getSize()): ?>
    <div class="toolbar toolbar-products" data-mage-init='<?php /* @escapeNotVerified */ echo $block->getWidgetOptionsJson(); ?>'>
        <div class="action-for-medium-up"><a class="layered-nav-toggle"><span class="cs-font clever-icon-funnel-o" aria-hidden="true"></span><?php /* @escapeNotVerified */ echo __('Filter') ?></a></div>
        <?php if ($block->isExpanded()): ?>
            <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/viewmode.phtml')) ?>
        <?php endif; ?>
        <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/amount.phtml')) ?>

        <?php echo $block->getPagerHtml() ?>

        <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/limiter.phtml')) ?>

        <?php if ($block->isExpanded()): ?>
            <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/sorter.phtml')) ?>
        <?php endif; ?>
    </div>
<?php endif ?>
<script type="text/javascript">
    require([
        "jquery",
        "jquery/ui",
        "Magento_Catalog/js/cleverLayeredNavigation",
        "productListToolbarForm"
    ], function ($) {
        $(function() {
            'use strict';
            var updateLoading= function(link, isPushState){
                var loading='<div id="infscr-loading" style=""><img alt="Loading..."'+' src="'+"<?php echo $block->getViewFileUrl('CleverSoft_Base::images/bx_loader.gif'); ?>"+'"'+'><div>Loading...</div></div>';
                $('.toolbar-bottom').html(loading);
                $.ajax({
                    method: "POST",
                    url: link,
                    dataType:'text',
                    data: { isAjax: 1, CLN: 1 }
                }).done(function(data){
                    //alert("loading Books");
                    $('#zoo-product-listing .product-items').append($(data).find('#zoo-product-listing .product-items li'));
                    $('.toolbar-bottom').replaceWith($(data).find('.toolbar-bottom'));
                    $('.clever-infinite-scroll li a').replaceWith($(data).find('.clever-infinite-scroll li a'));
                    if(window.quickViewModal) window.quickViewModal();
                    initAjax();
                });
            }
            var updateContent= function(link, isPushState){
                $("#cleversoft-shopby-overlay").show();
                if (typeof window.history.pushState === 'function' && isPushState) {
                    window.history.pushState({url: link}, '', link);
                    //location.reload();
                }
                /**
                 * @auth:Aya Shaheen
                 * @des:Restore View Mode in Catalog Page
                 * @date:14/12/2017
                 *
                 */
                var mode='grid';
                if($('.mode-grid').hasClass('active'))
                    mode='grid';
                else if($('.mode-list').hasClass('active'))
                    mode='list';
                //
                $.ajax({
                    method: "POST",
                    url: link,
                    dataType:'text',
                    data: { isAjax: 1, CLN: 1 }
                }).done(function(data){
                        $('#zoo-product-listing').replaceWith($(data).find('#zoo-product-listing'));
                        $('.toolbar-sorter a').replaceWith($(data).find('.toolbar-sorter a'));
                        $('.toolbar-sorter a').not('.toolbar-sorter a:first').remove();
                        $("#cleversoft-shopby-overlay").hide();
                        $('.clever-infinite-scroll li a').replaceWith($(data).find('.clever-infinite-scroll li a'));
                        if(window.quickViewModal) window.quickViewModal();
                        if(window.shopSidebarLeftToggle) window.shopSidebarLeftToggle();
                        if(window.is_stickey) window.is_stickey();
                        if(window.shopSidebarRightToggle)
                            window.shopSidebarRightToggle();
                        if (window.shopSidebarWithoutLeftRightToggle)
                            window.shopSidebarWithoutLeftRightToggle();
                        /**
                        * @auth:Aya Shaheen
                        * @des:Restore View Mode in Catalog Page
                        * @date:14/12/2017
                        *
                        */                        
                        $('.modes-mode').removeClass('active');
                        var $listclass = 'list products-list';
                        var $gridclass = 'grid products-grid';
                        console.log(mode);
                        document.getElementById(mode).classList.add('active');
                        if($('#zoo-product-listing').length > 0) {
                            if ($('#zoo-product-listing').hasClass($listclass)) {
                                $('#zoo-product-listing').removeClass($listclass);
                            } else {
                                $('#zoo-product-listing').removeClass($gridclass);
                            }
                            $('#zoo-product-listing').addClass(mode=='grid'?$gridclass:$listclass);
                        }
                        //   
                        initAjax();
                    });
                }
                var initAjax = function () {
                    var self = this;
                    var changeFunction = function (e) {
                        if (e.data !== null && (typeof e.data != "undefined")) {
                            if (typeof e.data.hidebar != "undefined") {
                                if ($(this).closest('#sidebar-without').length > 0) {
                                    $('body').toggleClass('show-sidebar');
                                    $('#sidebar-without').removeAttr('style');
                                }
                            }
                        }
                        var link = $(this).prop('href') ? $(this).prop('href') : $(this).val();
                        updateContent(link, true);
                        e.stopPropagation();
                        e.preventDefault();
                    };
                    var clickFunction = function (e) {
                        if (e.data !== null && (typeof e.data != "undefined")) {
                            if (typeof e.data.hidebar != "undefined") {
                                if ($(this).closest('#sidebar-without').length > 0) {
                                    $('body').toggleClass('show-sidebar');
                                    $('#sidebar-without').removeAttr('style');
                                }
                            }
                        }
                        var link = $(this).prop('href') ? $(this).prop('href') : $(this).val();
                        updateLoading(link, true);
                        e.stopPropagation();
                        e.preventDefault();
                    };
                    $('.toolbar-sorter a').unbind();
                    $('.toolbar-sorter a').on('click',changeFunction);
                    if($('.clever-infinite-scroll li a:nth-child(2)').length){
                        $('.clever-infinite-scroll li a').unbind();
                        $('.clever-infinite-scroll li a').on('click',clickFunction);
                        $('.clever-infinite-scroll li a').not('.clever-infinite-scroll li a:first').remove();
                    }
                    $(".toolbar-sorter #sorter").unbind();
                    $(".toolbar-sorter #sorter").on('change', changeFunction);
                }
                initAjax();
            });
        });
</script>
