<?php
  
?>
<?php
/**
 * Career recent jobs widget
 *
 * @var $block \Endeavor\Career\Block\Widget\Recent
 */
?>

<?php
    $_jobCollection = $block->getJobCollection();
    $imageHelper = $this->helper('Endeavor\Career\Helper\Image');
    $imageWidth = 500;
    $imageHeight = 300;
?>
<?php if ($_jobCollection->count()) { ?>
<div class="job-list-wrapper career-widget-recent">
    <h3 class="title"><?php echo $block->escapeHtml($block->getTitle()) ?></h3>
    <amp-carousel
             width="500"
             height="400"
             layout="responsive"
             type="slides"
             autoplay
             delay="5000"
             >
        <?php foreach ($_jobCollection as $_job) { ?>
            <?php
                $_jobUrl = $_job->getJobUrl();
                $_jobName = $block->escapeHtml($_job->getTitle(), null, true);
            ?>
            <div class="job-holder job-holder-<?php echo $_job->getId() ?>">
                <div class="job-content">
                    <div class="job-description clearfix">
                        <?php if ($featuredImage = $_job->getFeaturedImage()) { ?>
                        <div class="job-ftimg-hld">
                            <a href="<?php echo $_jobUrl ?>" title="<?php echo $_jobName ?>">
                                <amp-img layout="responsive" width="<?php echo $imageWidth ?>" height="<?php echo $imageHeight ?>" src="<?php echo $this->helper('Endeavor\Career\Helper\Image')->init($_job->getFeaturedImg())->resize($imageWidth, $imageHeight) ?>" alt="<?php echo $_jobName ?>"></amp-img>
                            </a>
                        </div>
                        <?php } ?>
                    </div>
                </div>
                <div class="job-header">
                    <div class="job-title-holder clearfix">
                        <div class="job-title">
                            <a class="job-item-link"
                               href="<?php echo $_jobUrl ?>">
                                <?php echo $_jobName; ?>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <?php } ?>
    </amp-carousel>
</div>
<?php } ?>