<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */

$_matoHelper = $this->helper('CleverSoft\Base\Helper\Data');
?>
<?php $_item = $block->getItem() ?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerAuthorization = $objectManager->get('Magento\Customer\Block\Account\AuthorizationLink');
if ($customerAuthorization->isLoggedIn()) {
?>
    <span class="customer-name"
            role="link"
            tabindex="0"
            data-mage-init='{"dropdown":{}}'
            data-toggle="dropdown"
            data-trigger-keypress-button="true"
            data-bind="scope: 'customer'"
            style="text-transform: none; margin: 13px 0px;display: inline-block;"
            >
        <span><?php /* @escapeNotVerified */ echo __('Hello, ')?></span><span data-bind="text: customer().fullname"></span>
        
    </span>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
    </script>

<?php } ?>

<div data-block="minicart" class="minicart-wrapper <?php if( $_matoHelper->getCfg('header/canvas_cart') == 0) echo 'minicart-wrapper-detail';?>">
   <div class="action showcart" data-bind="scope: 'minicart_content'">
    <a  href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>">

        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
       <!--<div class="subtotal-minicart" data-bind="html : cart().subtotal_header"></div> not working-->

	</div>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart <?php if( $_matoHelper->getCfg('header/canvas_cart') == 1) echo 'minicart-detail'; else echo 'minicart-detail-default';?> empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>


