<?php
/**
 * Copyright © 2017 EndeavorTechnology. All rights reserved.
 * @author: Mohammad Hamadenh
 * @email:  mhamadneh@endeavorpal.com
 * @date: 1/11/2017
 * @desc: 1. in order to show price with discounted price when you applied rules.
 *        2. in order to get promotions messages for each item.
 * 
 * @updated_By: Mohammad Hamadenh
 * @email:  mhamadneh@endeavorpal.com
 * @date: 20/12/2017
 * @desc: in order to add promotion messages only at the top of page when rule is applied to shipping.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
$helper = $this->helper('Magento\Msrp\Helper\Data');
$cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
$customHelper = $this->helper('Endeavor\BookInformation\Helper\Data');
$productInfo = $customHelper->getProductById($product->getId());
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSubscriptions = $objectManager->create('Endeavor\Subscriptions\Model\CustomerSubscriptions')->getCollection();
$customerSubscriptions->addFieldToFilter('quote_item_id',$_item->getId()+1);
$productData = $objectManager->get('Magento\Quote\Model\Quote\Item')->load($_item->getId()+1);
$subscriptions = $objectManager->create('Endeavor\Subscriptions\Model\Subscriptions');
$subscriptionsCollection =$subscriptions->getCollection();
$authorsCollection = $objectManager->create('Endeavor\Author\Model\Author');
$authors = $productInfo->getData('author_name');
$date = $objectManager->create('\Magento\Framework\Stdlib\DateTime\DateTime');
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');

$authorsIds = null;
if (!empty($authors)) {
    $authorsIds = explode(',',$authors);
}
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$ruleBlock = $block->getLayout()->createBlock('Endeavor\BookInformation\Block\Checkout\Cart\Item\Renderer');
$rulesMessages = $ruleBlock->getRuleMessages($_item->getAppliedRuleIds());
$mediaTypeHelper = $objectManager->get('Endeavor\Product\Helper\MediaType');

//get instance of image helper
$_imageHelper = $objectManager->create('CleverSoft\Base\Helper\Image');

$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();	
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);	
			
$is_app =  $productInfo->getIsApp();
$mediaApp = array("SE" => "icons/BAE.png","ME" => "icons/BAE.png","BE" => "icons/BAE.png", "EP" => "icons/AE.png","EM" => "icons/AE.png");


?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
                   title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
            
            <div class="product-item-details">
                <div class="container">
                    <div class="row" style="margin-bottom: 1.5vw;">
                        <?php $selections = $product->getTypeInstance(true)
                                            ->getSelectionsCollection($product->getTypeInstance(true)
                                            ->getOptionsIds($product), $product); ?>
                        <?php foreach ($selections as $selection) : ?>
                            <?php $mediaType = $mediaTypeHelper->getMediaTypeForBundleSelection($selection->getProductId()); ?>
							<?php $widthMediaType = array("BE", "ME", "ME"); ?>
							<?php $width = "200px";  if(!in_array($mediaType,$widthMediaType)){ $width = "100px"; } ?>	
                            <div class="col-xs-12 col-sm-<?php if (strlen($mediaType) > 2) : echo '6'; else: echo '6'; endif; ?>" style="text-align: left;">
                                <!--<div class="media-type-<?php echo $mediaType; ?> col-xs-12" style="background-position: center;height: 45px;"></div>-->
								
								<?php if($is_app == 0 || !isset($mediaApp[$mediaType])){ ?>
									<div class="media-type-<?php echo $mediaType; ?> col-xs-12" style="background-position: center;height: 45px;"></div>
								<?php }else{ ?>
								  <div class="col-xs-12" style="">
									<img src="<?php echo $mediaUrl.$mediaApp[$mediaType]?>" height="63px" width="<?php echo $width ?>" />
								 </div>
								<?php } ?>								
								
								
                                <div class="option-price col-xs-12" style="font-family : Myriad Pro;font-size : 15px;color : rgb(0, 115, 140);float: left;font-weight: initial;text-align: center;padding-top: 4px;">
                                    <?php $productAttributes = $objectManager->create('Magento\Catalog\Model\Product')->load($selection->getProductId()); ?>
                                    <?php echo $priceHelper->currency($productAttributes->getPrice(), true, false); ?>
                                </div>
                                <div class="col-xs-12" style="text-align: center;">
                                    <input type="radio" name="selection[<?php echo $_item->getId(); ?>]" value="selection<?php echo $product->getId();?>,<?php echo $selection->getId();?>"
                                       <?php if ($productData->getProductId() == $selection->getId()): echo 'checked'; endif; ?>/>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>" style="font-family : Montserrat;font-size : 17px;color : #00738C;"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
              
                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
                    <div class="book-subscription">
                    <?php foreach($customerSubscriptions as $item) :?>
                        <span id="subscription-type-<?php echo $_item->getId()+1;?>" style="color : #1979c3;font-weight: bold;"><?php echo $item->getSubscriptionType();?></span>
                        <input type="hidden" value="<?php echo $item->getSubscriptionId();?>" id="subscription-option" />
                        <?php if ($item->getSubscriptionId() !== Null) :?>
                            <div class="subscription-edit-container" style="text-align: right;">
                                <a class="edit-subscription" href="#"
                                id="edit-subscription-<?php echo $_item->getId();?>" >
                                    Edit
                                </a>
                            </div>
                            <input type="hidden" name="subscriptions-item[<?php echo $_item->getItemId(); ?>][subscriptionsId]" value="<?php echo $item->getSubscriptionsId(); ?>"/>
                            <input type="hidden" name="subscriptions-item[<?php echo $_item->getItemId(); ?>][productId]" value="<?php echo $_item->getProductId(); ?>"/>
                            <input type="hidden" name="subscriptions-item[<?php echo $_item->getItemId(); ?>][itemProductId]" value="<?php echo $productData->getProductId(); ?>"/>
                        <?php endif;?>
                        <?php endforeach;?>
                        
                        <input type="hidden" name="item-<?php echo $_item->getId()+1;?>" id="item-id" value="<?php echo $_item->getId()+1;?>" />
                        <input type="hidden" name="<?php echo $_item->getId()+1;?>" id="item-<?php echo $_item->getId()+1;?>" value="" />
                        <input type="hidden" name="itemimg-<?php echo $_item->getId()+1;?>" id="itemimg-<?php echo $_item->getId()+1;?>" value="<?php echo $_imageHelper->getImg($product, 170, 193,'category_page_grid'); ?>" />

                    </div>
                <?php /**
                * Edited By: Mohammad Hamadneh.
                * @date: 14-11-2017.
                * @desc: in order to add PreOrder Message for items which are preorder in cart view.
                */ ?>
                <?php $helperPreOrder = $this->helper('\Webkul\Preorder\Helper\Data'); ?>
                <?php if ($helperPreOrder->isPreorder($_item->getProductId())): ?>
                        <?php $preOrderMessage = trim($helperPreOrder->getPreOrderInfoBlock($_item->getProductId(), true));?>
                        <?php if (strlen($preOrderMessage) > 0) : ?>
                            <?php echo $preOrderMessage; ?>
                        
                        <?php else: ?>
                            <div class="PreOrder" style="margin-top:5px; font-size: 12px;padding: 7px 7px; font-weight: bold; background-color: #227fbb;color: white;">
                                <?php echo __('This is pre-order and will be fullfilled when the product is in stock.'); ?>
                            </div>
                        <?php endif; ?>
                <?php endif; ?>
                <div class="promotions">
                    <?php foreach ($rulesMessages as $message): ?>
                        <?php if ($message): ?>
                            <div class="promotion-message" style="display: inline-block;">
                                <?php echo $message; ?>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            </div>
        </td>

        <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <?php /* edited by mhamadneh to show item discounted price*/?>
            <?php $showPrice = false; ?>
            <?php foreach($rulesMessages as $rulesMessage) :?>
                    <?php if ($rulesMessage) : ?>
                        <?php $showPrice = true; break; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            
            <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php if($showPrice):?>
                    <span class="price-excluding-tax">
                        <span class="cart-price">
                            <span class="price" style='font-weight: 300;text-decoration: line-through;'>
                                <?php echo $priceHelper->currency($_item->getPrice(), true, false); ?>
                            </span>            
                        </span>
                    </span>
                    <span class="price-excluding-tax">
                        <span class="cart-price">
                            <span class="price">
                                <?php echo $ruleBlock->getItemPriceDiscount($_item->getPrice(),$productData->getDiscountAmount(),$_item->getQty());?>
                            </span>            
                        </span>
                    </span>
                <?php else: ?>
                    <?php echo $block->getUnitPriceHtml($_item); ?>
                <?php endif;?>
            </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            <div class="field qty">
                <label class="label" for="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty">
                    <span><?php /* @escapeNotVerified */ echo __('Qty') ?></span>
                </label>
                <div class="control qty">
                    <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                           name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                           data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                           value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                           class="input-text qty"
                           maxlength="12"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"/>
                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal'));?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?php /* edited by mhamadneh to show total discounted price*/?>
                <?php if($showPrice):?>
                    <span class="price-excluding-tax">
                        <span class="cart-price">
                            <span class="price" style="font-weight: 300;text-decoration: line-through;">
                                <?php echo $priceHelper->currency($_item->getRowTotal(), true, false); ?>
                            </span>            
                        </span>
                    </span>
                    <span class="price-excluding-tax">
                        <span class="cart-price">
                            <span class="price">
                                <?php echo $ruleBlock->getItemRowTotalDiscount($_item->getRowTotal(),$productData->getDiscountAmount());?>
                            </span>            
                        </span>
                    </span>
                <?php else:?>
                    <?php echo $block->getRowTotalHtml($_item); ?>
                <?php endif;?>
            <?php endif; ?>
        </td>
        <td style="vertical-align: top;">
            <a href="#"
               title="<?php echo $block->escapeHtml(__('Remove item')); ?>"
               class="action remove-item"
               >
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <a style="visibility: hidden" href="#"
               title="<?php echo $block->escapeHtml(__('Remove item')); ?>"
               class="action remove"
               data-post='<?php /* @escapeNotVerified */ echo $cartHelper->getDeletePostJson($_item); ?>'>
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <input type="hidden" class="cookie-name" value="<?php echo $productData->getProductId() ?>" />
        </td>
    </tr>
      
    <tr class="item-actions">
        <td colspan="100">
            <div style="text-align: center;width: 25%;">
                <?php /* @escapeNotVerified */ //echo $block->getActions($_item) ?>
                <?php
                //<a id="test-id" class="action edit"
                //    href="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/configure',['id' => $_item->getId(),'product_id' => $product->getId()]) ? >"
                //    title="<?php echo $block->escapeHtml(__('Edit item parameters')); ? >">
                //     <i class="fa fa-pencil" aria-hidden="true"></i>
               // </a>
                ?>
                
            </div>
        </td>
    </tr>
    
</tbody>

<div id="popup-mpdal" style="display:none; padding-left: 2vw;padding-right: 2vw;">
    <div class="subscription-image" style="float: left;max-width: 20%;margin-right: 2vw;margin-bottom: 1vw;">
        <img class="product-img" src="<?php echo $_imageHelper->getImg($product, 170, 193,'category_page_grid'); ?>" />
    </div>
    <div class="subscription-title" style="float: left;min-width: 75%;">
        <h3 style="font-family : Montserrat;color : rgb(0, 116, 145);">Select Subscription Type</h3>
        <hr>
    </div>
    <label class="label error-subscrption" style="display: none; color: red">Please Select Subscription Type.</label><br>
    <?php foreach($subscriptionsCollection as $item):?>
    <div class="radio subscription-radio">
        <label style="font-family : Montserrat;color : #919191;"><input class="subscription-options" id="subscription-<?php echo $item->getSubscriptionId();?>" type="radio" name="terms-conditions" value="<?php echo $item->getSubscriptionId();?>"><?php echo $item->getName();?></label>
    </div>
    <br>
    <?php endforeach;?>
    <br>
    <div style="min-width: 100%;float: left;">
        <label style="font-family : Montserrat;color : #007491;">Terms & Conditions</label>
        <div id="terms-conditions" class="terms-conditions" style="margin-right: 10px; padding: 10px; height: 145px; overflow-y: scroll;background: rgb(233,233,233);color: black;">
            <?php foreach($subscriptionsCollection as $item):?>
            <div class="terms-and-conditions" id="conditions-<?php echo $item->getSubscriptionId();?>">
                <?php echo $item->getTermsConditions();?>
            </div>
             <?php endforeach;?>
        </div>
    </div>
    <h5 class='print-terms' style="float: left; cursor: pointer"><a><i class="fa fa-print" aria-hidden="true" style="padding-right: 5px;"></i>Print Terms and Conditions</a></h5>
    <div class="btn-group" style="float: right">
        <div class="actions">
        <button type="submit" 
                class="btn btn-primary"
                id="continue" style="margin-top: 20px;height: 50px;width: 30vw;background-color: rgb(0,116,144) !important;">
            <span style="font-family: Montserrat;color: #FFFFFF;"><?php /* @escapeNotVerified */ echo "Confirm and Continue" ?></span>
        </button>
            <button type="button" class="btn btn-primary cancel" style="margin: 20px; height: 50px;width: 18vw; float: right;background-color: rgb(0,116,144) !important;"> <span style="font-family: Montserrat;color: #FFFFFF;"><?php /* @escapeNotVerified */ echo "Cancel" ?></span></button>
    </div>
    </div>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            $('input.checkbox').css('display','none');
            //$('dl.item-options > dt').css('display','none');
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true
            };
            
            $('.remove').click(function(){
                cookieId = $(this).parent().find('.cookie-name').val();
                //alert(cookieId);
                $.cookie(cookieId, '', { expires: -1, path: '/'}); 
            });
            
            $('.print-terms').unbind( "click" );
            $(".print-terms").on("click", function () {
                   var terms = $(".terms-conditions").html();
                   var printWindow = window.open('', '', 'height=400,width=800');
                   printWindow.document.write('<html><head><title>Terms & Conditions</title>');
                   printWindow.document.write('</head><body >');
                   printWindow.document.write('<img width="100" src="<?php echo $this->getViewFileUrl('Endeavor_Subscriptions::images/blue360.png'); ?>" alt="blue360media">');
                   printWindow.document.write('<h3>Terms & Conditions</h3>');
                   printWindow.document.write(terms);
                   printWindow.document.write('</body></html>');
                   printWindow.document.close();
                   printWindow.print();
                   setTimeout(function(){printWindow.close();},10);
            }); 
            var popup = modal(options, $('#popup-mpdal'));
            $('.cancel').click(function(){
                $("#popup-mpdal").modal("closeModal");
            });
                                
            
            $('.edit-subscription').click(function(){
                $('#continue').unbind( "click" );
                $('input[type="radio"]').unbind( "click" );
                var subscriptionId = $(this).parent().parent().find('#item-id').val();
                var imgsrc = $(this).parent().parent().find('#itemimg-'+subscriptionId).val();
                $('.product-img').attr('src', imgsrc);
                var subscriptionOption = $(this).parent().parent().find('#subscription-option').val();
                var subscriptionUpdate = $(this).parent().parent().find('#subscription-option');
                $('#subscription-'+subscriptionOption).prop( "checked", true );
                $("#popup-mpdal").modal("openModal");
                $('.modal-footer').css('display','none');
                
                $('.terms-and-conditions').hide();
                $('#conditions-'+subscriptionOption).show();
                
                $('input[type="radio"]').click(function(){
                    var id =0;
                    
                    if ($(this).is(':checked')) {
                        id = $(this).val();
                    }

                    $('.terms-and-conditions').hide();
                    $('#conditions-'+id).show();
                    $('#item-'+subscriptionId).val(id);
                    });
                    
                    $('#continue').click(function(){
                        var subscriptionNew = $('#item-'+subscriptionId).val();
                        $("#popup-mpdal").modal("closeModal"); 
                        $.ajax({
                        type:'POST',
                        url:'/subscriptions/index/edit',
                        data:{'subscription_id' : subscriptionNew, 'item_id' : subscriptionId},
                        showLoader: true,
                        beforeSend:function(){
                            $('.loading-mask').removeClass("subscr-loader");
                        },
                        success:function(html){
                            subscriptionUpdate.val(subscriptionNew);
                            $('#subscription-type-'+subscriptionId).text(html);
                            $('.loading-mask').addClass("subscr-loader");
                        }
                    });
                    });
            });
        }
    );
</script>